---js
{
    tags: "entries",
    category: "social",
    pagination: {
        data: "mastodon",
        size: 1,
        addAllPagesToCollections: true,
        alias: "mastodon"
    },
    permalink: false,
    eleventyComputed: {
        mastodon(data) {
            data.page.date = new Date(data.mastodon.created_at);
            data.content = data.mastodon.content;
            data.url = data.mastodon.url;
            data.media = data.mastodon.media_attachments;
            data.size = "s";
            if (data.mastodon.replies_count > 0) data.replies = data.mastodon.replies_count;
            if (data.mastodon.reblogs_count > 0) data.reblogs = data.mastodon.reblogs_count;
            if (data.mastodon.favourites_count > 0) data.favourites = data.mastodon.favourites_count;
            if (data.mastodon.in_reply_to_account_id || data.mastodon.content.includes("https://gabriellew.ee") || data.mastodon.visibility != "public") data.tags = "";
            if (data.mastodon.content.length < 75) data.size = "xs";
        }
    }
}
---