---js
{
    layout: "layouts/base.njk",
    key: "post",
    tags: "entries",
    category: "social",
    pagination: {
        data: "mastodon",
        size: 1,
        addAllPagesToCollections: true,
        alias: "mastodon"
    },
    permalink: false,
    eleventyComputed: {
        mastodon(data) {
            data.page.date = new Date(data.mastodon.created_at);
            data.content = data.mastodon.content;
            data.url = data.mastodon.url;
            data.media = data.mastodon.media_attachments;
            data.size = "s";
            if (data.mastodon.content.includes("https://gabriellew.ee")) data.tags = "";
        }
    }
}
---