---
title: Error
description: This isn’t the droid you’re looking for.

permalink: 404.html
layout: layouts/base.njk
key: error
style: true
add: true

eleventyExcludeFromCollections: true
---

<h1>This isn’t the droid you're looking for.</h1>
<p>You can go about your business. <a href="/">Go home</a>?</p>