---
title: Front-end Developer, Designer, and Creative
description: I’m a front‑end developer working at Apple .
layout: layouts/base.njk
key: home
style: true
isotope: true
tags: pages
loading: Scroll to skip animation
pagination:
    data: collections.entries
    size: 16
    reverse: true
eleventyNavigation:
    key: Home
    order: 1
---

{% if pagination.pageNumber == 0 %}{% include 'pages/shared/contact.html' %}{% endif %}

<section class="content" aria-label="Posts">
	<div class="posts" data-grid data-scroll>
		{% for post in pagination.items %}
			{% if post.data.svg == true %}{%- set file = "svg" %}{% elseif post.data.extension %}{%- set file = post.data.extension %}{% endif %}
			<article
				class="post{% if post.data.pagination.alias and post.data.pagination.alias != post.data.category %} post-{{post.data.category}} post-{{post.data.pagination.alias}}{% else %} post-{{post.data.category}}{% endif %}{% if post.data.tags %}{% for tag in post.data.tags %}{% if tag != 'entries' and tag != 'posts' %} post-{{tag}}{% endif %}{% endfor %}{% endif %}{% if post.data.size %} post-size-{{post.data.size}}{% endif %}{% if post.data.category == 'media' %} post-{{post.data.pagination.data}}{% endif %}" data-grid-item data-post-append{% if pagination.pageNumber == 0 %} data-anim{% endif %}{% if post.data.extension %} data-orientation="{% stats './static/images/' + post.data.pagination.data + '/' + post.data.date + '-' + post.data.name + '.' + file, 'orientation' %}"{% endif %}
				{% if post.data.width %}style="max-width: {{post.data.width}}"{% endif %}
				{% if post.data.category == "social" %}aria-label="{{post.data.source|capitalize}} post"
				{% elseif post.data.category == "media" %}data-media-container aria-label="{{post.data.type|capitalize}} post"{% endif %}
			>
				{% if post.data.category == "media" %}
					<input class="media-trigger" id="{{post.data.date|safe}}-{{post.data.name}}-info" type="checkbox" tabindex="0" aria-label="View information about this {{post.data.type}}" role="switch" data-media-trigger hidden/>
				{% endif %}
				<div class="post-inner">
					<header class="post-header{% if post.data.category == 'writing' or post.data.category == 'code' %} inline-header{% endif %}">
						{% if post.data.category == "cooking" %}
							<div class="post-header-image theme-{{post.data.headline}}">
								{% image './static/images/' + post.data.key + '/' + post.page.fileSlug + '.jpg', 'Hero image showing ' + post.data.title, 'default', loop.index %}
							</div>
						{% endif %}
						<div class="post-header-content">
							{% if post.data.category == "writing" or post.data.category == "cooking" %}
								<h2>
									{% if post.url %}
										<a href="{{post.url|url}}"{% if post.data.category == "cooking" %} aria-label="Recipe for {{post.data.title|safe}}"{% endif %}><span><span>{{post.data.title|safe}}</span></span></a>
									{% else %}
										<a href="{{post.data.url|url}}"><span><span>{{post.data.title|safe}}</span></span></a>
									{% endif %}
								</h2>
							{% elseif post.data.category == "code" %}
								<div class="post-header-left">
									<h2 class="post-headline">
										{% if post.data.uri %}
											<a href="https://codepen.io/gabriellewee/pen/{{post.data.uri}}"><span>{{post.data.title|safe}}</span></a>
										{% else %}
											{{post.data.title|safe}}
										{% endif %}
									</h2>
									{% if post.data.type %}
										<div class="post-tags">
											{% for type in post.data.type %}
												<u class="tag-{{type}}">#{{type}}</u>
											{% endfor %}
										</div>
									{% endif %}
								</div>
							{% endif %}
							{% if post.data.category == "code" %}
								<div class="post-header-right">
									<time class="time{% if post.data.category != 'code' %} time-default{% endif %}{% if post.data.category == 'social' %} time-external{% endif %}" datetime="{{post.page.date|iso|date('string')}}" data-time="{{post.page.date|iso}}" title="{{post.page.date|iso|date('readable')}}">{{post.page.date|iso|date('readable')}}</time>
									<a class="expand" id="{{post.page.date|iso|date('string')}}-{{post.page.fileSlug}}" role="button" aria-label="Expand preview of {{post.data.title}}" href="#{{post.page.date|iso|date('string')}}-{{post.page.fileSlug}}-lightbox" data-media-expand data-desktop></a>
									<a class="external-expand" href="{{post.url|url}}" aria-label="View {{post.data.category}} in new window" target="_blank"></a>
								</div>
							{% elseif post.data.category != "media" and post.data.category != "code" %}
								<time class="time{% if post.data.category != 'code' %} time-default{% endif %}{% if post.data.category == 'social' %} time-external{% endif %}" datetime="{{post.page.date|iso|date('string')}}" data-time="{{post.page.date|iso}}" title="{{post.page.date|iso|date('readable')}}">{{post.page.date|iso|date('readable')}}</time>
							{% endif %}
							{% if post.data.category == "media" %}
								<time class="no-css" datetime="{{post.page.date|iso|date('string')}}">{{post.page.date|iso|date('readable')}}</time>
							{% endif %}
						</div>
					</header>
					<aside class="post-meta">
						{% if post.data.servings %}
							<p class="recipe-servings"><strong>Servings:</strong> <span>{{post.data.servings}}</span></p>
						{% endif %}
						{% if post.data.prep %}
							<p class="recipe-prep"><strong>Prep:</strong> <span class="recipe-duration" data-duration="{{post.data.prep}}">{{post.data.prep}} minutes</span></p>
						{% endif %}
						{% if post.data.cook %}
							<p class="recipe-cook"><strong>Cook:</strong> <span class="recipe-duration" data-duration="{{post.data.cook}}">{{post.data.cook}} minutes</span></p>
						{% endif %}
						{% if post.data.prep and post.data.cook %}
							{% set total = [post.data.prep,post.data.cook] %}
							<p class="recipe-total"><strong>Total:</strong> <span class="recipe-duration" data-duration="{{total|sum}}">{{total|sum}} minutes</span></p>
						{% endif %}
					</aside>
					<div class="post-content{% if post.data.category == 'writing' or post.data.category == 'cooking' %} post-text{% endif %}"{% if post.data.background %} style="--background: {{post.data.background}}"{% endif %}>
						{% if post.data.category == "media" %}
							<figure id="{{post.data.date|safe}}-{{post.data.name}}" aria-label="{{post.data.type|capitalize}}{% if post.data.location %}, {{post.data.location}}{% elseif post.data.title %}, {{post.data.title}}{% endif %}" style="aspect-ratio: {% stats './static/images/' + post.data.pagination.data + '/' + post.data.date + '-' + post.data.name + '.' + file, 'ratio' %};">
								{% if post.data.upscale %}
									<picture>
										<img class="upscale" src="{% include post.data.upscale %}"{% if post.data.upscaleWidth %} width="{{post.data.upscaleWidth}}"{% endif %}{% if post.data.upscaleHeight %} height="{{post.data.upscaleHeight}}"{% endif %} alt="{{post.data.description}}"/>
									</picture>
								{% elseif post.data.svg == true %}
									<picture>
										<img src="/static/images/{{post.data.pagination.data}}/{{post.data.date}}-{{post.data.name}}.svg" alt="{{post.description}}" width="{% stats './static/images/' + post.data.pagination.data + '/' + post.data.date + '-' + post.data.name + '.svg', 'width' %}" height="{% stats './static/images/' + post.data.pagination.data + '/' + post.data.date + '-' + post.data.name + '.svg', 'height' %}"/>
									</picture>
								{% else %}
									{% image './static/images/' + post.data.pagination.data + '/' + post.data.date + '-' + post.data.name + '.' + post.data.extension, post.data.description, 'default', loop.index %}
								{% endif %}
								<label class="media-view-hover" for="{{post.data.date|safe}}-{{post.data.name}}-info" aria-hidden="true" data-media-label hidden>
									<span class="button"><span>View info</span></span>
								</label>
								<label class="media-view-touch" for="{{post.data.date|safe}}-{{post.data.name}}-info" aria-hidden="true" data-media-label hidden></label>
								<figcaption class="media-data" data-media-info>
									<div class="media-data-wrapper">
										<time class="time-default" datetime="{{post.page.date|iso|date('string')}}" title="{{post.page.date|iso|date('readable')}}" data-time="{{post.page.date|iso}}" hidden>{{post.page.date|iso|date('readable')}}</time>
										<label class="media-down media-icon" for="{{post.data.date|safe}}-{{post.data.name}}-info" data-media-label></label>
										<div class="media-thumbnail">
											<a class="media-expand expand" href="#{{post.data.date|safe}}-{{post.data.name}}-lightbox" role="button" aria-label="Expand image" tabindex="-1" data-media-expand>
												<span class="no-image" hidden><span>Expand</span></span>
												<span class="has-image" aria-hidden="true" hidden>
													{% if post.data.upscale %}
														<picture>
															<img class="upscale" src="{% include post.data.upscale %}"{% if post.data.upscaleWidth %} width="{{post.data.upscaleWidth}}"{% endif %}{% if post.data.upscaleHeight %} height="{{post.data.upscaleHeight}}"{% endif %} alt="{{post.data.description}}"/>
														</picture>
													{% elseif post.data.svg == true %}
														<picture>
															<img src="/static/images/{{post.data.pagination.data}}/{{post.data.date}}-{{post.data.name}}.svg" alt="{{post.description}}" width="{% stats './static/images/' + post.data.pagination.data + '/' + post.data.date + '-' + post.data.name + '.svg', 'width', 400 %}" height="{% stats './static/images/' + post.data.pagination.data + '/' + post.data.date + '-' + post.data.name + '.svg', 'height', 400 %}"/>
														</picture>
													{% else %}
														{% image './static/images/' + post.data.pagination.data + '/' + post.data.date + '-' + post.data.name + '.' + post.data.extension, post.data.description, 200, loop.index %}
													{% endif %}
												</span>
											</a>
										</div>
										{% if post.data.external %}
											<div class="media-links">
												{% for link in post.data.external %}
													<a class="media-link external {{link.platform}}" href="{{link.url|url}}" tabindex="-1" aria-label="View on {{link.platform|capitalize}}" data-media-external><span><span class="no-css">View on </span>{{link.platform|capitalize}}</span></a>
												{% endfor %}
											</div>
										{% endif %}
										<dl class="media-meta">
											{% if post.data.title %}
												<div class="meta-title">
													<dt>Title</dt><dd>{{post.data.title|nbsp|safe}}</dd>
												</div>
											{% endif %}
											{% if post.data.location %}
												<div class="meta-location">
													<dt>Location</dt><dd>{{post.data.location}}</dd>
												</div>
											{% endif %}
											{% if post.data.camera %}
												<div class="meta-camera">
													<dt>Camera</dt><dd>{{post.data.camera}}</dd>
												</div>
											{% endif %}
											{% if post.data.editor %}
												<div class="meta-editor">
													<dt>Editor</dt><dd>{{post.data.editor}}</dd>
												</div>
											{% endif %}
											{% if post.data.tools %}
												<div class="meta-tools">
													<dt>Tools</dt><dd>{{post.data.tools}}</dd>
												</div>
											{% endif %}
										</dl>
									</div>
								</figcaption>
							</figure>
						{% elseif post.data.category == "code" %}
							{% if post.data.button %}
								<button class="reload button" data-reload hidden><span>{{post.data.button|capitalize}}</span></button>
							{% endif %}
							<div class="frame-wrapper"{% if post.data.background %} style="--background: {{post.data.background}}"{% endif %}>
								{% if post.url %}
									<noscript class="warning{% for type in post.data.type %} {{type}}{% endfor %}"><p><em>Please enable Javascript to view this code demo.</em></p></noscript>
									<iframe class="code{% for type in post.data.type %} {{type}}{% endfor %}" src="{{post.url|url}}" width="600" height="{{post.data.height}}" title="{{post.data.title|safe}}" loading="lazy" tabindex="-1" onload="this.style.opacity = 1;"{% if post.data.background %} style="background: {{post.data.background}}"{% endif %}></iframe>
								{% else %}
									{{post.content|safe}}
								{% endif %}
							</div>
						{% elseif post.data.content %}
							<blockquote>{{post.data.content|nbsp|md|safe}}</blockquote>
							{%- set postIndex = loop.index %}
							{% if post.data.category == "social" %}
								{% if post.data.video %}
									<figure id="external-{{postIndex}}-{{post.data.video.cid|truncate(5, true, '')}}" class="media-attachment">
										<video width="{{post.data.video.aspectRatio.width}}" height="{{post.data.video.aspectRatio.height}}" controls preload="metadata" poster="{{post.data.video.thumbnail}}" aria-label="{{post.data.video.alt}}">
											<source src="{{post.data.video.playlist}}" type="application/x-mpegURL">
										</video>
									</figure>
								{% endif %}
								{% if post.data.mediaType == "IMAGE" %}
									<figure id="external-{{post.data.id}}" class="media-attachment" aria-label="{{post.data.mediaAlt}}">
										<a class="expand" href="#external-{{post.data.id}}-lightbox" role="button" aria-label="Expand image" data-media-expand>
											{% external post.data.mediaUrl, '', 500, 'lazy', post.data.source, post.data.id %}
										</a>
									</figure>
								{% elseif post.data.mediaType == "VIDEO" %}
									<figure id="external-{{post.data.id}}" class="media-attachment">
										<video width="{% stats post.data.mediaThumbnail, 'width', null, post.data.source, post.data.id %}" height="{% stats post.data.mediaThumbnail, 'height', null, post.data.source, post.data.id %}" controls preload="metadata" poster="{{post.data.mediaThumbnail}}" aria-label="{{post.data.mediaAlt}}">
											<source src="{{post.data.mediaUrl}}" type="application/x-mpegURL">
										</video>
									</figure>
								{% endif %}
								{% for media in post.data.media %}
									{% if media.thumb %}
										<figure id="external-{{postIndex}}-{{post.data.cid|truncate(5, true, '')}}" class="media-attachment" aria-label="{{media.alt}}">
											<a class="expand" href="#external-{{postIndex}}-{{post.data.cid|truncate(5, true, '')}}-lightbox" role="button" aria-label="Expand image" data-media-expand>
												{% external media.thumb, '', 500, 'lazy', post.data.source, post.data.cid %}
											</a>
										</figure>
									{% elseif media.url and media.type == "gifv" %}
										<figure id="external-{{media.id}}" class="media-attachment">
											<video width="{{media.meta.original.width}}" height="{{media.meta.original.height}}" controls preload="metadata" poster="{{media.preview_url}}" aria-label="{{media.description}}">
												<source src="{{media.url}}" type="video/mp4">
											</video>
										</figure>
									{% elseif media.url %}
										<figure id="external-{{media.id}}" class="media-attachment" aria-label="{{media.description}}">
											<a class="expand" href="#external-{{media.id}}-lightbox" role="button" aria-label="Expand image" data-media-expand>
												{% external media.url, '', 500 %}
											</a>
										</figure>
									{% endif %}
								{% endfor %}
							{% endif %}
						{% else %}
							{% excerpt post %}
						{% endif %}
					</div>
					{% if post.data.category == "writing" or post.data.category == "social" or post.data.category == "cooking" %}
						<footer class="post-footer">
							{% if (post.data.category == "writing" and post.data.size != "s") or (post.data.category == "cooking") %}
								{% if post.url %}
									<a class="button" href="{{post.url|url}}"><span>Read{% if post.data.label %} {{post.data.label}}{% else %} post{% endif %}</span></a>
								{% elseif post.data.url %}
									<a class="button button-reverse" href="{{post.data.url|url}}"><span>Read more{% if post.data.platform %} at {{post.data.platform}}{% endif %}</span></a>
								{% endif %}
							{% elseif post.data.category == "social" %}
								<a class="button button-icon button-{{post.data.source}}" href="{{post.data.url|url}}" aria-label="View post on {{post.data.source|capitalize}}"><span><span>View post on {{post.data.source|capitalize}}</span></span></a>
							{% endif %}
							{% for link in post.data.external %}
								<a class="button{% if link.icon == true %} button-icon{% endif %} button-{{link.platform}}{% if link.gradient != true %} solid{% endif %}" href="{{link.url|url}}"{% if link.gradient != true %} style="--background: var(--color-{{link.platform}})"{% endif %}{% if link.icon == true %} aria-label="{% if post.data.type == 'audio' %}Listen on {% elseif post.data.type == 'writing' %}Read on {% else %}View on {% endif %}{% if link.title %}{{link.title}}{% else %}{{link.platform|capitalize}}{% endif %}"{% endif %}><span><span>{% if post.data.type == "audio" %}Listen on {% elseif post.data.type == "writing" %}Read on {% else %}View on {% endif %}{% if link.title %}{{link.title}}{% else %}{{link.platform|capitalize}}{% endif %}</span></span></a>
							{% endfor %}
							{% if post.data.archive == true %}
								{% if post.data.full == true %}
									{%- set postSlug = post.data.title %}
								{% else %}
									{%- set postSlug = post.page.fileSlug %}
								{% endif %}
								<a class="button" href="{{site.url}}/v1/{{post.page.date|iso|date('archive')}}/{{postSlug|slugify}}" target="_blank"><span>View original</span></a>
							{% endif %}
						</footer>
					{% endif %}
				</div>
				<hr class="no-css"/>
			</article>
		{% endfor %}
	</div>
	<nav class="pagination main-pagination" aria-label="Pagination">
		{% if pagination.href.next != null %}
			<div class="load">
				<div class="page-load-status" hidden>
					<p class="infinite-scroll-request">
						<span><span>Loading</span><span class="indicator"><span>.</span><span>.</span><span>.</span></span></span>
					</p>
					<p class="infinite-scroll-last">
						<span>You‘ve reached the end.</span>
					</p>
					<p class="infinite-scroll-error">
						<span>Oops! Please refresh and try again.</span>
					</p>
				</div>
				<button class="button" data-load hidden><span>Load more</span></button>
			</div>
		{% endif %}
		{% if pagination.href.previous and pagination.pageNumber != 0 %}
			<a class="newer button button-reverse" href="{{pagination.href.previous}}"><span><span class="no-css">← </span>Newer</span></a>
		{% endif %}
		{% if pagination.href.next %}
			<a class="older button" href="{{pagination.href.next}}" data-load-path><span>Older</span><span class="no-css"> →</span></a>
		{% endif %}
	</nav>
	<hr class="no-css"/>
</section>

{% include 'pages/posts/author.html' %}

<div class="lightbox-group" data-lightbox-container hidden>
	{% for post in pagination.items %}
		{% if post.data.category == "media" %}
			<a class="lightbox" id="{{post.data.date|safe}}-{{post.data.name}}-lightbox" role="button" aria-label="Close image" href="#{{post.data.date|safe}}-{{post.data.name}}" data-lightbox data-lightbox-append></a>
			<dialog class="lightbox-content image" aria-label="Image preview" autofocus data-lightbox-append>
				<figure>
					{% if post.data.upscale %}
						<picture>
							<img class="upscale" src="{% include post.data.upscale %}"{% if post.data.upscaleWidth %} width="{{post.data.upscaleWidth}}"{% endif %}{% if post.data.upscaleHeight %} height="{{post.data.upscaleHeight}}"{% endif %} alt="{{post.data.description}}"/>
						</picture>
					{% elseif post.data.svg == true %}
						<picture>
							<img src="/static/images/{{post.data.pagination.data}}/{{post.data.date}}-{{post.data.name}}.svg" alt="{{post.description}}" width="{% stats './static/images/' + post.data.pagination.data + '/' + post.data.date + '-' + post.data.name + '.svg', 'width' %}" height="{% stats './static/images/' + post.data.pagination.data + '/' + post.data.date + '-' + post.data.name + '.svg', 'height' %}"/>
						</picture>
					{% else %}
						{% image './static/images/' + post.data.pagination.data + '/' + post.data.date + '-' + post.data.name + '.' + post.data.extension, post.data.description, 'screen' %}
					{% endif %}
				</figure>
			</dialog>
		{% elseif post.data.category == "social" and post.data.media %}
			{%- set postIndex = loop.index %}
			{% for media in post.data.media %}
				{% if media.thumb %}
					<a class="lightbox" id="external-{{postIndex}}-{{post.data.cid|truncate(5, true, '')}}-lightbox" role="button" aria-label="Close image" href="#external-{{postIndex}}-{{post.data.cid|truncate(5, true, '')}}" data-lightbox data-lightbox-append></a>
					<dialog class="lightbox-content image" aria-label="Image preview" autofocus data-lightbox-append>
						<figure>
							{% external media.fullsize, media.alt, media.aspectRatio.width %}
						</figure>
					</dialog>
				{% elseif media.url and media.type != "gifv" %}
					<a class="lightbox" id="external-{{media.id}}-lightbox" role="button" aria-label="Close image" href="#external-{{media.id}}" data-lightbox data-lightbox-append></a>
					<dialog class="lightbox-content image" aria-label="Image preview" autofocus data-lightbox-append>
						<figure>
							{% external media.url, media.description, media.meta.original.width %}
						</figure>
					</dialog>
				{% endif %}
			{% endfor %}
		{% elseif post.data.category == "writing" %}
			{% excerpt post, "lightbox" %}
		{% elseif post.data.category == "code" %}
			<a class="lightbox" id="{{post.page.date|iso|date('string')}}-{{post.page.fileSlug}}-lightbox" role="button" aria-label="Close preview of {{post.data.title}}" href="#{{post.page.date|iso|date('string')}}-{{post.page.fileSlug}}" data-lightbox data-lightbox-append data-desktop></a>
			<dialog class="lightbox-content iframe" aria-label="Preview of {{post.data.title}}" autofocus data-lightbox-append>
				<figure class="frame-wrapper"{% if post.data.background %} style="--background: {{post.data.background}}"{% endif %}>
					{% if post.url %}
						<noscript class="warning{% for type in post.data.type %} {{type}}{% endfor %}"><p><em>Please enable Javascript to view this code demo.</em></p></noscript>
						<iframe class="code{% for type in post.data.type %} {{type}}{% endfor %}" src="{{post.url|url}}" width="600" height="{{post.data.height}}" title="{{post.data.title}}" loading="lazy" tabindex="-1" onload="this.style.opacity = 1;"></iframe>
					{% else %}
						{{post.content|safe}}
					{% endif %}
				</figure>
			</dialog>
		{% endif %}
	{% endfor %}
	<div class="lightbox-background"></div>
</div>