---
layout: layouts/base.njk
templateClass: home
title: Portfolio
description: I’m a front‑end developer working at Apple .
eleventyNavigation:
  key: Home
  order: 1
---

<section class="home-grid">
	<ul class="grid grid-isotope">
		<li class="grid-item grid-item-intro">
			{% include 'pages/home/intro.html' %}
		</li>
		<li class="grid-item grid-item-links">
			{% include 'pages/home/links.html' %}
		</li>
		<li class="grid-item grid-item-code">
			{% include 'pages/home/code.html' %}
		</li>
		<li class="grid-item grid-item-photography">
			<h2>I like taking photos of the world around me.</h2>
			<ul>
				{% for photo in photography | limit(6) %}
					<li>
						<div>
							{% image './static/images/photography/' + photo.date + '-' + photo.name + '-thumbnail.jpg', photo.location, photo.aspect, 'thumbnail' %}
							{% if loop.last %}<span><a href="/photography/" target="_blank">View more</a></span>{% endif %}
						</div>
					</li>
				{% endfor %}
			</ul>
		</li>
		<li class="grid-item grid-item-plants">
			{% include 'pages/home/plants.html' %}
		</li>
		<li class="grid-item grid-item-more">
			<h2>More coming soon!</h2>
		</li>
	</ul>
</section>