---
title: Writing
description: Gabrielle Wee’s personal blog and photo journal.

layout: layouts/writing.njk
templateClass: writing
customStyles: writing

aboutLink: true

tags: pages

pagination:
  data: collections.writes
  size: 3
  reverse: true
---

{% for post in pagination.items %}
<article>
	<header>
		<h2><a href="{{post.url | url}}">{{post.data.title}}</a></h2>
		<time datetime="{{post.date | htmlDateString}}">{{post.date|readableDate}}</time>
	</header>
	<div>{% excerpt post %}</div>
</article>
{% endfor %}

<nav class="pagination">
	{% if pagination.href.previous %}<a class="previous" href="{{ pagination.href.previous }}"><span>Previous</span></a>{% else %}<span></span>{% endif %}
	{% if pagination.href.next %}<a class="next" href="{{ pagination.href.next }}"><span>Next</span></a>{% else %}<span></span>{% endif %}
</nav>