$options: color, contrast, transparency, load;
@each $option in $options {
	#option-#{$option}:checked ~ .top label[for="option-#{$option}"] {
		.toggle {
			background-color: var(--background-active);
			&::after {
				translate: 100% 0;
			}
		}
	}
}
.option {
	@include hide;
}

.accessibility-popup {
	position: absolute;
	right: 0;
	@include viewport(medium) {
		position: relative;
		right: unset;
	}
	.popup-button:focus, .popup-button:focus-visible, .popup-button:active {
		pointer-events: unset;
		~ .popup-label {
			z-index: unset;
			&, .button::before {
				opacity: 1;
			}
		}
	}
	.popup-button:checked {
		pointer-events: unset;
		~ .popup-label {
			z-index: unset;
			opacity: 1;
		}
	}
	.popup-label::after, .popup-window .inside {
		@include blur(10px, var(--color-iron), .45, .9, .8);
	}
	.popup-label {
		z-index: -1;
		opacity: 0;
		&::after {
			bottom: -24px;
			@media (prefers-reduced-motion: no-preference) {
				translate: 0 calc(var(--p)*2);
			}
		}
		&:active {
			z-index: unset;
			opacity: 1;
		}
	}
	.popup-window {
		right: 0;
		left: unset;
		max-width: 360px;
		color: white;
		margin-top: var(--t);
		.inside {
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			position: relative;
			width: 100%;
			overflow: hidden;
			padding: var(--p);
			@include border-radius(3px);
		}
		li {
			width: 100%;
			padding: var(--p);
			@include font-weight-width(500, 115);
		}
		.option-no-js {
			@media (scripting: enabled) {
				display: none;
			}
		}
		.option-js {
			display: none;
			@media (scripting: enabled) {
				display: block;
			}
		}
		.option-index-only {
			display: none;
			@media (scripting: enabled) {
				.page-home & {
					display: block;
				}
			}
		}
		p {
			line-height: 1.3;
		}
		.option-label {
			display: inline-flex;
			align-items: flex-start;
			align-content: center;
			justify-content: flex-start;
			font-size: 1.25rem;
			line-height: calc(var(--p)*2);
		}
		.has-button {
			@include viewport($iphone) {
				width: 50%;
			}
		}
		.button {
			--contrast: white;
			text-align: center;
			width: 100%;
		}
	}
	.popup-button:checked {
		+ .popup-label::after {
			rotate: 45deg;
		}
	}
}