@use 'partials/shared/utilities' as *;

.avatar-link {
	--width: 48px;
	--height: 68px;
	display: flex;
	align-items: center;
	align-content: center;
	position: relative;
	margin-bottom: var(--p);
	.avatar {
		display: block;
		width: var(--width);
		height: var(--height);
		@include invert(100%);
		&-default {
			@include background-image(avatars/memoji, png);
		}
		&-hm {
			opacity: 0;
			left: 0;
			top: 0;
			background-size: var(--width) var(--height);
			@include background-image(avatars/memoji-hm, png);
		}
		&-cooks {
			left: -18px;
			bottom: 0;
			width: 65px;
			height: 80px;
			background-size: cover;
			@include background-image(avatars/memoji-cooks, png);
		}
		&:not(.avatar-default) {
			position: absolute;
		}
	}
	.text {
		opacity: 0;
		transition: opacity .2s ease-out, translate .2s ease-out;
		order: 1;
		display: inline-block;
		padding: calc(var(--p)*.75) calc(var(--p)*1.5);
		border-radius: 2em;
		line-height: 1.4;
		color: var(--color);
		background-color: var(--background);
		@include font-weight-width(600, 115);
		@include theme(light) {
			--background: hsl(from white h s l / .8);
			--color: var(--color-iron);
		}
		@include theme(dark) {
			--background: hsl(from var(--color-iron) h s l / .8);
			--color: white;
		}
		@include contrast(both) {
			outline: 1.5px solid var(--color-primary);
		}
		&.message {
			@media (prefers-reduced-motion: no-preference) {
				translate: 0 100%;
			}
			@media (prefers-reduced-motion: reduce) {
				opacity: 1;
			}
		}
		&.loading {
			--color: color-mix(
				in srgb,
				var(--color-iron),
				white
			);
			position: absolute;
			left: calc(var(--width) + var(--p));
			white-space: nowrap;
			@media (prefers-reduced-motion: no-preference) {
				translate: 0 100%;
			}
			@media (prefers-reduced-motion: reduce) {
				display: none;
			}
		}
		&.go-home {
			pointer-events: none;
			position: absolute;
			top: 50%;
			left: calc(var(--p)*5);
			z-index: 2;
			@media (prefers-reduced-motion: no-preference) {
				translate: 0 50%;
			}
			@media (prefers-reduced-motion: reduce) {
				translate: 0 -50%;
			}
		}
		&.hidden {
			display: none;
		}
	}
	a {
		display: block;
		margin-right: var(--p);
		width: var(--width);
		height: var(--height);
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: var(--width);
			width: var(--p);
			height: 100%;
		}
		&:focus-visible {
			@include focus-shadow(var(--focus));
			@include theme(light) {
				--focus: hsl(from var(--color-dark) h s l / .5);
			}
			@include theme(dark) {
				--focus: var(--color-dark);
			}
			.avatar {
				&:not(.avatar-hm) {
					opacity: 0;
				}
				&-hm {
					opacity: 1;
				}
			}
		}
		&:hover, &:focus, &:active {
			.go-home {
				pointer-events: unset;
				opacity: 1;
				@media (prefers-reduced-motion: no-preference) {
					translate: 0 -50%;
				}
			}
			~ .text.message:not(.hidden):not(.loading) {
				@media (prefers-reduced-motion: no-preference) {
					opacity: .3 !important;
					translate: 0 calc(-100% - 5px) !important;
				}
				@media (prefers-reduced-motion: reduce) {
					opacity: 0;
				}
			}
		}
	}
}

.indicator {
	span {
		display: inline-block;
		animation: fade-in 1s cubic-bezier(1,0,0,1) infinite forwards;

		@for $i from 1 through 3 {
			&:nth-child(#{$i}) {
				animation-delay: .1s * $i;
			}
		}
	}

	@keyframes fade-in {
		from { opacity: 0 } to { opacity: 1 }
	}
}