.button {
	@include font-weight-width(700, 125);
	cursor: pointer;
	appearance: none;
	display: block;
	position: relative;
	z-index: 3;
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	&, > span, > span:before {
		transition: background .4s ease-out, scale .2s ease-out, opacity .2s ease-out;
	}
	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
	}
	&:before {
		opacity: 0;
		z-index: -1;	
		top: calc(var(--p)/-4);
		left: calc(var(--p)/-4);
		width: calc(100% + var(--p)/2);
		height: calc(100% + var(--p)/2);
		padding: var(--p) calc(var(--p)*2.5);
		background: radial-gradient(
			circle at center left,
			var(--color-blush),
			var(--color-rose)
		);
		@include clip-path(false) {
			@include border-radius(calc(var(--p)/2));
		}
		@include clip-path {
			@include button-shape(1.375, 7%);
		}
	}
	&:after {
		@include contrast(both, 2) {
			z-index: -2;
			top: calc(var(--p)/-8);
			left: calc(var(--p)/-8);
			width: calc(100% + var(--p)/4);
			height: calc(100% + var(--p)/4);
			padding: var(--p) calc(var(--p)*2.5);
			background-color: var(--color-primary);
			@include clip-path(false) {
				@include border-radius(calc(var(--p)/4));
			}
			@include clip-path {
				@include button-shape(1.3125, 6%);
			}
		}
	}
	> span {
		@include button;
		position: relative;
		background-color: var(--color-mauve);
		background: radial-gradient(
			circle at center left,
			var(--color-rose),
			var(--color-mauve),
			var(--color-slate),
			var(--color-slate)
		) 50% 0% / 200% 100%;
		&:before {
			opacity: 0;
			content: "";
			display: block;
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include theme(light, 2) {
				@include mix(
					color-mix(
						in srgb,
						var(--color-iron) 80%,
						white
					),
					mix($iron, white, 80%)
				);
				background-color: var(--color-iron);
				background: radial-gradient(
					circle at center left,
					var(--color-mix),
					var(--color-iron)
				);
			}
			@include theme(dark, 2) {
				@include mix(
					color-mix(
						in srgb,
						var(--color-iron) 80%,
						white
					),
					mix($iron, white, 80%)
				);
				background-color: var(--color-slate);
				background: radial-gradient(
					circle at center left,
					var(--color-slate),
					var(--color-mix)
				);
			}
		}
		span {
			position: relative;
			z-index: 1;
		}
	}
	&:hover {
		@media (prefers-reduced-motion: no-preference) {
			scale: 1.02;
		}
	}
	&:hover, &:focus {
		> span {
			background-position-x: 0%;
		}
	}
	&:focus-visible {
		@include clip-path(false) {
			@include focus-shadow(var(--color-slate));
		}
		@include clip-path(true) {
			&:before {
				opacity: 1;
			}
		}
	}
	&:active {
		@media (prefers-reduced-motion: no-preference) {
			scale: .98;
		}
		&, > span, > span:before {
			transition: background .2s ease-out, scale .2s ease-out, opacity .2s ease-out;
		}
		> span {
			&:before {
				opacity: 1;
			}
		}
	}

	&.button-reverse {
		&:before {
			background: radial-gradient(
				circle at center left,
				var(--color-rose),
				var(--color-blush)
			);
		}
		> span {
			background-color: var(--color-slate);
			background: radial-gradient(
				circle at center right,
				var(--color-rose) 0,
				var(--color-mauve) 25%,
				var(--color-slate) 75%,
				var(--color-slate) 100%,
			) 50% 0% / 200% 100%;
			&:before {
				@include theme(light, 2) {
					@include mix(
						color-mix(
							in srgb,
							var(--color-iron) 80%,
							white
						),
						mix($iron, white, 80%)
					);
					background-color: var(--color-iron);
					background: radial-gradient(
						circle at center left,
						var(--color-iron),
						var(--color-mix)
					);
				}
				@include theme(dark, 2) {
					@include mix(
						color-mix(
							in srgb,
							var(--color-iron) 80%,
							white
						),
						mix($iron, white, 80%)
					);
					background-color: var(--color-slate);
					background: radial-gradient(
						circle at center left,
						var(--color-mix),
						var(--color-slate)
					);
				}
			}
		}
		&:hover, &:focus {
			> span {
				background-position-x: 100%;
			}
		}
	}

	&.link-platform {
		> span {
			&:before {
				display: none;
			}
		}
		&:hover, &:focus {
			> span {
				@include mix(
					color-mix(
						in srgb,
						var(--color-iron) 70%,
						white
					),
					mix($iron, white, 70%)
				);
				background: var(--color-mix);
			}
		}
		&:active {
			> span {
				background: gHSL(iron, .35);
			}
		}
	}
}