@use 'partials/shared/utilities' as *;

.button {
	--color: white;
	--background: var(--color-dark) radial-gradient(
		circle at center left,
		var(--color-medium),
		var(--color-dark),
		var(--color-grey),
		var(--color-grey)
	);
	--outline: radial-gradient(
		circle at center left,
		var(--color-light),
		var(--color-medium)
	);
	--contrast: var(--color-primary);
	--background-hover-position: 0%;

	@include theme(light) {
		--background-active: var(--color-iron) radial-gradient(
			circle at center left,
			color-mix(
				in srgb,
				var(--color-iron) 80%,
				white
			),
			var(--color-iron)
		);
	}
	@include theme(dark) {
		--background-active: var(--color-grey) radial-gradient(
			circle at center left,
			var(--color-grey),
			color-mix(
				in srgb,
				var(--color-iron) 80%,
				white
			)
		);
	}

	& {
		cursor: pointer;
		appearance: none;
		display: block;
		position: relative;
		z-index: 3;
		margin: 0;
		padding: 0;
		border: 0;
		width: fit-content;
		background: none;
		color: var(--color);
		@include font-weight-width(700, 125);
	}

	&, > span, > span::before {
		transition: background .4s ease-out, scale .2s ease-out, opacity .2s ease-out;
	}
	&::before, &::after {
		content: "";
		display: block;
		position: absolute;
	}
	&::before {
		opacity: 0;
		z-index: -1;
		top: calc(var(--p)/-4);
		left: calc(var(--p)/-4);
		width: calc(100% + var(--p)/2);
		height: calc(100% + var(--p)/2);
		padding: var(--p) calc(var(--p)*2.5);
		background: var(--outline);
		@include clip-path(false) {
			@include border-radius(calc(var(--p)/2));
		}
		@include clip-path {
			@include button-shape(1.375, 7%);
		}
	}
	&::after {
		@include contrast(both) {
			z-index: -2;
			top: calc(var(--p)/-8);
			left: calc(var(--p)/-8);
			width: calc(100% + var(--p)/4);
			height: calc(100% + var(--p)/4);
			padding: var(--p) calc(var(--p)*2.5);
			background-color: var(--contrast);
			@include clip-path(false) {
				@include border-radius(calc(var(--p)/4));
			}
			@include clip-path {
				@include button-shape(1.3125, 6%);
			}
		}
	}
	> span {
		position: relative;
		background: var(--background) 50% 0% / 200% 100%;
		@include button;
		&::after {
			opacity: 0;
			content: "";
			display: block;
			z-index: -1;
			background: var(--background-active);
			@include full-offset(0);
		}
	}
	&:hover {
		@media (prefers-reduced-motion: no-preference) {
			scale: 1.02;
		}
	}
	&:hover, &:focus {
		> span {
			background-position-x: var(--background-hover-position);
		}
	}
	&:focus-visible {
		@include clip-path(false) {
			@include focus-shadow(var(--color-grey));
		}
		@include clip-path(true) {
			&::before {
				opacity: 1;
			}
		}
	}
	&:active {
		@media (prefers-reduced-motion: no-preference) {
			scale: .98;
		}
		&, > span, > span::before {
			transition: background .2s ease-out, scale .2s ease-out, opacity .2s ease-out;
		}
		> span {
			&::after {
				opacity: 1;
			}
		}
	}

	&.button-reverse {
		--background: var(--color-grey) radial-gradient(
			circle at center right,
			var(--color-medium) 0,
			var(--color-dark) 25%,
			var(--color-grey) 75%,
			var(--color-grey) 100%
		);
		--outline: radial-gradient(
			circle at center left,
			var(--color-medium),
			var(--color-light)
		);
		--background-hover-position: 100%;
		@include theme(light) {
			--background-active: var(--color-iron) radial-gradient(
				circle at center left,
				var(--color-iron),
				color-mix(
					in srgb,
					var(--color-iron) 80%,
					white
				)
			);
		}
		@include theme(dark) {
			--background-active: var(--color-grey) radial-gradient(
				circle at center left,
				color-mix(
					in srgb,
					var(--color-iron) 80%,
					white
				),
				var(--color-grey)
			);
		}
	}

	&.link-platform {
		> span {
			&::after {
				display: none;
			}
		}
		&:hover, &:focus {
			> span {
				background: color-mix(
					in srgb,
					var(--color-iron) 70%,
					white
				);
			}
		}
		&:active {
			> span {
				background: hsl(from var(--color-iron) h s calc(l * .35));
			}
		}
	}
}

.button-reduced {
	--color: white;
	--background: color-mix(
		in srgb,
		hsl(from var(--color-grey) h calc(s * .3) calc(l * .6)) 30%,
		hsl(from var(--color-dark) h calc(s * .8) l)
	);
	--outline: color-mix(
			in srgb,
			var(--color-light),
			var(--color-medium)
	);
	--contrast: var(--color-primary);
	--background-hover: var(--color-grey);
	--background-active: var(--color-iron);

	transition: scale .2s ease-out;
	display: inline-block;
	position: relative;
	margin-bottom: var(--p);
	margin-right: var(--p);
	@include font-weight-width(600, 115);
	span {
		transition: background-color .2s ease-out;
		display: inline-block;
		position: relative;
		z-index: 2;
		padding: calc(var(--p)/3*2) var(--p);
		color: var(--color);
		background-color: var(--background);
		@include clip-path-edges(2px);
	}
	&::after {
		@include contrast(both) {
			content: "";
			display: block;
			z-index: 0;
			background-color: var(--contrast);
			@include full-offset(1.5px);
			@include clip-path-edges(3px);
		}
	}
}
a.button-reduced, a.button-reduced-outer > .button-reduced {
	&::before {
		z-index: 1;
		@include before(var(--outline));
	}
	&.current {
		pointer-events: none;
		cursor: default;
	}
}
a.button-reduced:hover, a.button-reduced:active,
a.button-reduced-outer:hover > .button-reduced, a.button-reduced-outer:active > .button-reduced {
	span {
		background-color: var(--background-hover);
	}
}
a.button-reduced:focus-visible,
a.button-reduced-outer:focus-visible > .button-reduced {
	&::before {
		opacity: 1;
	}
}
a.button-reduced:active,
a.button-reduced-outer:active > .button-reduced {
	@media (prefers-reduced-motion: no-preference) {
		scale: .98;
	}
	span {
		background-color: var(--background-active);
	}
}

.button-reduced-group {
	&, li {
		display: contents;
	}
}