.contact {
	position: relative;
	z-index: 10;
	max-width: var(--width);
	margin-left: auto;
	margin-right: auto;
	padding-left: calc((var(--p)*2) + env(safe-area-inset-left));
	padding-right: calc((var(--p)*2) + env(safe-area-inset-right));
	color: var(--color-primary);
	.contact-sites, .contact-messages {
		font-size: clamp(1.5rem, 3vw, 2rem);
		line-height: 1.2;
		@include font-weight-width(900, 125);
		@include viewport($ipad-mini) {
			line-height: 1.1;
		}

		> h2 {
			margin-top: 1.5rem;
		}

		> ul {
			margin-top: .5rem;
			list-style: none;
			> li {
				display: inline-block;
			}
			.link {
				&:not(.tooltip) {
					display: inline-block;
				}
				&:not(:last-child) {
					margin-right: .75rem;
				}
				&:last-of-type {
					margin-right: .75rem;
				}
			}
			.link, .popup-label, .popup-label span {
				transition: all .1s ease-out;
				font-size: clamp(1.75rem, 3vw, 2rem);
				line-height: 1.3;
				@include viewport($ipad-mini) {
					line-height: 1.2;
				}
			}
			.link, .popup-label span {
				text-decoration: underline;
				text-decoration-thickness: 3px;
				text-underline-offset: 8px;
				@include contrast(both) {
					text-underline-offset: 4px;
				}
			}
			.link:not(:hover):not(:focus), .popup-label span {
				@include theme(light) {
					text-decoration-color: hsl(from var(--color-blush) h s calc(l * 1.1) / 0);
				}
				@include theme(dark) {
					text-decoration-color: hsl(from var(--color-iron) h s calc(l * .73) / 0);
				}
				@include contrast(both) {
					text-decoration-color: hsl(from var(--color-primary) h s l / .5);
				}
			}
			.popup-label {
				--color-link: var(--color-discord);
				color: var(--color-link);
			}
			.popup-label:hover span, .popup-button:focus + .popup-label span {
				text-decoration-color: var(--color-link);
			}
			.link:hover, .link:focus, .popup-label:hover span, .popup-button:focus ~ .popup-label span {
				@include theme(light) {
					color: var(--color-iron);
				}
				@include theme(dark) {
					color: white;
				}
			}
			.link:focus, .popup-button:focus ~ .popup-label span {
				@include contrast(both) {
					text-decoration-color: hsl(from var(--color-primary) h s l / 0);
					@include focus-shadow(var(--color-link));
				}
			}
			.link:hover, .link:focus, .popup-label:hover span, .popup-button:focus ~ .popup-label span, .link:active, .popup-button:active ~ .popup-label span {
				text-underline-offset: 4px;
			}
			.link:active, .popup-button:not(:checked):active ~ .popup-label span {
				@media (prefers-reduced-motion: no-preference) {
					scale: .95;
				}
			}
		}
	}
	.posts-container & {
		position: relative;
		padding: calc(var(--p)*2);
		margin-top: calc(var(--p)*2);
		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include clip-path-edges(2px);
			@include theme(light) {
				background-color: white;
			}
			@include theme(dark) {
				background-color: var(--color-iron);
			}
		}
		&::after {
			@include contrast(both) {
				content: "";
				display: block;
				position: absolute;
				z-index: -1;
				top: -1.5px;
				left: -1.5px;
				width: calc(100% + 3px);
				height: calc(100% + 3px);
				background-color: var(--color-primary);
				@include clip-path-edges(3px);
			}
		}
		@include viewport(medium) {
			display: grid;
			grid-gap: calc(var(--p)*2);
			grid-template-columns: 1fr 1fr;
		}
		.contact-sites, .contact-messages {
			position: relative;
			z-index: 1;
			margin-top: 0;
			font-size: 1.25rem;
			@include font-weight-width(800, 120);
			@include viewport($ipad-mini) {
				line-height: 1.2;
			}
			> h2 {
				margin-top: 0;
			}
			> ul {
				margin-top: .25rem;
				.link, .popup-label, .popup-label span {
					font-size: 1.25rem;
					line-height: 1.2;
					@include viewport($ipad-mini) {
						line-height: 1.2;
					}
				}
				.link {
					text-decoration-thickness: 2px;
					text-underline-offset: 6px;
					@include contrast(both) {
						text-underline-offset: 3px;
					}
					&:hover, &:focus {
						text-underline-offset: 3px;
					}
					&:not(:hover):not(:focus) {
						text-decoration-color: hsl(from white h s l / 0);
						@include contrast(both) {
							text-decoration-color: hsl(from var(--color-primary) h s l / .5);
						}
					}
				}
			}
		}
		.contact-messages {
			margin-top: 1rem;
			@include viewport(medium) {
				margin-top: 0;
			}
		}
	}
}