@use 'partials/shared/utilities' as *;

.discord-popup {
	--m: 16px;
	.popup-button {
		width: 127px;
		height: 36px;
		@include viewport($large) {
			width: 145px;
			height: 38px;
		}
	}
	.popup-label {
		&::after {
			background-color: var(--color-light);
			bottom: calc(var(--t)*-1);
			@media (prefers-reduced-motion: no-preference) {
				translate: 0 calc(var(--p)*2);
			}
		}
	}
	.popup-window {
		color: white;
		margin-top: calc(var(--p)/2);
		.inside {
			display: block;
			position: relative;
			width: 100%;
			min-height: 250px;
			@include border-radius(3px);
			@include blur(10px, var(--color-iron), .45, .9, .8);
		}
		.header {
			position: relative;
			display: block;
			height: 60px;
			&::before {
				content: "";
				display: block;
				background-color: var(--color-light);
				mask: url('data:image/svg+xml;utf8,<svg width="600px" height="60px" viewBox="0 0 600 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M600,0 L600,60 L88,60 L88,60 C88,39.0131795 70.9868205,22 50,22 C29.0131795,22 12,39.0131795 12,60 L0,60 L0,0 L600,0 Z"></path></svg>') no-repeat;
				@include full-size;
			}
		}
		.avatar {
			position: absolute;
			bottom: -30px;
			left: calc(var(--p) + 8px);
			border-radius: 100%;
			overflow: hidden;
			@include square(60px);
			@include background-image(avatars/discord, jpg);
			@include invert(100%);
		}
		.username {
			display: flex;
			flex-direction: column;
			justify-content: center;
			position: relative;
			margin-top: 38px;
			margin-left: var(--p);
			h3 {
				width: fit-content;
				margin-bottom: calc(var(--p)/3);
				font-size: 1.75rem;
			}
			span {
				font-size: 0.875rem;
				opacity: 0.6;
				@include font-weight-width(600, 100);
				&::before, &::after {
					background-color: black;
				}
			}
		}
		.description {
			display: block;
			border-top: 1px solid hsl(from white h s l / .1);
			margin-top: var(--m);
			padding: var(--m);
			@include contrast(both) {
				border-color: white;
			}
		}
		.about-header {
			display: block;
			margin-bottom: 8px;
			color: #b9bbbe;
			font-size: .75rem;
			text-transform: uppercase;
			@include font-weight-width(600, 100);
		}
		.about-content {
			display: inline-block;
			padding: 2px 4px;
			background-color: hsl(from var(--color-iron) h s calc(l * .75));
			font-family: var(--font-mono);
			font-size: .75rem;
			line-height: 1.5;
			white-space: pre-wrap;
			@include border-radius(3px);
		}
		.links {
			border-top: 1px solid hsl(from white h s l / .1);
			margin-top: var(--m);
			padding-top: var(--m);
			@include contrast(both) {
				border-color: white;
			}
			@include viewport(450px) {
				display: flex;
				justify-content: space-between;
			}
			li {
				width: 100%;
				&:last-child {
					margin-top: var(--m);
					@include viewport(450px) {
						margin-top: 0;
					}
				}
				@include viewport(450px) {
					width: calc(50% - 8px);
				}
			}
			a, button {
				transition: background-color .1s ease-out, border-color .1s ease-out;
				cursor: pointer;
				display: flex;
				align-items: center;
				align-content: center;
				justify-content: space-between;
				appearance: none;
				width: 100%;
				margin: 0;
				padding: 8px;
				border-radius: 3px;
				border: 1px solid hsl(from white h s l / .1);
				background: none;
				color: white;
				font-size: 1rem;
				text-align: left;
				@include font-weight-width(600, 100);
				@include contrast(both) {
					border-color: white;
				}
				&::after {
					transition: opacity .1s ease-out;
					content: "";
					display: block;
					opacity: .8;
					background-position: center;
					background-repeat: no-repeat;
					@include square(20px);
				}
				&:hover, &:focus {
					background-color: hsl(from white h s l / .1);
					border-color: transparent;
					@include contrast(both) {
						border-color: white;
					}
					&::after {
						opacity: 1;
					}
				}
				&:focus-visible {
					@include focus-shadow;
				}
				&:active {
					background-color: hsl(from var(--color-iron) h s calc(l * .45));
				}
			}
			a {
				&::after {
					background-image: url(/static/images/svg/icons/profile.svg);
					background-size: 19px 15px;
				}
			}
			button {
				&::after {
					background-image: url(/static/images/svg/icons/copy.svg);
					background-size: 14px 22px;
				}
			}
			@media (hover: hover) {
				.touch {
					display: none;
				}
				.no-touch {
					display: block;
				}
			}
			@media (hover: none) {
				.touch {
					display: block;
				}
				.no-touch {
					display: none;
				}
			}
		}
	}
}