.filters {
	display: none;
	font-size: 1.5rem;
	line-height: 1.334;
	position: relative;
	padding-left: calc((var(--p)*2) + env(safe-area-inset-left));
	padding-right: calc((var(--p)*2) + env(safe-area-inset-right));
	@include font-weight-width(600, 110);
	@include viewport($iphone-max) {
		padding-left: 0;
		padding-right: 0;
	}

	@media (scripting: enabled) {
		display: block;
	}

	h2 {
		@include hide;
	}
	ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
	}
	li {
		margin-right: var(--p);
	}
	a {
		color: color-mix(
			in srgb,
			var(--color-iron) 70%,
			white
		);
		&:not(.reset)::before {
			content: "#";
		}
		&, &::before, span {
			transition: all .1s ease-out;
		}
		> span {
			text-decoration: underline;
			text-decoration-thickness: 2px;
			text-underline-offset: 8px;
			@include theme(light) {
				text-decoration-color: hsl(from var(--color-blush) h s calc(l * 1.1) / 0);
			}
			@include theme(dark) {
				text-decoration-color: hsl(from var(--color-iron) h s calc(l * .73) / 0);
			}
			@include contrast(both) {
				text-underline-offset: 4px;
				text-decoration-color: unset;
			}
		}
		&:hover, &:focus {
			--color-mix: color-mix(
				in srgb,
				var(--color-mauve),
				var(--color-rose)
			);
			&, > span {
				color: var(--color-mix);
				text-decoration-color: var(--color-mix);
			}
		}
		&:hover, &:focus, &:active, &.active {
			> span {
				text-underline-offset: 4px;
			}
		}
		&:active {
			&, > span {
				color: var(--color-slate);
				text-decoration-color: var(--color-slate);
			}
		}

		&.active {
			--color-mix: color-mix(
				in hsl,
				hsl(from var(--color-mauve) h calc(s * .9) l) 30%,
				hsl(from var(--color-rose) h calc(s * .9) l)
			);
			&, > span {
				color: var(--color-mix);
				text-decoration-color: var(--color-mix);
			}
			span span {
				@include gradient-headline(
					var(--color-rose),
					var(--color-mauve),
					var(--color-slate),
					var(--color-slate)
				);
			}
		}
		&.active {
			pointer-events: none;
		}
		&.reset {
			display: none;
			&.visible {
				display: block;
			}
		}
	}
}