@use 'partials/shared/utilities' as *;

.filters {
	display: none;
	font-size: 1.5rem;
	line-height: 1.334;
	position: relative;
	padding-left: calc((var(--p)*2) + env(safe-area-inset-left));
	padding-right: calc((var(--p)*2) + env(safe-area-inset-right));
	@include font-weight-width(600, 110);
	@include viewport($iphone-max) {
		padding-left: 0;
		padding-right: 0;
	}

	@media (scripting: enabled) {
		display: block;
	}

	h2 {
		@include hide;
	}
	ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
	}
	li {
		margin-right: var(--p);
	}
	a {
		--color-mix: color-mix(
			in srgb,
			var(--color-iron) 70%,
			white
		);
		--color-mix-underline: light-dark(
			hsl(from var(--color-light) h s calc(l * 1.1) / 0),
			hsl(from var(--color-iron) h s calc(l * .73) / 0)
		);
 
		&, > span {
			color: var(--color-mix);
		}
		&:not(.reset):not(.emoji)::before {
			content: "#";
		}
		&, &::before, span {
			transition: all .1s ease-out;
		}
		> span {
			text-decoration: underline;
			text-decoration-thickness: 2px;
			text-underline-offset: 8px;
			text-decoration-color: var(--color-mix-underline);
			@include contrast {
				text-underline-offset: 4px;
				text-decoration-color: unset;
			}
		}
		&.emoji {
			text-underline-offset: 10px;
			@include contrast {
				text-underline-offset: 6px;
			}
			span span {
				background-clip: text;
				-webkit-text-fill-color: transparent;
				background-color: var(--color-mix);
			}
		}
		&:hover, &:focus {
			--color-mix: color-mix(
				in srgb,
				var(--color-dark),
				var(--color-middle)
			);
			--color-mix-underline: var(--color-mix);
		}
		&:hover, &:focus, &:active, &.active {
			> span {
				text-underline-offset: 4px;
			}
			&.emoji {
				> span {
					text-underline-offset: 6px;
				}
			}
		}
		&:active {
			--color-mix: var(--color-grey);
			--color-mix-underline: var(--color-mix);
		}

		&.active {
			--color-mix: color-mix(
				in hsl,
				hsl(from var(--color-dark) h calc(s * .9) l) 30%,
				hsl(from var(--color-middle) h calc(s * .9) l)
			);
			--color-mix-underline: var(--color-mix);
			span span {
				@include gradient-headline(
					var(--color-middle),
					var(--color-dark),
					var(--color-grey),
					var(--color-grey)
				);
			}
		}
		&.active {
			pointer-events: none;
		}
		&.reset {
			display: none;
			&.visible {
				display: block;
			}
		}
	}
}