@use 'partials/shared/utilities' as *;

.toggle {
	--background: color-mix(
		in srgb,
		var(--color-slate),
		var(--color-iron)
	);
	--indicator: white;
	--outline: var(--color-blush);
	--contrast: white;
	--background-active: var(--color-mint);
	--height: calc(var(--p)*2);

	display: block;
	cursor: pointer;
	position: relative;
	height: calc(var(--height));
	width: calc(var(--height)/2*3.5);
	background-color: var(--background);
	border-radius: calc(var(--height));
	margin-right: var(--p);
	padding: calc(var(--height)/8);

	&::before {
		@include contrast(both) {
			content: "";
			display: block;
			z-index: -1;
			background-color: var(--contrast);
			border-radius: calc(var(--height)*1.5);
			@include full-offset(1px);
		}
	}
	&::after {
		transition: translate .3s ease-out;
		content: "";
		display: block;
		width: auto;
		height: 100%;
		aspect-ratio: 1 / 1;
		border-radius: 100%;
		background-color: var(--indicator);
	}

	*:focus-visible & {
		outline: calc(var(--p)/4) solid var(--outline);
	}
	&.active {
		background-color: var(--background-active);
		&::after {
			translate: 100% 0;
		}
	}
}

.radio {
	@include radio(white);
}