@use 'partials/shared/utilities' as *;

.toggle {
	--background: color-mix(
		in srgb,
		var(--color-grey),
		var(--color-iron)
	);
	--indicator: white;
	--outline: var(--color-light);
	--contrast: white;
	--background-active: var(--color-mint);
	--height: calc(var(--p)*2);

	display: block;
	cursor: pointer;
	position: relative;
	height: calc(var(--height));
	width: calc(var(--height)/2*3.5);
	background-color: var(--background);
	border-radius: calc(var(--height));
	margin-right: var(--p);
	padding: calc(var(--height)/8);

	&::before {
		@include contrast(both) {
			content: "";
			display: block;
			z-index: -1;
			background-color: var(--contrast);
			border-radius: calc(var(--height)*1.5);
			@include full-offset(2px);
		}
	}
	&::after {
		transition: translate .3s ease-out;
		content: "";
		display: block;
		width: auto;
		height: 100%;
		aspect-ratio: 1 / 1;
		border-radius: 100%;
		background-color: var(--indicator);
	}

	*:focus-visible & {
		outline: calc(var(--p)/4) solid var(--outline);
	}
	&.active {
		background-color: var(--background-active);
		&::after {
			translate: 100% 0;
		}
	}
}

@mixin radio($background: transparent, $color: var(--color-mint)) {
	& {
		--background: #{$background};
		--color: #{$color};
		--outline: var(--color);
		--contrast: color-mix(in srgb, var(--color-grey), var(--color));

		display: flex;
		cursor: pointer;
		position: relative;
	}
	&::before, &::after {
		content: "";
		display: block;
	}
	&::before {
		min-width: calc(var(--p)*2);
		height: calc(var(--p)*2);
		border-radius: calc(var(--p)*2);
		margin-right: calc(var(--p)*.75);
		background-color: var(--background);
		@include contrast(both) {
			outline: 2px solid var(--contrast);
		}
	}
	&::after {
		opacity: 0;
		border-radius: calc(var(--p)/3*4);
		position: absolute;
		left: calc(var(--p)/3);
		top: calc(var(--p)/3);
		background-color: var(--color);
		@include square(calc(var(--p)/3*4));
	}
	&:is(input:focus-visible + label), &:focus-visible {
		&::before {
			outline-color: transparent;
			@include focus-shadow(var(--outline), false);
		}
	}
}

.radio {
	@include radio(white);
}