.expand {
	display: block;
	&, &::before, &::after {
		cursor: zoom-in;
	}
}

.lightbox-group {
	display: block;
}

.lightbox-content {
	cursor: zoom-out;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	height: min-content;
	width: min-content;
	padding: 0;
	border: 0;
	margin: unset;
	background-color: transparent;
	&::backdrop {
		@include blur(10px, var(--color-iron), .35, .98, .9);
	}
	&, &::backdrop {
		opacity: 0;
		transition: all .2s ease-out .1s;
	}
	&.active, &.active::backdrop {
		opacity: 1;
		@starting-style {
			opacity: 0;
		}
	}
	figure {
		cursor: unset;
	}
	&.iframe, .warning, picture {
		@include clip-path-edges(2px);
	}
	&.iframe {
		.frame-wrapper {
			background: var(--background);
		}
		iframe {
			cursor: default;
			opacity: 0;
			transition: opacity .2s ease-out .3s;
			max-width: calc(100vw - (var(--p)*4));
			max-height: calc(100vh - (var(--p)*4));
			@include full-size(screen);
			@include viewport($ipad-11) {
				max-width: calc(100vw - (var(--p)*8));
				max-height: calc(100vh - (var(--p)*8));
			}
		}
		.warning {
			display: none;
			align-items: center;
			justify-content: center;
			height: 100vh;
			max-height: 300px;
			width: 100vh;
			max-width: calc(var(--width) - (var(--p)*4) - env(safe-area-inset-left) - env(safe-area-inset-right));
			color: color-mix(
				in srgb,
				var(--color-iron) 70%,
				white
			);
			font-weight: 600;
			line-height: 1.3;
		}
	}
	&.image {
		figure {
			cursor: zoom-out;
		}
		picture {
			display: block;
			width: auto;
		}
		img {
			display: block;
			width: unset;
			height: unset;
			max-width: calc(100vw - (var(--p)*4));
			max-height: calc(100vh - (var(--p)*4));
			@include viewport($ipad-11) {
				max-width: calc(100vw - (var(--p)*8));
				max-height: calc(100vh - (var(--p)*8));
			}
			&.upscale {
				@media screen and (orientation:portrait) {
					width: 100vw;
					height: auto;
				}
					@media screen and (orientation:landscape) {
						width: auto;
						height: 100vh;
					}
			}
		}
	}
}

@media (scripting: none) {
	.lightbox, .lightbox-background {
		cursor: zoom-out;
		opacity: 0;
		visibility: hidden;
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		bottom: 0;
		right: 0;
		@include full-offset(0, $p: fixed);
	}

	.lightbox-background {
		transition: opacity .2s ease-out, visibility 0s .2s, z-index 0s .2s;
		z-index: -999;
		@include blur(10px, var(--color-iron), .35, .98, .9);
		&:not(:last-child) {
			display: none;
		}
	}

	.lightbox {
		transition: visibility 0s .2s, z-index 0s .2s;
		z-index: -998;
		+ .lightbox-content {
			position: fixed;
			z-index: 1;
		}
		&:target {
			transition: opacity .2s ease-out, visibility .2s ease-out;
			opacity: 1;
			visibility: visible;
			z-index: 999;
			~ .lightbox-background {
				transition: opacity .2s ease-out, visibility .2s ease-out;
				opacity: 1;
				visibility: visible;
				z-index: 998;
				&::before {
					opacity: 1;
				}
			}
			+ .lightbox-content {
				z-index: 1000;
				opacity: 1;
				display: block;
				&::backdrop {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}

@keyframes loading {
	from { rotate: 0deg } to { rotate: 360deg; }
}