@use 'partials/shared/utilities' as *;

.link-award {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	@include clip-path-edges(2px);

	&::before, &::after, div {
		background-color: var(--background);
	}
	&::before, &::after {
		content: "";
		display: block;
		width: 100%;
		margin-bottom: 3px;
	}
	&::before {
		--background: light-dark(hsl(from var(--color-middle) h s l / .2), hsl(from var(--color-middle) h s l / .15));
		order: 2;
		height: 3px;
	}
	&::after {
		--background: light-dark(hsl(from var(--color-light) h s l / .2), hsl(from var(--color-light) h s l / .15));
		order: 1;
		height: 2px;
	}

	div {
		--background: hsl(from var(--color-dark) h s l / .15);
		order: 3;
		display: flex;
		flex-wrap: wrap;
		height: calc(100% - 9px);
		padding: var(--p) calc(var(--p)*1.5) calc(var(--p)*1.25);
		> * {
			width: 100%;
		}
		h3 {
			margin-bottom: calc(var(--p)/2);
			font-size: 1.5rem;
			line-height: 1.25;
			@include font-weight-width(600, 110);
		}
		h3 a {
			text-decoration: unset;
			&:hover, &:focus, &:active {
				span {
					text-decoration: underline;
					text-underline-offset: 2px;
				}
			}
			&::after {
				content: "\2197";
				margin-left: calc(var(--p)/3);
			}
		}
		p {
			align-self: flex-end;
			font-size: .875rem;
			font-weight: 500;
			line-height: 1.2;

			+ p {
				margin-top: calc(var(--p)/3);
			}
		}
	}

	&:has(a:active) {
		&::before, &::after, div {
			--background: var(--active-background, light-dark(
				color-mix(
					in srgb,
					hsl(from var(--color-dark-grey) h s calc(l * .55)) 20%,
					white
				),
				var(--background-body)
			));
		}
	}

	@include contrast {
		& {
			@include clip-path-edges(unset);

			&::before, &::after {
				width: calc(100% + 3px);
			}
			&::before {
				--background: var(--color-middle);
				margin-bottom: 4.5px;
			}
			&::after {
				--background: var(--color-light);
				@include clip-path-edges(2px, up);
			}

			div {
				position: relative;
				background-color: unset;
				height: calc(100% - 15px);

				&::before, &::after {
					content: "";
					display: block;
				}
				&::before {
					z-index: -2;
					background-color: hsl(from var(--background) h s l / 1);
					@include full-offset(1.5px);
					@include clip-path-edges(3px, down);
				}
				&::after {
					z-index: -1;
					background-color: color-mix(
						in srgb,
						hsl(from var(--background) h s l / 1) 15%,
						var(--background-contrast)
					);
					@include full-offset(0);
					@include clip-path-edges(2px, down);
				}

				span {
					text-decoration: underline;
					text-underline-offset: 2px;
				}
			}
		}
	}
}

.link-item {
	strong {
		display: inline-block;
		position: relative;
		margin-bottom: calc(var(--p)/3);
		padding-inline: calc(var(--p)/2);
		background-color: light-dark(
			hsl(from var(--color-dark-grey) h s l / .1),
			hsl(from var(--color-dark-grey) h s calc(l * .55) / .4)
		);
		color: light-dark(
			hsl(from var(--color-dark-grey) h s l / .7),
			hsl(from white h s l / .8)
		);
		font-size: .875rem;
		text-transform: uppercase;
		line-height: 1.715;
		@include font-weight-width(600, 90);
		@include clip-path-edges(2px);
		@include viewport(medium) {
			margin-bottom: unset;
			margin-right: calc(var(--p)/3);
		}
		@include contrast {
			background-color: unset;
			@include clip-path-edges(unset);

			&::before, &::after {
				content: "";
				display: block;
			}
			&::before {
				z-index: -2;
				background-color: light-dark(
					hsl(from var(--color-primary) h s l / .5),
					hsl(from var(--color-primary) h s l / .7)
				);
				@include full-offset(1.5px);
				@include clip-path-edges(3px);
			}
			&::after {
				z-index: -1;
				background-color: light-dark(
					color-mix(
						in srgb,
						var(--color-dark-grey) 10%,
						white
					),
					hsl(from var(--color-dark-grey) h s l / .7)
				);
				@include full-offset(0);
				@include clip-path-edges(2px);
			}
		}
	}
	a {
		display: block;
		line-height: 1.333;
		@include font-weight-width(600, 115);
		@include viewport(medium) {
			display: inline;
		}
	}
}

.link-tile {
	--active-color: hsl(from var(--color-primary) h s calc(l * .7));
	--background: light-dark(
		color-mix(
			in srgb,
			hsl(from var(--color-dark-grey) h s calc(l * .55)) 7.5%,
			white
		),
		color-mix(
			in srgb,
			hsl(from var(--color-dark-grey) h s calc(l * .55)) 27.5%,
			var(--color-dark-grey)
		)
	);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding: calc(var(--p)*1.25) calc(var(--p)*1.5);
	background: var(--background);
	@include clip-path-edges(2px);

	@include contrast {
		--contrast: light-dark(
			hsl(from var(--color-primary) h s l / .5),
			hsl(from var(--color-primary) h s l / .7)
		);
		background: unset;
		@include clip-path-edges(unset);

		&::before, &::after {
			content: "";
			display: block;
		}
		&::before {
			z-index: -2;
			background: var(--contrast);
			@include full-offset(1.5px);
			@include clip-path-edges(3px);
		}
		&::after {
			z-index: -1;
			background: var(--background);
			@include full-offset(0);
			@include clip-path-edges(2px);
		}
		span {
			text-decoration: underline;
			text-underline-offset: 2px;
		}
	}

	&, * {
		color: var(--color, var(--color-primary));
	}
	h3 {
		display: block;
		margin-bottom: calc(var(--p)/2);
	}
	h3, a {
		font-size: 1.125rem;
		line-height: 1.25;
		@include font-weight-width(600, 110);
	}
	h3 a {
		text-decoration: unset;
		&:active {
			--color: var(--active-color);
		}
		&:hover, &:focus, &:active {
			span {
				text-decoration: underline;
				text-underline-offset: 2px;
			}
		}
		&::after {
			content: "\2197";
			margin-left: calc(var(--p)/3);
		}
		&.link-download {
			&::after {
				content: "\2193";
			}
		}
	}
	&:has(a:active) {
		--background: var(--active-background, light-dark(
			color-mix(
				in srgb,
				hsl(from var(--color-dark-grey) h s calc(l * .55)) 20%,
				white
			),
			var(--background-body)
		));
		p {
			--color: var(--active-color);
		}
	}
	p {
		--color: hsl(from var(--color-primary) h s l / .8);
		font-size: .875rem;
		font-weight: 500;
		line-height: 1.2;

		+ p {
			margin-top: calc(var(--p)/3);
		}
	}
}

.link-thumbnail {
	--focus: var(--color-light);
	--contrast: var(--color-primary);
	--radius: 3px;
	--radius-outline: 4px;
	--background: var(--color-dark);
	--background-active: var(--color-grey);

	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 100%;

	.icon-wrapper {
		transition: scale .2s ease-out;
		display: block;
		border-radius: var(--radius-outline);

		@include contrast {
			background-color: var(--contrast);
			@include focus-shadow(var(--contrast), null, 1.5px);
		}

		&:hover, &:focus, &:active {
			picture {
				filter: blur(4px);
				transform: scale(1.02);
			}
			.icon-copy {
				opacity: 1;
			}
		}
		&:focus-visible {
			background-color: var(--focus);
			@include focus-shadow(var(--focus), null);
		}
		&:hover {
			@media (prefers-reduced-motion: no-preference) {
				scale: 1.02;
			}
		}
		&:active {
			@media (prefers-reduced-motion: no-preference) {
				scale: .98;
			}
			.icon-copy {
				@include blur(4px, var(--background-active), 1, .98, .9);
			}
		}
	}

	.icon {
		display: block;
		position: relative;
		@include full-size;
		@include border-radius(var(--radius));
	}

	.icon-copy {
		opacity: 0;
		transition: opacity .2s ease-out, background-color .2s ease-out;
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
		justify-content: center;
		font-size: 0.75rem;
		color: white;
		text-align: center;
		text-transform: uppercase;
		background-color: hsl(from var(--background) h s l / .8);
		@include full-offset(100%);
		@include font-weight-width(600, 120);
	}
}