@use 'partials/shared/utilities' as *;

.popup {
	--t: 16px;
	--r: 3px;

	anchor-name: var(--anchor-name);
	display: inline-block;
	position: relative;
	z-index: 2;
	.popup-button, .popup-close {
		all: unset;
		cursor: pointer;
	}
	.popup-button {
		display: inline-flex;
		justify-content: center;
		position: relative;
		&::after {
			clip-path: polygon(0 0, 0 100%, 100% 0);
			rotate: 45deg;
			opacity: 0;
			content: "";
			display: block;
			position: absolute;
			border-top-left-radius: calc(var(--r) - 1px);
			transform-origin: center center;
			@include square(var(--t));
			@media (prefers-reduced-motion: no-preference) {
				translate: 0 calc(var(--p)*2);
			}
			@media (prefers-reduced-motion: reduce) {
				transition: opacity .1s ease-out;
			}
			@include contrast {
				display: none;
			}
		}
	}
	.popup-window {
		position: absolute;
		position-anchor: var(--anchor-name);
		position-area: block-end center;
		inset: auto;
		margin: 0;
		opacity: 0;
		transition: opacity .2s ease-out, translate .2s ease-out;
		width: calc(100vw - var(--p)*4 - env(safe-area-inset-left)*2);
		background-color: transparent;
		max-width: 500px;
		border-radius: var(--r);
		@media (prefers-reduced-motion: no-preference) {
			translate: 0 calc(var(--p)*2);
		}
		&:popover-open {
			opacity: 1;

			@media (prefers-reduced-motion: no-preference) {
				translate: 0;
			}
		}
		@starting-style {
			&:popover-open {
				opacity: 0;

				@media (prefers-reduced-motion: no-preference) {
					translate: 0 calc(var(--p)*2);
				}
			}
		}
		@include contrast {
			outline: 1.5px solid white;
		}
		ul {
			list-style: none;
		}
		.popup-close:not(.button) {
			box-sizing: content-box;
			display: inline-flex;
			position: absolute;
			top: 3px;
			right: 3px;
			padding: 4px;
			&, svg {
				@include square(16px);
				height: 16px;
			}
			&:focus-visible {
				@include focus-shadow;
			}
		}
	}
	.popup-button:has(+ .popup-window:popover-open)::after {
		opacity: 1;
		@media (prefers-reduced-motion: no-preference) {
			transition: translate .2s ease-out, opacity .1s ease-out .1s;
			translate: 0;
		}
		@media (prefers-reduced-motion: reduce) {
			transition: opacity .1s ease-out .1s;
		}	
	}
}