@use 'partials/shared/utilities' as *;

.popup {
	--t: 16px;
	--r: 3px;

	display: inline-block;
	z-index: 2;
	@include viewport(970px) {
		position: relative;
	}
	.popup-label {
		display: inline-flex;
		justify-content: center;
		position: relative;
		cursor: pointer;
		&::after {
			clip-path: polygon(0 0, 0 100%, 100% 0);
			rotate: 45deg;
			opacity: 0;
			visibility: hidden;
			z-index: -1;
			content: "";
			display: block;
			position: absolute;
			border-top-left-radius: calc(var(--r) - 1px);
			transform-origin: center center;
			@include square(var(--t));
			@media (prefers-reduced-motion: no-preference) {
				transition: translate .2s ease-out, opacity .1s ease-out;
				translate: 0 calc(var(--p)*2);
			}
			@media (prefers-reduced-motion: reduce) {
				transition: opacity .1s ease-out;
			}
			@include contrast(both) {
				display: none;
			}
		}
	}
	.popup-window {
		opacity: 0;
		visibility: hidden;
		z-index: -1;
		transition: opacity .2s ease-out, translate .2s ease-out, visibility .2s ease-out, z-index .2s ease-out;
		position: absolute;
		left: 0;
		display: block;
		width: calc(100vw - var(--p)*4 - env(safe-area-inset-left)*2);
		max-width: 500px;
		border-radius: var(--r);
		@media (prefers-reduced-motion: no-preference) {
			translate: 0 calc(var(--p)*2);
		}
		@include contrast(both) {
			outline: 1.5px solid white;
		}
		ul {
			list-style: none;
		}
		.close:not(.button) {
			cursor: pointer;
			box-sizing: content-box;
			display: inline-flex;
			position: absolute;
			top: 3px;
			right: 3px;
			width: 17px;
			height: 20px;
			padding: 4px;
			svg {
				@include full-size;
				@include svg-path {
					fill: var(--color-iron);
				}
			}
			&:focus-visible {
				@include focus-shadow;
			}
		}
	}
	.popup-button {
		pointer-events: none;
		@include hide;
		&:active {
			+ .popup-label::after {
				@media (prefers-reduced-motion: no-preference) {
					transition: translate .2s ease-out, opacity .1s ease-out .1s;
				}
				@media (prefers-reduced-motion: reduce) {
					transition: opacity .1s ease-out .1s;
				}
				
			}
		}
		&:checked {
			~ .popup-label::after, ~ .popup-window {
				opacity: 1;
				visibility: visible;
				z-index: unset;
			}
			~ .popup-label::after, ~ .popup-window {
				@media (prefers-reduced-motion: no-preference) {
					translate: 0;
				}
			}
		}
	}
}