.progress {
	--background: linear-gradient(to right, var(--color-medium), var(--color-dark), var(--color-grey));

	display: none;

	@supports (animation-timeline: scroll()) {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 101;
		border: 0;
		margin: 0;
		width: 100vw;
		height: 2px;
		background: var(--background);

		transform: scaleX(0);
		transform-origin: left center;
		animation-name: progress;
		animation-duration: 1ms;
		animation-direction: alternate;
		animation-timeline: scroll(block nearest);

		@media (prefers-reduced-motion: no-preference) {
			display: block;
		}
	}
}

@keyframes progress {
	from { transform: scaleX(0); }
	to { transform: scaleX(1); }
}