@use 'partials/shared/utilities' as *;

.swatch-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.swatch {
	display: block;
	margin-inline: auto;
	text-align: center;
	background-color: var(--background);
	border-radius: 100%;
	border: calc(var(--p)/4) solid;
	@include square(36px);
	@include theme(light) {
		border-color: var(--color-message);
	}
	@include theme(dark) {
		border-color: white;
	}
	@include contrast(both) {
		border-color: var(--color-primary);
	}
}