@use 'partials/shared/utilities' as *;

.swatch-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.swatch {
	display: block;
	margin-inline: auto;
	text-align: center;
	background-color: var(--background);
	border-radius: 100%;
	border: calc(var(--p)/4) solid var(--border-color, light-dark(var(--color-message), white));
	@include square(36px);
	@include contrast {
		--border-color: var(--color-primary);
	}
}