.task-list {
	list-style: none;
	padding: 0;
	li:not(:last-child) {
		padding-bottom: calc(var(--p)*.75);
	}
	label {
		display: flex;
		cursor: pointer;
		position: relative;
		font-weight: 500;
		color: gHSL(primary, 1, .75);
		&:before, &:after {
			content: "";
			display: block;
		}
		&:before {
			min-width: calc(var(--p)*2);
			height: calc(var(--p)*2);
			border-radius: calc(var(--p)*2);
			margin-right: calc(var(--p)*.75);
			@include theme(light, 2) {
				background-color: gHSL(primary, 1, .1);
			}
			@include theme(dark, 2) {
				background-color: var(--color-primary);
			}
			@include contrast(light, 2) {
				border: 2px solid color-mix(
					in srgb,
					var(--color-slate),
					var(--color-mint)
				);
			}
		}
		&:after {
			opacity: 0;
			width: calc(var(--p)/3*4);
			height: calc(var(--p)/3*4);
			border-radius: calc(var(--p)/3*4);
			position: absolute;
			left: calc(var(--p)/3);
			top: calc(var(--p)/3);
			background-color: var(--color-mint);
		}
	}
	input:focus + label, input:hover + label, label:hover {
		text-decoration: underline;
		color: gHSL(primary, 1, 1);
	}
	input {
		@include hide;
		&:focus-visible + label {
			&:before {
				@include focus-shadow(gHSL(mint, 1, .7), false);
			}
		}
		&:active + label {
			color: gHSL(primary, 1, .45);
		}
		&:checked + label {
			color: gHSL(primary, 1, 1);
			&:after {
				opacity: 1;
			}
		}
	}
}