.task-list {
	list-style: initial!important;
	padding: 0;
	li {
		&::marker {
			content: "";
			color: hsl(from var(--color-primary) h s l / 0);
		}
		&:not(:last-child) {
			padding-bottom: calc(var(--p)*.75);
		}
	}
	label {
		font-weight: 500;
		color: hsl(from var(--color-primary) h s l / .75);
		@include radio;
		&::before {
			@include theme(light) {
				background-color: hsl(from var(--color-primary) h s l / .1);
			}
			@include theme(dark) {
				background-color: var(--color-primary);
			}
		}
	}
	input {
		@include hide;
		&:checked + label {
			color: var(--color-primary);
			&::after {
				opacity: 1;
			}
		}
	}
	input:focus + label, input:hover + label, label:hover {
		text-decoration: underline;
		@include theme(light) {
			color: hsl(from var(--color-primary) h s l / .55);
		}
		@include theme(dark) {
			color: var(--color-primary);
		}
	}
	input:active + label, input:active + label:hover {
		@include theme(light) {
			color: hsl(from var(--color-primary) h s calc(l * .5));
		}
		@include theme(dark) {
			color: hsl(from var(--color-primary) h s l / .45);
		}
	}
}