@use 'partials/shared/utilities' as *;
@use 'partials/shared/mixins' as *;

.post-thumbnail:not(.button) {
	transition: opacity .2s ease-out, scale .2s ease-out;
	display: block;
	position: relative;
	&::before {
		background: var(--outline, radial-gradient(
			circle at center left,
			var(--color-middle),
			var(--color-dark)
		));
		@include before;
	}
	picture {
		@include clip-path-edges(2px);
	}
	&:hover {
		@media (prefers-reduced-motion: no-preference) {
			scale: 1.02;
		}
	}
	&:focus-visible {
		&::before {
			opacity: 1;
		}
	}
	&:active {
		@media (prefers-reduced-motion: no-preference) {
			scale: 0.98;
		}
	}
}

.post-thumbnail-book {
	--highlight: color-mix(
		in srgb,
		var(--background-post),
		hsl(from var(--color) h s calc(l *.4))
	);
	--outline: var(--color-primary);

	@include expand-hover(external, 23px, 23px, calc(var(--p)*1.25));

	&.light, &.dark {
		picture::after {
			--gradient-color: var(--background);
			top: calc(var(--p)/2);
			left: calc(var(--p)/2);
			width: calc(100% - var(--p)/2);
			height: calc(100% - var(--p)/2);
		}
	}

	&::after {
		content: "";
		display: block;
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: calc(100% - var(--p)/2);
		height: calc(100% - var(--p)/2);
		background-color: var(--highlight);
	}

	&::after, picture::after {
		@include clip-path-edges(2px);
	}

	picture {
		position: relative;
		z-index: 1;
		padding-top: calc(var(--p)/2);
		padding-left: calc(var(--p)/2);
	}

	img {
		@include clip-path-edges(2px);
	}
}