.tooltip {
	--t: 10px;
	display: inline-flex;
	align-items: center;
	position: relative;
	width: fit-content;
	&::before, &::after {
		display: block;
		position: absolute;
		@include theme(light, 2) {
			background-color: var(--color-message);
			color: var(--color-primary);
		}
		@include theme(dark, 2) {
			background-color: gHSL(iron, .7);
			color: white;
		}
	}
	&::before {
		content: "";
		rotate: 45deg;
		z-index: 1;
		width: var(--t);
		height: var(--t);
	}
	&::after {
		content: var(--tooltip-label);
		z-index: 2;
		width: fit-content;
		padding: calc(var(--p)/2) calc(var(--p)/3*2);
		border-radius: 2px;
		font-size: .75rem;
		text-transform: uppercase;
		@include font-weight-width(600, 100);
	}
	span {
		&::before, &::after {
			content: "";
			display: block;
			position: absolute;
		}
		&::before {
			rotate: 45deg;
			z-index: 0;
			width: calc(var(--t) + 3px);
			height: calc(var(--t) + 3px);
			@include contrast(both, 2) {
				background-color: var(--color-primary);
			}
		}
		&::after {
			bottom: 0;
			left: 0;
			z-index: 0;
			width: 100%;
			height: 100%;
			border-radius: 2px;
			outline: 1.5px solid transparent;
			@include contrast(both, 2) {
				outline-color: var(--color-primary);
			}
		}
	}
	&.hidden {
		&::before, &::after {
			opacity: 0;
			visibility: hidden;
		}
	}
	&.small {
		--t: 8px;
		&::after {
			padding: calc(var(--p)/3) calc(var(--p)/2);
		}
	}
	&.large {
		--t: 12px;
		&::after {
			font-size: 1rem;
			padding: calc(var(--p)/3*2) var(--p) calc(var(--p)/2);
			border-radius: 4px;
		}
	}
	&-bottom {
		&::before {
			border-top-left-radius: 2px;
			left: calc(50% - var(--t)/2);
		}
		span::before {
			border-top-left-radius: 3px;
			left: calc(50% - (var(--t) + 3px)/2);
		}
		&.inline {
			margin-top: var(--p);
			&::before {
				top: calc(var(--p)/-2);
			}
			span::before {
				top: calc((var(--p) + 3px)/-2);
			}
		}
		&:not(.inline) {
			&::before {
				top: calc(100% + var(--p)/3*2 - var(--t)/2);
			}
			&::after {
				top: calc(100% + var(--p)/3*2);
				left: 50%;
				translate: -50% 0;
			}
		}
	}
	&-right {
		&::before {
			border-bottom-left-radius: 2px;
			top: calc(50% - var(--t)/2);
			left: calc(100% + var(--p)/3*2);
		}
		&::after {
			left: calc(100% + var(--p)/3*2 + var(--t)/2);
		}
	}
	&.monospace {
		&::after {
			font-family: var(--font-mono);
			@include font-weight-width(700, 100);
		}
	}
	&.inline {
		&::after {
			position: relative;
		}
	}
	&.dark {
		&::before, &::after {
			@include theme(light, 2) {
				background-color: var(--color-primary);
			}
			@include theme(dark, 2) {
				background-color: gHSL(iron, .55);
			}
		}
		&::after {
			color: white;
		}
	}
	&:not(.dark) {
		&::before, &::after {
			@include contrast(light, 2) {
				background-color: white;
			}
			@include contrast(dark, 2) {
				background-color: gHSL(iron, .75);
			}
		}
	}
}