@use 'sass:math';

main {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: $p calc(#{$p*2} + env(safe-area-inset-left));
	width: 100%;
	@include max {
		padding: $p max(#{$p*2}, env(safe-area-inset-left));
	}
}

h1 {
	font-size: 48px;
	font-style: italic;
	font-weight: bold;
	margin-bottom: $p;
}

h2 {
	font-size: 32px;
	margin-bottom: $p*.5;
}

section {
	@include border-radius($p*.5);
	margin-bottom: $p*2;
	padding: $p $p*2;
	background-color: #f1f1f1;
	@include dark {
		background-color: rgba(white, .1);
	}
	a {
		will-change: transform, background-color, color;
		transition: .1s ease-out;
		display: inline-block;
		margin-bottom: $p*.5;
		background-color: mix($iron, white, 80%);
		color: white;
		border-radius: math.div($p, 6);
		padding: math.div($p, 3) $p*.5;
		&:focus {
			@include focus-round;
		}
		&:hover, &:focus {
			background-color: mix($iron, white, 50%);
		}
		@include dark {
			background-color: rgba(white, .8);
			color: $iron;
			&:hover, &:focus {
				background-color: white;
			}
		}
		&:active {
			transform: scale(0.95);
			background-color: $pink;
		}
	}
}

.about-timeline {
	ol {
		position: relative;
		list-style: none;
		padding-left: $p*2;
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 2px;
			height: 100%;
			background-color: $iron;
			border-radius: 2px;
			@include dark {
				background-color: darken($iron, 10%);
			}
		}
	}
	li {
		margin-bottom: $p;
	}
	h3 {
		position: relative;
		font-size: 24px;
		margin-bottom: $p*.5;
		&:before, &:after {
			content: "";
			display: block;
			position: absolute;
			background-color: $iron;
			@include dark {
				background-color: darken($iron, 10%);
			}
		}
		&:before {
			top: calc(50% + 2px);
			left: -$p*2;
			width: ($p*2) - 4px;
			height: 2px;
			border-radius: 2px;
		}
		&:after {
			top: calc(50% + 2px - 3px);
			left: -$p*2 - 3px;
			width: 8px;
			height: 8px;
			border-radius: 8px;
		}
	}
	p {
		font-size: 18px;
		line-height: 1.3;
		margin-bottom: $p*.5;
	}
}

.about-credits {
	ul {
		list-style: none;
		font-size: 18px;
	}
	li {
		display: inline;
		line-height: 1.3;
		&:not(:last-child) {
			&:after {
				content: "\00B7";
				display: inline-block;
				margin-left: $p*.5;
				margin-right: $p*.5;
			}
		}
	}
}