header {
	.go-home {
		display: none;
	}
}

.cursor {
	&:after {
		content: "_";
		will-change: opacity;
		animation: blink 1s cubic-bezier(1,0,0,1) infinite forwards;
		display: inline-block;
	}
}
@keyframes blink {
	from { opacity: 1 } to { opacity: 0 }
}

.grid-item {
	padding: $p $p*1.5;
	font-size: 32px;
	&-intro {
		background: lighten($pink, 5%);
		color: $iron;
		h1 {
			span {
				display: inline-block;
				font-weight: bold;
				font-style: italic;
			}
		}
		.apple {
			display: inline-block;
			svg {
				position: relative;
				top: 2px;
				width: 30px;
				height: 30px;
			}
		}
	}
	&-code {
		@import '../colors/thumbnails';
		padding: 0;
		font-family: $mono;
		font-size: 16px;
		font-weight: bold;
		background: #fafafa;
		color: #39adb5;
		h2 {
			padding: $p $p*1.5;
		}
		p {
			padding: 0 $p*1.5 $p;
			font-size: 24px;
		}
		ul + p {
			padding-top: $p;
		}
		.css {
			color: #ffb62c;
		}
		.animation {
			color: #7c4dff;
		}
		ul {
			display: grid;
			list-style: none;
			padding: 0 $p $p;
			grid-gap: $p;
			&.regular {
				grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
			}
			&.ui {
				grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
				a {
					.overlay {
						flex-direction: column;
						font-size: 20px;
						span {
							&:first-child {
								font-size: 12px;
								font-weight: bold;
								font-style: normal;
							}
						}
					}
				}
			}
			a {
				will-change: transform;
				transition: .2s ease-out;
				border-radius: $p/2;
				&, svg {
					display: block;
				}
				.inside {
					display: block;
					position: relative;
					border-radius: $p/2;
					clip-path: inset(0 0 0 0 round $p/2 $p/2 $p/2 $p/2);
					-webkit-clip-path: inset(0 0 0 0 round $p/2 $p/2 $p/2 $p/2);
					&:before, &:after {
						display: block;
						position: absolute;
						z-index: 0;
						bottom: 0;
						padding: $p/2 $p*.75;
						background: rgba(white, .9);
						font-family: $faune;
						font-size: 12px;
						font-weight: bold;
						text-transform: uppercase;
						@supports (-webkit-backdrop-filter: blur(5px)) {
							background: rgba(white, .8);
							-webkit-backdrop-filter: blur(5px);
							backdrop-filter: blur(5px);
						}
					}
					&:before {
						left: 0;
						border-top-right-radius: $p/2;
					}
					&:after {
						right: 0;
						border-top-left-radius: $p/2;
					}
				}
				&.award {
					.inside:before {
						content: "Award";
					}
				}
				&.css-only {
					.inside::after {
						content: "CSS-only";
					}
				}
				&.dark {
					.overlay {
						color: $iron;
					}
				}
				.overlay {
					opacity: 0;
					will-change: opacity;
					transition: .2s ease-out;
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					padding: $p $p*1.5;
					font-family: $faune;
					font-size: 24px;
					font-weight: normal;
					font-style: italic;
					text-align: center;
					color: white;
					@supports (-webkit-backdrop-filter: blur(5px)) {
						-webkit-backdrop-filter: blur(5px);
						backdrop-filter: blur(5px);
					}
				}
				&:hover, &:focus {
					.overlay {
						opacity: 1;
					}
				}
				&:focus {
					box-shadow: 0 0 0 $p/4 #5E9ED6;
				}
				&:active {
					transform: scale(0.95);
				}
			}
		}
		@media (prefers-color-scheme: dark) {
			background: darken(#1e282c, 2%);
			color: #73d1c8;
			.css {
				color: #ffcb6b;
			}
			.animation {
				color: #c792ea;
			}
		}
	}
	&-links {
		@import '../colors/links';
		background: #fafafa;
		font-size: 28px;
		a {
			will-change: transform;
			transition: .1s ease-out;
			display: inline-block;
			font-size: 40px;
			font-style: italic;
			font-weight: bold;
			&:not(:last-child) {
				margin-right: $p;
			}
			&:hover, &:focus {
				color: $iron;
				transform: scale(1.05);
			}
			&:focus {
				text-decoration: underline;
				-webkit-text-decoration-skip: edges;
				text-decoration-skip: edges;
				text-decoration-style: wavy;
			}
			&:active {
				transform: scale(0.95);
			}
		}
		p:not(:last-child) {
			padding-bottom: $p;
		}
		@media (prefers-color-scheme: dark) {
			background: darken($iron, 2%);
			color: white;
			a {
				&:hover, &:focus {
					color: white;
				}
			}
		}
	}
	&-photography {
		padding: 0;
		background: #8f9eb8;
		color: #121f2b;
		h2 {
			padding: $p $p*1.5;
		}
		ul {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			list-style: none;
			padding: 0 $p $p;
			grid-gap: $p;
			li {
				picture {
					&, img {
						display: block;
						width: 100%;
						border-radius: $p/2;
					}
				}
				div {
					position: relative;
					svg {
						display: block;
					}
					span {
						display: flex;
						align-items: center;
						justify-content: center;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
					a {
						will-change: transform;
						transition: .1s ease-out;
						display: inline-block;
						font-style: italic;
						font-weight: bold;
						color: #121f2b;
						&:hover, &:focus {
							transform: scale(1.05);
							color: white;
						}
						&:focus {
							text-decoration: underline;
							text-decoration-color: #121f2b;
							-webkit-text-decoration-skip: edges;
							text-decoration-skip: edges;
							text-decoration-style: wavy;
						}
						&:active {
							transform: scale(0.95);
						}
					}
				}
			}
		}
	}
	&-plants {
		background: #d1e7d6;
		color: #272f29;
		span {
			font-style: italic;
			font-weight: bold;
		}
	}
	&-more {
		background: $mauve;
		color: white;
		text-align: center;
		h2 {
			font-style: italic;
			font-weight: bold;
		}
	}
}

