header {
	.logo {
		pointer-events: none;
	}
	.go-home {
		display: none;
	}
}

.cursor {
	&:after {
		content: "_";
		will-change: opacity;
		animation: blink 1s cubic-bezier(1,0,0,1) infinite forwards;
		display: inline-block;
		@media (prefers-reduced-motion) {
			content: unset;
			display: unset;
			animation: unset;
		}
	}
}
@keyframes blink {
	from { opacity: 1 } to { opacity: 0 }
}

.grid-item {
	font-size: 28px;
	@include viewport($ipad-mini) {
		font-size: 32px;
	}
	&.text-only {
		padding: var(--p) calc((var(--p)*1.5) + env(safe-area-inset-left));
		@include max {
	 		padding: var(--p) max(calc(var(--p)*1.5), env(safe-area-inset-left));
	 	}
	}
	&.grid-only {
		h2 {
			padding: var(--p) max(calc(var(--p)*1.5) + env(safe-area-inset-left));
			@include max {
				padding: var(--p) max(calc(var(--p)*1.5), env(safe-area-inset-left));
			}
		}
	}
	.more {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: calc(var(--p)/2) var(--p) var(--p);
		background-color: rgba(black, .5);
		font-size: 24px;
		font-style: italic;
		font-weight: bold;
		text-align: center;
		text-transform: lowercase;
		text-underline-offset: 4px;
		@include viewport($ipad-11) {
			font-size: 28px;
		}
		&:hover, &:focus {
			color: white;
			span {
				transform: scale(1.05);
			}
		}
		&:focus {
			@include wavy;
		}
		&:active {
			span {
				transform: scale(.95);
			}
		}
		span {
			will-change: transform;
			transition: .1s ease-out;
			display: block;
		}
	}
}

@import '../pages/home/intro';
@import '../pages/home/links';
@import '../pages/home/code';
@import '../pages/home/visual';
@import '../pages/home/writing';
@import '../pages/home/plants';
@import '../pages/home/gaming';