section + .uguru-carousel {
	margin-top: -#{$p*2.5};
}
.uguru-carousel + section .spacer:first-child {
	height: $p;
}
.uguru-carousel {
	width: 100%;
	.uguru-carousel-item {
		width: 50%;
		@media only screen and (min-width: 768px) {
			width: 25%;
		}
	}
}
