.uguru-profile-research {
	align-content: stretch;
	align-items: stretch;
	.fluidbox__overlay {
		background: $light-slate;
	}
	li {
		padding: $p/2;
		width: 100%;
		a {
			display: block;
			width: 100%;
			&.button {
				cursor: e-resize;
				display: block;
				width: auto;
				margin-left: $p;
				padding: $p/2 $p;
				border-radius: 2px;
				color: white;
				font-size: 16px;
				font-weight: 600;
			}
		}
		img {
			display: block;
			width: 100%;
			border-radius: 2px;
		}
	}
	@media only screen and (min-width: 768px) {
		li {
			&:last-child, &:nth-last-child(2) {
				width: 50%;
			}
		}
	}
	h2 {
		display: flex;
		align-items: center;
		align-content: center;
		padding: $p/2 0;
		line-height: 1.2;
		font-size: 24px;
		font-weight: 600;
	}
	&.academic {
		h3 {
			color: $cerise;
		}
		.button {
			background: $cerise;
			&:hover, &:focus {
				background: mix($cerise, white);
				color: mix($cerise, $slate);
			}
			&:active {
				background: mix($cerise, $slate);
				color: white;
			}
		}
	}
	&.baking {
		h3 {
			color: $gold;
		}
		.button {
			background: $gold;
			&:hover, &:focus {
				background: mix($gold, white);
				color: mix($gold, $slate);
			}
			&:active {
				background: mix($gold, $slate);
				color: white;
			}
		}
	}
	&.photography {
		h3 {
			color: $moola;
		}
		.button {
			background: $moola;
			&:hover, &:focus {
				background: mix($moola, white);
				color: mix($moola, $slate);
			}
			&:active {
				background: mix($moola, $slate);
				color: white;
			}
		}
	}
	&.tech {
		h3 {
			color: $azure;
		}
		.button {
			background: $azure;
			&:hover, &:focus {
				background: mix($azure, white);
				color: mix($azure, $slate);
			}
			&:active {
				background: mix($azure, $slate);
				color: white;
			}
		}
	}
	&.household {
		h3 {
			color: $cobalt;
		}
		.button {
			background: mix($cobalt, $slate, 75%);
			&:hover, &:focus {
				background: mix($cobalt, white);
				color: mix($cobalt, $slate);
			}
			&:active {
				background: mix($cobalt, $slate);
				color: white;
			}
		}
	}
}
.uguru-persona-quote {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	width: 100%;
	.user-icon-48 {
		border-width: 2px;
	}
	h1 {
		position: relative;
		padding: $p;
		background: $charcoal;
		border-radius: 2px;
		margin-left: $p*2;
		max-width: calc(100% - 72px);
		font-size: 18px;
		font-weight: 600;
		line-height: 1.3;
		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			top: 50%;
			margin-top: -$p;
			left: -$p*2;
			border: $p solid transparent;
			border-right-color: $charcoal;
		}
	}
}
.uguru-profile-section {
	div {
		background: $charcoal;
		border-radius: 2px;
		overflow: hidden;
	}
	header {
		display: flex;
		align-items: stretch;
		align-content: stretch;
		img {
			display: block;
			width: 20%;
		}
		span {
			display: flex;
			align-items: center;
			align-content: center;
			width: 80%;
			padding: $p;
			font-size: 18px;
			font-weight: 600;
			line-height: 1.3;
		}
	}
	h3 {
		padding: $p/2 $p 0;
		font-size: 20px;
		font-weight: 600;
		&:first-child {
			padding-top: $p;
		}
	}
	p {
		padding: $p/2 $p;
		line-height: 1.3;
		font-size: 16px!important;
		&:first-child {
			padding-top: $p;
		}
		&:last-child {
			padding-bottom: $p;
		}
		a {
			color: mix($shamrock, white);
			&:hover, &:focus {
				color: mix($lake, white);
			}
			&:active {
				color: mix($moxie, white);
			}
		}
	}
	&.thought-process {
		p {
			font-size: 18px!important;
		}
	}
}
