---
title: iOS 12 Dark Mode Notifications
description: iOS 12 Dark Mode Notifications
date: 2018-06-04

permalink: /code/dark-mode/
uri: MXyKLW

layout: layouts/base.njk
tags: posts
category: code

blank: true
style: code/dark-mode
hidden: true

height: 600px
---

<div class='before'></div>
<div class='after'></div>
<ul id='one'>
	<li class='one'>
		<div class='container'>
			<div class='notification'>
				<span class='before'></span>
				<span class='after'></span>
				<header>
					<h2>Messages</h2>
					<span class='timestamp'>Now</span>
				</header>
				<div class='content'>
					<span class='sender'>Gabrielle Wee</span>
					<span class='message'>Check it out! ✨</span>
					<span class='more'>2 more messages from Gabrielle</span>
				</div>
			</div>
		</div>
	</li>
	<li class='two'>
		<div class='container'>
			<div class='notification'>
				<span class='before'></span>
				<span class='after'></span>
			</div>
		</div>
	</li>
	<li class='three'>
		<div class='container'>
			<div class='notification'>
				<span class='before'></span>
				<span class='after'></span>
			</div>
		</div>
	</li>
</ul>
<ul id='two'>
	<li class='one'>
		<div class='container'>
			<div class='notification'>
				<span class='before'></span>
				<span class='after'></span>
				<header>
					<h2>Calendar</h2>
					<span class='timestamp'>1h ago</span>
				</header>
				<div class='content'>
					<span class='event'>WWDC 2018</span>
					<span class='date'>June 4, 2018 at 10:00 AM</span>
					<span class='more'>2 more invitations</span>
				</div>
			</div>
		</div>
	</li>
	<li class='two'>
		<div class='container'>
			<div class='notification'>
				<span class='before'></span>
				<span class='after'></span>
			</div>
		</div>
	</li>
	<li class='three'>
		<div class='container'>
			<div class='notification'>
				<span class='before'></span>
				<span class='after'></span>
			</div>
		</div>
	</li>
</ul>
<ul id='three'>
	<li class='one'>
		<div class='container'>
			<div class='notification'>
				<span class='before'></span>
				<span class='after'></span>
				<header>
					<h2>Twitter</h2>
					<span class='timestamp'>2h ago</span>
				</header>
				<div class='content'>
					<span class='user'>Gabrielle Wee</span>
					<span class='message'>Dark Mode for iOS would be so cool!</span>
					<span class='more'>2 more notifications</span>
				</div>
			</div>
		</div>
	</li>
	<li class='two'>
		<div class='container'>
			<div class='notification'>
				<span class='before'></span>
				<span class='after'></span>
			</div>
		</div>
	</li>
	<li class='three'>
		<div class='container'>
			<div class='notification'>
				<span class='before'></span>
				<span class='after'></span>
			</div>
		</div>
	</li>
</ul>

<script src="https://unpkg.com/imagesloaded@4.1.4/imagesloaded.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>

<script>
	const main = document.querySelector("main");
	const elems = document.querySelectorAll(".notification");

	const getTop = el => {
		const before = el.querySelector(".before");
		const after = el.querySelector(".after");
		let viewportOffset = el.getBoundingClientRect();
		let elemTop = viewportOffset.top;
		before.style.top = "-" + elemTop + "px";
		after.style.top = "-" + elemTop + "px";
	}

	const lightToDark = () => {
		const tl = new TimelineMax();
		console.log(tl);
		const groups = ["#one", "#two", "#three"];
		tl
			.set(".before", {opacity:0})
			.set(groups, {opacity:0,y:60})
			.to(main, 0.5, {opacity:1})
			.staggerTo(groups, 0.5, {opacity:1,ease:Power3.easeOut}, 0.2)
			.staggerTo(groups, 1, {y:0,ease:Power3.easeOut}, 0.2, '-=1')
			.to(".before", 2, {opacity:1})
			.to(".after", 2, {opacity:0}, '-=1')
			.to(".notification", 0.25, {color:"#1b1e29"}, '-=3')
			.to(".notification", 1.75, {color:"white"}, '-=2.75')
			.to(".one .notification", 1, {backgroundColor:"rgba(17,19,26,0.6)"}, '-=3')
			.to(".one .notification", 1, {backgroundColor:"rgba(0,0,0,0.5)"}, '-=2.5')
			.to(".two .notification", 1, {backgroundColor:"rgba(17,19,26,0.5)"}, '-=3')
			.to(".two .notification", 1, {backgroundColor:"rgba(0,0,0,0.4)"}, '-=2.5')
			.to(".three .notification", 1, {backgroundColor:"rgba(17,19,26,0.4)"}, '-=3')
			.to(".three .notification", 1, {backgroundColor:"rgba(0,0,0,0.3)"}, '-=2.5')
		;
	}

	imagesLoaded(main, {background:true}, () => {
		elems.forEach(el => {
			getTop(el);
			window.addEventListener("resize", function() {
				setTimeout(() => {
					getTop(el);
				}, 250);
			});
		});
		window.requestAnimationFrame(lightToDark);
	});
</script>