---
title: Monument Valley 2 Doortem
description: Monument Valley 2 Doortem
date: 2017-06-06

uri: PjwgMq
background: "linear-gradient(to bottom, #2c4a87 0%, #1f2e4c 100%)"

type: [css-only]
filters: [css-only, animation, gaming]

height: 600
size: xs
button: replay animation
---

<div class='totem'>
	<div>
		<div>
			<div></div>
			<div></div>
		</div>
		<div>
			<div></div>
			<div></div>
		</div>
		<div>
			<div></div>
			<div></div>
		</div>
	</div>
	<div>
		<div>
			<div></div>
			<div></div>
		</div>
		<div>
			<div></div>
			<div></div>
		</div>
		<div>
			<div></div>
			<div></div>
		</div>
	</div>
	<div>
		<div>
			<div></div>
			<div></div>
		</div>
		<div>
			<div></div>
			<div></div>
		</div>
		<div>
			<div></div>
			<div></div>
		</div>
	</div>
	<svg class='clip' height='0' width='0'>
		<defs>
			<clippath clipPathUnits='objectBoundingBox' id='clip'>
				<path d='M0,0 L1,0 C1,0.388986133 1,0.5556528 1,0.5 C1,0.223857625 0.776142375,0 0.5,0 C0.223857625,0 0,0.223857625 0,0.5 C0,0.684094917 0,0.51742825 0,0 Z'></path>
			</clippath>
		</defs>
	</svg>
</div>