---
title: Monument Valley Inspired Totem
description: Monument Valley Inspired Totem
date: 2017-06-19

uri: jwBZyY
background: "linear-gradient(to bottom, #ff7c8e 0%, #ff91ba 100%)"

type: [css-only]
filters: [css-only, animation, gaming]

height: 600
size: xs
button: replay animation
---

<div class='totem'>
<div>
	<div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
	</div>
</div>
<div>
	<div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
	</div>
</div>
<div>
	<div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
	</div>
</div>
<div>
	<div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
	</div>
</div>
<svg class='clip' height='0' width='0'>
	<defs>
		<clippath clipPathUnits='objectBoundingBox' id='clip'>
			<path d='M0,0 L1,0 L1,1 L0,1 L0,0 Z M0.5,0.875 C0.707106781,0.875 0.875,0.707106781 0.875,0.5 C0.875,0.292893219 0.707106781,0.125 0.5,0.125 C0.292893219,0.125 0.125,0.292893219 0.125,0.5 C0.125,0.707106781 0.292893219,0.875 0.5,0.875 Z'></path>
		</clippath>
	</defs>
</svg>
</div>