---
title: Instagram.exe
description: Instagram.exe
date: 2018-02-17

permalink: /code/{{ fileSlugy }}/
uri: qxprPw

layout: layouts/base.njk
tags: entries
category: code
type: [css-only]

blank: true
style: code/css/instagram-exe
hidden: true

height: 700
size: m
button: reload content
---

<div class="inner">
	<header class="bar">
		<h1>Instagram.exe</h1>
		<div class="buttons">
		<a class="minimize"></a>
		<a class="maximize"></a>
		<a class="close"></a>
		</div>
	</header>
	<nav class="menu">
		<ul>
		<li>
			<a href="https://codepen.io/" target="_blank">Codepen</a>
		</li>
		<li>
			<a href="https://codepen.io/louh/pen/oZJQvm" target="_blank">Scrollbars</a>
		</li>
		<li>
			<a href="https://dribbble.com/shots/2872044-Instagram-For-Windows-95" target="_blank">Inspiration</a>
		</li>
		</ul>
	</nav>
	<div class="container">
		<input checked="true" class="menu-input" id="input-home" name="menu" type="radio">
		<label class="menu-label" for="input-home">Home</label>
		<input class="menu-input" disabled="true" id="input-explore" name="menu" type="radio">
		<label class="menu-label" for="input-explore">Explore</label>
		<input class="menu-input" disabled="true" id="input-camera" name="menu" type="radio">
		<label class="menu-label" for="input-camera">Camera</label>
		<input class="menu-input" disabled="true" id="input-activity" name="menu" type="radio">
		<label class="menu-label" for="input-activity">Activity</label>
		<input class="menu-input" id="input-profile" name="menu" type="radio">
		<label class="menu-label" for="input-profile">Profile</label>
		<div class="content">
		<div class="content-section home">
			<div class="feed">
			<div class="feed-type" id="home">
				<figure>
				<header>
					<a class="avatar" href="http://instagram.com/gabriellewee">
					<img src="/static/images/avatars/turtleneck@2x.jpg">
					</a>
					<a href="http://instagram.com/gabriellewee">gabriellewee</a>
				</header>
				<img src="/static/code/images/instagram/1.jpeg" alt="💜">
				<figcaption>
					<div>
					<button>Like</button>
					<button>Comment</button>
					<button>Share</button>
					</div>
					<div>
					<button>Bookmark</button>
					</div>
					<div class="likes">Liked by <span>72</span> people </div>
					<div class="caption">
					<a href="http://instagram.com/gabriellewee" target="_blank">gabriellewee</a>
					<span>💜</span>
					</div>
					<div class="view-all comment-12">
					<a href="https://www.instagram.com/p/CjT8CywpVc6/" target="_blank">View <span>12</span> comment </a>
					</div>
					<time class="stamp" data-time="2022-10-05T00:14:30+0000">3 months ago</time>
				</figcaption>
				</figure>
				<figure>
				<header>
					<a class="avatar" href="http://instagram.com/gabriellewee">
					<img src="/static/images/avatars/turtleneck@2x.jpg">
					</a>
					<a href="http://instagram.com/gabriellewee">gabriellewee</a>
				</header>
				<img src="/static/code/images/instagram/2.jpeg" alt="New #keycaps from @cantoclicks 🤍 #cozydesksetup #keycap #artisankeycaps #pastelkeycaps #mechanicalkeyboard">
				<figcaption>
					<div>
					<button>Like</button>
					<button>Comment</button>
					<button>Share</button>
					</div>
					<div>
					<button>Bookmark</button>
					</div>
					<div class="likes">Liked by <span>72</span> people </div>
					<div class="caption">
					<a href="http://instagram.com/gabriellewee" target="_blank">gabriellewee</a>
					<span>New #keycaps from @cantoclicks 🤍 #cozydesksetup #keycap #artisankeycaps #pastelkeycaps #mechanicalkeyboard</span>
					</div>
					<div class="view-all comment-12">
					<a href="https://www.instagram.com/reel/Cis_W0EAXs8/" target="_blank">View <span>12</span> comment </a>
					</div>
					<time class="stamp" data-time="2022-09-19T21:13:55+0000">4 months ago</time>
				</figcaption>
				</figure>
				<figure>
				<header>
					<a class="avatar" href="http://instagram.com/gabriellewee">
					<img src="/static/images/avatars/turtleneck@2x.jpg">
					</a>
					<a href="http://instagram.com/gabriellewee">gabriellewee</a>
				</header>
				<img src="/static/code/images/instagram/3.jpeg" alt="Grateful for another incredible birthday with incredible people 💞 I just wish I had more photos!">
				<figcaption>
					<div>
					<button>Like</button>
					<button>Comment</button>
					<button>Share</button>
					</div>
					<div>
					<button>Bookmark</button>
					</div>
					<div class="likes">Liked by <span>72</span> people </div>
					<div class="caption">
					<a href="http://instagram.com/gabriellewee" target="_blank">gabriellewee</a>
					<span>Grateful for another incredible birthday with incredible people 💞 I just wish I had more photos!</span>
					</div>
					<div class="view-all comment-12">
					<a href="https://www.instagram.com/p/Ch9E4dkuPWN/" target="_blank">View <span>12</span> comment </a>
					</div>
					<time class="stamp" data-time="2022-09-01T06:37:49+0000">5 months ago</time>
				</figcaption>
				</figure>
				<figure>
				<header>
					<a class="avatar" href="http://instagram.com/gabriellewee">
					<img src="/static/images/avatars/turtleneck@2x.jpg">
					</a>
					<a href="http://instagram.com/gabriellewee">gabriellewee</a>
				</header>
				<img src="/static/code/images/instagram/4.jpeg" alt="The spread from my sister’s birthday tea party yesterday 🎂">
				<figcaption>
					<div>
					<button>Like</button>
					<button>Comment</button>
					<button>Share</button>
					</div>
					<div>
					<button>Bookmark</button>
					</div>
					<div class="likes">Liked by <span>72</span> people </div>
					<div class="caption">
					<a href="http://instagram.com/gabriellewee" target="_blank">gabriellewee</a>
					<span>The spread from my sister’s birthday tea party yesterday 🎂</span>
					</div>
					<div class="view-all comment-12">
					<a href="https://www.instagram.com/p/ChQLghePxwo/" target="_blank">View <span>12</span> comment </a>
					</div>
					<time class="stamp" data-time="2022-08-14T20:09:53+0000">5 months ago</time>
				</figcaption>
				</figure>
				<figure>
				<header>
					<a class="avatar" href="http://instagram.com/gabriellewee">
					<img src="/static/images/avatars/turtleneck@2x.jpg">
					</a>
					<a href="http://instagram.com/gabriellewee">gabriellewee</a>
				</header>
				<img src="/static/code/images/instagram/5.jpeg" alt="7 year friend anniversary with @jeselle.gif - here’s to plenty more years of going down Lombard and other shenanigans ✨">
				<figcaption>
					<div>
					<button>Like</button>
					<button>Comment</button>
					<button>Share</button>
					</div>
					<div>
					<button>Bookmark</button>
					</div>
					<div class="likes">Liked by <span>72</span> people </div>
					<div class="caption">
					<a href="http://instagram.com/gabriellewee" target="_blank">gabriellewee</a>
					<span>7 year friend anniversary with @jeselle.gif - here’s to plenty more years of going down Lombard and other shenanigans ✨</span>
					</div>
					<div class="view-all comment-12">
					<a href="https://www.instagram.com/p/CguWw7PpXgq/" target="_blank">View <span>12</span> comment </a>
					</div>
					<time class="stamp" data-time="2022-08-01T16:54:04+0000">5 months ago</time>
				</figcaption>
				</figure>
				<figure>
				<header>
					<a class="avatar" href="http://instagram.com/gabriellewee">
					<img src="/static/images/avatars/turtleneck@2x.jpg">
					</a>
					<a href="http://instagram.com/gabriellewee">gabriellewee</a>
				</header>
				<img src="/static/code/images/instagram/6.jpeg" alt="I don’t think I’ve ever been so happy to pick up plants 🪴 The @sforchidsociety show was so much fun! 📸 @haydenthewu">
				<figcaption>
					<div>
					<button>Like</button>
					<button>Comment</button>
					<button>Share</button>
					</div>
					<div>
					<button>Bookmark</button>
					</div>
					<div class="likes">Liked by <span>72</span> people </div>
					<div class="caption">
					<a href="http://instagram.com/gabriellewee" target="_blank">gabriellewee</a>
					<span>I don’t think I’ve ever been so happy to pick up plants 🪴 The @sforchidsociety show was so much fun! 📸 @haydenthewu</span>
					</div>
					<div class="view-all comment-12">
					<a href="https://www.instagram.com/p/CgtCStnuxJF/" target="_blank">View <span>12</span> comment </a>
					</div>
					<time class="stamp" data-time="2022-08-01T04:35:56+0000">6 months ago</time>
				</figcaption>
				</figure>
				<figure>
				<header>
					<a class="avatar" href="http://instagram.com/gabriellewee">
					<img src="/static/images/avatars/turtleneck@2x.jpg">
					</a>
					<a href="http://instagram.com/gabriellewee">gabriellewee</a>
				</header>
				<img src="/static/code/images/instagram/7.jpeg" alt="Listened to @purityring for the first time ten years ago and finally got to see them today 🤍 Had a blast with @jeselle.gif @dr.wily_ @devil.baby666 @pizzamiles">
				<figcaption>
					<div>
					<button>Like</button>
					<button>Comment</button>
					<button>Share</button>
					</div>
					<div>
					<button>Bookmark</button>
					</div>
					<div class="likes">Liked by <span>72</span> people </div>
					<div class="caption">
					<a href="http://instagram.com/gabriellewee" target="_blank">gabriellewee</a>
					<span>Listened to @purityring for the first time ten years ago and finally got to see them today 🤍 Had a blast with @jeselle.gif @dr.wily_ @devil.baby666 @pizzamiles</span>
					</div>
					<div class="view-all comment-12">
					<a href="https://www.instagram.com/p/CgbTkGUunMq/" target="_blank">View <span>12</span> comment </a>
					</div>
					<time class="stamp" data-time="2022-07-25T07:20:32+0000">6 months ago</time>
				</figcaption>
				</figure>
				<figure>
				<header>
					<a class="avatar" href="http://instagram.com/gabriellewee">
					<img src="/static/images/avatars/turtleneck@2x.jpg">
					</a>
					<a href="http://instagram.com/gabriellewee">gabriellewee</a>
				</header>
				<img src="/static/code/images/instagram/8.jpeg" alt="🎵 And there’s nowhere in the world I’d rather be 🎵 Saw the Music of Selena tonight at the @sfsymphony and had a blast! 📸 @jeselle.gif">
				<figcaption>
					<div>
					<button>Like</button>
					<button>Comment</button>
					<button>Share</button>
					</div>
					<div>
					<button>Bookmark</button>
					</div>
					<div class="likes">Liked by <span>72</span> people </div>
					<div class="caption">
					<a href="http://instagram.com/gabriellewee" target="_blank">gabriellewee</a>
					<span>🎵 And there’s nowhere in the world I’d rather be 🎵 Saw the Music of Selena tonight at the @sfsymphony and had a blast! 📸 @jeselle.gif</span>
					</div>
					<div class="view-all comment-12">
					<a href="https://www.instagram.com/p/Cf0ebSYuhMN/" target="_blank">View <span>12</span> comment </a>
					</div>
					<time class="stamp" data-time="2022-07-10T05:25:04+0000">6 months ago</time>
				</figcaption>
				</figure>
				<figure>
				<header>
					<a class="avatar" href="http://instagram.com/gabriellewee">
					<img src="/static/images/avatars/turtleneck@2x.jpg">
					</a>
					<a href="http://instagram.com/gabriellewee">gabriellewee</a>
				</header>
				<img src="/static/code/images/instagram/9.jpeg" alt="How have I gone my entire life without ergonomic mice 🤷🏻‍♀️ 🐁 #logitechlift #logitech #ergonomic">
				<figcaption>
					<div>
					<button>Like</button>
					<button>Comment</button>
					<button>Share</button>
					</div>
					<div>
					<button>Bookmark</button>
					</div>
					<div class="likes">Liked by <span>72</span> people </div>
					<div class="caption">
					<a href="http://instagram.com/gabriellewee" target="_blank">gabriellewee</a>
					<span>How have I gone my entire life without ergonomic mice 🤷🏻‍♀️ 🐁 #logitechlift #logitech #ergonomic</span>
					</div>
					<div class="view-all comment-12">
					<a href="https://www.instagram.com/p/CfNHQddP8p3/" target="_blank">View <span>12</span> comment </a>
					</div>
					<time class="stamp" data-time="2022-06-24T22:32:14+0000">7 months ago</time>
				</figcaption>
				</figure>
				<figure>
				<header>
					<a class="avatar" href="http://instagram.com/gabriellewee">
					<img src="/static/images/avatars/turtleneck@2x.jpg">
					</a>
					<a href="http://instagram.com/gabriellewee">gabriellewee</a>
				</header>
				<img src="/static/code/images/instagram/10.jpeg" alt="My sister takes good photos of me 👯‍♀️">
				<figcaption>
					<div>
					<button>Like</button>
					<button>Comment</button>
					<button>Share</button>
					</div>
					<div>
					<button>Bookmark</button>
					</div>
					<div class="likes">Liked by <span>72</span> people </div>
					<div class="caption">
					<a href="http://instagram.com/gabriellewee" target="_blank">gabriellewee</a>
					<span>My sister takes good photos of me 👯‍♀️</span>
					</div>
					<div class="view-all comment-12">
					<a href="https://www.instagram.com/p/CfGHkLzO1SI/" target="_blank">View <span>12</span> comment </a>
					</div>
					<time class="stamp" data-time="2022-06-22T05:20:14+0000">7 months ago</time>
				</figcaption>
				</figure>
				<figure>
				<header>
					<a class="avatar" href="http://instagram.com/gabriellewee">
					<img src="/static/images/avatars/turtleneck@2x.jpg">
					</a>
					<a href="http://instagram.com/gabriellewee">gabriellewee</a>
				</header>
				<img src="/static/code/images/instagram/11.jpeg" alt="Finished #keyboard ⌨️ @kbdfans Tofu60/DZ64 ⌨️ @gateron.official Ink V2 Silent Black Linear ⌨️ @flashquarkkeys Pom Jelly ⌨️ #mechanicalkeyboard #customkeyboard #keycaps">
				<figcaption>
					<div>
					<button>Like</button>
					<button>Comment</button>
					<button>Share</button>
					</div>
					<div>
					<button>Bookmark</button>
					</div>
					<div class="likes">Liked by <span>72</span> people </div>
					<div class="caption">
					<a href="http://instagram.com/gabriellewee" target="_blank">gabriellewee</a>
					<span>Finished #keyboard ⌨️ @kbdfans Tofu60/DZ64 ⌨️ @gateron.official Ink V2 Silent Black Linear ⌨️ @flashquarkkeys Pom Jelly ⌨️ #mechanicalkeyboard #customkeyboard #keycaps</span>
					</div>
					<div class="view-all comment-12">
					<a href="https://www.instagram.com/p/Ce5AFb_LD0y/" target="_blank">View <span>12</span> comment </a>
					</div>
					<time class="stamp" data-time="2022-06-17T03:04:45+0000">7 months ago</time>
				</figcaption>
				</figure>
				<figure>
				<header>
					<a class="avatar" href="http://instagram.com/gabriellewee">
					<img src="/static/images/avatars/turtleneck@2x.jpg">
					</a>
					<a href="http://instagram.com/gabriellewee">gabriellewee</a>
				</header>
				<img src="/static/code/images/instagram/12.jpeg" alt="First custom keyboard build ⌨️ Missing a few white keys but working on getting them soon!">
				<figcaption>
					<div>
					<button>Like</button>
					<button>Comment</button>
					<button>Share</button>
					</div>
					<div>
					<button>Bookmark</button>
					</div>
					<div class="likes">Liked by <span>72</span> people </div>
					<div class="caption">
					<a href="http://instagram.com/gabriellewee" target="_blank">gabriellewee</a>
					<span>First custom keyboard build ⌨️ Missing a few white keys but working on getting them soon!</span>
					</div>
					<div class="view-all comment-12">
					<a href="https://www.instagram.com/p/CeaOGCJOdq2/" target="_blank">View <span>12</span> comment </a>
					</div>
					<time class="stamp" data-time="2022-06-05T04:10:42+0000">7 months ago</time>
				</figcaption>
				</figure>
				<figure>
				<header>
					<a class="avatar" href="http://instagram.com/gabriellewee">
					<img src="/static/images/avatars/turtleneck@2x.jpg">
					</a>
					<a href="http://instagram.com/gabriellewee">gabriellewee</a>
				</header>
				<img src="/static/code/images/instagram/13.jpeg" alt="🌼🌼🌼 📸: @haydenthewu @gabriellewee">
				<figcaption>
					<div>
					<button>Like</button>
					<button>Comment</button>
					<button>Share</button>
					</div>
					<div>
					<button>Bookmark</button>
					</div>
					<div class="likes">Liked by <span>72</span> people </div>
					<div class="caption">
					<a href="http://instagram.com/gabriellewee" target="_blank">gabriellewee</a>
					<span>🌼🌼🌼 📸: @haydenthewu @gabriellewee</span>
					</div>
					<div class="view-all comment-12">
					<a href="https://www.instagram.com/p/CeH4xybpN68/" target="_blank">View <span>12</span> comment </a>
					</div>
					<time class="stamp" data-time="2022-05-29T01:18:07+0000">8 months ago</time>
				</figcaption>
				</figure>
				<figure>
				<header>
					<a class="avatar" href="http://instagram.com/gabriellewee">
					<img src="/static/images/avatars/turtleneck@2x.jpg">
					</a>
					<a href="http://instagram.com/gabriellewee">gabriellewee</a>
				</header>
				<img src="/static/code/images/instagram/14.jpeg" alt="Great night out with @the_float_pack 🛴 📸: @haydenthewu">
				<figcaption>
					<div>
					<button>Like</button>
					<button>Comment</button>
					<button>Share</button>
					</div>
					<div>
					<button>Bookmark</button>
					</div>
					<div class="likes">Liked by <span>72</span> people </div>
					<div class="caption">
					<a href="http://instagram.com/gabriellewee" target="_blank">gabriellewee</a>
					<span>Great night out with @the_float_pack 🛴 📸: @haydenthewu</span>
					</div>
					<div class="view-all comment-12">
					<a href="https://www.instagram.com/p/CdhsLmMOZS_/" target="_blank">View <span>12</span> comment </a>
					</div>
					<time class="stamp" data-time="2022-05-14T05:16:54+0000">8 months ago</time>
				</figcaption>
				</figure>
				<figure>
				<header>
					<a class="avatar" href="http://instagram.com/gabriellewee">
					<img src="/static/images/avatars/turtleneck@2x.jpg">
					</a>
					<a href="http://instagram.com/gabriellewee">gabriellewee</a>
				</header>
				<img src="/static/code/images/instagram/15.jpeg" alt="💐">
				<figcaption>
					<div>
					<button>Like</button>
					<button>Comment</button>
					<button>Share</button>
					</div>
					<div>
					<button>Bookmark</button>
					</div>
					<div class="likes">Liked by <span>72</span> people </div>
					<div class="caption">
					<a href="http://instagram.com/gabriellewee" target="_blank">gabriellewee</a>
					<span>💐</span>
					</div>
					<div class="view-all comment-12">
					<a href="https://www.instagram.com/p/CdZZi6-pzlT/" target="_blank">View <span>12</span> comment </a>
					</div>
					<time class="stamp" data-time="2022-05-11T00:00:08+0000">8 months ago</time>
				</figcaption>
				</figure>
				<figure>
				<header>
					<a class="avatar" href="http://instagram.com/gabriellewee">
					<img src="/static/images/avatars/turtleneck@2x.jpg">
					</a>
					<a href="http://instagram.com/gabriellewee">gabriellewee</a>
				</header>
				<img src="/static/code/images/instagram/16.jpeg" alt="💇🏻‍♀️ ✨">
				<figcaption>
					<div>
					<button>Like</button>
					<button>Comment</button>
					<button>Share</button>
					</div>
					<div>
					<button>Bookmark</button>
					</div>
					<div class="likes">Liked by <span>72</span> people </div>
					<div class="caption">
					<a href="http://instagram.com/gabriellewee" target="_blank">gabriellewee</a>
					<span>💇🏻‍♀️ ✨</span>
					</div>
					<div class="view-all comment-12">
					<a href="https://www.instagram.com/p/CdNClxSOvS9/" target="_blank">View <span>12</span> comment </a>
					</div>
					<time class="stamp" data-time="2022-05-06T04:48:40+0000">8 months ago</time>
				</figcaption>
				</figure>
				<figure>
				<header>
					<a class="avatar" href="http://instagram.com/gabriellewee">
					<img src="/static/images/avatars/turtleneck@2x.jpg">
					</a>
					<a href="http://instagram.com/gabriellewee">gabriellewee</a>
				</header>
				<img src="/static/code/images/instagram/17.jpeg" alt="I challenged myself back in 2018 to make every single Pokémon Quest icon with CSS only on @codepen. I finally finished in 2022! Each icon is fully responsive and there's even a CSS-only navigation to sort by type.">
				<figcaption>
					<div>
					<button>Like</button>
					<button>Comment</button>
					<button>Share</button>
					</div>
					<div>
					<button>Bookmark</button>
					</div>
					<div class="likes">Liked by <span>72</span> people </div>
					<div class="caption">
					<a href="http://instagram.com/gabriellewee" target="_blank">gabriellewee</a>
					<span>I challenged myself back in 2018 to make every single Pokémon Quest icon with CSS only on @codepen. I finally finished in 2022! Each icon is fully responsive and there's even a CSS-only navigation to sort by type.</span>
					</div>
					<div class="view-all comment-12">
					<a href="https://www.instagram.com/tv/CdHGht_AjNw/" target="_blank">View <span>12</span> comment </a>
					</div>
					<time class="stamp" data-time="2022-05-03T21:28:36+0000">8 months ago</time>
				</figcaption>
				</figure>
				<figure>
				<header>
					<a class="avatar" href="http://instagram.com/gabriellewee">
					<img src="/static/images/avatars/turtleneck@2x.jpg">
					</a>
					<a href="http://instagram.com/gabriellewee">gabriellewee</a>
				</header>
				<img src="/static/code/images/instagram/18.jpeg" alt="Happy first birthday, Alfie! 🥳🥳🥳 Everybody loves you so much!">
				<figcaption>
					<div>
					<button>Like</button>
					<button>Comment</button>
					<button>Share</button>
					</div>
					<div>
					<button>Bookmark</button>
					</div>
					<div class="likes">Liked by <span>72</span> people </div>
					<div class="caption">
					<a href="http://instagram.com/gabriellewee" target="_blank">gabriellewee</a>
					<span>Happy first birthday, Alfie! 🥳🥳🥳 Everybody loves you so much!</span>
					</div>
					<div class="view-all comment-12">
					<a href="https://www.instagram.com/p/CdCGBv8voWh/" target="_blank">View <span>12</span> comment </a>
					</div>
					<time class="stamp" data-time="2022-05-01T22:47:03+0000">8 months ago</time>
				</figcaption>
				</figure>
				<figure>
				<header>
					<a class="avatar" href="http://instagram.com/gabriellewee">
					<img src="/static/images/avatars/turtleneck@2x.jpg">
					</a>
					<a href="http://instagram.com/gabriellewee">gabriellewee</a>
				</header>
				<img src="/static/code/images/instagram/19.jpeg" alt="I’ve been working on my work from home setup for the last year or so, and I think I’ve finally gotten it as close to perfect as possible. Just added the @grovemade x @maisyleigh desk pad which was the perfect color 💕">
				<figcaption>
					<div>
					<button>Like</button>
					<button>Comment</button>
					<button>Share</button>
					</div>
					<div>
					<button>Bookmark</button>
					</div>
					<div class="likes">Liked by <span>72</span> people </div>
					<div class="caption">
					<a href="http://instagram.com/gabriellewee" target="_blank">gabriellewee</a>
					<span>I’ve been working on my work from home setup for the last year or so, and I think I’ve finally gotten it as close to perfect as possible. Just added the @grovemade x @maisyleigh desk pad which was the perfect color 💕</span>
					</div>
					<div class="view-all comment-12">
					<a href="https://www.instagram.com/p/Cc4DuwDp9Kw/" target="_blank">View <span>12</span> comment </a>
					</div>
					<time class="stamp" data-time="2022-04-28T01:14:34+0000">9 months ago</time>
				</figcaption>
				</figure>
				<figure>
				<header>
					<a class="avatar" href="http://instagram.com/gabriellewee">
					<img src="/static/images/avatars/turtleneck@2x.jpg">
					</a>
					<a href="http://instagram.com/gabriellewee">gabriellewee</a>
				</header>
				<img src="/static/code/images/instagram/20.jpeg" alt="My website design from 2022 → 2005. It's so interesting to see how things have changed over the years. It's been over 17 years since I first taught myself how to code, and I'm still learning as I go!">
				<figcaption>
					<div>
					<button>Like</button>
					<button>Comment</button>
					<button>Share</button>
					</div>
					<div>
					<button>Bookmark</button>
					</div>
					<div class="likes">Liked by <span>72</span> people </div>
					<div class="caption">
					<a href="http://instagram.com/gabriellewee" target="_blank">gabriellewee</a>
					<span>My website design from 2022 → 2005. It's so interesting to see how things have changed over the years. It's been over 17 years since I first taught myself how to code, and I'm still learning as I go!</span>
					</div>
					<div class="view-all comment-12">
					<a href="https://www.instagram.com/p/CceSqQfpqug/" target="_blank">View <span>12</span> comment </a>
					</div>
					<time class="stamp" data-time="2022-04-18T01:04:47+0000">9 months ago</time>
				</figcaption>
				</figure>
				<figure>
				<header>
					<a class="avatar" href="http://instagram.com/gabriellewee">
					<img src="/static/images/avatars/turtleneck@2x.jpg">
					</a>
					<a href="http://instagram.com/gabriellewee">gabriellewee</a>
				</header>
				<img src="/static/code/images/instagram/21.jpeg" alt="The most perfectly packed sushi takeout. It was also delicious. 🍱">
				<figcaption>
					<div>
					<button>Like</button>
					<button>Comment</button>
					<button>Share</button>
					</div>
					<div>
					<button>Bookmark</button>
					</div>
					<div class="likes">Liked by <span>72</span> people </div>
					<div class="caption">
					<a href="http://instagram.com/gabriellewee" target="_blank">gabriellewee</a>
					<span>The most perfectly packed sushi takeout. It was also delicious. 🍱</span>
					</div>
					<div class="view-all comment-12">
					<a href="https://www.instagram.com/p/CcY_2TbPgZM/" target="_blank">View <span>12</span> comment </a>
					</div>
					<time class="stamp" data-time="2022-04-15T23:44:12+0000">9 months ago</time>
				</figcaption>
				</figure>
				<figure>
				<header>
					<a class="avatar" href="http://instagram.com/gabriellewee">
					<img src="/static/images/avatars/turtleneck@2x.jpg">
					</a>
					<a href="http://instagram.com/gabriellewee">gabriellewee</a>
				</header>
				<img src="/static/code/images/instagram/22.jpeg" alt="Still looking for the perfect place to hang this 🔆">
				<figcaption>
					<div>
					<button>Like</button>
					<button>Comment</button>
					<button>Share</button>
					</div>
					<div>
					<button>Bookmark</button>
					</div>
					<div class="likes">Liked by <span>72</span> people </div>
					<div class="caption">
					<a href="http://instagram.com/gabriellewee" target="_blank">gabriellewee</a>
					<span>Still looking for the perfect place to hang this 🔆</span>
					</div>
					<div class="view-all comment-12">
					<a href="https://www.instagram.com/p/Cb5nlxxvJ0V/" target="_blank">View <span>12</span> comment </a>
					</div>
					<time class="stamp" data-time="2022-04-03T19:15:46+0000">9 months ago</time>
				</figcaption>
				</figure>
				<figure>
				<header>
					<a class="avatar" href="http://instagram.com/gabriellewee">
					<img src="/static/images/avatars/turtleneck@2x.jpg">
					</a>
					<a href="http://instagram.com/gabriellewee">gabriellewee</a>
				</header>
				<img src="/static/code/images/instagram/23.jpeg" alt="Made this a while ago (literally years) but only now getting around to posting it ✨ #sailormoon">
				<figcaption>
					<div>
					<button>Like</button>
					<button>Comment</button>
					<button>Share</button>
					</div>
					<div>
					<button>Bookmark</button>
					</div>
					<div class="likes">Liked by <span>72</span> people </div>
					<div class="caption">
					<a href="http://instagram.com/gabriellewee" target="_blank">gabriellewee</a>
					<span>Made this a while ago (literally years) but only now getting around to posting it ✨ #sailormoon</span>
					</div>
					<div class="view-all comment-12">
					<a href="https://www.instagram.com/p/CbLbaFSPDh-/" target="_blank">View <span>12</span> comment </a>
					</div>
					<time class="stamp" data-time="2022-03-16T20:44:15+0000">10 months ago</time>
				</figcaption>
				</figure>
				<figure>
				<header>
					<a class="avatar" href="http://instagram.com/gabriellewee">
					<img src="/static/images/avatars/turtleneck@2x.jpg">
					</a>
					<a href="http://instagram.com/gabriellewee">gabriellewee</a>
				</header>
				<img src="/static/code/images/instagram/24.jpeg" alt="Putting artwork on my wall here for the first time, and @jawcooper’s beautiful “Fruition” is the first one up!">
				<figcaption>
					<div>
					<button>Like</button>
					<button>Comment</button>
					<button>Share</button>
					</div>
					<div>
					<button>Bookmark</button>
					</div>
					<div class="likes">Liked by <span>72</span> people </div>
					<div class="caption">
					<a href="http://instagram.com/gabriellewee" target="_blank">gabriellewee</a>
					<span>Putting artwork on my wall here for the first time, and @jawcooper’s beautiful “Fruition” is the first one up!</span>
					</div>
					<div class="view-all comment-12">
					<a href="https://www.instagram.com/p/CbJGK4Bvdsn/" target="_blank">View <span>12</span> comment </a>
					</div>
					<time class="stamp" data-time="2022-03-15T23:00:11+0000">10 months ago</time>
				</figcaption>
				</figure>
				<figure>
				<header>
					<a class="avatar" href="http://instagram.com/gabriellewee">
					<img src="/static/images/avatars/turtleneck@2x.jpg">
					</a>
					<a href="http://instagram.com/gabriellewee">gabriellewee</a>
				</header>
				<img src="/static/code/images/instagram/25.jpeg" alt="Hi, I’m alive 👋🏼 2022 really kicked my ass! In January, I had migraines for three straight weeks and wasn’t able to even get out of bed. After the migraines went away, I had brain fog and dimmed senses. Most of February was spent recovering. So I’m finally starting my year in March! Looking forward to the rest of the year ✨">
				<figcaption>
					<div>
					<button>Like</button>
					<button>Comment</button>
					<button>Share</button>
					</div>
					<div>
					<button>Bookmark</button>
					</div>
					<div class="likes">Liked by <span>72</span> people </div>
					<div class="caption">
					<a href="http://instagram.com/gabriellewee" target="_blank">gabriellewee</a>
					<span>Hi, I’m alive 👋🏼 2022 really kicked my ass! In January, I had migraines for three straight weeks and wasn’t able to even get out of bed. After the migraines went away, I had brain fog and dimmed senses. Most of February was spent recovering. So I’m finally starting my year in March! Looking forward to the rest of the year ✨</span>
					</div>
					<div class="view-all comment-12">
					<a href="https://www.instagram.com/p/Ca2tv8BPkKJ/" target="_blank">View <span>12</span> comment </a>
					</div>
					<time class="stamp" data-time="2022-03-08T19:40:28+0000">10 months ago</time>
				</figcaption>
				</figure>
			</div>
			</div>
		</div>
		<div class="content-section profile">
			<header id="info">
			<h2>
				<a href="http://instagram.com/gabriellewee">gabriellewee</a>
			</h2>
			<hr>
			<div class="info">
				<div class="avatar">
				<img src="/static/images/avatars/turtleneck@2x.jpg" alt="gabriellewee">
				</div>
				<ul>
				<li>
					<strong>25</strong>
					<span>posts</span>
				</li>
				<li>
					<strong>800</strong>
					<span>followers</span>
				</li>
				<li>
					<strong>900</strong>
					<span>following</span>
				</li>
				<li>
					<button>Follow</button>
					<button></button>
				</li>
				</ul>
				<div class="desc">
				<p>web dev • ui design • game art • plants 🌿 <br>🪴 @ellocasia • 🐱 @greyalphonsecat <br>👩🏻‍💻 front-end developer at apple  </p>
				</div>
			</div>
			</header>
			<div class="feed">
			<div class="feed-type" id="profile">
				<a href="https://www.instagram.com/p/CjT8CywpVc6/">
				<span>
					<img src="/static/code/images/instagram/1.jpeg" alt="💜">
				</span>
				</a>
				<a href="https://www.instagram.com/reel/Cis_W0EAXs8/">
				<span>
					<img src="/static/code/images/instagram/2.jpeg" alt="New #keycaps from @cantoclicks 🤍 #cozydesksetup #keycap #artisankeycaps #pastelkeycaps #mechanicalkeyboard">
				</span>
				</a>
				<a href="https://www.instagram.com/p/Ch9E4dkuPWN/">
				<span>
					<img src="/static/code/images/instagram/3.jpeg" alt="Grateful for another incredible birthday with incredible people 💞 I just wish I had more photos!">
				</span>
				</a>
				<a href="https://www.instagram.com/p/ChQLghePxwo/">
				<span>
					<img src="/static/code/images/instagram/4.jpeg" alt="The spread from my sister’s birthday tea party yesterday 🎂">
				</span>
				</a>
				<a href="https://www.instagram.com/p/CguWw7PpXgq/">
				<span>
					<img src="/static/code/images/instagram/5.jpeg" alt="7 year friend anniversary with @jeselle.gif - here’s to plenty more years of going down Lombard and other shenanigans ✨">
				</span>
				</a>
				<a href="https://www.instagram.com/p/CgtCStnuxJF/">
				<span>
					<img src="/static/code/images/instagram/6.jpeg" alt="I don’t think I’ve ever been so happy to pick up plants 🪴 The @sforchidsociety show was so much fun! 📸 @haydenthewu">
				</span>
				</a>
				<a href="https://www.instagram.com/p/CgbTkGUunMq/">
				<span>
					<img src="/static/code/images/instagram/7.jpeg" alt="Listened to @purityring for the first time ten years ago and finally got to see them today 🤍 Had a blast with @jeselle.gif @dr.wily_ @devil.baby666 @pizzamiles">
				</span>
				</a>
				<a href="https://www.instagram.com/p/Cf0ebSYuhMN/">
				<span>
					<img src="/static/code/images/instagram/8.jpeg" alt="🎵 And there’s nowhere in the world I’d rather be 🎵 Saw the Music of Selena tonight at the @sfsymphony and had a blast! 📸 @jeselle.gif">
				</span>
				</a>
				<a href="https://www.instagram.com/p/CfNHQddP8p3/">
				<span>
					<img src="/static/code/images/instagram/9.jpeg" alt="How have I gone my entire life without ergonomic mice 🤷🏻‍♀️ 🐁 #logitechlift #logitech #ergonomic">
				</span>
				</a>
				<a href="https://www.instagram.com/p/CfGHkLzO1SI/">
				<span>
					<img src="/static/code/images/instagram/10.jpeg" alt="My sister takes good photos of me 👯‍♀️">
				</span>
				</a>
				<a href="https://www.instagram.com/p/Ce5AFb_LD0y/">
				<span>
					<img src="/static/code/images/instagram/11.jpeg" alt="Finished #keyboard ⌨️ @kbdfans Tofu60/DZ64 ⌨️ @gateron.official Ink V2 Silent Black Linear ⌨️ @flashquarkkeys Pom Jelly ⌨️ #mechanicalkeyboard #customkeyboard #keycaps">
				</span>
				</a>
				<a href="https://www.instagram.com/p/CeaOGCJOdq2/">
				<span>
					<img src="/static/code/images/instagram/12.jpeg" alt="First custom keyboard build ⌨️ Missing a few white keys but working on getting them soon!">
				</span>
				</a>
				<a href="https://www.instagram.com/p/CeH4xybpN68/">
				<span>
					<img src="/static/code/images/instagram/13.jpeg" alt="🌼🌼🌼 📸: @haydenthewu @gabriellewee">
				</span>
				</a>
				<a href="https://www.instagram.com/p/CdhsLmMOZS_/">
				<span>
					<img src="/static/code/images/instagram/14.jpeg" alt="Great night out with @the_float_pack 🛴 📸: @haydenthewu">
				</span>
				</a>
				<a href="https://www.instagram.com/p/CdZZi6-pzlT/">
				<span>
					<img src="/static/code/images/instagram/15.jpeg" alt="💐">
				</span>
				</a>
				<a href="https://www.instagram.com/p/CdNClxSOvS9/">
				<span>
					<img src="/static/code/images/instagram/16.jpeg" alt="💇🏻‍♀️ ✨">
				</span>
				</a>
				<a href="https://www.instagram.com/tv/CdHGht_AjNw/">
				<span>
					<img src="/static/code/images/instagram/17.jpeg" alt="I challenged myself back in 2018 to make every single Pokémon Quest icon with CSS only on @codepen. I finally finished in 2022! Each icon is fully responsive and there's even a CSS-only navigation to sort by type.">
				</span>
				</a>
				<a href="https://www.instagram.com/p/CdCGBv8voWh/">
				<span>
					<img src="/static/code/images/instagram/18.jpeg" alt="Happy first birthday, Alfie! 🥳🥳🥳 Everybody loves you so much!">
				</span>
				</a>
				<a href="https://www.instagram.com/p/Cc4DuwDp9Kw/">
				<span>
					<img src="/static/code/images/instagram/19.jpeg" alt="I’ve been working on my work from home setup for the last year or so, and I think I’ve finally gotten it as close to perfect as possible. Just added the @grovemade x @maisyleigh desk pad which was the perfect color 💕">
				</span>
				</a>
				<a href="https://www.instagram.com/p/CceSqQfpqug/">
				<span>
					<img src="/static/code/images/instagram/20.jpeg" alt="My website design from 2022 → 2005. It's so interesting to see how things have changed over the years. It's been over 17 years since I first taught myself how to code, and I'm still learning as I go!">
				</span>
				</a>
				<a href="https://www.instagram.com/p/CcY_2TbPgZM/">
				<span>
					<img src="/static/code/images/instagram/21.jpeg" alt="The most perfectly packed sushi takeout. It was also delicious. 🍱">
				</span>
				</a>
				<a href="https://www.instagram.com/p/Cb5nlxxvJ0V/">
				<span>
					<img src="/static/code/images/instagram/22.jpeg" alt="Still looking for the perfect place to hang this 🔆">
				</span>
				</a>
				<a href="https://www.instagram.com/p/CbLbaFSPDh-/">
				<span>
					<img src="/static/code/images/instagram/23.jpeg" alt="Made this a while ago (literally years) but only now getting around to posting it ✨ #sailormoon">
				</span>
				</a>
				<a href="https://www.instagram.com/p/CbJGK4Bvdsn/">
				<span>
					<img src="/static/code/images/instagram/24.jpeg" alt="Putting artwork on my wall here for the first time, and @jawcooper’s beautiful “Fruition” is the first one up!">
				</span>
				</a>
				<a href="https://www.instagram.com/p/Ca2tv8BPkKJ/">
				<span>
					<img src="/static/code/images/instagram/25.jpeg" alt="Hi, I’m alive 👋🏼 2022 really kicked my ass! In January, I had migraines for three straight weeks and wasn’t able to even get out of bed. After the migraines went away, I had brain fog and dimmed senses. Most of February was spent recovering. So I’m finally starting my year in March! Looking forward to the rest of the year ✨">
				</span>
				</a>
			</div>
			</div>
		</div>
		</div>
	</div>
</div>