---
title: CSS-Only Pokémon Quest Icon Sorter
description: CSS-Only Pokémon Quest Icon Sorter
date: 2022-05-10

permalink: /code/{{ page.fileSlug }}/
uri: KKQwydY

layout: layouts/base.njk
tags: entries
category: code
type: [css-only]

blank: true
style: code/css/pokemon-quest
hidden: true

height: 600
---

<input class='nav' id='nav' name='nav' type='checkbox'>
<input class='type' id='normal' name='type' type='radio' value='normal'>
<input class='type' id='fire' name='type' type='radio' value='fire'>
<input class='type' id='water' name='type' type='radio' value='water'>
<input class='type' id='grass' name='type' type='radio' value='grass'>
<input class='type' id='electric' name='type' type='radio' value='electric'>
<input class='type' id='ice' name='type' type='radio' value='ice'>
<input class='type' id='fighting' name='type' type='radio' value='fighting'>
<input class='type' id='poison' name='type' type='radio' value='poison'>
<input class='type' id='ground' name='type' type='radio' value='ground'>
<input class='type' id='flying' name='type' type='radio' value='flying'>
<input class='type' id='psychic' name='type' type='radio' value='psychic'>
<input class='type' id='bug' name='type' type='radio' value='bug'>
<input class='type' id='rock' name='type' type='radio' value='rock'>
<input class='type' id='ghost' name='type' type='radio' value='ghost'>
<input class='type' id='dragon' name='type' type='radio' value='dragon'>
<input class='type' id='steel' name='type' type='radio' value='steel'>
<input class='type' id='fairy' name='type' type='radio' value='fairy'>
<input class='type' id='reset' name='type' type='radio' value='reset'>
<div class='pokemon'>
	<div class='grass poison' id='bulbasaur'>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='grass poison' id='ivysaur'>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='grass poison' id='venusaur'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='fire' id='charmander'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='fire' id='charmeleon'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='fire flying' id='charizard'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='water' id='squirtle'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div></div>
	</div>
	<div class='water' id='wartortle'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div></div>
		<div></div>
	</div>
	<div class='water' id='blastoise'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='bug' id='caterpie'>
		<div></div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='bug' id='metapod'>
		<div></div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='bug flying' id='butterfree'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div></div>
	</div>
	<div class='bug poison' id='weedle'>
		<div></div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='bug poison' id='kakuna'>
		<div></div>
		<div></div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='bug poison' id='beedrill'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='normal flying' id='pidgey'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='normal flying' id='pidgeotto'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='normal flying' id='pidgeot'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='normal' id='rattata'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='normal' id='raticate'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='normal flying' id='spearow'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='normal flying' id='fearow'>
		<div></div>
		<div></div>
	</div>
	<div class='poison' id='ekans'>
		<div>
			<div></div>
		</div>
	</div>
	<div class='poison' id='arbok'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='electric' id='pikachu'>
		<div></div>
		<div></div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='electric' id='raichu'>
		<div></div>
		<div></div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='ground' id='sandshrew'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='ground' id='sandslash'>
		<div></div>
		<div></div>
	</div>
	<div class='poison' id='nidoran-f'>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='poison' id='nidorina'>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='poison ground' id='nidoqueen'>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='poison' id='nidoran-m'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div></div>
		<div></div>
	</div>
	<div class='poison' id='nidorino'>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='poison ground' id='nidoking'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='fairy' id='clefairy'>
		<div></div>
		<div></div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='fairy' id='clefable'>
		<div>
			<div></div>
		</div>
		<div></div>
		<div></div>
	</div>
	<div class='fire' id='vulpix'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='fire' id='ninetails'>
		<div></div>
		<div></div>
	</div>
	<div class='normal fairy' id='jigglypuff'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='normal fairy' id='wigglytuff'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='poison flying' id='zubat'>
		<div>
			<div></div>
		</div>
	</div>
	<div class='poison flying' id='golbat'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='grass poison' id='oddish'>
		<div></div>
	</div>
	<div class='grass poison' id='gloom'>
		<div>
			<div></div>
		</div>
	</div>
	<div class='grass poison' id='vileplume'>
		<div>
			<div></div>
		</div>
	</div>
	<div class='bug grass' id='paras'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='bug grass' id='parasect'>
		<div>
			<div></div>
		</div>
		<div></div>
	</div>
	<div class='bug poison' id='venonat'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div></div>
	</div>
	<div class='bug poison' id='venomoth'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div></div>
		<div></div>
	</div>
	<div class='ground' id='diglett'>
		<div></div>
		<div></div>
	</div>
	<div class='ground' id='dugtrio'>
		<div>
			<div></div>
			<div></div>
		</div>
		<div>
			<div></div>
			<div></div>
		</div>
		<div>
			<div></div>
			<div></div>
		</div>
	</div>
	<div class='normal' id='meowth'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='normal' id='persian'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='water' id='psyduck'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='water' id='golduck'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='fighting' id='mankey'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='fighting' id='primeape'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='fire' id='growlithe'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='fire' id='arcanine'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='water' id='poliwag'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div></div>
	</div>
	<div class='water' id='poliwhirl'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='water fighting' id='poliwrath'>
		<div></div>
		<div></div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='psychic' id='abra'>
		<div></div>
	</div>
	<div class='psychic' id='kadabra'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='psychic' id='alakazam'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='fighting' id='machop'>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='fighting' id='machoke'>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='fighting' id='machamp'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='grass poison' id='bellsprout'>
		<div></div>
		<div></div>
	</div>
	<div class='grass poison' id='weepinbell'>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='grass poison' id='victreebell'>
		<div></div>
		<div>
			<div></div>
		</div>
		<div></div>
		<div></div>
	</div>
	<div class='water poison' id='tentacool'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='water poison' id='tentacruel'>
		<div></div>
		<div></div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='rock ground' id='geodude'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div></div>
	</div>
	<div class='rock ground' id='graveler'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div></div>
	</div>
	<div class='rock ground' id='golem'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='fire' id='ponyta'>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='fire' id='rapidash'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='water psychic' id='slowpoke'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='water psychic' id='slowbro'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div>
				<div></div>
			</div>
			<div>
				<div></div>
			</div>
		</div>
	</div>
	<div class='electric steel' id='magnemite'>
		<div></div>
		<div></div>
	</div>
	<div class='electric steel' id='magneton'>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='normal flying' id='farfetch-d'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='normal flying' id='doduo'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='normal flying' id='dodrio'>
		<div></div>
		<div>
			<div></div>
		</div>
		<div></div>
		<div></div>
	</div>
	<div class='water' id='seel'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='water ice' id='dewgong'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='poison' id='grimer'>
		<div>
			<div></div>
		</div>
	</div>
	<div class='poison' id='muk'>
		<div></div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='water' id='shellder'>
		<div></div>
		<div></div>
	</div>
	<div class='water ice' id='cloyster'>
		<div>
			<div></div>
		</div>
		<div></div>
		<div></div>
	</div>
	<div class='ghost poison' id='gastly'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='ghost poison' id='haunter'>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='ghost poison' id='gengar'>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='rock ground' id='onix'>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='psychic' id='drowzee'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='psychic' id='hypno'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='water' id='krabby'>
		<div></div>
		<div></div>
	</div>
	<div class='water' id='kingler'>
		<div></div>
		<div></div>
	</div>
	<div class='electric' id='voltorb'>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='electric' id='electrode'>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='grass psychic' id='exeggcute'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='grass psychic' id='exeggutor'>
		<div>
			<div></div>
		</div>
		<div></div>
		<div></div>
	</div>
	<div class='ground' id='cubone'>
		<div></div>
		<div></div>
	</div>
	<div class='ground' id='marowak'>
		<div></div>
		<div></div>
	</div>
	<div class='fighting' id='hitmonlee'>
		<div></div>
		<div></div>
	</div>
	<div class='fighting' id='hitmonchan'>
		<div></div>
		<div></div>
	</div>
	<div class='normal' id='lickitung'>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='poison' id='koffing'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='poison' id='weezing'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='ground rock' id='rhyhorn'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='ground rock' id='rhydon'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='normal' id='chansey'>
		<div></div>
		<div></div>
	</div>
	<div class='grass' id='tangela'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='normal' id='kangaskhan'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='water' id='horsey'>
		<div></div>
		<div></div>
	</div>
	<div class='water' id='seadra'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='water' id='goldeen'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div></div>
	</div>
	<div class='water' id='seaking'>
		<div></div>
		<div></div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='water' id='staryu'>
		<div>
			<div></div>
		</div>
	</div>
	<div class='water psychic' id='starmie'>
		<div>
			<div></div>
		</div>
	</div>
	<div class='psychic fairy' id='mr-mime'>
		<div></div>
		<div></div>
	</div>
	<div class='bug flying' id='scyther'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div></div>
	</div>
	<div class='ice psychic' id='jynx'>
		<div>
			<div></div>
		</div>
		<div></div>
		<div></div>
	</div>
	<div class='electric' id='electabuzz'>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='fire' id='magmar'>
		<div></div>
		<div></div>
	</div>
	<div class='bug' id='pinsir'>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='normal' id='tauros'>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='water' id='magikarp'>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='water flying' id='gyrados'>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='water ice' id='lapras'>
		<div></div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='normal' id='ditto'>
		<div></div>
	</div>
	<div class='normal' id='eevee'>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='water' id='vaporeon'>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='electric' id='jolteon'>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='fire' id='flareon'>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='normal' id='porygon'>
		<div></div>
	</div>
	<div class='rock water' id='omanyte'>
		<div></div>
		<div></div>
	</div>
	<div class='rock water' id='omastar'>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='rock water' id='kabuto'>
		<div></div>
		<div></div>
	</div>
	<div class='rock water' id='kabutops'>
		<div></div>
		<div></div>
	</div>
	<div class='rock flying' id='aerodactyl'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='normal' id='snorlax'>
		<div></div>
		<div></div>
	</div>
	<div class='ice flying' id='articuno'>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='electric flying' id='zapdos'>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class='fire flying' id='moltres'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div></div>
	</div>
	<div class='dragon' id='dratini'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='dragon' id='dragonair'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div></div>
	</div>
	<div class='dragon flying' id='dragonite'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='psychic' id='mewtwo'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='psychic' id='mew'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
</div>
<nav>
	<div class='inside'>
		<label class='label-nav' for='nav'>Types</label>
		<ul>
			<li>
				<label class='label-normal' for='normal'>Normal</label>
			</li>
			<li>
				<label class='label-fire' for='fire'>Fire</label>
			</li>
			<li>
				<label class='label-water' for='water'>Water</label>
			</li>
			<li>
				<label class='label-grass' for='grass'>Grass</label>
			</li>
			<li>
				<label class='label-electric' for='electric'>Electric</label>
			</li>
			<li>
				<label class='label-ice' for='ice'>Ice</label>
			</li>
			<li>
				<label class='label-fighting' for='fighting'>Fighting</label>
			</li>
			<li>
				<label class='label-poison' for='poison'>Poison</label>
			</li>
			<li>
				<label class='label-ground' for='ground'>Ground</label>
			</li>
			<li>
				<label class='label-flying' for='flying'>Flying</label>
			</li>
			<li>
				<label class='label-psychic' for='psychic'>Psychic</label>
			</li>
			<li>
				<label class='label-bug' for='bug'>Bug</label>
			</li>
			<li>
				<label class='label-rock' for='rock'>Rock</label>
			</li>
			<li>
				<label class='label-ghost' for='ghost'>Ghost</label>
			</li>
			<li>
				<label class='label-dragon' for='dragon'>Dragon</label>
			</li>
			<li>
				<label class='label-steel' for='steel'>Steel</label>
			</li>
			<li>
				<label class='label-fairy' for='fairy'>Fairy</label>
			</li>
			<li>
				<label class='label-reset' for='reset'>&times;</label>
			</li>
		</ul>
	</div>
</nav>