---
title: Pokémon Quest Starter Icons
description: Pokémon Quest Starter Icons
date: 2019-01-08

uri: VqBvvo
background: "#849896"

type: [css-only]
filters: [css-only, animation, gaming]

height: 600
size: m
button: replay animation
---

<div class='container'>
	<input id='bulbasaur' name='pokemon' type='checkbox'>
	<input id='ivysaur' name='pokemon' type='checkbox'>
	<input id='venusaur' name='pokemon' type='checkbox'>
	<input id='charmander' name='pokemon' type='checkbox'>
	<input id='charmeleon' name='pokemon' type='checkbox'>
	<input id='charizard' name='pokemon' type='checkbox'>
	<input id='squirtle' name='pokemon' type='checkbox'>
	<input id='wartortle' name='pokemon' type='checkbox'>
	<input id='blastoise' name='pokemon' type='checkbox'>
	<label class='bulbasaur hover' for='bulbasaur'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</label>
	<label class='ivysaur hover' for='ivysaur'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</label>
	<label class='venusaur hover' for='venusaur'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
			<div></div>
		</div>
	</label>
	<label class='charmander hover' for='charmander'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</label>
	<label class='charmeleon hover' for='charmeleon'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</label>
	<label class='charizard hover' for='charizard'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</label>
	<label class='squirtle hover' for='squirtle'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</label>
	<label class='wartortle hover' for='wartortle'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</label>
	<label class='blastoise hover' for='blastoise'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</label>
	<div class='bulbasaur magnify'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='ivysaur magnify'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='venusaur magnify'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
			<div></div>
		</div>
	</div>
	<div class='charmander magnify'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='charmeleon magnify'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='charizard magnify'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='squirtle magnify'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='wartortle magnify'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='blastoise magnify'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='bulbasaur animate'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='ivysaur animate'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='venusaur animate'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
			<div></div>
		</div>
	</div>
	<div class='charmander animate'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='charmeleon animate'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='charizard animate'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='squirtle animate'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='wartortle animate'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<div class='blastoise animate'>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
		<div>
			<div></div>
		</div>
	</div>
	<label class='bulbasaur label' for='bulbasaur'>bulbasaur</label>
	<label class='ivysaur label' for='ivysaur'>ivysaur</label>
	<label class='venusaur label' for='venusaur'>venusaur</label>
	<label class='charmander label' for='charmander'>charmander</label>
	<label class='charmeleon label' for='charmeleon'>charmeleon</label>
	<label class='charizard label' for='charizard'>charizard</label>
	<label class='squirtle label' for='squirtle'>squirtle</label>
	<label class='wartortle label' for='wartortle'>wartortle</label>
	<label class='blastoise label' for='blastoise'>blastoise</label>
	<div class='bg'></div>
</div>