---
title: Four-Quadrant CSS-Only Gradient
description: Four-Quadrant CSS-Only Gradient
date: 2020-02-07

permalink: /code/{{page.fileSlug}}/
uri: zYGxNKa

layout: layouts/base.njk
tags: entries
category: code
type: [css-only]

blank: true
style: code/css/quadrant
hidden: true

height: 400
---

<div>
	<h1>This is a four-quadrant CSS-only gradient with four unique colors, using one element with one pseudo-element.</h1>
</div>
