---
title: Four-Quadrant CSS-Only Gradient
description: Four-Quadrant CSS-Only Gradient
date: 2020-02-07

uri: zYGxNKa
background: "linear-gradient(90deg, red 0%, blue 100%)"

type: [css-only]
filters: [css-only]

height: 400
---

<div>
	<h1>This is a four-quadrant CSS-only gradient with four unique colors, using one element with one pseudo-element.</h1>
</div>
