---
title: Zdog Draggable Monument Valley Totem
description: Zdog Draggable Monument Valley Totem

permalink: /code/totem/
layout: layouts/code.njk
hidden: true
eleventyExcludeFromCollections: true

style: totem
---

<main>
  <canvas class='totem' height='500' width='500'></canvas>
</main>

<script src="{{'/static/js/code/zdog.min.js' | url}}"></script>
<script src="{{'/static/js/code/totem.js' | url}}"></script>