---
title: Monument Valley Totem
description: Monument Valley Totem
date: 2017-01-14

permalink: /code/{{page.fileSlug}}/
uri: zNBMmW
background: "linear-gradient(to bottom, #f8f5da 0%, #FFF4E2 25%, #A3C4D0 75%, #3e4f53 100%)"

layout: layouts/base.njk
tags: entries
category: code
type: [css-only]
filters: [css-only, animation]

blank: true
style: code/css/totem
hidden: true

height: 600
size: xs
button: replay animation
---

<div class='totem'>
	<div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>