---
title: Zdog Draggable Monument Valley Totem
description: Zdog Draggable Monument Valley Totem

permalink: /code/totem/
layout: layouts/base.njk
blank: true
style: code/totem
hidden: true
---

<canvas class='totem' height='500' width='500'></canvas>

<script src="{{'/static/js/code/zdog.min.js' | url}}"></script>
<script src="{{'/static/js/code/totem.js' | url}}"></script>