---
title: Zdog Draggable Monument Valley Totem
description: Zdog Draggable Monument Valley Totem
date: 2021-07-06

permalink: /code/{{ page.fileSlug }}/
uri: JjNGvJd

layout: layouts/base.njk
tags: entries
category: code

blank: true
style: code/css/zdog-totem
hidden: true

height: 600
---

<canvas class='totem' height='500' width='500'></canvas>

<script src="{{'/static/code/js/zdog.min.js' | url}}"></script>
<script src="{{'/static/code/js/zdog-totem.js' | url}}"></script>