---
title: Zdog Draggable Monument Valley Totem
description: Zdog Draggable Monument Valley Totem
date: 2021-07-06

permalink: /code/zdog-totem/
uri: JjNGvJd

layout: layouts/base.njk
tags: posts
category: code

blank: true
style: code/zdog-totem
hidden: true

height: 460px
---

<canvas class='totem' height='500' width='500'></canvas>

<script src="{{'/static/js/code/zdog.min.js' | url}}"></script>
<script src="{{'/static/js/code/totem.js' | url}}"></script>