---
title: Zdog Draggable Monument Valley Totem
description: Zdog Draggable Monument Valley Totem
date: 2021-07-06

uri: JjNGvJd
background: "linear-gradient(to bottom, #f8f5da 0%, #FFF4E2 25%, #A3C4D0 75%, #3e4f53 100%)"

filters: [animation, gaming]

height: 600
button: replay animation
---

<canvas class='totem' height='500' width='500'></canvas>

<script src="{{'/static/code/js/zdog.min.js'|url}}"></script>
<script src="{{'/static/code/js/zdog-totem.js'|url}}"></script>