<aside class="contact">
	<nav class="contact-sites" aria-label="Social media links">
		<h2>You can find me here:</h2>
		<ul>
			{% for link in about.links %}
				<li{% if link.class %} class="{{link.class}}"{% endif %}><a class="link {{link.name}} color u-url" href="{{link.url}}" rel="me">{{link.name | capitalize}}</a></li>
			{% endfor %}
		</ul>
	</nav>

	<nav class="contact-messages" aria-label="Contact links">
		<h2>You can contact me here:</h2>
		<ul>
			<li><a class="link email color" href="mailto:mail@gabriellew.ee">Email</a></li>
			<li><a class="link text color" href="sms:5102142241">Text</a></li>
			<li><a class="link imessage color" href="sms:mail@gabriellew.ee">iMessage</a></li>
			{% if key == "home" %}
				<li hidden>{% include 'pages/home/discord.html' %}</li>
			{% else %}
				<li hidden><a class="link discord color tooltip tooltip-bottom dark hidden" href="#" data-clip data-clipboard-text="gabriellewee" style="--tooltip-label: 'Username copied'">Discord</a></li>
			{% endif %}
			<li><a class="discord color no-css">Discord: gabriellewee</a></li>
		</ul>
	</nav>
</aside>