<footer class="bottom" aria-label="Footer" data-anim>
	<nav aria-label="Site links">
		<menu class="button-reduced-group">
			{% for link in collections.pages | eleventyNavigation %}
				{% if link.footer == true %}
					<li><a class="button-reduced{% if link.url == page.url %} current{% endif %}" href="{{link.url|url}}"{% if link.url == page.url %} tabindex="-1"{% endif %}><span>{{link.title}}</span></a></li>
				{% endif %}
			{% endfor %}
			{% if (key == "home" and pagination.pageNumber == 0) or (key == "about") or (key == "me") %}{% else %}
				<li><a class="button-reduced" href="mailto:mail@gabriellew.ee"><span>Email</span></a></li>
			{% endif %}
		</menu>
		<p class="copyright button-reduced">
			<span>&copy; {{site.author}} {% copyright 'start' %}–{% copyright 'current' %}</span>
		</p>
	</nav>
</footer>