<header class="top" aria-label="Header">
	<div>
		<div class="memoji-link">
			<a href="/">
				<span class="memoji memoji-default"></span>
				<span class="memoji memoji-hm"></span>
				{% if (key == "home") and (pagination.pageNumber == 0) %}
					<span class="text go-home">Refresh?</span>
				{% else %}
					<span class="text go-home">Go home?</span>
				{% endif %}
			</a>
			{% if message == true %}
				<h1 class="text message">{{description}}</h1>
			{% elseif (message) and (key == "home") and (pagination.pageNumber == 0) %}
				<p class="text message" aria-hidden="true">{{message|nbsp|safe}}</p>
			{% elseif message %}
				<h1 class="text message">{{message|nbsp|safe}}</h1>
			{% endif %}
		</div>

		<div class="accessibility-popup popup">
			<input type="checkbox" id="accessibility" class="popup-button" tabindex="0" role="switch" aria-haspopup="true" aria-controls="accessibility-window" aria-labelledby="accessibility-button"/>
			<label id="accessibility-button" class="popup-label" for="accessibility">
				<span class="button">
					<span><span>Accessibility</span></span>
				</span>
			</label>
			<div id="accessibility-window" class="popup-window">
				<div class="inside">
					<label class="close" for="accessibility" tabindex="0">Close</label>
					<ul>
						<li>
							<label for="option-color">Dark mode</label>
						</li>
						<li>
							<label for="option-contrast">Increased contrast</label>
						</li>
						<li>
							<label for="option-motion">Reduced motion</label>
						</li>
						<li>
							<label for="option-load">Load posts on same page</label>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	{% if (key == "home") and (pagination.pageNumber == 0) %}
		<h1 class="title"><span class="copy">Hello, stranger! My name is Gabrielle Wee. I’m a front-end developer working at</span> <span class="apple">Apple {% include 'svg/apple.svg' %}</span><span class="cursor" aria-hidden="true" role="presentation"></span></h1>
	{% endif %}
</header>