<input type="checkbox" class="option" id="option-color" data-option="color" aria-hidden="true" tabindex="-1"/>
<input type="checkbox" class="option" id="option-contrast" data-option="contrast" aria-hidden="true" tabindex="-1"/>
<input type="checkbox" class="option" id="option-transparency" data-option="transparency" aria-hidden="true" tabindex="-1"/>
<input type="checkbox" class="option" id="option-load" data-option="load" aria-hidden="true" tabindex="-1" checked/>

<header class="top" aria-label="Header">
	<div class="top-content">
		<div class="memoji-link">
			<a href="/">
				<span class="memoji memoji-default"></span>
				<span class="memoji memoji-hm"></span>
				{% if (key == "home") and (pagination.pageNumber == 0) %}
					<span class="text go-home">Refresh?</span>
				{% else %}
					<span class="text go-home">Go home?</span>
				{% endif %}
			</a>
			{% if message == true %}
				<h1 class="text message">{{description}}</h1>
			{% elseif (message) and (key == "home") and (pagination.pageNumber == 0) %}
				<p class="text message" aria-hidden="true">{{message|nbsp|safe}}</p>
			{% elseif message %}
				<h1 class="text message">{{message|nbsp|safe}}</h1>
			{% endif %}
		</div>

		{% include 'pages/home/accessibility.html' %}
	</div>

	{% if (key == "home") and (pagination.pageNumber == 0) %}
		<h1 class="title"><span class="copy">Hello, stranger! My name is Gabrielle Wee. I’m a front-end developer working at</span> <span class="apple">Apple {% include 'svg/apple.svg' %}</span><span class="cursor" aria-hidden="true" role="presentation"></span></h1>
	{% endif %}
</header>