<header class="top" aria-label="Header">
	<div class="memoji-link">
		<a href="/"{% if (key == "home") and (pagination.pageNumber == 0) %} tabindex="-1"{% endif %}>
			<span class="memoji memoji-default"></span>
			<span class="memoji memoji-hm"></span>
			<span class="text go-home">Go home?</span>
		</a>
		{% if message == true %}
			<h1 class="text message">{{description}}</h1>
		{% elseif (message) and (key == "home") and (pagination.pageNumber == 0) %}
			<p class="text message" aria-hidden="true">{{message|nbsp|safe}}</p>
		{% elseif message %}
			<h1 class="text message">{{message|nbsp|safe}}</h1>
		{% endif %}
	</div>
	{% if (key == "home") and (pagination.pageNumber == 0) %}
		<h1 class="title"><span class="copy">Hello, stranger! My name is Gabrielle Wee. I’m a front-end developer working at</span> <span class="apple">Apple {% include 'svg/apple.svg' %}</span><span class="cursor" aria-hidden="true" role="presentation"></span></h1>
	{% endif %}
</header>