<aside class="contact">
	<nav class="contact-sites" aria-label="Social media links">
		<h2>You can find me here:</h2>
		<ul>
			{% for link in about.links %}
				<li{% if link.secondary == true %} class="secondary"{% endif %}><a class="link {{link.name}} color u-url" target="_blank" href="{{link.url}}" rel="me">{{link.name | capitalize}}</a></li>
			{% endfor %}
		</ul>
	</nav>

	<nav class="contact-messages" aria-label="Contact links">
		<h2>You can contact me here:</h2>
		<ul>
			<li><a class="link email color" href="mailto:mail@gabriellew.ee">Email</a></li>
			<li><a class="link text color" href="sms:5102142241">Text</a></li>
			<li><a class="link imessage color" href="sms:mail@gabriellew.ee">iMessage</a></li>
			{% if key == "home" %}
				<li>{% include 'pages/home/discord.html' %}</li>
			{% else %}
				<li><a class="link discord color clip clip-container" href="#" data-clipboard-text="gabriellewee">Discord</a></li>
			{% endif %}
		</ul>
	</nav>
</aside>