{% for job in about.resume.experience %}
	{% set titleTemplate %}
		{{job.title}}{% if job.company %} at {{job.company}}{% endif %}
	{% endset %}
	<li>
		<div class="{% if resumeClass %}{{resumeClass}}{% else %}link-tile{% endif %}">
			<h3>
				{% if job.website %}
					<a href="{{job.website}}"><span>{{titleTemplate}}</span></a>
				{% else %}
					{{titleTemplate}}
				{% endif %}
			</h3>
			<div>
				<p>{{job.start}} — {% if job.end%}{{job.end}}{% else %}Now{% endif %}</p>
				<p>{{job.location}}</p>
			</div>
		</div>
	</li>
{% endfor %}