{% macro author(site) %}
	<aside class="post-author post-text p-author h-card">
		<h2>About the author</h2>
		<p rel="author" hidden>{{site.author}}</p>
		<picture>
			<source type="image/webp" srcset="{{site.url}}/static/images/avatars/headshot.webp">
			<img class="u-photo" src="{{site.url}}/static/images/avatars/headshot.jpg" alt="{{site.photo.professional}}" width="512" height="512"/>
		</picture>
		<p class="p-note"><a class="p-name u-url u-uid" rel="me" href="{{site.url}}">{{site.author}}</a> is a <span class="p-job-title">Front-end Developer</span> working at Apple . In her free time, she enjoys modding keyboards and controllers, taking photos, drawing, and reading fantasy/sci-fi books (but mostly updating her website). You can reach her at <a class="u-email" href="mailto:{{site.email}}">{{site.email}}</a>.</p>
	</aside>
	<hr class="no-css"/>
{% endmacro %}

{% macro buttons(src, url) %}
	{% if src.mobile == false %}
		<a class="post-mobile-button button" href="{{url|url}}" target="_blank"><span>View animation</span></a>
	{% endif %}
	{% if src.button %}
		<button class="reload button" data-reload hidden><span>{{src.button|capitalize}}</span></button>
	{% endif %}
{% endmacro %}

{% macro contact(key, links) %}
	<aside class="contact"{% if eleventyNavigation.key == "About" or eleventyNavigation.key == "Me" %} data-anim{% endif %}>
		{% for type in links %}
			<div class="contact-{{type.name}}" aria-label="{{type.label}}"{% if key == "home" %} data-anim{% endif %}>
				<h2>{{type.title}}</h2>
				<address>
					<ul{% if key != "home" %} class="button-reduced-group"{% endif %}>
						{% for link in type.links %}
							{% if ((key == "home") and (link.secondary != true)) or (key != "home") %}
								<li{% if link.class %} class="{{link.class}}"{% endif %}>
									<a class="{{link.name}}{% if key == 'home' %} link color{% else %} button-reduced{% endif %}{% if type.name == 'social' %} u-url{% endif %}" href="{{link.url}}" rel="me" style="--color-link: var(--color-{{link.name}}); --color-link-dark: var(--color-{{link.name}}{% if link.theme == true %}-dark{% endif %})">
										<span>{% if link.title %}{{link.title}}{% else %}{{link.name | capitalize}}{% endif %}</span>
									</a>
								</li>
							{% endif %}
						{% endfor %}
						{% if type.name == "messaging" %}
							{% if key == "home" %}
								<li hidden>{{ discord() }}</li>
							{% else %}
								<li hidden class="discord-button">
									<button class="button-reduced-outer tooltip tooltip-bottom theme-dark hidden" data-clip="gabriellewee" style="--tooltip-label: 'Username copied'">
										<span class="discord button-reduced" style="--color-link: var(--color-discord); --color-link-dark: var(--color-discord)"><span>Discord</span></span>
									</button>
								</li>
							{% endif %}
							<li class="no-css"><span class="discord button-reduced"><span>Discord: gabriellewee</span></span></li>
						{% endif %}
					</ul>
				</address>
			</div>
		{% endfor %}
	</aside>
	<hr class="no-css"/>
{% endmacro %}

{% macro discord() %}
	<div class="discord-popup popup" style="--anchor-name: --discord-anchor">
		<button class="popup-button" popovertarget="discord-window" popovertargetaction="toggle" style="--color-link: var(--color-discord)">
			<span>Discord</span>
		</button>
		<div id="discord-window" class="popup-window" role="menu" popover>
			<div class="inside">
				<div class="header">
					<span class="avatar"></span>
				</div>
				<div class="username">
					<p class="username-header" aria-label="Discord display name: Gabrielle">Gabrielle</p>
					<p id="username-input" class="username-input tooltip tooltip-right small theme-dark hidden" aria-label="Discord username: gabriellewee" style="--tooltip-label: 'Copied'">gabriellewee</p>
				</div>
				<div class="description">
					<p class="about-header">About Me</p>
					<code class="about-content">I like to make pretty things with code 👩🏻‍💻</code>
					<ul class="links">
						<li class="no-touch">
							<a href="discord://discordapp.com/users/694064940826230865" aria-label="Desktop Discord profile">Discord profile</a>
						</li>
						<li class="touch">
							<a href="https://discordapp.com/users/694064940826230865" aria-label="Mobile Discord profile">Discord profile</a>
						</li>
						<li>
							<button disabled class="copy-button" data-clip="#username-input" data-clip-target>
								<span>Copy username</span>
							</button>
						</li>
					</ul>
				</div>
				<button class="popup-close" popovertarget="discord-window" popovertargetaction="hide">{% include 'svg/icons/close.svg' %}</button>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro date(src, category, class, external) %}
	<time{% if category != 'code'  %} class="time-default{% if class %} {{class}}{% endif %}"{% endif %} datetime="{{src.date|iso|date('string')}}" title="{{src.date|iso|date('readable')}}" data-time="{{src.date|iso}}"{% if category == "social" %} data-time-external{% endif %}{% if category != "media" %} hidden{% endif %}>{{src.date|iso|date('readable')}}</time>
{% endmacro %}

{% macro frame(src, url, type, slug) %}
	{% set iframe %}
		<figure class="frame-wrapper"{% if src.background %} style="--background: {{src.background}}"{% endif %}>
			<noscript class="warning{% for type in src.type %} {{type}}{% endfor %}"><p><em>Please enable Javascript to view this code demo.</em></p></noscript>
			<iframe class="frame{% for type in src.type %} {{type}}{% endfor %}" src="{{url|url}}" width="600" height="{{src.height}}" title="{{src.title|safe}}" loading="lazy" tabindex="-1" onload="this.style.opacity = 1"></iframe>
		</figure>
	{% endset %}
	
	{% if type == "lightbox" %}
		<a class="lightbox" id="{{slug}}-lightbox" role="button" aria-label="Close preview of {{src.title}}" href="#{{slug}}" tabindex="-1" data-lightbox></a>
		<dialog class="lightbox-content iframe" aria-label="Preview of {{src.title}}" autofocus>
			{{iframe|safe}}
		</dialog>
	{% else %}
		{{iframe|safe}}
	{% endif %}
{% endmacro %}

{% macro header(src, time, category, slug) %}
	<div class="post-header-content">
		{% if category == "writing" or category == "cooking" %}
			<h2>
				<a href="{{time.url|url}}"{% if category == "cooking" %} aria-label="Recipe for {{src.title|safe}}"{% endif %}><span><span>{{src.title|safe}}</span></span></a>
			</h2>
		{% elseif category == "code" %}
			<div class="post-header-left" data-focus-container>
				<h2 class="post-headline">
					{% if src.uri %}
						<a href="https://codepen.io/gabriellewee/pen/{{src.uri}}" data-focus><span>{{src.title|safe}}</span></a>
					{% else %}
						{{src.title|safe}}
					{% endif %}
				</h2>
				{% if src.type %}
					<div class="post-tags">
						{% for type in src.type %}{% if type != "haml" %}
							<u class="tag-{{type}}">#{{type}}</u>
						{% endif %}{% endfor %}
					</div>
				{% endif %}
			</div>
		{% endif %}
		{% if category == "code" %}
			<div class="post-header-right">
				{{ date(time, category) }}
				<a class="expand" id="{{slug}}" role="button" aria-label="Expand preview of {{src.title}}" href="#{{slug}}-lightbox" data-media-expand data-desktop></a>
				<a class="external-expand" href="{{post.url|url}}" aria-label="View {{category}} in new window" target="_blank"></a>
			</div>
		{% elseif category != "media" and category != "code" %}
			{{ date(time, category) }}
		{% endif %}
		{% if category == "media" %}
			{{ date(time, category, "no-css") }}
		{% endif %}
	</div>
{% endmacro %}

{% macro indicator() %}
	<span class="indicator"><span></span><span></span><span></span></span>
{% endmacro %}

{% macro meta(src) %}
	{% if src.external %}
		<div class="media-links">
			{% for link in src.external %}
				<a class="media-link external {{link.platform}}" href="{{link.url|url}}" aria-label="View on {{link.platform|capitalize}}" data-media-external><span><span class="no-css">View on </span>{{link.platform|capitalize}}</span></a>
			{% endfor %}
		</div>
	{% endif %}
	<dl class="media-meta">
		{% if src.title %}
			<div class="meta-title">
				<dt>Title</dt><dd>{{src.title|safe|nbsp}}</dd>
			</div>
		{% endif %}
		{% if src.location %}
			<div class="meta-location">
				<dt>Location</dt><dd>{{src.location}}</dd>
			</div>
		{% endif %}
		{% if src.camera %}
			<div class="meta-camera">
				<dt>Camera</dt><dd>{{src.camera}}</dd>
			</div>
		{% endif %}
		{% if src.editor %}
			<div class="meta-editor">
				<dt>Editor</dt><dd>{{src.editor}}</dd>
			</div>
		{% endif %}
		{% if src.tools %}
			<div class="meta-tools">
				<dt>Tools</dt><dd>{{src.tools}}</dd>
			</div>
		{% endif %}
	</dl>
{% endmacro %}

{% macro pagination(nextPost, previousPost) %}
	{% if nextPost or previousPost %}
		{% if nextPost %}
			<a class="newer button button-reverse" href="{{nextPost.url|url}}"><span><span class="no-css">← </span>Newer</span></a>
		{% else %}
			<a class="button" href="/"><span>Back to home</span></a>
		{% endif %}
		{% if previousPost %}
			<a class="older button" href="{{previousPost.url|url}}"><span>Older<span class="no-css"> →</span></span></a>
		{% else %}
			<a class="button" href="/archive/"><span>Back to archive</span></a>
		{% endif %}
	{% endif %}
{% endmacro %}

{% macro settings(preferences, pagination) %}
	<div class="preferences-popup popup" hidden style="--anchor-name: --preferences-anchor">
		<button class="popup-button" popovertarget="preferences-window" popovertargetaction="toggle">
			<span class="button"><span>Preferences</span></span>
		</button>
		<div id="preferences-window" class="popup-window" role="menu" popover>
			<div class="inside">
				<p class="option-no-js">Please turn on Javascript in order to keep your settings after refreshing or leaving the page.</p>
				{% for category in preferences %}
					<h4 class="{% if category.js == true %}option-js{% endif %}" aria-label="{{category.name|capitalize}}">{{category.name|capitalize}}</h4>
					<menu class="{% if category.js == true %}option-js{% endif %}">
						{% for item in category.items %}
							{% if item.options %}
								{% for option in item.options %}
									{% if item.visibility == null or (item.visibility == "theme" and theme == null) %}
										<li>
											<input type="radio" class="option" id="option-{{option.name}}" name="tone" data-option="{{option.name}}"{% if option.color %} data-color="{{option.color}}"{% endif %} hidden tabindex="0" {% if option.default == true %} checked{% endif %}/>
											<label class="option-label radio" for="option-{{option.name}}" aria-hidden="true" data-option-label>
												<span>{{option.name|capitalize}}</span>
											</label>
										</li>
									{% endif %}
								{% endfor %}
							{% else %}
								{% if (item.visibility != "load" and pagination) or (item.visibility == "load" and pagination) or (item.visibility != "load" and pagination == null) %}
									<li>
										<input type="checkbox" class="option" id="option-{{item.name}}" name="{{item.name}}" data-option hidden tabindex="0" role="switch" {% if item.default == true %} checked{% endif %}/>
										<label class="option-label" for="option-{{item.name}}" aria-hidden="true" data-option-label>
											<span class="toggle"></span>
											<span>{{item.label}}</span>
										</label>
									</li>
								{% endif %}
							{% endif %}
						{% endfor %}
					</menu>
				{% endfor %}
				<div class="option-js">
					<div class="option-reset" data-reset>
						<button class="button" data-option="reset"><span>Reset</span></button>
					</div>
				</div>
				<div>
					<button class="popup-close button" popovertarget="preferences-window" popovertargetaction="hide"><span>Close</span></button>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro recipe(src) %}
	<aside class="post-meta">
		{% if src.servings %}
			<p class="recipe-servings"><strong>Servings:</strong> <span>{{src.servings}}</span></p>
		{% endif %}
		{% if src.prep %}
			<p class="recipe-prep"><strong>Prep:</strong> <span class="recipe-duration" data-duration="{{src.prep}}">{{src.prep}} minutes</span></p>
		{% endif %}
		{% if src.cook %}
			<p class="recipe-cook"><strong>Cook:</strong> <span class="recipe-duration" data-duration="{{src.cook}}">{{src.cook}} minutes</span></p>
		{% endif %}
		{% if src.prep and src.cook %}
			{% set total = [src.prep,src.cook] %}
			<p class="recipe-total"><strong>Total:</strong> <span class="recipe-duration" data-duration="{{total|sum}}">{{total|sum}} minutes</span></p>
		{% endif %}
	</aside>
{% endmacro %}

{% macro resume(jobs) %}
	{% for job in jobs %}
		{% set titleTemplate %}
			{{job.title}}{% if job.company %} at {{job.company}}{% endif %}
		{% endset %}
		<li>
			<div class="{% if resumeClass %}{{resumeClass}}{% else %}link-tile{% endif %}">
				<h3>
					{% if job.website %}
						<a href="{{job.website}}"><span>{{titleTemplate}}</span></a>
					{% else %}
						{{titleTemplate}}
					{% endif %}
				</h3>
				<div>
					<p>{{job.start}} — {% if job.end%}{{job.end}}{% else %}Now{% endif %}</p>
					<p>{{job.location}}</p>
				</div>
			</div>
		</li>
	{% endfor %}
{% endmacro %}

{% macro tablist(slug, src) %}
	<fieldset class="post-tablist">
		<legend>Source Code</legend>
		<ul role="tablist">
			<li role="presentation">
				<input id="tab-{{slug}}-demo" class="post-tab tab-demo" type="radio" role="tab" name="{{slug}}" checked/>
				<label for="tab-{{slug}}-demo">Demo</label>
			</li>
			<li role="presentation">
				<input id="tab-{{slug}}-markup" class="post-tab tab-markup" type="radio" role="tab" name="{{slug}}"/>
				<label for="tab-{{slug}}-markup">Markup</label>
			</li>
			<li role="presentation">
				<input id="tab-{{slug}}-styles" class="post-tab tab-styles" type="radio" role="tab" name="{{slug}}"/>
				<label for="tab-{{slug}}-styles">Styles</label>
			</li>
			{% if src.scripts == true %}
				<li role="presentation">
					<input id="tab-{{slug}}-scripts" class="post-tab tab-scripts" type="radio" role="tab" name="{{slug}}"/>
					<label for="tab-{{slug}}-scripts">Scripts</label>
				</li>
			{% endif %}
		</ul>
	</fieldset>
{% endmacro %}

{% macro tabpanels(slug, src) %}
	<div id="tabpanel-{{slug}}-markup" class="post-tabpanel tabpanel-markup" role="tabpanel" data-tabpanel style="--height: {{src.height}}px">
		{% set markup = "html" %}
		{% if src.type and "haml" in src.type %}{% set markup = "haml" %}{% endif %}
		{% highlight markup %}{{ slug | demo(markup) | safe }}{% endhighlight %}
	</div>
	<div id="tabpanel-{{slug}}-styles" class="post-tabpanel tabpanel-styles" role="tabpanel" data-tabpanel style="--height: {{src.height}}px">
		{% highlight "scss" %}{{ slug | demo("scss") | safe }}{% endhighlight %}
	</div>
	{% if src.scripts == true %}
		<div id="tabpanel-{{slug}}-scripts" class="post-tabpanel tabpanel-scripts" role="tabpanel" data-tabpanel style="--height: {{src.height}}px">
			{% highlight "js" %}{{ slug | demo("js") | safe }}{% endhighlight %}
		</div>
	{% endif %}
{% endmacro %}

{% macro tags(filters) %}
	<nav hidden class="filters" aria-label="Tags" data-filter-container>
		<ul>
			{% for filter in filters %}
				<li><a class="grid-filter{% if filter.emoji === true %} emoji{% endif %}" href="?tag={{filter.name}}" data-filter="{{filter.name}}" aria-label="Posts tagged “{{filter.label or filter.name}}”" data-anim><span><span>{{filter.label or filter.name}}</span></span></a></li>
			{% endfor %}
			<li><a class="grid-filter reset" href="#" data-filter="*" data-reset><span>reset</span></a></li>
		</ul>
	</nav>
{% endmacro %}

{% macro upscale(src) %}
	<picture{% if src.color %} style="--background: {{post.color}}"{% endif %}>
		<img class="upscale" src="{% include src.upscale %}"{% if src.upscaleWidth %} width="{{src.upscaleWidth}}"{% endif %}{% if src.upscaleHeight %} height="{{src.upscaleHeight}}"{% endif %} alt="{{src.description}}"/>
	</picture>
{% endmacro %}

{% macro view(link, src, icon, pfx, title, url, type) %}
	{% set prefix = "View on" %}
	{% if pfx %}
		{% set prefix = pfx %}
	{% elseif src.type == "audio" %}
		{% set prefix = "Listen on" %}
	{% elseif src.type == "writing" %}
		{% set prefix = "Read on" %}
	{% endif %}
	{% set label = prefix ~ " " ~ (link.title or (link.platform or src.source) | capitalize) %}
	<a class="button{% if link.icon == true or icon == true %} button-icon{% endif %}{% if link.platform or src.source or type %} button-{{link.platform or src.source or type}}{% endif %}{% if link.gradient != true and link.platform %} solid{% endif %}" href="{{(url or link.url or src.url)|url}}"{% if link.gradient != true and link.platform %} style="--background: var(--color-{{link.platform}})"{% endif %}{% if link.icon == true or icon == true %} aria-label="{{title or label}}"{% endif %}><span><span>{{title or label}}</span></span></a>
{% endmacro %}