@font-face {
  font-family: 'Jaapokki Regular';
  src: url('jaapokki-regular.eot?#iefix') format('embedded-opentype'),  url('jaapokki-regular.ttf')  format('truetype'),
	     url('jaapokki-regular.woff') format('woff'), url('jaapokki-regular.ttf')  format('truetype'), url('jaapokki-regular.svg#jaapokki-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jaapokki Subtract';
  src: url('jaapokkisubtract-regular.eot?#iefix') format('embedded-opentype'),  url('jaapokkisubtract-regular.ttf')  format('truetype'),
	     url('jaapokkisubtract-regular.woff') format('woff'), url('jaapokkisubtract-regular.ttf')  format('truetype'), url('jaapokkisubtract-regular.svg#jaapokkisubtract-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jaapokki Enchance';
  src: url('jaapokkienchance-regular.eot?#iefix') format('embedded-opentype'),  url('jaapokkienchance-regular.ttf')  format('truetype'),
	     url('jaapokkienchance-regular.woff') format('woff'), url('jaapokkienchance-regular.ttf')  format('truetype'), url('jaapokkienchance-regular.svg#jaapokkienchance-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}