@import 'partials/shared/utilities';
@import 'partials/components/tooltip';

.post-about {
	.post-inner {
		padding: calc(var(--p)*1.5) calc(var(--p)*2);
	}
	h2, h3 {
		@include font-weight-width(800, 120);
	}
	h2 {
		font-size: 2.25rem;
		margin-bottom: var(--p);
	}
	h3 {
		font-size: 1.5rem;
		margin-bottom: .375rem;
	}
	.post-content {
		padding: 0;
	}
	ol, ul {
		list-style: none;
	}
	li {
		position: relative;
		z-index: 1;
	}
	.post-content {
		a {
			font-weight: 600;
		}
	}
}

.post-versions {
	.post-inner {
		padding-bottom: var(--p);
	}
	ol {
		display: flex;
		flex-wrap: wrap;
		.js & {
			display: block;
			position: relative;
			padding-left: calc(var(--p)*2);
			margin-top: var(--p);
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 2px;
				height: 100%;
				border-radius: 2px;
				@include theme(light, 2) {
					background-color: var(--color-primary);
				}
				@include theme(dark, 2) {
					background-color: color-mix(
						in srgb,
						var(--color-iron),
						white
					);
				}
			}
		}
	}
	li {
		margin-bottom: var(--p);
		&:not(:last-child) {
			margin-right: var(--p);
		}
		.js & {
			&:not(:last-child) {
				margin-right: unset;
			}
			&:before, &:after {
				content: "";
				display: block;
				position: absolute;
				@include theme(light, 2) {
					background-color: var(--color-primary);
				}
				@include theme(dark, 2) {
					background-color: color-mix(
						in srgb,
						var(--color-iron),
						white
					);
				}
			}
			&:before {
				top: calc(50% + 2px - 3px);
				left: calc(var(--p)*-2);
				width: calc((var(--p)*2) - 4px);
				height: 2px;
				border-radius: 2px;
			}
			&:after {
				top: calc(50% + 2px - 6px);
				left: calc((var(--p)*-2) - 3px);
				width: 8px;
				height: 8px;
				border-radius: 8px;
			}
		}
	}
	.button {
		display: inline-block;
		&:before {
			background: var(--color-blush);
		}
		> span {
			background: color-mix(
				in srgb,
				var(--color-iron) 90%,
				white
			);
			&:before {
				display: none;
			}
		}
		&:hover, &:focus {
			> span {
				background: var(--color-rose);
			}
		}
		&:active {
			> span {
				background: var(--color-mint);
			}
		}
	}
}

.post-sitemap {
	.post-inner {
		padding-bottom: var(--p);
	}
	ul {
		display: flex;
		flex-wrap: wrap;
	}
	li {
		margin-bottom: var(--p);
		&:not(:last-child) {
			margin-right: var(--p);
		}
	}
	.page {
		@include font-weight-width(500, 115);
		display: inline-block;
		position: relative;
		color: white;
		&, span {
			transition: background-color .2s ease-out;
		}
		&:before {
			@include before(var(--color-blush));
		}
		&:after {
			@include contrast(both, 2) {
				@include clip-path-edges(3px);
				content: "";
				display: block;
				position: absolute;
				z-index: -1;
				top: -1.5px;
				left: -1.5px;
				width: calc(100% + 3px);
				height: calc(100% + 3px);
				background-color: var(--color-primary);
			}
		}
		span {
			@include clip-path-edges(2px);
			display: inline-block;
			padding: calc(var(--p)/3*2) var(--p);
			background-color: color-mix(
				in srgb,
				var(--color-iron) 90%,
				white
			);
		}
		&:hover, &:focus {
			span {
				background-color: var(--color-rose);
			}
		}
		&:focus-visible {
			&:before {
				opacity: 1;
			}
		}
		&:active {
			@media (prefers-reduced-motion: no-preference) {
				scale: .98;
			}
			span {
				background-color: var(--color-mint);
			}
		}
	}
}

.post-colors {
	.post-inner {
		padding-bottom: var(--p);
	}
	ul {
		display: flex;
		flex-wrap: wrap;
	}
	li {
		margin-bottom: var(--p);
		&:not(:last-child) {
			margin-right: var(--p);
		}
	}
	.color {
		span {
			display: block;
			margin-left: auto;
			margin-right: auto;
			&:first-child {
				width: 36px;
				height: 36px;
				border-radius: 100%;
				border: calc(var(--p)/4) solid;
				@include theme(light, 2) {
					border-color: var(--color-message);
				}
				@include theme(dark, 2) {
					border-color: white;
				}
				@include contrast(both, 2) {
					border-color: var(--color-primary);
				}
			}
			&:last-child {
				position: relative;
				margin-top: var(--p);
				padding: calc(var(--p)/3*2) var(--p) calc(var(--p)/2);
				border-radius: calc(var(--p)/3);
				font-family: var(--font-mono);
				font-weight: bold;
				font-size: 1rem;
				text-transform: uppercase;
				@include theme(light, 2) {
					background-color: var(--color-message);
					color: var(--color-primary);
				}
				@include theme(dark, 2) {
					background-color: gHSL(iron, .7);
					color: white;
				}
				@include contrast(both, 2) {
					outline: 1.5px solid var(--color-primary);
				}
				&:before {
					rotate: 45deg;
					content: "";
					display: block;
					position: absolute;
					z-index: -1;
					width: var(--p);
					height: var(--p);
					border-top-left-radius: 2px;
					top: calc(var(--p)/-2);
					left: 50%;
					margin-left: calc(var(--p)/-2);
					@include theme(light, 2) {
						background-color: var(--color-message);
					}
					@include theme(dark, 2) {
						background-color: gHSL(iron, .7);
					}
					@include contrast(both, 2) {
						display: none;
					}
				}
			}
		}
		&-iron span:first-child {
			background-color: var(--color-iron);
		}
		&-blush span:first-child {
			background-color: var(--color-blush);
		}
		&-rose span:first-child {
			background-color: var(--color-rose);
		}
		&-mauve span:first-child {
			background-color: var(--color-mauve);
		}
		&-slate span:first-child {
			background-color: var(--color-slate);
		}
		&-mint span:first-child {
			background-color: var(--color-mint);
		}
	}
}

.post-external {
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		&:not(:first-child) {
			margin-top: .75rem;
			@include viewport(mobile) {
				margin-top: .5rem;
			}
		}
	}
	.external-platform {
		@include font-weight-width(600, 90);
		@include clip-path-edges(2px);
		display: inline-block;
		position: relative;
		margin-bottom: calc(var(--p)/3);
		padding-left: calc(var(--p)/2);
		padding-right: calc(var(--p)/2);
		font-size: .875rem;
		text-transform: uppercase;
		line-height: 1.715;
		@include theme(light, 2) {
			background-color: color-mix(
				in srgb,
				gHSL(iron, 1, .2) 70%,
				gHSL(white, 1, .2)
			);
			color: gHSL(iron, 1, .7);
		}
		@include theme(dark, 2) {
			background-color: gHSL(iron, .55, .4);
			color: gHSL(white, 1, .7);
		}
		@include viewport(mobile) {
			margin-bottom: unset;
			margin-right: calc(var(--p)/3);
		}
		@include contrast(both, 2) {
			clip-path: unset;
			border-radius: unset;
			background-color: unset;
			&:before, &:after {
				content: "";
				display: block;
				position: absolute;
			}
			&:before {
				@include clip-path-edges(3px);
				z-index: -2;
				top: -1.5px;
				left: -1.5px;
				width: calc(100% + 3px);
				height: calc(100% + 3px);
			}
			&:after {
				@include clip-path-edges(2px);
				z-index: -1;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		@include contrast(light, 2) {
			&:before {
				background-color: gHSL(primary, 1, .5);
			}
			&:after {
				background-color: color-mix(
					in srgb,
					var(--color-iron) 10%,
					white
				);
			}
		}
		@include contrast(dark, 2) {
			&:before {
				background-color: gHSL(primary, 1, .7);
			}
			&:after {
				background-color: gHSL(iron, .7);
			}
		}
	}
	.external-title {
		@include font-weight-width(600, 115);
		display: block;
		line-height: 1.333;
		@include viewport(mobile) {
			display: inline;
		}
	}
}

.post-build, .post-thanks {
	h3 {
		margin-bottom: .5rem;
	}
}

.post-thanks {
	.post-content {
		@include theme(light, 2) {
			color: var(--color-primary);
		}
		@include theme(dark, 2) {
			color: gHSL(primary, 1, .7);
		}
		ul {
			padding: 0;
		}
		li {
			display: inline;
			&:not(:last-child) {
				&:after {
					content: "\00B7";
					display: inline-block;
					font-weight: 800;
					margin-left: calc(var(--p)/2);
					margin-right: calc(var(--p)/2);
				}
			}
		}
	}
}