

// Project: Marlon Melgar
#page-melgar {
	background: #27353C;
	.loader {
		background: #27353C;
	}
	header {
		a {
			svg {
				&:nth-child(1) {
					* {
						fill: lighten(#493A6D, 20%);
					}
				}
				&:nth-child(2) {
					* {
						fill: lighten(#531010, 20%);
					}
				}
				&:nth-child(3) {
					* {
						fill: #637AA5;
					}
				}
			}
		}
	}
}
#project-melgar {
	.project-tag {
		background: lighten(#27353C, 20%);
	}
	.project-style-colors {
		max-width: calc(100% - 173px);
	}
	a {
		color: lighten(#493A6D, 20%);
		&:hover, &:focus {
			color: lighten(#531010, 20%);
		}
		&:active {
			color: #637AA5;
		}
	}
	footer {
		a {
			background: lighten(#493A6D, 20%);
			color: white;
			&:hover, &:focus {
				background: lighten(#531010, 20%);
			}
			&:active {
				background: #637AA5;
				color: white;
			}
		}
	}
}
