@import 'partials/shared/utilities';

.posts-archive {
	padding-left: calc((var(--p)*2) + env(safe-area-inset-left));
	padding-right: calc((var(--p)*2) + env(safe-area-inset-right));
	@include viewport($iphone-max) {
		padding-inline: 0;
	}

	ul {
		list-style: none;
		&:not(:first-child) {
			margin-bottom: 2rem;
		}
	}
	h2 {
		font-size: 4rem;
		@include font-weight-width(1000, 120);
	}
	h3 {
		font-size: 2rem;
		line-height: 1.1;
		@include font-weight-width(800, 120);
		a {
			text-decoration: underline;
			text-underline-offset: 8px;
			@include theme(light) {
				text-decoration-color: hsl(from var(--color-blush) h s calc(l * 1.1) / 0);
			}
			@include theme(dark) {
				text-decoration-color: hsl(from var(--color-iron) h s calc(l * .73) / 0);
			}
			@include contrast(both) {
				text-underline-offset: 4px;
				text-decoration-color: var(--color-mauve);
			}
			&, span {
				transition: all .1s ease-out, box-shadow 0s;
			}
			span {
				@include gradient-text(
					var(--color-mauve),
					var(--color-slate)
				);
			}
			&:hover, &:focus, &:active {
				text-underline-offset: 4px;
			}
			&:hover, &:focus {
				text-decoration-color: color-mix(
					in hsl,
					hsl(from var(--color-mauve) h calc(s * .9) l) 30%,
					hsl(from var(--color-rose) h calc(s * .9) l)
				);
				span {
					@include gradient-text(
						var(--color-rose),
						var(--color-mauve)
					);
				}
			}
			&:focus-visible {
				@include contrast(both) {
					@include focus-shadow(var(--color-rose));
				}
			}
			&:active {
				@include theme(light) {
					text-decoration-color: hsl(from var(--color-iron) h s calc(l * .95));
				}
				@include theme(dark) {
					text-decoration-color: var(--color-slate);
				}
				span {
					@include theme(light) {
						@include gradient-text(
							hsl(from var(--color-iron) h s calc(l * .95)),
							hsl(from var(--color-iron) h s calc(l * .35))
						);
					}
					@include theme(dark) {
						@include gradient-text(
							var(--color-slate),
							color-mix(
								in srgb,
								var(--color-iron) 80%,
								white
							)
						);
					}
				}
			}
		}
	}
	time {
		@include font-weight-width(600, 90);
		display: block;
		margin-top: calc(var(--p)/2);
		white-space: nowrap;
		text-transform: uppercase;
	}
	li {
		margin-top: .75rem;
	}
}