.current-site {
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999;
	text-decoration: none;
	padding: 6px 12px;
	transition: none!important;
	&.v1 {
		border: 0;
		border-top-right-radius: 3px;
		background: rgba(255,255,255,.4);
		color: white;
		&:hover, &:focus {
			background: white;
			color: #d34836;
		}
		&:active {
			background: #f90;
			color: white;
		}
	}
	&.v2 {
		background: #75657C;
		color: white;
		&:hover, &:focus {
			background: #7C7565;
		}
		&:active {
			background: #444349;
		}
	}
	&.v3 {
		border-top-right-radius: 3px;
		background: #F5C8BF;
		color: white;
		&:hover, &:focus {
			background: white;
			color: #495453;
		}
		&:active {
			background: #AEBFAF;
			color: white;
		}
	}
	&.v4 {
		background: #75605B;
		color: white;
		&:hover, &:focus {
			font-style: normal;
			letter-spacing: 0;
			background: white;
			color: #263238;
		}
		&:active {
			background: #8497C2;
			color: white;
		}
	}
}