// utilities
@import 'partials/shared/utilities';

body {
	background: url('../images/error.gif') center center / cover;
}

body, a {
	color: white;
}

header {
	&:before {
		content: "";
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: gHSL(iron, 1, .2);
	}
}

main, .bottom {
	position: relative;
	z-index: 2;
}

main {
	height: calc(100vh - 104px - 82px);
	max-width: var(--width);
	margin-left: auto;
	margin-right: auto;
	padding-left: calc((var(--p)*2) + env(safe-area-inset-left));
	padding-right: calc((var(--p)*2) + env(safe-area-inset-right));
	h1 {
		font-size: clamp(3rem, 6vw, 5rem);
	}
	h1, p {
		@include font-weight-width(900, 125);
		line-height: 1.2;
		@include viewport($ipad-mini) {
			line-height: 1.1;
		}
	}
	p {
		font-size: clamp(1.5rem, 3vw, 2.5rem);
		padding-top: var(--p);
	}
	a {
		display: inline-block;
		text-decoration: underline;
		text-decoration-color: gHSL(white, 1, .4);
		text-underline-offset: 5px;
		&:hover, &:focus {
			background-color: gHSL(iron, 1, .5);
		}
		&:focus-visible {
			@include focus-shadow(gHSL(white, 1, .8));
		}
		&:active {
			background-color: var(--color-iron);
		}
	}
}

.bottom {
	opacity: 1;
	a {
		span {
			background: var(--color-iron);
		}
		&:hover, &:focus {
			span {
				background: var(--color-slate);
			}
		}
		&:active {
			span {
				background: gHSL(iron, .35);
			}
		}
	}
	.copyright {
		color: var(--color-iron);
	}
}