@use 'partials/shared/utilities' as *;

body {
	background: url('../images/error.gif') center center / cover;
}

* {
	color: white;
}

header {
	&::before {
		content: "";
		display: block;
		background-color: hsl(from var(--color-dark-grey) h s l / .2);
		@include full-offset(screen, $p: fixed);
	}
}

main, .bottom {
	position: relative;
	z-index: 2;
}

main {
	height: calc(100vh - 104px - 82px);
	max-width: var(--width);
	margin-inline: auto;
	padding-left: calc((var(--p)*2) + env(safe-area-inset-left));
	padding-right: calc((var(--p)*2) + env(safe-area-inset-right));
	h1 {
		font-size: clamp(3rem, 6vw, 5rem);
	}
	h1, p {
		line-height: 1.2;
		@include font-weight-width(900, 125);
		@include viewport($ipad-mini) {
			line-height: 1.1;
		}
	}
	p {
		font-size: clamp(1.5rem, 3vw, 2.5rem);
		padding-top: var(--p);
	}
	a {
		display: inline-block;
		text-decoration: underline;
		text-: hsl(from white h s l / .4);
		text-underline-offset: 5px;
		&:hover, &:focus {
			background-color: hsl(from var(--color-dark-grey) h s l / .5);
		}
		&:focus-visible {
			@include focus-shadow(hsl(from white h s l / .8));
		}
		&:active {
			background-color: var(--color-dark-grey);
		}
	}
}

.bottom {
	opacity: 1;
	a {
		span {
			background-color: var(--color-dark-grey);
		}
		&:hover, &:focus {
			span {
				background-color: var(--color-grey);
			}
		}
		&:active {
			span {
				background-color: hsl(from var(--color-dark-grey) h s calc(l * .35));
			}
		}
	}
	.copyright {
		color: var(--color-dark-grey);
	}
}