// utilities
@import 'partials/shared/utilities';

// components
@import 'partials/components/discord';
@import 'partials/components/tooltip';
@import 'partials/components/title';

// posts
@import 'partials/post/post';
.post-writing {
	@import 'partials/post/writing';
}
.post-recipe {
	@import 'partials/post/recipe';
}
.post-media {
	@import 'partials/post/media';
}
.post-code {
	@import 'partials/post/code';
}
.post-social {
	@import 'partials/post/social';
}

// home-specific
.page-home {
	.contact-sites, .contact-messages {
		@media (prefers-reduced-motion: no-preference) {
			opacity: 0;
		}
		.secondary {
			display: none;
		}
		.secondary-mobile {
			display: none;
			@include viewport(mobile) {
				display: inline-block;
			}
		}
	}
}