@use 'sass:math';

@import 'partials/fonts/recursive';

@import 'partials/shared/utilities';
@import 'partials/shared/reset';

$rouge: #9b476b;
$brown: #1e100d;

html {
	-webkit-text-size-adjust: 100%;
	height: -webkit-fill-available;
	scroll-behavior: smooth;
	@media screen and (prefers-reduced-motion: reduce) {
		scroll-behavior: auto;
	}
}
body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
	background-color: $pink;
	color: $brown;
	font-family: $recursive;
	font-size: 18px;
	font-feature-settings: 'dlig' 1, 'liga' 1;
	line-height: 1.6;
}

::-moz-selection {
	background-color: $brown;
	color: white;
}

::selection {
	background-color: $brown;
	color: white;
}

header {
	padding: $p*2 $p 0;
	text-align: center;
	picture {
		width: 48px;
		height: 68px;
		margin-left: auto;
		margin-right: auto;
	}
	h1 {
		font-size: 28px;
		font-weight: 1000;
		font-variation-settings: "wght" 1000, "CASL" 1;
		color: rgba($brown, .3);
		@media only screen and (min-width: 375px) {
			font-size: 32px;
		}
		@media only screen and (min-width: 800px) {
			font-size: 36px;
		}
		span {
			@include gradient-text($brown, $rouge, false);
		}
	}
}

ul {
	list-style: none;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	&, li {
		padding: math.div($p, 3) * 2;
	}
	a {
		display: block;
		position: relative;
		height: $p*6;
		text-decoration: none;
		margin-bottom: math.div($p, 3);
		border-radius: $p*.5;
		&, > * {
			transition: .1s ease-out;
		}
		.link-inside, &:before {
			@include border-radius($p*.5);
			width: 100%;
			height: 100%;
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: math.div($p, 3);
			background-color: darken($pink, 10%);
		}
		.link-inside {
			will-change: transform;
			display: flex;
		}
		.link-logo {
			display: block;
			position: relative;
			padding: $p;
			background-color: white;
			&:after {
				content: "";
				transform: rotate(45deg);
				display: block;
				position: absolute;
				z-index: 0;
				top: calc(50% - #{$p*.75});
				right: -$p*.75;
				width: $p*1.5;
				height: $p*1.5;
				border-top-right-radius: $p*.25;
				background-color: white;
			}
			svg {
				position: relative;
				z-index: 1;
				width: $p*4;
				height: $p*4;
			}
		}
		.link-text {
			will-change: background-color;
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: flex-start;
			padding: $p $p*1.5 $p $p*2;
			width: 100%;
			background-color: mix(white, $pink);
			color: $brown;
			font-size: 16px;
			font-weight: 600;
			font-variation-settings: "wght" 600, "CASL" 1;
			line-height: 1.2;
			@media only screen and (min-width: 375px) {
				font-size: 18px;
			}
			@media only screen and (min-width: 414px) {
				font-size: 20px;
			}

		}
		&:hover, &:focus {
			.link-text {
				background-color: mix(white, $pink, 75%);
			}
		}
		&:focus {
			@include focus-round(darken($pink, 10%));
		}
		&:active {
			.link-inside {
				transform: translateY(#{math.div($p, 3)});
			}
			.link-text {
				background-color: mix(white, $pink, 25%);
			}
		}
	}
}

footer {
	padding: $p*.5 0 $p;
	text-align: center;
	font-size: 16px;
	font-variation-settings: "CASL" 1;
}