// utilities
@import 'partials/shared/utilities';

// components
@import 'partials/components/tooltip';

.post-me {
	.post-inner {
		padding: calc(var(--p) * 2);
	}
	.post-footer {
		margin-top: calc(var(--p) * 2);
	}
	.post-header {
		margin-bottom: calc(var(--p)*1.5);
		h2 {
			font-size: 1.5rem;
			line-height: 1.2;
			@include font-weight-width(800, 120);
			@include viewport(mobile) {
				font-size: 1.75rem;
			}
		}
		p {
			margin-top: var(--p);
			line-height: 1.334;
			font-weight: 600;
			strong {
				font-weight: 900;
			}
		}
		+ .button {
			margin-top: 0;
		}
	}
	.button {
		display: inline-block;
	}
}

.grid {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: calc(var(--p)*2);
}

.post-expand, .post-external {
	transition: opacity .2s ease-out, scale .2s ease-out;
	display: block;
	position: relative;
	&:before {
		background: radial-gradient(
			circle at center left,
			var(--color-rose),
			var(--color-mauve)
		);
		@include before;
	}
	picture {
		@include clip-path-edges(2px);
	}
	&:focus-visible {
		&:before {
			opacity: 1;
		}
	}
	&:active {
		scale: 0.98;
	}
}

.post-intro {
	width: 100%;
	.post-inner {
		padding: 0;
	}
	.post-header {
		padding: calc(var(--p)*2);
		margin-bottom: 0;
	}
	$width: 320px;
	.post-image {
		display: grid;
		place-items: center;
		position: relative;
		width: 100%;
		height: $width;
		@include invert(100%);
		&:before, &:after {
			content: "";
			display: block;
			position: absolute;
			height: $width;
			@include background-image(avatars/intro, jpg);
			& {
				background-size: contain;
				background-repeat: repeat;
				background-position: center;
			}
		}
		&:before {
			width: 100%;
			@include theme(light, 2) {
				filter: contrast(50%) saturate(30%) brightness(120%) opacity(60%);
			}
			@include theme(dark, 2) {
				filter: contrast(50%) saturate(30%);
			}
		}
		&:after {
			width: $width;
		}
	}
}

.post-books {
	.grid {
		grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
		@include viewport(mobile) {
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		}
	}
}

.post-music {
	width: 100%;
	min-width: 345px;
	max-width: 700px;
	@include viewport($desktop) {
		max-width: 376px;
	}
	iframe {
		display: block;
	}
	.no-js & {
		display: none;
	}
}

.post-game {
	width: 100%;
	@include viewport($desktop) {
		max-width: 672px;
	}
	.grid {
		grid-template-columns: repeat(2, 1fr);
		@include viewport(mobile) {
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		}
		@include viewport($desktop-small) {
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		}
		@include viewport($desktop) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	h3 {
		font-size: 1.25rem;
		margin-top: calc(var(--p)*2);
		margin-bottom: var(--p);
		@include font-weight-width(450, 110);
	}
	.button, .friend-code-container {
		margin-top: calc(var(--p)*2);
	}
	.friend-code-container {
		@include viewport(mobile) {
			display: inline-flex;
			align-items: center;
		}
		label {
			margin-right: var(--p);
			font-size: 1.25rem;
			@include font-weight-width(450, 110);
		}
		input {
			appearance: none;
			border: 0;
			max-width: 208px;
			padding: var(--p) calc(var(--p)*1.5);
			font-family: var(--font-mono);
			font-size: 1.125rem;
			color: var(--color-primary);
			@include clip-path-edges(2px);
			@include theme(light, 2) {
				background-color: gHSL(primary, 1, .1);
			}
			@include theme(dark, 2) {
				background-color: gHSL(iron, .55, .4);
			}
			@include contrast(dark, 2) {
				background-color: gHSL(iron, .7);
			}
			@include contrast(light, 2) {
				background-color: color-mix(
					in srgb,
					var(--color-iron) 10%,
					white
				);
			}
		}
		.friend-code-border {
			position: relative;
			margin-top: var(--p);
			@include viewport(mobile) {
				margin-top: 0;
			}
			&:before {
				@include contrast(both, 2) {
					content: "";
					display: block;
					position: absolute;
					top: -1.5px;
					left: -1.5px;
					width: calc(100% + 3px);
					height: calc(100% + 3px);
					background-color: var(--color-primary);
					@include clip-path-edges(3px);
				}
			}
		}
	}
}

.post-mods {
	.grid {
		margin-top: calc(var(--p)*2);
		grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
	}
	picture {
		background-color: gHSL(primary, 1, .05);
		@include clip-path-edges(2px);
		@include contrast(dark, 2) {
			background-color: gHSL(primary, 1, .2);
		}
	}
}

.post-thumbnails {
	img {
		aspect-ratio: 4 / 3;
		object-fit: cover;
		object-position: var(--focus-x) var(--focus-y);
	}
}