@use 'partials/shared/utilities' as *;
@use 'partials/shared/mixins' as *;
@use 'partials/components/tooltip';
@use 'partials/post/post';

.post {
	--width-intro: 320px;
	--width-music: 345px;
	--width-photos: 638px;

	@include viewport(medium) {
		--width-intro: 240px;
	}

	@include viewport($large) {
		--width-intro: 320px;
	}

	h2, h3, p {
		color: var(--color-post);
	}
	.post-inner {
		padding: calc(var(--p)*2);
	}
	.post-footer {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: calc(var(--p)*2);
		margin-top: calc(var(--p)*2);
	}
	.post-header {
		margin-bottom: calc(var(--p)*1.5);
		h2 {
			font-size: 1.5rem;
			line-height: 1.2;
			@include font-weight-width(800, 120);
			@include viewport(medium) {
				font-size: 1.75rem;
			}
		}
		p {
			margin-top: var(--p);
			line-height: 1.334;
			font-weight: 600;
			strong {
				font-weight: 900;
			}
		}
		+ .button {
			margin-top: 0;
		}
	}

	ol, ul {
		list-style: none;
		margin: 0;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: calc(var(--p)*2);
}

.post-expand, .post-external:not(.button) {
	--outline: radial-gradient(
		circle at center left,
		var(--color-middle),
		var(--color-dark)
	);
	transition: opacity .2s ease-out, scale .2s ease-out;
	display: block;
	position: relative;
	&::before {
		background: var(--outline);
		@include before;
	}
	picture {
		@include clip-path-edges(2px);
	}
	&:hover {
		@media (prefers-reduced-motion: no-preference) {
			scale: 1.02;
		}
	}
	&:focus-visible {
		&::before {
			opacity: 1;
		}
	}
	&:active {
		@media (prefers-reduced-motion: no-preference) {
			scale: 0.98;
		}
	}
}

.post-intro {
	--width: 100%;
	@include viewport(medium) {
		--width: var(--width-intro);
	}
	.post-inner {
		padding: 0;
	}
	.post-header {
		padding: calc(var(--p)*2);
		margin-bottom: 0;
	}
	.post-image {
		display: grid;
		place-items: center;
		position: relative;
		width: 100%;
		height: var(--width-intro);
		@include invert(100%);
		&::before, &::after {
			content: "";
			display: block;
			position: absolute;
			height: 100%;
			@include background-image(avatars/intro, jpg);
			& {
				background-size: contain;
				background-repeat: repeat;
				background-position: center;
			}
		}
		&::before {
			width: 100%;
			@include theme(light) {
				filter: contrast(50%) saturate(30%) brightness(120%) opacity(60%);
			}
			@include theme(dark) {
				filter: contrast(50%) saturate(30%);
			}
		}
		&::after {
			width: var(--width-intro);
		}
	}
}

.post-books {
	--width: 100%;

	@include viewport(medium) {
		--width: calc(100% - var(--width-intro) - var(--p) * 2);
	}

	.grid {
		grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));

		li:nth-last-child(-n+4) {
			display: none;
			@include viewport(medium) {
				display: block;
			}
		}

		a {
			--outline: var(--color-middle);
			--background: var(--color);

			@include expand-hover(external, 23px, 23px, calc(var(--p)*1.25));

			&::after {
				content: "";
				display: block;
				z-index: 0;
				position: absolute;
				top: 0;
				left: 0;
				width: calc(100% - var(--p)/2);
				height: calc(100% - var(--p)/2);
				background-color: color-mix(
					in srgb,
					var(--background-post),
					hsl(from var(--color) h s calc(l *.4))
				);
				@include clip-path-edges(2px);
			}

			picture {
				position: relative;
				z-index: 1;
				padding-top: calc(var(--p)/2);
				padding-left: calc(var(--p)/2);
			}

			img {
				@include clip-path-edges(2px);
			}
		}
	}
}

.post-music {
	--width: 100%;
	--min-width: var(--width-music);
	--background-post: #F8F8FA;
	--color-post: var(--color-iron);
	--background-contrast: var(--background-post);

	@include viewport(medium) {
		--width: 100%;
		--max-width: var(--width-music);
	}

	.post-inner {
		padding: unset;
	}

	header {
		padding: calc(var(--p)*2) calc(var(--p)*2) 0;
	}

	.iframe {
		padding: 0 4px 20px;
	}

	iframe {
		display: block;
	}
}

.post-game {
	--width: 100%;
	@include viewport(medium) {
		--width: calc(100% - var(--width-music) - var(--p) * 2);
	}
	.grid {
		margin-top: calc(var(--p) * 1.75);
		grid-template-columns: repeat(2, 1fr);
		&.steam {
			@include viewport($medium) {
				grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
			}
			@include viewport(medium) {
				grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
			}
			@include viewport($large) {
				grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
			}
		}
		&.nintendo {
			@include viewport(medium) {
				grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
			}
			@include viewport($large) {
				grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
			}
			@include viewport($x-large) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
		a {
			@include expand-hover(external, 23px, 23px, var(--p));
		}
		&:has(.button) {
			grid-template-columns: 1fr;

			.button {
				margin-top: 0;
				line-height: 1.2;
			}
		}
	}
	.button, .friend-code-container {
		margin-top: calc(var(--p)*2);
	}
	.friend-code-container {
		@include viewport(medium) {
			display: inline-flex;
			align-items: center;
		}
		label {
			margin-right: var(--p);
			font-size: 1.25rem;
			@include font-weight-width(450, 110);
		}
		input {
			appearance: none;
			border: 0;
			max-width: 208px;
			padding: var(--p) calc(var(--p)*1.5);
			font-family: var(--font-mono);
			font-size: 1.125rem;
			color: var(--color-primary);
			@include clip-path-edges(2px);
			@include theme(light) {
				background-color: hsl(from var(--color-primary) h s l / .1);
			}
			@include theme(dark) {
				background-color: hsl(from var(--color-iron) h s calc(l * .55) / .4);
			}
			@include contrast(dark) {
				background-color: hsl(from var(--color-iron) h s l / .7);
			}
			@include contrast(light) {
				background-color: color-mix(
					in srgb,
					var(--color-iron) 10%,
					white
				);
			}
		}
		.friend-code-border {
			position: relative;
			margin-top: var(--p);
			@include viewport(medium) {
				margin-top: 0;
			}
			&::before {
				@include contrast(both) {
					content: "";
					display: block;
					position: absolute;
					background-color: var(--color-primary);
					@include full-offset(1.5px);
					@include clip-path-edges(3px);
				}
			}
		}
	}
}

.post-mods {
	.post-content {
		display: flex;
		flex-wrap: wrap;
		gap: calc(var(--p)*2);
	}
	.grid {
		width: 100%;
		grid-template-columns: repeat(auto-fill, minmax(104px, 1fr));
	}
	.grid, figure {
		@include viewport(medium) {
			width: calc(50% - var(--p));
		}
	}
	.post-expand {
		@include expand-hover;
		&:hover {
			@media (prefers-reduced-motion: no-preference) {
				scale: 1.01;
			}
		}
		&:active {
			@media (prefers-reduced-motion: no-preference) {
				scale: .98;
			}
		}
	}
	picture {
		background-color: hsl(from var(--color-primary) h s l / .05);
		@include clip-path-edges(2px);
		@include contrast(dark) {
			background-color: hsl(from var(--color-primary) h s l / .2);
		}
	}
}

.post-full-bleed {
	--color-post: var(--color-iron);

	.post-inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: unset;
	}
	header {
		position: relative;
		z-index: 2;
		background: linear-gradient(to bottom, var(--highlight), hsl(from var(--highlight) h s l / 0));
		padding: calc(var(--p)*2) calc(var(--p)*2) calc(var(--p) * 3);
	}
	footer {
		padding: calc(var(--p)*2);
	}
	figure {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.post-cat {
	--width: 100%;
	--min-width: 320px;
	--background-post: hsl(from var(--color-oak) h calc(s*.3) calc(l*1.2));
	--color-post: color-mix(
		in srgb,
		#37364D 70%,
		#826D67
	);

	@include contrast(light) {
		--background-contrast: hsl(from var(--color-oak) h calc(s*.3) calc(l*1.4));
	}

	@include contrast(dark) {
		--background-contrast: hsl(from var(--color-oak) h calc(s*.3) calc(l*0.4));
		--color-post: var(--color-primary);
	}

	@include viewport(medium) {
		--max-width: calc(100% - var(--width-photos) - var(--p) * 2);
	}

	.button {
		--background: #37364D radial-gradient(
			circle at center left,
			#37364D,
			#826D67,
			#826D67
		);
		--outline: white;
	}

	.post-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.grid {
		grid-gap: 0;
		grid-template-columns: repeat(2, 50%);
		padding-bottom: 10px;
		margin-top: -10px;
		width: 362px;
	}

	li {
		transition: rotate .4s ease-out, translate .4s ease-out;
		display: flex;
		position: relative;
		z-index: 0;

		&:first-child {
			transform-origin: right bottom;
			rotate: 0deg;
			translate: 0;
			@media (prefers-reduced-motion: no-preference) {
				@starting-style {
					rotate: -20deg;
					translate: -40px 0;
				}
			}
		}

		&:last-child {
			justify-content: flex-end;
			transform-origin: left bottom;
			rotate: 20deg;
			translate: -40px -10px;
			@media (prefers-reduced-motion: no-preference) {
				@starting-style {
					rotate: 0;
					translate: 0;
				}
			}
		}
	}

	figure {
		width: unset;
	}
	picture {
		width: 200px;
		clip-path: unset;
		border-radius: unset;
	}
	img {
		aspect-ratio: unset;
	}
}

.post-photography {
	--width: 100%;
	$viewport-1: 480px;
	$viewport-2: 662px;

	@include theme(light) {
		--background-post: hsl(from var(--color-grey) h calc(s*.4) calc(l*1.8));
		--color-post: color-mix(
			in srgb,
			var(--color-grey),
			var(--color-primary)
		);
	}
	@include theme(dark) {
		--background-post: hsl(from var(--color-secondary) h s l / .9);
		--color-post: var(--color-primary);
	}

	@include viewport(medium) {
		--width: fit-content;
		--max-width: var(--width-photos);
	}

	.flex {
		margin: 0;
		padding-block: calc(var(--p)*2.25) calc(var(--p)*1);
		display: flex;
		justify-content: center;
		@include viewport($viewport-1) {
			padding-block: calc(var(--p)*2.25) calc(var(--p)*1.5);
		}
		@include viewport($viewport-2) {
			padding-block: calc(var(--p)*2.5) calc(var(--p)*1.75);
		}
	}
	li {
		transition: z-index .2s ease-out, rotate .4s ease-out, translate .4s ease-out;
		transform-origin: center bottom;
		&:first-child {
			position: relative;
		}
		&:not(:first-child) {
			position: absolute;
		}
		&:nth-child(1) {
			z-index: 4;
			rotate: 15deg;
			translate: 75px 0;
			@media (prefers-reduced-motion: no-preference) {
				@starting-style {
					rotate: 0;
					translate: 0;
				}
			}
		}
		&:nth-child(2) {
			z-index: 3;
			rotate: 5deg;
			translate: 25px -20px;
			@media (prefers-reduced-motion: no-preference) {
				@starting-style {
					rotate: 0;
					translate: 0;
				}
			}
		}
		&:nth-child(3) {
			z-index: 2;
			rotate: -5deg;
			translate: -25px -20px;
			@media (prefers-reduced-motion: no-preference) {
				@starting-style {
					rotate: 0;
					translate: 0;
				}
			}
		}
		&:nth-child(4) {
			z-index: 1;
			rotate: -15deg;
			translate: -75px 0;
			@media (prefers-reduced-motion: no-preference) {
				@starting-style {
					rotate: 0;
					translate: 0;
				}
			}
		}
		&:has(.expand:hover), &:has(.expand:focus) {
			z-index: 5;
		}
	}
	.expand {
		transition: transform .2s ease-out;
		box-shadow: 0 0 20px hsl(from var(--color-iron) h s l / .05);
		&:after {
			--color-mix: color-mix(
				in srgb,
				var(--color-iron) 10%,
				white
			);
			@include before(var(--color-mix), 1px, 2.5px);
			@include contrast(light) {
				--color-mix: var(--color-primary);
			}
			@include contrast(dark) {
				--color-mix: hsl(from var(--color-iron) h s calc(l * 0.45));
			}
			& {
				opacity: 1;
			}
		}
		&:hover, &:focus {
			@media (prefers-reduced-motion: no-preference) {
				transform: perspective(500px) translateZ(10px);
			}
		}
		&:active {
			@media (prefers-reduced-motion: no-preference) {
				transform: perspective(500px) translateZ(0px);
				scale: 1;
			}
		}
	}
	picture {
		position: relative;
		z-index: 2;
		width: 120px;
		padding: calc(var(--p)*.4) calc(var(--p)*.4) calc(var(--p)*.4*5);
		background-color: white;
		@include viewport($viewport-1) {
			padding: calc(var(--p)*.5) calc(var(--p)*.5) calc(var(--p)*.5*5);
			width: 140px;
		}
		@include viewport($viewport-2) {
			padding: calc(var(--p)*.75) calc(var(--p)*.75) calc(var(--p)*.75*5);
			width: 226px;
		}
		img {
			aspect-ratio: 3.108 / 3.024;
			object-fit: cover;
			object-position: var(--focus-x) var(--focus-y);
		}
	}
}

.post-graphic {
	--background-post: #F2D6D9;
	--background-contrast: var(--background-post);
	--color-post: color-mix(
		in srgb,
		#DD5064,
		#BF293E
	);

	.button {
		--background: #E365A6 radial-gradient(
			circle at center left,
			#DEC54B,
			#E365A6,
			#DD5064,
			#CD1E55,
			#CD1E55
		);
		--outline: white;
	}
}

.post-art {
	--background-post: #EDB16F;
	--background-contrast: var(--background-post);
	--color-post: #3F443E;

	.button {
		--background: var(--background-post) radial-gradient(
			circle at center left,
			hsl(from var(--background-post) h calc(s * .7) calc(l * .7)),
			hsl(from #3F443E h calc(s * 2) calc(l * 1.5)),
			#3F443E
		);
		--outline: white;
	}
}