.load,
.post-code .post-content iframe:not(.css-only), .post-code .reload,
.page-index .memoji-link .text.message {
	display: none;
}

.post {
	width: 100% !important;
	max-width: 100% !important;
	grid-column: 1 / span 12 !important;
}

.post-code .post-content .warning:not(.css-only) {
	display: flex;
}

.title, .cursor,
.posts-archive li,
.page-home .contact-sites,
.page-home .contact-messages,
.posts-container .contact,
.page-index .bottom,
.page-about .bottom,
.page-me .bottom {
	opacity: 1;
}

.page-index, .page-about, .page-me {
	.posts-container {
		.post-animate {
			opacity: 1;
		}
	}
}

.cursor:after {
	animation: blink 1s cubic-bezier(1,0,0,1) infinite forwards;
}

@media (prefers-reduced-motion: no-preference) {
	.memoji-link .text.message {
		translate: 0 0;
		opacity: 1;
	}
}

@media (prefers-reduced-motion: reduce) {
	.memoji-link .text.message {
		translate: 0 0;
		opacity: 1;
	}
}