.load,
.post-code .post-content iframe:not(.css-only), .post-code .reload,
.post-music,
.lightbox + .iframe iframe:not(.css-only),
.text.loading {
	display: none;
}

.media-attachment {
	&, a {
		display: inline-block;
	}
	img {
		width: auto;
		max-width: 100%;
	}
}

.lightbox + .iframe {
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

.post-code .post-content .warning:not(.css-only),
.lightbox + .iframe .warning:not(.css-only) {
	display: flex;
}

[data-anim],
.title, .cursor,
.posts-archive li,
.posts-archive h2,
.page-home .contact-social,
.page-home .contact-messaging,
.post-code .post-content iframe,
.lightbox + .iframe iframe {
	opacity: 1;
}

.post-code .post-content .frame-wrapper {
	background-color: hsl(from var(--color-iron) h s l / .95);
}

.cursor::after {
	animation: blink 1s cubic-bezier(1,0,0,1) infinite forwards;
}

@media (prefers-reduced-motion: no-preference) {
	.avatar-link .text.message {
		translate: 0 0;
		opacity: 1;
	}
}

@media (prefers-reduced-motion: reduce) {
	.avatar-link .text.message {
		translate: 0 0;
		opacity: 1;
	}
}