.load,
.post-code .post-content iframe:not(.css-only), .post-code .reload,
.post-music,
.lightbox + .iframe iframe:not(.css-only),
.page-index .avatar-link .text.message {
	display: none;
}

.post {
	width: 100% !important;
	max-width: 100% !important;

}

.media-attachment {
	&, a {
		display: inline-block;
	}
	img {
		width: auto;
		max-width: 100%;
	}
}

.lightbox + .iframe {
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

.post-code .post-content .warning:not(.css-only),
.lightbox + .iframe .warning:not(.css-only) {
	display: flex;
}

.title, .cursor,
.posts-archive li,
.page-home .contact-sites,
.page-home .contact-messages,
.posts-container .contact,
.bottom,
.filters a,
.post-animate,
.post-code .post-content iframe,
.lightbox + .iframe iframe {
	opacity: 1;
}

.post-code .post-content {
	background: hsl(from var(--color-iron) h s l / .95) !important;
}

.cursor::after {
	animation: blink 1s cubic-bezier(1,0,0,1) infinite forwards;
}

@media (prefers-reduced-motion: no-preference) {
	.avatar-link .text.message {
		translate: 0 0;
		opacity: 1;
	}
}

@media (prefers-reduced-motion: reduce) {
	.avatar-link .text.message {
		translate: 0 0;
		opacity: 1;
	}
}