@import 'partials/uguru/mixin';

// animation
.pf-main-section {
	will-change: opacity, transform;
	&:not(.active) {
		opacity: 0;
		z-index: -1;
		.pf-section {
			transform: translateY(25%) translateZ(0);
			opacity: 0;
		}
	}
	&.active {
		opacity: 1;
		z-index: 1;
		.pf-section {
			transform: none;
			opacity: 1;
			transition: 1000ms $easeOutExpo;
		}
	}
}

// tab bar
.tab-bar {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	position: relative;
	background: $charcoal;
	width: 100%;
	overflow: auto;
	@media screen and (max-width: 480px) {
		justify-content: flex-start;
	}
	&::-webkit-scrollbar {
		display: none;
	}
	&::-moz-scrollbar {
		display: none;
	}
	> div {
		display: flex;
		position: relative;
		margin: 0 7.5px;
		width: 100%;
		max-width: 660px;
		min-width: 480px;
		a {
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;
			width: 25%;
			text-align: center;
			padding: 0 7.5px;
			height: 60px;
			font-size: 18px;
			font-weight: 600;
			text-transform: uppercase;
			&:nth-child(1) {
				&.active {
					~ hr {
						transform: translateX(0) translateZ(0);
						background: white;
					}
				}
			}
			&:nth-child(2) {
				&.active {
					~ hr {
						transform: translateX(100%) translateZ(0);
						background: white;
					}
				}
			}
			&:nth-child(3) {
				&.active {
					~ hr {
						transform: translateX(200%) translateZ(0);
						background: white;
					}
				}
			}
			&:nth-child(4) {
				&.active {
					~ hr {
						transform: translateX(300%) translateZ(0);
						background: white;
					}
				}
			}

			&:nth-child(1) {
				&:hover, &:focus {
					~ hr {
						transform: translateX(0) translateZ(0);
						background: rgba(white, .7);
					}
				}
				&:active {
					~ hr {
						background: white;
					}
				}
			}
			&:nth-child(2) {
				&:hover, &:focus {
					~ hr {
						transform: translateX(100%) translateZ(0);
						background: rgba(white, .7);
					}
				}
				&:active {
					~ hr {
						background: white;
					}
				}
			}
			&:nth-child(3) {
				&:hover, &:focus {
					~ hr {
						transform: translateX(200%) translateZ(0);
						background: rgba(white, .7);
					}
				}
				&:active {
					~ hr {
						background: white;
					}
				}
			}
			&:nth-child(4) {
				&:hover, &:focus {
					~ hr {
						transform: translateX(300%) translateZ(0);
						background: rgba(white, .7);
					}
				}
				&:active {
					~ hr {
						background: white;
					}
				}
			}
		}
		hr {
			transition: 300ms $easeOutExpo;
			will-change: transform, background;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 25%;
			height: 5px;
			background: white;
			border: 0;
			border-radius: 1px;
			margin: 0;
		}
	}
}

// social bar
.social-bar {
	ul {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		align-content: center;
		justify-content: center;
		padding: 7.5px;
		li {
			padding: 7.5px;
			a {
				border-radius: 100%;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				align-content: center;
				justify-content: center;
				transform-origin: center center;
				height: 48px;
				&:not(.auto) {
					width: 48px;
				}
				&.auto {
					padding: 0 15px;
					font-size: 18px;
					font-weight: 600;
					text-transform: uppercase;
					&:hover, &:focus {
						background: $light-slate!important;
					}
					&:active {
						background: $slate!important;
					}
				}
				svg {
					display: block;
					width: 100%;
					height: 100%;
					padding: 6px;
				}
				&.bg-fb {
					background: $facebook;
					&:hover, &:focus {
						background: mix($facebook, white);
					}
					&:active {
						background: mix($facebook, $slate);
					}
				}
				&.bg-tw {
					background: $twitter;
					&:hover, &:focus {
						background: mix($twitter, white);
					}
					&:active {
						background: mix($twitter, $slate);
					}
				}
				&.bg-li {
					background: $linkedin;
					&:hover, &:focus {
						background: mix($linkedin, white);
					}
					&:active {
						background: mix($linkedin, $slate);
					}
				}
				&.bg-in {
					background: $instagram;
					&:hover, &:focus {
						background: mix($instagram, white);
					}
					&:active {
						background: mix($instagram, $slate);
					}
				}
			}
		}
	}
	&.fill {
		a {
			svg {
				fill: white;
			}
			&.bg-fb {
				&:hover, &:focus {
					svg {
						fill: mix($facebook, $slate);
					}
				}
				&:active {
					svg {
						fill: white;
					}
				}
			}
			&.bg-tw {
				&:hover, &:focus {
					svg {
						fill: mix($twitter, $slate);
					}
				}
				&:active {
					svg {
						fill: white;
					}
				}
			}
			&.bg-li {
				&:hover, &:focus {
					svg {
						fill: mix($linkedin, $slate);
					}
				}
				&:active {
					svg {
						fill: white;
					}
				}
			}
			&.bg-in {
				&:hover, &:focus {
					svg {
						fill: mix($instagram, $slate);
					}
				}
				&:active {
					svg {
						fill: white;
					}
				}
			}
		}
	}
}

// misc separate components
.pf-widget-mobile {
	.pf-icon {
		margin: 0 auto;
		width: 64px;
		height: 64px;
		border-width: 2px;
	}
	.pf-name {
		width: 100%;
		font-size: 20px;
		font-weight: 600;
	}
	.pf-school-name {
		width: 100%;
		font-size: 16px;
		font-weight: 400;
	}
	.pf-rating {
		margin-top: 10px;
	}
	.pf-reviews {
		width: 100%;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
	}
}
.pf-byword {
	position: relative;
	margin-top: 47px;
	width: 100%;
	max-width: 400px;
	background: rgba(lighten($slate, 15%), .3);
	border: 2px solid white;
	border-radius: 2px;
	padding: 15px;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2;
}

// profile
.pf-container {
	height: 100%;
	width: 100%;
	color: white;
}
.pf-aside {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
	position: relative;
	background: lighten($slate, 15%);
	height: calc(100% / 3);
	text-align: center;
	.pf-aside-bg {
		opacity: 0.3;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
	}
	*:not(.pf-aside-bg) {
		z-index: 2;
	}
	.pf-widget {
		margin-top: 47px;
	}
	.pf-widget, .pf-byword {
		display: none;
		@media screen and (min-width: 1000px) {
			width: calc(100% - 30px);
		}
	}
}
.pf-rest {
	height: calc(100% / 3 * 2);
}
.pf-main {
	position: relative;
	background: $slate;
	height: calc(100% - 60px);
	> div {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		.pf-main-header {
			background: rgba(white, .1);
			padding: 15px;
			margin: 0!important;
			text-align: center;
			h1 {
				font-size: 28px;
				font-weight: 600;
				line-height: 1.3;
			}
			p {
				margin: 0;
				padding: 0 15px;
				font-size: 16px;
				font-weight: 400;
				line-height: 1.4;
			}
		}
		.pf-main-subheader {
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: space-between;
			position: relative;
			max-width: 845px;
			margin: 0 auto;
			padding: 15px;
			h2 {
				font-size: 18px;
				font-weight: 600;
				text-transform: uppercase;
			}
			a {
				opacity: 0.5;
				font-size: 16px;
				font-weight: 600;
				&:hover, &:focus {
					opacity: 0.75;
				}
				&:active {
					opacity: 1;
				}
			}
			&:after {
				border-radius: 4px;
				content: "";
				display: block;
				position: absolute;
				bottom: -1px;
				left: 15px;
				height: 2px;
				width: calc(100% - 30px);
				background: rgba(white, .2);
			}
		}
		.pf-items {
			list-style: none;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			align-content: center;
			justify-content: center;
			width: 100%;
			max-width: 845px;
			margin: 0 auto;
			padding: 7.5px;
			> li {
				display: flex;
				align-items: center;
				align-content: center;
				justify-content: center;
				padding: 7.5px;
				width: 100%;
				.pf-tile, .pf-cardlet {
					width: 100%;
					max-width: 400px;
				}
			}
		}
		&.pf-about {
			.pf-about-section {
				margin: 0 auto 15px;
				width: calc(100% - 30px);
				max-width: 815px;
				&:first-child {
					margin-top: 15px;
				}
				header {
					min-height: 0;
					h2 {
						background: $shamrock;
						width: 100%;
						padding: 5px 0;
						border-radius: 2px 2px 0 0;
						font-size: 16px;
						font-weight: 600;
						text-align: center;
						text-transform: uppercase;
					}
				}
				.social-bar {
					padding: 0!important;
				}
				> div:not(.social-bar) {
					padding: 15px;
					background: lighten($slate, 15%);
					border-radius: 0 0 2px 2px;
					h1 {
						font-size: 24px;
						font-weight: 600;
						text-align: center;
						line-height: 1.3;
					}
					h2 {
						font-size: 16px;
						font-weight: 400;
						text-align: center;
						max-width: 600px;
						margin-left: auto;
						margin-right: auto;
						line-height: 1.4;
					}
					.pf-url {
						list-style: none;
						margin: 0;
						padding: 0;
						display: flex;
						align-items: center;
						align-content: center;
						justify-content: center;
						li {
							padding: 0;
							background: none;
							&:first-child {
								a {
									display: block;
									padding: 10px 15px;
									background: rgba(white, .1);
									font-size: 16px;
									font-weight: 600;
								}
							}
							&:last-child {
								a {
									display: block;
									background: $shamrock;
									padding: 0;
									svg {
										display: block;
										height: 40px;
										width: 40px;
										padding: 8px;
										* {
											fill: none;
											stroke: white;
											stroke-width: 6px;
											stroke-linecap: round;
											stroke-linejoin: round;
										}
									}
								}
							}
						}
					}
					.pf-about-shops {
						list-style: none;
						display: flex;
						flex-flow: row wrap;
						align-items: center;
						align-content: center;
						justify-content: center;
						margin: -15px;
						padding: 7.5px;
						li {
							width: 20%;
							padding: 7.5px;
							a {
								display: block;
								border-radius: 2px;
								svg {
									* {
										fill: none;
										stroke: white;
										stroke-width: 2px;
										stroke-linecap: round;
										stroke-linejoin: round;
									}
								}
								&.pf-delivery {
									background: $auburn;
									&:hover, &:focus {
										background: mix($auburn, white);
										svg {
											* {
												stroke: mix($auburn, $slate);
											}
										}
									}
									&:active {
										background: mix($auburn, $slate);
										svg {
											* {
												stroke: white;
											}
										}
									}
								}
								&.pf-freelancing {
									background: $orange;
									&:hover, &:focus {
										background: mix($orange, white);
										svg {
											* {
												stroke: mix($orange, $slate);
											}
										}
									}
									&:active {
										background: mix($orange, $slate);
										svg {
											* {
												stroke: white;
											}
										}
									}
								}
								&.pf-baking {
									background: $gold;
									&:hover, &:focus {
										background: mix($gold, white);
										svg {
											* {
												stroke: mix($gold, $slate);
											}
										}
									}
									&:active {
										background: mix($gold, $slate);
										svg {
											* {
												stroke: white;
											}
										}
									}
								}
								&.pf-photography {
									background: $moola;
									&:hover, &:focus {
										background: mix($moola, white);
										svg {
											* {
												stroke: mix($moola, $slate);
											}
										}
									}
									&:active {
										background: mix($moola, $slate);
										svg {
											* {
												stroke: white;
											}
										}
									}
								}
								&.pf-household {
									background: $cobalt;
									&:hover, &:focus {
										background: mix($cobalt, white);
										svg {
											* {
												stroke: mix($cobalt, $slate);
											}
										}
									}
									&:active {
										background: mix($cobalt, $slate);
										svg {
											* {
												stroke: white;
											}
										}
									}
								}
								&.pf-tech {
									background: $azure;
									&:hover, &:focus {
										background: mix($azure, white);
										svg {
											* {
												stroke: mix($azure, $slate);
											}
										}
									}
									&:active {
										background: mix($azure, $slate);
										svg {
											* {
												stroke: white;
											}
										}
									}
								}
								&.pf-athletic {
									background: $eggplant;
									&:hover, &:focus {
										background: mix($eggplant, white);
										svg {
											* {
												stroke: mix($eggplant, $slate);
											}
										}
									}
									&:active {
										background: mix($eggplant, $slate);
										svg {
											* {
												stroke: white;
											}
										}
									}
								}
								&.pf-academic {
									background: $cerise;
									&:hover, &:focus {
										background: mix($cerise, white);
										svg {
											* {
												stroke: mix($cerise, $slate);
											}
										}
									}
									&:active {
										background: mix($cerise, $slate);
										svg {
											* {
												stroke: white;
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.pf-wwf {
				> div {
					padding: 0!important;
				}
				h1 {
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					align-content: center;
					justify-content: center;
					padding: 7.5px;
					span {
						display: block;
						padding: 7.5px;
					}
					ul {
						display: flex;
						flex-flow: row wrap;
						padding: 0;
						li {
							padding: 7.5px;
							span {
								display: block;
								margin: 0 auto;
								text-align: center;
								&:first-child {
									border-radius: 100%;
									background: rgba(white, .2);
									width: 64px;
									height: 64px;
									padding: 8px;
									svg {
										* {
											fill: none;
											stroke: white;
											stroke-width: 3px;
											stroke-linecap: round;
											stroke-linejoin: round;
										}
									}
								}
								&:last-child {
									font-size: 12px;
									font-weight: 600;
									text-transform: uppercase;
								}
							}
						}
					}
				}
			}
			.pf-exp {
				> div {
					padding: 0!important;
					ul {
						position: relative;
						padding: 7.5px;
						&:before {
							border-radius: 10px;
							opacity: 0.5;
							content: "";
							display: none;
							position: absolute;
							top: 15px;
							left: 100px;
							width: 5px;
							height: calc(100% - 30px);
							background: white;
						}
						li {
							position: relative;
							padding: 7.5px;
							&:before {
								border-radius: 100%;
								content: "";
								display: none;
								position: absolute;
								top: 30px;
								left: 87.5px;
								width: 15px;
								height: 15px;
								background: white;
							}
							> div {
								display: flex;
								align-items: flex-start;
								background: none;
								text-align: left;
								padding: 0;
								.pf-exp-date {
									display: none;
									font-size: 16px;
									font-weight: 600;
									text-transform: uppercase;
									width: 120px;
									padding: 15px 0;
									line-height: 28px;
								}
								> div {
									position: relative;
									width: 100%;
									background: $slate;
									border-radius: 2px;
									padding: 15px;
									&:after {
										content: "";
										display: none;
										position: absolute;
										top: 15px;
										left: -30px;
										width: 0;
										height: 0;
										border: 15px solid transparent;
										border-right-color: $slate;
									}
									h1 {
										text-align: left!important;
									}
									p {
										margin: 5px 0 0;
										font-size: 16px;
									}
									.pf-exp-time {
										position: absolute;
										right: 0;
										top: 10px;
										background: lighten($slate, 25%)!important;
										padding: 5px 10px 5px 0!important;
										height: 30px;
										font-size: 14px;
										font-weight: 600;
										&:before {
											content: "";
											display: block;
											position: absolute;
											top: 0;
											left: -20px;
											border: 15px solid lighten($slate, 25%);
											border-left-color: transparent!important;
											border-left-width: 10px;
											border-right-width: 10px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.pf-mobile-cta {
	position: fixed;
	z-index: 100;
	bottom: 0;
	left: 0;
}

// colors
.pf-container {
	&.pf-academic {
		.verified {
			span svg {
				path:first-child {
					fill: $cerise;
				}
			}
		}
		.tab-bar {
			> div {
				a {
					&:nth-child(1) {
						&.active {
							~ hr {
								background: mix($cerise, white);
							}
						}
					}
					&:nth-child(2) {
						&.active {
							~ hr {
								background: mix($cerise, white);
							}
						}
					}
					&:nth-child(3) {
						&.active {
							~ hr {
								background: mix($cerise, white);
							}
						}
					}
					&:nth-child(4) {
						&.active {
							~ hr {
								background: mix($cerise, white);
							}
						}
					}

					&:nth-child(1) {
						&:hover, &:focus {
							~ hr {
								background: rgba(mix($cerise, white), .7);
							}
						}
						&:active {
							~ hr {
								background: mix($cerise, white);
							}
						}
					}
					&:nth-child(2) {
						&:hover, &:focus {
							~ hr {
								background: rgba(mix($cerise, white), .7);
							}
						}
						&:active {
							~ hr {
								background: mix($cerise, white);
							}
						}
					}
					&:nth-child(3) {
						&:hover, &:focus {
							~ hr {
								background: rgba(mix($cerise, white), .7);
							}
						}
						&:active {
							~ hr {
								background: mix($cerise, white);
							}
						}
					}
					&:nth-child(4) {
						&:hover, &:focus {
							~ hr {
								background: rgba(mix($cerise, white), .7);
							}
						}
						&:active {
							~ hr {
								background: mix($cerise, white);
							}
						}
					}
				}
			}
		}
		.pf-main {
			> div {
				.pf-main-subheader {
					&:after {
						background: rgba($cerise, .2);
					}
				}
				&.pf-about {
					.pf-about-section {
						header {
							h2 {
								background: $cerise;
							}
						}
						.pf-url {
							li {
								&:last-child {
									a {
										background: $cerise!important;
										&:hover, &:focus {
											background: mix($cerise, white)!important;
											svg {
												* {
													stroke: mix($cerise, $slate);
												}
											}
										}
										&:active {
											background: mix($cerise, $slate)!important;
											svg {
												* {
													stroke: white;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		button {
			background: $cerise;
			&.pf-mobile-cta {
				background: rgba($cerise, .95);
			}
			&:hover, &:focus {
				background: mix($cerise, white);
				color: mix($cerise, $slate);
			}
			&:active {
				background: mix($cerise, $slate);
				color: white;
			}
		}
	}
	&.pf-baking {
		.verified {
			span svg {
				path:first-child {
					fill: $gold;
				}
			}
		}
		.tab-bar {
			> div {
				a {
					&:nth-child(1) {
						&.active {
							~ hr {
								background: white;
							}
						}
					}
					&:nth-child(2) {
						&.active {
							~ hr {
								background: white;
							}
						}
					}
					&:nth-child(3) {
						&.active {
							~ hr {
								background: white;
							}
						}
					}
					&:nth-child(4) {
						&.active {
							~ hr {
								background: white;
							}
						}
					}

					&:nth-child(1) {
						&:hover, &:focus {
							~ hr {
								background: rgba(white, .7);
							}
						}
						&:active {
							~ hr {
								background: white;
							}
						}
					}
					&:nth-child(2) {
						&:hover, &:focus {
							~ hr {
								background: rgba(white, .7);
							}
						}
						&:active {
							~ hr {
								background: white;
							}
						}
					}
					&:nth-child(3) {
						&:hover, &:focus {
							~ hr {
								background: rgba(white, .7);
							}
						}
						&:active {
							~ hr {
								background: white;
							}
						}
					}
					&:nth-child(4) {
						&:hover, &:focus {
							~ hr {
								background: rgba(white, .7);
							}
						}
						&:active {
							~ hr {
								background: white;
							}
						}
					}
				}
			}
		}
		.pf-main {
			> div {
				.pf-main-header {
					background: $gold;
				}
				.pf-main-subheader {
					&:after {
						background: rgba($gold, .2);
					}
				}
				&.pf-about {
					.pf-about-section {
						header {
							h2 {
								background: $gold;
							}
						}
						.pf-url {
							li {
								&:last-child {
									a {
										background: $gold!important;
										&:hover, &:focus {
											background: mix($gold, white)!important;
											svg {
												* {
													stroke: mix($gold, $slate);
												}
											}
										}
										&:active {
											background: mix($gold, $slate)!important;
											svg {
												* {
													stroke: white;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		button {
			background: $gold;
			&.pf-mobile-cta {
				background: rgba($gold, .95);
			}
			&:hover, &:focus {
				background: mix($gold, white);
				color: mix($gold, $slate);
			}
			&:active {
				background: mix($gold, $slate);
				color: white;
			}
		}
	}
	&.pf-photography {
		.verified {
			span svg {
				path:first-child {
					fill: $moola;
				}
			}
		}
		.tab-bar {
			> div {
				a {
					&:nth-child(1) {
						&.active {
							~ hr {
								background: mix($moola, white);
							}
						}
					}
					&:nth-child(2) {
						&.active {
							~ hr {
								background: mix($moola, white);
							}
						}
					}
					&:nth-child(3) {
						&.active {
							~ hr {
								background: mix($moola, white);
							}
						}
					}
					&:nth-child(4) {
						&.active {
							~ hr {
								background: mix($moola, white);
							}
						}
					}

					&:nth-child(1) {
						&:hover, &:focus {
							~ hr {
								background: rgba(mix($moola, white), .7);
							}
						}
						&:active {
							~ hr {
								background: mix($moola, white);
							}
						}
					}
					&:nth-child(2) {
						&:hover, &:focus {
							~ hr {
								background: rgba(mix($moola, white), .7);
							}
						}
						&:active {
							~ hr {
								background: mix($moola, white);
							}
						}
					}
					&:nth-child(3) {
						&:hover, &:focus {
							~ hr {
								background: rgba(mix($moola, white), .7);
							}
						}
						&:active {
							~ hr {
								background: mix($moola, white);
							}
						}
					}
					&:nth-child(4) {
						&:hover, &:focus {
							~ hr {
								background: rgba(mix($moola, white), .7);
							}
						}
						&:active {
							~ hr {
								background: mix($moola, white);
							}
						}
					}
				}
			}
		}
		.pf-main {
			> div {
				.pf-main-subheader {
					&:after {
						background: rgba($moola, .2);
					}
				}
				&.pf-about {
					.pf-about-section {
						header {
							h2 {
								background: $moola;
							}
						}
						.pf-url {
							li {
								&:last-child {
									a {
										background: $moola!important;
										&:hover, &:focus {
											background: mix($moola, white)!important;
											svg {
												* {
													stroke: mix($moola, $slate);
												}
											}
										}
										&:active {
											background: mix($moola, $slate)!important;
											svg {
												* {
													stroke: white;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		button {
			background: $moola;
			&.pf-mobile-cta {
				background: rgba($moola, .95);
			}
			&:hover, &:focus {
				background: mix($moola, white);
				color: mix($moola, $slate);
			}
			&:active {
				background: mix($moola, $slate);
				color: white;
			}
		}
	}
	&.pf-tech {
		.verified {
			span svg {
				path:first-child {
					fill: $azure;
				}
			}
		}
		.tab-bar {
			> div {
				a {
					&:nth-child(1) {
						&.active {
							~ hr {
								background: mix($azure, white);
							}
						}
					}
					&:nth-child(2) {
						&.active {
							~ hr {
								background: mix($azure, white);
							}
						}
					}
					&:nth-child(3) {
						&.active {
							~ hr {
								background: mix($azure, white);
							}
						}
					}
					&:nth-child(4) {
						&.active {
							~ hr {
								background: mix($azure, white);
							}
						}
					}

					&:nth-child(1) {
						&:hover, &:focus {
							~ hr {
								background: rgba(mix($azure, white), .7);
							}
						}
						&:active {
							~ hr {
								background: mix($azure, white);
							}
						}
					}
					&:nth-child(2) {
						&:hover, &:focus {
							~ hr {
								background: rgba(mix($azure, white), .7);
							}
						}
						&:active {
							~ hr {
								background: mix($azure, white);
							}
						}
					}
					&:nth-child(3) {
						&:hover, &:focus {
							~ hr {
								background: rgba(mix($azure, white), .7);
							}
						}
						&:active {
							~ hr {
								background: mix($azure, white);
							}
						}
					}
					&:nth-child(4) {
						&:hover, &:focus {
							~ hr {
								background: rgba(mix($azure, white), .7);
							}
						}
						&:active {
							~ hr {
								background: mix($azure, white);
							}
						}
					}
				}
			}
		}
		.pf-main {
			> div {
				.pf-main-header {
					background: mix($light-slate, $azure, 95%);
				}
				.pf-main-subheader {
					&:after {
						background: rgba($azure, .2);
					}
				}
				&.pf-about {
					.pf-about-section {
						header {
							h2 {
								background: $azure;
							}
						}
						.pf-url {
							li {
								&:last-child {
									a {
										background: $azure!important;
										&:hover, &:focus {
											background: mix($azure, white)!important;
											svg {
												* {
													stroke: mix($azure, $slate);
												}
											}
										}
										&:active {
											background: mix($azure, $slate)!important;
											svg {
												* {
													stroke: white;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		button {
			background: $azure;
			&.pf-mobile-cta {
				background: rgba($azure, .95);
			}
			&:hover, &:focus {
				background: mix($azure, white);
				color: mix($azure, $slate);
			}
			&:active {
				background: mix($azure, $slate);
				color: white;
			}
		}
	}
	&.pf-household {
		.verified {
			span svg {
				path:first-child {
					fill: $cobalt;
				}
			}
		}
		.tab-bar {
			> div {
				a {
					&:nth-child(1) {
						&.active {
							~ hr {
								background: mix($cobalt, white);
							}
						}
					}
					&:nth-child(2) {
						&.active {
							~ hr {
								background: mix($cobalt, white);
							}
						}
					}
					&:nth-child(3) {
						&.active {
							~ hr {
								background: mix($cobalt, white);
							}
						}
					}
					&:nth-child(4) {
						&.active {
							~ hr {
								background: mix($cobalt, white);
							}
						}
					}

					&:nth-child(1) {
						&:hover, &:focus {
							~ hr {
								background: rgba(mix($cobalt, white), .7);
							}
						}
						&:active {
							~ hr {
								background: mix($cobalt, white);
							}
						}
					}
					&:nth-child(2) {
						&:hover, &:focus {
							~ hr {
								background: rgba(mix($cobalt, white), .7);
							}
						}
						&:active {
							~ hr {
								background: mix($cobalt, white);
							}
						}
					}
					&:nth-child(3) {
						&:hover, &:focus {
							~ hr {
								background: rgba(mix($cobalt, white), .7);
							}
						}
						&:active {
							~ hr {
								background: mix($cobalt, white);
							}
						}
					}
					&:nth-child(4) {
						&:hover, &:focus {
							~ hr {
								background: rgba(mix($cobalt, white), .7);
							}
						}
						&:active {
							~ hr {
								background: mix($cobalt, white);
							}
						}
					}
				}
			}
		}
		.pf-main {
			> div {
				.pf-main-subheader {
					&:after {
						background: rgba($cobalt, .2);
					}
				}
				&.pf-about {
					.pf-about-section {
						header {
							h2 {
								background: $cobalt;
							}
						}
						.pf-url {
							li {
								&:last-child {
									a {
										background: $cobalt!important;
										&:hover, &:focus {
											background: mix($cobalt, white)!important;
											svg {
												* {
													stroke: mix($cobalt, $slate);
												}
											}
										}
										&:active {
											background: mix($cobalt, $slate)!important;
											svg {
												* {
													stroke: white;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		button {
			background: $cobalt;
			&.pf-mobile-cta {
				background: rgba($cobalt, .95);
			}
			&:hover, &:focus {
				background: mix($cobalt, white);
				color: mix($cobalt, $slate);
			}
			&:active {
				background: mix($cobalt, $slate);
				color: white;
			}
		}
	}
}
@media screen and (max-width: 768px) {
	.pf-widget-mobile {
		.pf-name {
			margin-top: 5px;
		}
	}
	.pf-container {
		overflow: auto;
		background: $slate;
	}
	.pf-rest {
		height: auto;
	}
	.pf-main {
		> div {
			height: auto;
			overflow: visible;
		}
		.pf-main-subheader {
			max-width: 430px;
		}
	}
}
@media screen and (min-width: 414px) and (min-height: 700px) {
	.pf-widget-mobile {
		.user-icon {
			width: 96px;
			height: 96px;
		}
	}
}
@media screen and (min-width: 768px) {
	.pf-container {
		display: flex;
	}
	.pf-mobile-cta {
		display: none;
	}
	.pf-aside {
		height: 100%;
		width: calc(100% / 3);
		padding: 15px;
		.pf-widget-mobile {
			display: none;
		}
		.pf-byword, .pf-widget {
			display: block;
		}
	}
	.pf-rest {
		height: 100%;
		width: calc(100% / 3 * 2);
	}
	.pf-portfolio-items {
		padding: 15px;
		li {
			width: calc(100% / 2)!important;
			padding: 15px;
			margin-bottom: 0!important;
		}
	}
	.pf-main {
		> div {
			.pf-items {
				li {
					width: 50%;
				}
			}
			&.pf-about {
				.pf-about-links {
					> div {
						display: flex;
						flex-flow: row wrap;
						align-items: center;
						align-content: center;
						justify-content: center;
					}
				}
				.pf-exp {
					> div {
						ul {
							&:before {
								display: block;
							}
							li {
								&:before {
									display: block;
								}
								> div {
									.pf-exp-date {
										display: block;
									}
									> div {
										width: calc(100% - 120px);
										&:after {
											display: block;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
