// utilities
@use 'partials/shared/utilities' as *;
@use 'partials/shared/mixins' as *;

// components
@use 'partials/components/progress';
@use 'partials/components/tasklist';

// posts
@use 'partials/post/post';
@use 'partials/post/recipe';

.page-recipes {
	--background-light: hsl(from var(--color-mint) h s calc(l * 1.25));
	@include contrast {
		--background-light: hsl(from var(--color-mint) h s calc(l * 1.4));
	}
}

* {
	@include selection {
		--selection: light-dark(
			hsl(from var(--color-mint) h s l / .8),
			hsl(from var(--color-mint) h s l / .8)
		);
	}
}

.avatar-link {
	--focus: light-dark(
		color-mix(
			in hsl,
			var(--color-grey) 70%,
			var(--color-mint)
		),
		color-mix(
			in hsl,
			var(--color-grey) 70%,
			var(--color-mint)
		)
	);
}

.bottom {
	a.button-reduced {
		@mixin colors {
			--background: color-mix(
				in hsl,
				var(--color-grey) 75%,
				var(--color-mint)
			);
			--background-hover: color-mix(
				in hsl,
				var(--color-grey) 75%,
				var(--color-dark-grey)
			);
			--background-active: var(--color-dark-grey);
			--outline: light-dark(
				white,
				color-mix(
					in srgb,
					white 70%,
					var(--color-mint)
				)
			);
		}
		@include colors;

		@include tone(blue) {
			@include colors;
		}
		@include tone(yellow) {
			@include colors;
		}
	}
}

.button {
	@include recipe-button;
}

.toggle {
	--outline: color-mix(
		in srgb,
		white,
		var(--color-mint)
	);
}

.progress {
	--background: linear-gradient(
		to right,
		var(--color-mint),
		var(--color-marine),
		var(--color-grey)
	);
}

.post-single .post-recipe {
	.post-header-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;
		z-index: 2;
		padding: calc(var(--p)*2) calc(var(--p)*2) 0;
		@include container(recipe, medium, $medium) {
			justify-content: flex-end;
			position: absolute;
			inset: 0;
			padding: 0;
			.time-default {
				margin-left: calc(var(--p)*2);
				position: relative;
				z-index: 1;
			}
			h2 {
				position: relative;
				padding: 0 calc(var(--p)*2) calc(var(--p)*1.5);
				width: 100%;
				&::before {
					scale: 1 5;
					transform-origin: center bottom;
					content: "";
					display: block;
					position: absolute;
					inset: 0;
					z-index: 0;
				}
				a {
					--underline-width: 3px;
					z-index: 1;
					@include contrast {
						text-decoration: underline solid 3px;
					}
					&:focus-visible {
						@include contrast {
							@include focus-shadow(var(--focus, var(--primary)));
						}
					}
				}
			}
		}
	}
	.post-header-image {
		picture {
			@include viewport($iphone-max) {
				@include clip-path-edges(2px, up);
			}
		}
		@include container(recipe, medium, $medium) {
			+ .post-header-content {
				h2 {
					&::before {
						background: var(--overlay, linear-gradient(
							to top,
							hsl(from white h s l / .7),
							hsl(from white h s l / 0)
						));
					}
					a {
						--focus: hsl(from var(--color-dark-grey) h s l / .9);
						color: var(--focus);
						&:hover, &:focus {
							--underline-color: var(--focus);
						}
						&:active {
							--focus: hsl(from var(--color-dark-grey) h s calc(l * .73));
						}
					}
				}
				.time-default {
					--background: hsl(from var(--color-dark-grey) h s l / .9);
					--border: white;
					--background-contrast: hsl(from var(--color-dark-grey) h s l / .9);
					@include reduce-transparency {
						--background: var(--color-dark-grey);
					}
				}
			}
			&:where(.theme-dark) + .post-header-content {
				h2 {
					--overlay: linear-gradient(
						to top,
						hsl(from var(--color-dark-grey) h s l / .7),
						hsl(from var(--color-dark-grey) h s l / 0)
					);
					a {
						--focus: hsl(from white h s l / .9);
						&:active {
							--focus: hsl(from white h s l / .6);
						}
					}
				}
				.time-default {
					--background: hsl(from white h s l / .9);
					--border: var(--color-dark-grey);
					--background-contrast: hsl(from white h s l / .9);
					--color: var(--color-dark-grey);
					@include reduce-transparency {
						--background: white;
					}
				}
			}
		}
	}
	.post-meta {
		@include container(recipe, medium, $medium) {
			justify-content: center;
			margin-top: 0;
		}
		.recipe-servings {
			@include container(recipe, medium, $medium) {
				text-align: center;
			}
		}
	}
}