// utilities
@import 'partials/shared/utilities';

// components
@import 'partials/components/progress';
@import 'partials/components/tasklist';

// posts
@import 'partials/post/post';
.post-recipe {
	@import 'partials/post/recipe';
}

.page-recipes {
	@include theme(light) {
		background-color: hsl(from var(--color-mint) h s calc(l * 1.2));
	}
	@include theme(dark) {
		background-color: hsl(from var(--color-iron) h s calc(l * .73));
	}
	@include contrast(light) {
		background-color: hsl(from var(--color-mint) h s calc(l * 1.4));
	}
	@include contrast(dark) {
		background-color: hsl(from var(--color-iron) h s calc(l * .45));
	}
}

* {
	@include selection {
		@include theme(light) {
			background-color: hsl(from var(--color-mint) h s l / .8);
		}
		@include theme(dark) {
			background-color: hsl(from var(--color-mint) h s l / .8);
		}
	}
}

.avatar-link {
	a {
		&:focus-visible {
			@include theme(light) {
				@include focus-shadow(color-mix(
					in hsl,
					var(--color-slate) 70%,
					var(--color-mint)
				));
			}
			@include theme(dark) {
				@include focus-shadow(color-mix(
					in hsl,
					var(--color-slate) 70%,
					var(--color-mint)
				));
			}
		}
	}
}

.bottom {
	.button-reduced[href] {
		--background: color-mix(
			in hsl,
			var(--color-slate) 70%,
			var(--color-mint)
		);
		--background-hover: var(--color-slate);
		--background-active: var(--color-iron);
		@include theme(light) {
			--outline: white;
		}
		@include theme(dark) {
			--outline: color-mix(
				in srgb,
				white 70%,
				var(--color-mint)
			);
		}
	}
}

.button {
	@include recipe-button;
}

.toggle {
	--outline: color-mix(
		in srgb,
		white,
		var(--color-mint)
	);
}

.progress {
	@supports (animation-timeline: scroll()) {
		background: linear-gradient(
			to right,
			color-mix(
				in srgb,
				var(--color-periwinkle),
				var(--color-mint)
			),
			var(--color-mint),
			var(--color-slate)
		);
	}
}

.post-single .post-recipe {
	.post-header-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;
		z-index: 2;
		padding: calc(var(--p)*2) calc(var(--p)*2) 0;
		@include container(recipe, medium, $medium) {
			justify-content: flex-end;
			padding: 0;
			@include full-offset(0, bottom);
			time {
				margin-left: calc(var(--p)*2);
				position: relative;
				z-index: 1;
			}
			h2 {
				position: relative;
				padding: 0 calc(var(--p)*2) calc(var(--p)*1.5);
				width: 100%;
				&::before {
					content: "";
					display: block;
					z-index: 0;
					scale: 1 5;
					transform-origin: center bottom;
					@include full-offset(0, bottom);
				}
				a {
					z-index: 1;
				}
			}
		}
	}
	.post-header-image {
		picture {
			@include viewport($iphone-max) {
				@include clip-path-edges(2px, up);
			}
		}
		@include container(recipe, medium, $medium) {
			&.header-light + .post-header-content {
				h2 {
					&::before {
						background: linear-gradient(
							to top,
							hsl(from white h s l / .7),
							hsl(from white h s l / 0)
						);
					}
					a {
						color: hsl(from var(--color-iron) h s l / .9);
					}
				}
				time {
					background-color: hsl(from var(--color-iron) h s l / .9);
					color: white;
					@include reduce-transparency {
						background-color: var(--color-iron);
					}
					&::before {
						background-color: white;
					}
					&::after {
						background-color: hsl(from var(--color-iron) h s l / .9);
					}
				}
			}
			&.header-dark + .post-header-content {
				h2 {
					&::before {
						background: linear-gradient(
							to top,
							hsl(from var(--color-iron) h s l / .7),
							hsl(from var(--color-iron) h s l / 0)
						);
					}
					a {
						color: hsl(from white h s l / .9);
					}
				}
				time {
					background-color: hsl(from white h s l / .9);
					color: var(--color-iron);
					@include reduce-transparency {
						background-color: white;
					}
					&::before {
						background-color: var(--color-iron);
					}
					&::after {
						background-color: hsl(from white h s l / .9);
					}
				}
			}
			+ .post-header-content {
				h2:has(a:hover, a:focus) + time {
					translate: 0 -3px;
				}
				h2 a {
					text-decoration: none;
					&::before {
						transition: all .2s ease-out;
						opacity: 0;
						transform-origin: center bottom;
						scale: 1 0;
						translate: 0 calc(var(--p) / 2);
						content: "";
						display: block;
						position: absolute;
						top: calc(var(--p) / -2.75);
						left: calc(var(--p) * -1);
						z-index: -1;
						width: calc(100% + (var(--p) * 2));
						height: calc(100% + var(--p));
						background-color: hsl(from white h s l / .95);
						@include clip-path-edges(2px);
						@include reduce-transparency {
							background-color: white;
						}
					}
					&:hover, &:focus, &:active {
						&::before {
							opacity: 1;
							scale: 1 1;
							translate: 0 0;
						}
					}
					&:hover, &:focus {
						color: color-mix(
							in srgb,
							var(--color-iron) 30%,
							var(--color-slate)
						);
						@include contrast(both) {
							color: var(--color-iron);
						}
					}
					&:active {
						color: hsl(from var(--color-iron) h s calc(l * .65));
						&::before {
							background-color: hsl(from white h s l / .75);
							@include reduce-transparency {
								background-color: color-mix(
									in srgb,
									white 75%,
									var(--color-iron)
								);
							}
						}
					}
				}
			}
		}
	}
	.post-meta {
		@include container(recipe, medium, $medium) {
			justify-content: center;
			margin-top: 0;
		}
		.recipe-servings {
			@include container(recipe, medium, $medium) {
				text-align: center;
			}
		}
	}
}