@import 'uguru-mixin';

.browser-support {
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: $padding;
	background: $smoke;
	color: $slate;
	div {
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -50px;
		width: 100%;
		height: 100px;
		p {
			width: 100%;
			max-width: 600px;
			margin: 0 auto;
			font-size: 24px;
			line-height: 1.4;
			text-align: center;
		}
		a {
			transition: 150ms ease-out;
			display: inline-block;
			padding: 0 $padding/2;
			border-radius: $padding/4;
			color: white;
			font-weight: 500;
			background: $shamrock;
			&:hover, &:focus {
				background: $taupe;
			}
			&:active {
				background: $slate;
			}
		}
	}
}

.csstransforms .browser-support {
	display: none;
}

.link-jeselle {
	cursor: ne-resize;
}

header.top {
	// position: absolute;
	// top: 0;
	// left: 0;
	// z-index: 10;
	padding: $padding;
	width: 100%;
	text-align: center;
	background: $charcoal;
	* {
		transform-style: preserve-3d;
	}
	a {
		display: block;
		position: relative;
		margin: 0 auto;
		width: 50px;
		height: 50px;
		cursor: n-resize;
		transform-origin: center center;
		svg {
			transition: all 300ms cubic-bezier(0,.5,.25,1);
			position: absolute;
			top: 0;
			left: 0;
			width: 50px;
			height: 50px;
			&:nth-child(1) {
				opacity: 1;
				* {
					fill: $shamrock;
				}
			}
			&:nth-child(2) {
				opacity: 0;
				* {
					fill: $lake;
				}
			}
			&:nth-child(3) {
				opacity: 0;
				* {
					fill: $light-slate;
				}
			}
			path {
				fill: none!important;
			}
		}
		&:hover, &:focus {
			// transform: translateZ(50px);
			svg {
				transform: rotate(1turn);
				&:nth-child(1) {
					opacity: 0;
				}
				&:nth-child(2) {
					opacity: 1;
				}
				&:nth-child(3) {
					opacity: 0;
				}
			}
		}
		&:active {
			// transform: translateZ(-50px);
			svg {
				&:nth-child(1) {
					opacity: 0;
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:nth-child(3) {
					opacity: 1;
				}
			}
		}
	}
}

.uguru-component header.top {
	background: none;
}

.loader, #loader {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: lighten($slate, 20%);
	&.hide {
		opacity: 0;
		display: none;
	}
}

.no-js {
	.loader, #loader {
		opacity: 0;
		display: none;
	}
}

.loader {
	&.active {
		animation: loader-fadeOut 1000ms ease-out 1000ms forwards;
	}
}

.uguru-header {
	width: 100%;
	background: $slate;
	// margin-top: 74px;
	padding: 0 ($padding*2) ($padding*2);
	div {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		align-content: center;
		justify-content: center;
		&:first-child {
			svg {
				width: 100px;
				height: auto;
			}
		}
		&:last-child {
			svg {
				width: 124px;
				height: auto;
			}
		}
		@media only screen and (min-width: 768px) {
			&:first-child {
				svg {
					width: 150px;
				}
			}
			&:last-child {
				svg {
					width: 186px;
				}
			}
		}
	}
}

.uguru-nav {
	margin: 0 auto;
	width: 100%;
	max-width: 800px + $padding;
	ul {
		display: flex;
		flex-flow: row wrap;
		li {
			padding: $padding/2;
			width: calc(100% / 3);
		}
	}
	.uguru-nav-link {
		transition: all 300ms ease-out;
		transform-style: preserve-3d;
		display: block;
		border-radius: 2px;
		background: rgba(white, .2);
		> div {
			transition: all 300ms ease-out;
			svg {
				display: block;
			}
		}
		> h3 {
			transition: all 300ms ease-out;
			padding: $padding/2;
			background: $lake;
			color: white;
			font-weight: 600;
			text-align: center;
			border-radius: 0 0 2px 2px;
		}
	}
	.uguru-nav-link-container {
		-webkit-perspective: 750;
		perspective: 750;
		position: relative;
		> a {
			display: block;
			position: absolute;
			z-index: 2;
			width: 50%;
			height: 50%;
			cursor: pointer;
			cursor: nesw-resize;
			~ .uguru-nav-link {
				z-index: 1;
			}
			&:hover, &:focus {
				transform: translateZ(50px);
				~ .uguru-nav-link {
					background: rgba(white, .5);
					> div {
						transform: translateZ(#{$padding*1.5});
					}
					> h3 {
						background: mix($shamrock, white);
						color: mix($shamrock, $slate);
					}
				}
			}
			&:active {
				~ .uguru-nav-link {
					background: $light-slate;
					> div {
						transition: all 150ms ease-in;
						transform: translateZ(0);
					}
					> h3 {
						transition: all 150ms ease-in;
						background: $robin;
						color: white;
					}
				}
			}
			&:nth-child(1) {
				top: 0;
				left: 0;
				&:hover, &:focus {
				   ~ .uguru-nav-link {
					   transform-origin: right bottom;
					   transform: rotateX(5deg) rotateY(-5deg) translateZ(0);
				   }
			   }
			}
			&:nth-child(2) {
				top: 0;
				right: 0;
				&:hover, &:focus {
	                ~ .uguru-nav-link {
	                    transform-origin: left bottom;
	                    transform: rotateX(5deg) rotateY(5deg) translateZ(0);
	                }
	            }
			}
			&:nth-child(3) {
				bottom: 0;
				right: 0;
				&:hover, &:focus {
	                ~ .uguru-nav-link {
	                    transform-origin: left top;
	                    transform: rotateX(-5deg) rotateY(5deg) translateZ(0);
	                }
	            }
			}
			&:nth-child(4) {
				bottom: 0;
				left: 0;
				&:hover, &:focus {
	                ~ .uguru-nav-link {
	                    transform-origin: right top;
	                    transform: rotateX(-5deg) rotateY(-5deg) translateZ(0);
	                }
	            }
			}
		}
	}
}

article {
	.section-header {
		display: flex;
		justify-content: center;
		width: 100%;
		&:first-child {
			margin-top: $padding;
		}
		svg {
			display: block;
			height: 30px;
			&:nth-child(3) {
				margin-left: -$padding;
			}
		}
		h1 {
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;
			background: $shamrock;
			padding: 0 $padding;
			font-size: 18px;
			font-weight: 900;
			text-align: center;
			text-transform: uppercase;
			height: 30px;
			margin-left: -$padding;
			width: calc(100% - 50px);
			max-width: 782px;
		}
		&.academic {
			svg {
				* {
					fill: mix($cerise, $light-slate, 75%);
				}
			}
			h1 {
				background: mix($cerise, $light-slate, 75%);
			}
		}
		&.baking {
			svg {
				* {
					fill: mix($gold, $light-slate, 75%);
				}
			}
			h1 {
				background: mix($gold, $light-slate, 75%);
			}
		}
		&.photography {
			svg {
				* {
					fill: mix($moola, $light-slate, 75%);
				}
			}
			h1 {
				background: mix($moola, $light-slate, 75%);
			}
		}
		&.tech {
			svg {
				* {
					fill: mix($azure, $light-slate, 75%);
				}
			}
			h1 {
				background: mix($azure, $light-slate, 75%);
			}
		}
		&.household {
			svg {
				* {
					fill: mix($cobalt, $slate, 75%);
				}
			}
			h1 {
				background: mix($cobalt, $slate, 75%);
			}
		}
	}
	section {
		padding: $padding/2;
		margin-bottom: $padding*2;
		> * {
			margin: 0 auto;
			width: 100%;
			max-width: 800px + $padding;
		}
		> ul {
			display: flex;
			flex-flow: row wrap;
		}
		> h2 {
			padding: $padding/2;
			line-height: 1.2;
			font-size: 24px;
			font-weight: 600;
		}
		> p {
			padding: $padding/2;
			line-height: 1.3;
			font-size: 18px;
			a {
				color: mix($shamrock, white);
				&:hover, &:focus {
					color: mix($lake, white);
				}
				&:active {
					color: mix($moxie, white);
				}
			}
		}
		hr.spacer {
			margin: 0;
			padding: 0;
			border: none;
			height: $padding*1.5;
		}
		.uguru-profile-research {
			align-content: stretch;
			align-items: stretch;
			.fluid {
				cursor: pointer;
				cursor: zoom-in;
			}
			.fluidbox__overlay {
				background: $light-slate;
			}
			li {
				padding: $padding/2;
				width: 100%;
				a {
					display: block;
					width: 100%;
					&.button {
						cursor: e-resize;
						display: block;
						width: auto;
						margin-left: $padding;
						padding: $padding/2 $padding;
						border-radius: 2px;
						color: white;
						font-size: 16px;
						font-weight: 600;
					}
				}
				img {
					display: block;
					width: 100%;
					border-radius: 2px;
				}
			}
			@media only screen and (min-width: 768px) {
				li {
					&:last-child, &:nth-last-child(2) {
						width: 50%;
					}
				}
			}
			h2 {
				display: flex;
				align-items: center;
				align-content: center;
				padding: $padding/2 0;
				line-height: 1.2;
				font-size: 24px;
				font-weight: 600;
			}
			&.academic {
				h3 {
					color: $cerise;
				}
				.button {
					background: $cerise;
					&:hover, &:focus {
						background: mix($cerise, white);
						color: mix($cerise, $slate);
					}
					&:active {
						background: mix($cerise, $slate);
						color: white;
					}
				}
			}
			&.baking {
				h3 {
					color: $gold;
				}
				.button {
					background: $gold;
					&:hover, &:focus {
						background: mix($gold, white);
						color: mix($gold, $slate);
					}
					&:active {
						background: mix($gold, $slate);
						color: white;
					}
				}
			}
			&.photography {
				h3 {
					color: $moola;
				}
				.button {
					background: $moola;
					&:hover, &:focus {
						background: mix($moola, white);
						color: mix($moola, $slate);
					}
					&:active {
						background: mix($moola, $slate);
						color: white;
					}
				}
			}
			&.tech {
				h3 {
					color: $azure;
				}
				.button {
					background: $azure;
					&:hover, &:focus {
						background: mix($azure, white);
						color: mix($azure, $slate);
					}
					&:active {
						background: mix($azure, $slate);
						color: white;
					}
				}
			}
			&.household {
				h3 {
					color: $cobalt;
				}
				.button {
					background: mix($cobalt, $slate, 75%);
					&:hover, &:focus {
						background: mix($cobalt, white);
						color: mix($cobalt, $slate);
					}
					&:active {
						background: mix($cobalt, $slate);
						color: white;
					}
				}
			}
		}
		.uguru-persona-quote {
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;
			width: 100%;
			.user-icon-48 {
				border-width: 2px;
			}
			h1 {
				position: relative;
				padding: $padding;
				background: $charcoal;
				border-radius: 2px;
				margin-left: $padding*2;
				max-width: calc(100% - 72px);
				font-size: 18px;
				font-weight: 600;
				line-height: 1.3;
				&:before {
					content: "";
					display: block;
					position: absolute;
					width: 0;
					height: 0;
					top: 50%;
					margin-top: -$padding;
					left: -$padding*2;
					border: $padding solid transparent;
					border-right-color: $charcoal;
				}
			}
		}
		.uguru-profile-section {
			div {
				background: $charcoal;
				border-radius: 2px;
				overflow: hidden;
			}
			header {
				display: flex;
				align-items: stretch;
				align-content: stretch;
				img {
					display: block;
					width: 20%;
				}
				span {
					display: flex;
					align-items: center;
					align-content: center;
					width: 80%;
					padding: $padding;
					font-size: 18px;
					font-weight: 600;
					line-height: 1.3;
				}
			}
			h3 {
				padding: $padding/2 $padding 0;
				font-size: 20px;
				font-weight: 600;
				&:first-child {
					padding-top: $padding;
				}
			}
			p {
				padding: $padding/2 $padding;
				line-height: 1.3;
				font-size: 16px;
				&:first-child {
					padding-top: $padding;
				}
				&:last-child {
					padding-bottom: $padding;
				}
				a {
					color: mix($shamrock, white);
					&:hover, &:focus {
						color: mix($lake, white);
					}
					&:active {
						color: mix($moxie, white);
					}
				}
			}
		}
		.uguru-brand-grid {
			display: flex;
			flex-flow: row wrap;
		}
		.uguru-tags {
			li {
				padding: $padding/2;
				a {
					display: block;
					padding: ($padding) ($padding*1.5);
					border-radius: 2px;
					background: $shamrock;
					font-size: 16px;
					font-weight: 600;
					&.active {
						background: white;
						color: $shamrock;
					}
					&:hover, &:focus {
						background: mix($shamrock, white);
						color: mix($shamrock, $slate);
					}
					&:active {
						background: mix($shamrock, $slate);
						color: white;
					}
					&.bg-school {
						background: $auburn;
						&.active {
							background: white;
							color: $auburn;
						}
						&:hover, &:focus {
							background: mix($auburn, white);
							color: mix($auburn, $slate);
						}
						&:active {
							background: mix($auburn, $slate);
							color: white;
						}
					}
					&.bg-academic {
						background: $cerise;
						&.active {
							background: white;
							color: $cerise;
						}
						&:hover, &:focus {
							background: mix($cerise, white);
							color: mix($cerise, $slate);
						}
						&:active {
							background: mix($cerise, $slate);
							color: white;
						}
					}
					&.bg-baking {
						background: $gold;
						&.active {
							background: white;
							color: $gold;
						}
						&:hover, &:focus {
							background: mix($gold, white);
							color: mix($gold, $slate);
						}
						&:active {
							background: mix($gold, $slate);
							color: white;
						}
					}
					&.bg-photography {
						background: $moola;
						&.active {
							background: white;
							color: $moola;
						}
						&:hover, &:focus {
							background: mix($moola, white);
							color: mix($moola, $slate);
						}
						&:active {
							background: mix($moola, $slate);
							color: white;
						}
					}
					&.bg-tech {
						background: $azure;
						&.active {
							background: white;
							color: $azure;
						}
						&:hover, &:focus {
							background: mix($azure, white);
							color: mix($azure, $slate);
						}
						&:active {
							background: mix($azure, $slate);
							color: white;
						}
					}
					&.bg-household {
						background: $cobalt;
						&.active {
							background: white;
							color: $cobalt;
						}
						&:hover, &:focus {
							background: mix($cobalt, white);
							color: mix($cobalt, $slate);
						}
						&:active {
							background: mix($cobalt, $slate);
							color: white;
						}
					}
				}
			}
		}
		.uguru-drafts-extra {
			display: flex;
			padding: $padding/2;
			margin-top: $padding/2;
			background: rgba($charcoal, .3);
			border-radius: 2px;
			li {
				width: calc(100% / 3);
				padding: $padding/2;
				svg {
					display: block;
					width: 100%;
					border-radius: 2px;
				}
			}
		}
		hr.negative {
			width: 100%;
			height: 0;
			border: 0;
			margin: 0;
			+ * {
				margin-top: -$padding;
			}
		}
		.uguru-drafts {
			h2 + div {
				margin-top: 12px;
			}
			h2 + .no-hover {
				margin-top: 6px;
			}
		}
		.uguru-animation, .uguru-drafts {
			display: block;
			padding: $padding/2;
			> h2, > li > h2 {
				display: flex;
				align-items: center;
				align-content: center;
				line-height: 1.2;
				font-size: 24px;
				font-weight: 600;
				a {
					display: block;
					margin-left: $padding;
					padding: $padding/2 $padding;
					border-radius: 2px;
					background: white;
					color: $shamrock;
					font-size: 16px;
					&:hover, &:focus {
						background: mix($shamrock, white);
						color: mix($shamrock, $slate);
					}
					&:active {
						background: mix($shamrock, $slate);
						color: white;
					}
				}
			}
			> li {
				position: relative;
				width: 100%;
				padding: $padding/2 0;
				> div {
					position: relative;
					display: flex;
					justify-content: center;
					background: rgba($charcoal, .3);
					border-radius: 2px;
					padding: $padding;
					overflow: hidden;
					&.no-hover:after {
						content: "";
						opacity: 0;
						display: block;
						position: absolute;
						z-index: 10;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
					&.no-padding {
						padding: 0;
					}
				}
			}
		}
		.uguru-animation > li > h2 {
			margin-bottom: $padding;
		}
		.uguru-iteration {
			max-width: none;
			padding: $padding/2!important;
			> div {
				background: rgba($charcoal, .1);
				border-radius: 2px;
				padding: $padding/2;
				> ul {
					display: flex;
					flex-flow: row wrap;
					width: 100%;
					> li {
						width: calc(100% / 3);
						padding: $padding/2;
						> div {
							display: flex;
							justify-content: center;
							width: 100%;
							background: rgba($charcoal, .3);
							border-radius: 2px;
							svg {
								height: auto;
							}
						}
					}
				}
			}
			&.small > div > ul > li {
				width: 25%;
			}
			&.no-size > div > ul > li {
				width: auto;
				> div {
					padding: $padding;
				}
			}
		}
		.uguru-drafts {
			> p, > li > p {
				padding: $padding/2 0;
				line-height: 1.3;
				font-size: 18px;
				&:last-of-type {
					padding-bottom: $padding;
				}
				a {
					color: mix($shamrock, white);
					&:hover, &:focus {
						color: mix($lake, white);
					}
					&:active {
						color: mix($moxie, white);
					}
				}
			}
			+ .uguru-animation {
				padding-top: $padding/2;
				margin-top: -#{$padding};
			}
		}
		.uguru-grid {
			align-items: center;
			align-content: center;
			justify-content: center;
			> li {
				> div {
					position: relative;
					padding: $padding/2;
				}
			}
		}
		.uguru-icon-grid {
			li {
				width: 20%;
				> div {
					figure {
						background: rgba(white,.2);
						border-radius: 2px;
						svg {
							display: block;
							width: 100%;
							height: auto;
							stroke-width: 5px;
						}
					}
				}
			}
		}
		.uguru-component-grid-container {
			padding: $padding/2;
			> div {
				border-radius: 2px;
				background: rgba($charcoal, .1);
				padding: $padding/2;
				width: 100%;
			}
		}
	}
	.uguru-intro {
		p {
			line-height: 1.3;
			font-size: 20px;
			font-weight: 300;
		}
	}
	.uguru-brand-img {
		display: block;
		padding: $padding/2;
		overflow: hidden;
		&.full {
			svg {
				max-height: 250px;
			}
		}
		img {
			filter: grayscale(1);
		}
		svg, img {
			display: block;
			width: 100%;
			&:only-child {
				border-radius: 2px;
			}
			&:not(:only-child) {
				border-radius: 2px 2px 0 0;
			}
		}
		img {
			&:only-child {
				border: 2px solid $slate;
			}
		}
		figcaption {
			display: block;
			margin: 0;
			border-radius: 0 0 2px 2px;
			padding: $padding/2 $padding;
			background: $campus;
			color: white;
			font-weight: 600;
			text-align: center;
		}
	}
	section + .uguru-carousel {
		margin-top: -#{$padding*2.5};
	}
	.uguru-carousel + section .spacer:first-child {
		height: $padding;
	}
	.uguru-carousel {
		width: 100%;
		.uguru-carousel-item {
			width: 50%;
			@media only screen and (min-width: 768px) {
				width: 25%;
			}
		}
	}
}

.project-back-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	width: 100%;
	a {
		padding: $padding $padding*2;
		border-radius: 2px;
		color: white;
		background: rgba($charcoal, .95);
		font-size: 24px;
		font-weight: 600;
		text-transform: lowercase;
		&.project-back {
			cursor: w-resize;
		}
		&:hover, &:focus {
			background: mix($shamrock, white);
			color: mix($shamrock, $slate);
		}
		&:active {
			background: mix($shamrock, $slate);
			color: white;
		}
	}
	&.desktop {
		display: none;
		padding: $padding 0 $padding*3.5;
	}
	&.mobile {
		display: flex;
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 10;
		padding: $padding 0;
	}
}

#bottom:not(button) {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	padding-bottom: $padding*6;
	color: white;
}

.has-alert {
	position: relative;
	.component-alert {
		transition: all 150ms ease-out;
		opacity: 0;
		z-index: -1;
		visibility: hidden;
		position: absolute;
		top: calc(100% + 16px);
		left: 0;
		width: 100%;
		background: rgba($charcoal, .95);
		border-radius: 2px;
		padding: $padding*.75 $padding;
		color: white;
		font-size: 12px;
		font-weight: 600;
		line-height: 1.2;
		text-align: center;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: -20px;
			left: 50%;
			margin-left: -10px;
			width: 0;
			height: 0;
			border: 10px solid transparent;
			border-bottom-color: rgba($charcoal, .95);
		}
	}
	&:hover, &:focus {
		.component-alert {
			opacity: 1;
			z-index: 10000;
			visibility: visible;
		}
	}
}

.width-50p, .width-40p, .width-custom {
	width: 100%;
	.pf-tile-container, .pf-tile, .pf-cardlet, .pf-widget, .place-marker {
		max-width: none!important;
	}
}

@media only screen and (min-width: 650px) {
	.uguru-brand-img {
		&.bg {
			div {
				padding: $padding;
				border-radius: 2px;
				background: $slate;
				img {
					border: 0;
				}
			}
		}
		&.full {
			img {
				max-width: 400px;
				height: auto;
				margin: 0 auto;
			}
		}
	}
	.width-50p {
		width: 50%;
	}
	.width-40p {
		width: 40%;
	}
	.width-map-marker {
		width: 307px;
	}
	.width-request {
		width: 365px;
	}
}

@media only screen and (min-width: 568px) {
	article {
		.section-header {
			svg {
				height: 45px;
			}
			h1 {
				font-size: 24px;
				height: 45px;
				width: calc(100% - 75px);
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.project-back-container {
		&.desktop {
			display: flex;
		}
		&.mobile {
			display: none;
		}
	}
	article {
		.section-header {
			svg {
				height: 60px;
			}
			h1 {
				font-size: 36px;
				height: 60px;
				width: calc(100% - 100px);
			}
		}
		section {
			.uguru-icon-grid {
				li {
					width: 10%;
					&.filter-categories {
						width: 20%;
					}
				}
			}
		}
	}
}
