.current-warning {
	padding: 12px;
	text-align: center;
	&.nameplate-v1 {
		font-size: 18px;
		background-color: #d34836;
		color: white;
		a {
			font-weight: bold;
			color: white;
			text-decoration: underline;
		}
		&.list {
			background-color: white;
			color: #8f8896;
			a {
				color: #8f8896;
			}
		}
	}
	&.nameplate-v2 {
		background-color: white;
		font-size: 20px;
		font-weight: 700;
		color: #3023ae;
		a {
			color: #53a0fe;
		}
	}
	&.v1 {
		position: relative;
		z-index: 99999;
		font-size: 16px;
		background-color: mix(#d34836, white, 75%);
		color: white;
		a {
			color: white;
			border-color: white;
		}
	}
	&.v2 {
		font-size: 16px;
		background-color: mix(#444349, #737375);
		color: white;
		a {
			color: white;
			font-weight: 700;
			text-decoration: underline;
		}
	}
	&.v3 {
		font-size: 18px;
		background-color: mix(#AEBFAF, #495453);
		color: white;
		a {
			color: white;
			font-weight: 700;
			text-decoration: underline;
		}
	}
	&.v4 {
		background-color: black;
		color: white;
		font-size: 18px;
		a {
			color: white;
			font-weight: 700;
			text-decoration: underline;
			&:hover, &:focus, &:active {
				font-style: unset;
				letter-spacing: unset;
			}
		}
	}
}
#intro.adjust {
	height: calc(100% - 12px - 72px - 60px);
	@media only screen and (min-width: 613px) {
		height: calc(100% - 12px - 72px - 42px);
	}
}