@import 'partials/fonts/recursive';

@import 'partials/shared/utilities';
@import 'partials/shared/variables';
@import 'partials/shared/reset';
@import 'partials/shared/core';
@import 'partials/shared/lightbox';
@import 'partials/shared/syntax';

@import 'partials/navigation/header';
@import 'partials/pages/writing/nav';

.top {
	position: absolute;
}

body {
	font-family: var(--font-recursive);
	font-feature-settings: 'dlig' 1, 'liga' 1;
	line-height: 1.6;
}

a, pre, button {
	&:focus {
		@include focus-round(hsla(var(--color-violet-hsl), .5));
	}
}

.header, main, .frame-content {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	padding: var(--p) calc((var(--p)*2) + env(safe-area-inset-left)) 0;
	@include max {
		padding: var(--p) max((var(--p)*2), env(safe-area-inset-left)) 0;
	}
	@include viewport($ipad-11) {
		padding-top: calc(var(--p)*2.5);
	}
	a {
		font-size: clamp(4rem, 7vw, 4.5rem);
		font-weight: 1000;
		font-variation-settings: "wght" 1000, "CASL" 1, "MONO" 0;
		line-height: 1.4;
		&:hover, &:focus {
			span {
				opacity: 1;
			}
		}
	}
	span {
		display: block;
		opacity: 0.75;
		font-size: 2.25rem;
		margin-bottom: calc(var(--p)*-1);
		@include dark {
			opacity: 0.5;
		}
		@include viewport($ipad-mini) {
			display: unset;
			margin-bottom: unset;
			font-size: unset;
		}
	}
}

main, .frame-content {
	padding: calc((var(--p)*2) + env(safe-area-inset-left));
	@include max {
		padding: max(calc(var(--p)*2), env(safe-area-inset-left));
	}
}

.header, h1, h2, h3, h4, h5, h6 {
	a {
		transition: scale .1s ease-out;
		display: inline-block;
		&:hover, &:focus {
			@include gradient-text(var(--color-red-hsl), var(--color-orange-hsl), false);
		}
		&:active {
			@include gradient-text(var(--color-indigo-hsl), var(--color-violet-hsl), false);
			scale: 0.98;
		}
	}
}

button {
	appearance: none;
	cursor: pointer;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border: 0;
	padding: 0;
	background-color: transparent;
	&:before {
		opacity: 0;
		content: "";
		display: block;
		position: absolute;
		top: calc(var(--p)/-4);
		left: calc(var(--p)/-4);
		height: calc(100% + (var(--p)/2));
		width: calc(100% + (var(--p)/2));
		background-color: hsla(var(--color-violet-hsl), .5);
		@include clip-path {
			clip-path: polygon(3px 0%, calc(100% - 3px) 0%, 100% 3px, 100% calc(100% - 3px), calc(100% - 3px) 100%, 3px 100%, 0% calc(100% - 3px), 0% 3px);
		}
		@include clip-path(false) {
			border-radius: calc(var(--p)/4);
		}
	}
	span {
		transition: scale .1s ease-out;
		display: inline-block;
		padding: calc(var(--p)/3) calc(var(--p)/2);
		background-color: var(--color-iron);
		color: white;
		font-family: var(--font-recursive);
		font-weight: 500;
		font-size: 1rem;
		font-variation-settings: "wght" 500, "CASL" 0.5, "MONO" 0;
		line-height: 1.2;
		@include clip-path {
			clip-path: polygon(2px 0%, calc(100% - 2px) 0%, 100% 2px, 100% calc(100% - 2px), calc(100% - 2px) 100%, 2px 100%, 0% calc(100% - 2px), 0% 2px);
		}
	}
	@include dark {
		span {
			background-color: hsla(var(--color-white-hsl), .8);
			color: var(--color-iron);
		}
	}
	&:focus {
		box-shadow: none;
		&:before {
			opacity: 1;
		}
	}
	&:hover, &:focus {
		span {
			background-color: var(--color-red);
			background: linear-gradient(135deg, var(--color-red) 0%, var(--color-orange) 100%);
		}
	}
	&:active {
		span {
			scale: 0.95;
			background-color: var(--color-indigo);
			background: linear-gradient(135deg, var(--color-indigo) 0%, var(--color-violet) 100%);
		}
	}
}

@import 'partials/pages/writing/post';
@import 'partials/pages/writing/animation';