@import 'partials/fonts/recursive';

@import 'partials/shared/utilities';
@import 'partials/shared/reset';
@import 'partials/shared/core';
@import 'partials/shared/lightbox';
@import 'partials/shared/syntax';

@import 'partials/navigation/header';
@import 'partials/pages/writing/nav';

body {
	font-family: $recursive;
	font-size: 18px;
	font-feature-settings: 'dlig' 1, 'liga' 1;
	line-height: 1.6;
}

a, pre, button {
	&:focus {
		@include focus-round(rgba($violet, .5));
	}
}

.header, main, .frame-content {
	max-width: $writing-width;
	margin-left: auto;
	margin-right: auto;
}

.header {
	padding: $p calc(#{$p*2} + env(safe-area-inset-left)) 0;
	@include max {
		padding: $p max(#{$p*2}, env(safe-area-inset-left)) 0;
	}
	@media only screen and (min-width: 1000px) {
		padding-top: $p*2.5;
	}
	a {
		font-size: 64px;
		font-weight: 1000;
		font-variation-settings: "wght" 1000, "CASL" 1;
		line-height: 1.4;
		@media only screen and (min-width: 600px) {
			font-size: 7vw;
		}
		@media only screen and (min-width: 1000px) {
			font-size: 72px;
		}
		&:hover, &:focus {
			span {
				opacity: 1;
			}
		}
	}
	span {
		display: block;
		opacity: 0.75;
		font-size: 36px;
		margin-bottom: -$p;
		@include dark {
			opacity: 0.5;
		}
		@media only screen and (min-width: 600px) {
			display: unset;
			margin-bottom: unset;
			font-size: unset;
		}
	}
}

main, .frame-content {
	padding: calc(#{$p*2} + env(safe-area-inset-left));
	@include max {
		padding: max(#{$p*2}, env(safe-area-inset-left));
	}
}

.header, h1, h2, h3, h4, h5, h6 {
	a {
		will-change: transform;
		transition: transform .1s ease-out;
		display: inline-block;
		&:hover, &:focus {
			@include gradient-text($red, $orange, false);
		}
		&:active {
			transform: scale(0.98);
		}
	}
}

@import 'partials/pages/writing/post';