@use 'sass:math';

@import 'partials/fonts/recursive';

@import 'partials/shared/utilities';
@import 'partials/shared/reset';
@import 'partials/shared/core';
@import 'partials/shared/lightbox';
@import 'partials/shared/syntax';

@import 'partials/navigation/header';
@import 'partials/pages/writing/nav';

body {
	font-family: $recursive;
	font-size: 18px;
	font-feature-settings: 'dlig' 1, 'liga' 1;
	line-height: 1.6;
}

a, pre, button {
	&:focus {
		@include focus-round(rgba($violet, .5));
	}
}

.header, main, .frame-content {
	max-width: $writing-width;
	margin-left: auto;
	margin-right: auto;
}

.header {
	padding: $p calc(#{$p*2} + env(safe-area-inset-left)) 0;
	@include max {
		padding: $p max(#{$p*2}, env(safe-area-inset-left)) 0;
	}
	@media only screen and (min-width: $ipad-11) {
		padding-top: $p*2.5;
	}
	a {
		font-size: 64px;
		font-weight: 1000;
		font-variation-settings: "wght" 1000, "CASL" 1;
		line-height: 1.4;
		@media only screen and (min-width: $ipad-mini) {
			font-size: 7vw;
		}
		@media only screen and (min-width: $ipad-11) {
			font-size: 72px;
		}
		&:hover, &:focus {
			span {
				opacity: 1;
			}
		}
	}
	span {
		display: block;
		opacity: 0.75;
		font-size: 36px;
		margin-bottom: -$p;
		@include dark {
			opacity: 0.5;
		}
		@media only screen and (min-width: $ipad-mini) {
			display: unset;
			margin-bottom: unset;
			font-size: unset;
		}
	}
}

main, .frame-content {
	padding: calc(#{$p*2} + env(safe-area-inset-left));
	@include max {
		padding: max(#{$p*2}, env(safe-area-inset-left));
	}
}

.header, h1, h2, h3, h4, h5, h6 {
	a {
		will-change: transform;
		transition: transform .1s ease-out;
		display: inline-block;
		&:hover, &:focus {
			@include gradient-text($red, $orange, false);
		}
		&:active {
			@include gradient-text($indigo, $violet, false);
			transform: scale(0.98);
		}
	}
}

button {
	-webkit-appearance: none;
	cursor: pointer;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border: 0;
	padding: 0;
	background-color: transparent;
	&:before {
		opacity: 0;
		content: "";
		display: block;
		position: absolute;
		top: -$p*.25;
		left: -$p*.25;
		height: calc(100% + #{$p*.5});
		width: calc(100% + #{$p*.5});
		background-color: rgba($violet, .5);
		@include clip-path {
			clip-path: polygon(3px 0%, calc(100% - 3px) 0%, 100% 3px, 100% calc(100% - 3px), calc(100% - 3px) 100%, 3px 100%, 0% calc(100% - 3px), 0% 3px);
		}
		@include clip-path-alt {
			border-radius: $p*.25;
		}
	}
	span {
		will-change: transform, background-color, color;
		transition: transform .1s ease-out;
		display: inline-block;
		padding: math.div($p, 3) $p*.5;
		background-color: $iron;
		color: white;
		font-family: $recursive;
		font-weight: 500;
		font-size: 16px;
		font-variation-settings: "wght" 500, "CASL" 0.5;
		line-height: 1.2;
		@include clip-path {
			clip-path: polygon(2px 0%, calc(100% - 2px) 0%, 100% 2px, 100% calc(100% - 2px), calc(100% - 2px) 100%, 2px 100%, 0% calc(100% - 2px), 0% 2px);
		}
	}
	@include dark {
		span {
			background-color: rgba(white, .8);
			color: $iron;
		}
	}
	&:focus {
		box-shadow: none;
		&:before {
			opacity: 1;
		}
	}
	&:hover, &:focus {
		span {
			background-color: $red;
			background: linear-gradient(135deg, $red 0%, $orange 100%);
		}
	}
	&:active {
		span {
			transform: scale(0.95);
			background-color: $indigo;
			background: linear-gradient(135deg, $indigo 0%, $violet 100%);
		}
	}
}

@import 'partials/pages/writing/post';
@import 'partials/pages/writing/animation';