.grid-item-code {
	@import '../../colors/thumbnails';
	font-family: $mono;
	font-size: 16px;
	font-weight: bold;
	background-color: #253238;
	color: #73d1c8;
	@include dark {
		background-color: darken(#1e282c, 2%);
	}
	.codepen {
		@include border-radius($p*.5);
		background-color: rgba(white, .1);
		padding-top: $p;
	}
	h2 {
		padding: $p*1.5 calc(#{$p*1.5} + env(safe-area-inset-left));
		@include max {
			padding: $p*1.5 max(#{$p*1.5}, env(safe-area-inset-left));
		}
	}
	h3 {
		padding-bottom: $p;
		font-weight: bold;
		a {
			color: #73d1c8;
			&:hover, &:focus {
				color: #F78C6A;
				text-decoration: underline;
			}
			&:active {
				color: #82AAFF;
			}
			&:after {
				content: " \2192";
			}
		}
	}
	p {
		padding: 0 calc(#{$p*1.5} + env(safe-area-inset-left)) $p;
		font-size: 24px;
		@include max {
			padding: 0 max(#{$p*1.5}, env(safe-area-inset-left)) $p;
		}
		a {
			color: #73d1c8;
			font-style: italic;
			font-weight: normal;
			&:hover, &:focus {
				color: #F78C6A;
				text-decoration: underline;
			}
			&:active {
				color: #82AAFF;
			}
		}
	}
	ul + p {
		padding-top: $p;
	}
	.css {
		color: #ffcb6b;
	}
	.animation {
		color: #c792ea;
	}
	.embed {
		padding: 0 calc(#{$p*1.5} + env(safe-area-inset-left)) $p*1.5;
		@include max {
			padding: 0 max(#{$p*1.5}, env(safe-area-inset-left)) $p*1.5;
		}
		.cp_embed_wrapper {
			@include border-radius($p*.5);
		}
	}
	ul {
		grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
		padding-bottom: $p*1.5;
		&.regular {
			@media only screen and (min-width: 600px) {
				grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
				a {
					.overlay {
						font-size: 24px;
					}
				}
			}
		}
		&.ui {
			a {
				.overlay {
					flex-direction: column;
					span {
						&:first-child {
							font-size: 12px;
							font-weight: bold;
							font-style: normal;
						}
					}
				}
			}
		}
		a {
			will-change: transform;
			transition: .2s ease-out;
			display: block;
			border-radius: $p*.5;
			&:hover, &:focus {
				.overlay {
					opacity: 1;
				}
			}
			&:focus {
				@include focus-round;
			}
			&:active {
				transform: scale(0.95);
			}
			&, svg {
				display: block;
			}
			.inside {
				@include border-radius($p*.5);
				display: block;
				position: relative;
				&:before, &:after {
					@include blur-all(5px, white, .9, .8);
					display: block;
					position: absolute;
					z-index: 0;
					bottom: 0;
					padding: $p*.5 $p*.75;
					font-family: $faune;
					font-size: 12px;
					font-weight: bold;
					text-transform: uppercase;
				}
				&:before {
					left: 0;
					border-top-right-radius: $p*.5;
				}
				&:after {
					right: 0;
					border-top-left-radius: $p*.5;
				}
			}
			&.award {
				.inside:before {
					content: "Award";
				}
			}
			&.css-only {
				.inside::after {
					content: "CSS-only";
				}
			}
			&.dark {
				.overlay {
					color: $iron;
				}
			}
			.overlay {
				@include blur(5px);
				opacity: 0;
				will-change: opacity;
				transition: .2s ease-out;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: $p $p*1.5;
				font-family: $faune;
				font-size: 20px;
				font-weight: normal;
				font-style: italic;
				text-align: center;
				color: white;
			}
		}
	}
}