.grid-item-code {
	@import '../../colors/thumbnails';
	font-family: var(--font-mono);
	font-size: 16px;
	font-weight: bold;
	background-color: #253238;
	color: #73d1c8;
	@include dark {
		background-color: darken(#1e282c, 2%);
	}
	h2 {
		padding: calc(var(--p)*1.5) calc((var(--p)*1.5) + env(safe-area-inset-left));
		@include max {
			padding:  calc(var(--p)*1.5) max((var(--p)*1.5), env(safe-area-inset-left));
		}
	}
	p {
		padding: 0 calc((var(--p)*1.5) + env(safe-area-inset-left)) var(--p);
		font-size: 24px;
		@include max {
			padding: 0 max((var(--p)*1.5), env(safe-area-inset-left)) var(--p);
		}
		a {
			color: #73d1c8;
			font-style: italic;
			font-weight: normal;
			&:hover, &:focus {
				color: #F78C6A;
				text-decoration: underline;
				text-underline-offset: 4px;
			}
			&:active {
				color: #82AAFF;
			}
		}
	}
	h3, .links p {
		padding-bottom: var(--p);
		font-style: normal;
		font-size: 16px;
		a {
			color: #73d1c8;
			&:hover, &:focus {
				color: #F78C6A;
				text-decoration: underline;
				text-underline-offset: 4px;
			}
			&:active {
				color: #82AAFF;
			}
			&:after {
				content: "\2197";
				display: inline-block;
				margin-left: 6px;
				font-size: 22px;
				line-height: 19px;
			}
		}
	}
	ul + p {
		padding-top: var(--p);
	}
	.codepen {
		@include border-radius(calc(var(--p)/2));
	}
	.css {
		color: #ffcb6b;
	}
	.animation {
		color: #c792ea;
	}
	.embed {
		padding: 0 calc((var(--p)*1.5) + env(safe-area-inset-left)) calc(var(--p)*1.5);
		@include max {
			padding: 0 max(calc(var(--p)*1.5), env(safe-area-inset-left)) calc(var(--p)*1.5);
		}
	}
	.links {
		margin-bottom: var(--p);
	}
	ul {
		grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
		padding-bottom: calc(var(--p)*1.5);
		&.regular {
			@include viewport(1366px) {
				grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
				a {
					.overlay {
						font-size: 24px;
					}
				}
			}
		}
		&.ui {
			a {
				.overlay {
					flex-direction: column;
					span {
						&:first-child {
							font-size: 12px;
							font-weight: bold;
							font-style: normal;
						}
					}
				}
			}
		}
		a {
			transition: .2s ease-out;
			display: block;
			border-radius: calc(var(--p)/2);
			color: var(--color-iron);
			&:hover, &:focus {
				.overlay {
					opacity: 1;
				}
			}
			&:focus {
				@include focus-round(hsla(var(--color-white-hsl), .75));
			}
			&:active {
				transform: scale(0.95);
			}
			&, picture {
				display: block;
			}
			picture {
				width: 100%;
				height: auto;
			}
			.inside {
				@include border-radius(calc(var(--p)/2));
				display: block;
				position: relative;
				&:before, &:after {
					@include blur-all(5px, null, .9, .8, white);
					display: block;
					position: absolute;
					z-index: 0;
					bottom: 0;
					padding: calc(var(--p)/2) calc(var(--p)*.75);
					font-family: var(--font-faune);
					font-size: 12px;
					font-weight: bold;
					text-transform: uppercase;
				}
				&:before {
					left: 0;
					border-top-right-radius: calc(var(--p)/2);
				}
				&:after {
					right: 0;
					border-top-left-radius: calc(var(--p)/2);
				}
			}
			&.award {
				.inside:before {
					content: "Award";
				}
			}
			&.css-only {
				.inside::after {
					content: "CSS-only";
				}
			}
			&.dark {
				.overlay {
					color: var(--color-iron);
				}
			}
			.overlay {
				@include blur(5px);
				opacity: 0;
				transition: .2s ease-out;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: var(--p) calc(var(--p)*1.5);
				font-family: var(--font-faune);
				font-size: 20px;
				font-weight: normal;
				font-style: italic;
				text-align: center;
				color: white;
			}
		}
	}
}