.grid-item-gaming {
	background-color: #f0f0f0;
	color: #2d2d2d;
	@include dark {
		background-color: #3e3e3e;
		color: #f0f0f0;
	}
	@media only screen and (min-width: $ipad-mini) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	h2 {
		position: relative;
		z-index: 1;
		padding-bottom: math.div($p, 3);
	}
	svg {
		display: block;
		width: 100%;
		height: auto;
	}
	.friend-code {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		position: relative;
		z-index: 0;
		font-size: 20px;
		color: #717171;
		@media only screen and (min-width: $ipad-mini) {
			display: block;
		}
		span {
			&:first-child {
				margin-right: $p*.5;
			}
			&:last-child {
				display: inline-block;
				margin-top: $p*.5;
				background-color: white;
				color: #2d2d2d;
				border-radius: math.div($p, 3);
				padding: $p*.5 $p*.75;
				@include dark {
					background-color: #2d2d2d;
					color: white;
				}
			}
		}
	}
	.header {
		padding: $p calc(#{$p*1.5} + env(safe-area-inset-left)) 0;
		width: 100%;
		@include max {
			padding: $p max(#{$p*1.5}, env(safe-area-inset-left)) 0;
		}
		@media only screen and (min-width: $ipad-mini) {
			width: calc(100% - 200px);
		}
		@media only screen and (min-width: $mbp-14) {
			width: calc(100% - 255px);
		}
	}
	.console {
		display: none;
		padding: $p*1.5 calc(#{$p*1.5} + env(safe-area-inset-left)) 0 0;
		width: 200px;
		@include max {
			padding: $p*1.5 max(#{$p*1.5}, env(safe-area-inset-left)) 0 0;
		}
		@media only screen and (min-width: $ipad-mini) {
			display: block;
		}
		@media only screen and (min-width: $mbp-14) {
			width: 255px;
		}
		svg {
			max-width: 255px;
			margin: 0 auto;
		}
	}
	.modding {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: $p*1.5;
		list-style: none;
		width: 100%;
		padding: $p*1.5 calc(#{$p*1.5} + env(safe-area-inset-left)) $p;
		@include max {
			padding: $p*1.5 max(#{$p*1.5}, env(safe-area-inset-left)) $p;
		}
		@media only screen and (min-width: $ipad-mini) {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		}
		svg {
			border-radius: $p*.5;
			@include dark {
				.background {
					fill: #777;
				}
			}
		}
	}
	.playing {
		width: 100%;
		padding: 0 calc(#{$p*1.5} + env(safe-area-inset-left)) $p*1.5;
		font-size: 20px;
		h3, li {
			display: inline-block;
		}
		ul {
			display: inline;
			padding: 0;
			list-style: none;
		}
		li {
			margin-top: $p*.5;
			&:not(:last-child) {
				margin-right: $p*.5;
			}
			span {
				display: inline-block;
				background-color: white;
				color: #2d2d2d;
				border-radius: math.div($p, 3);
				padding: $p*.5 $p*.75;
				@include dark {
					background-color: #2d2d2d;
					color: white;
				}
			}
		}
	}
}