.grid-item-intro {
	background-color: var(--color-pink-5);
	color: var(--color-iron);
	padding-right: calc(var(--p)*5.5);
	@include viewport($ipad-mini) {
		padding-right: calc(var(--p)*5);
	}
	@include viewport($ipad-11) {
		padding-right: unset;
	}
	h1 {
		span {
			display: inline-block;
			font-weight: bold;
			font-style: italic;
		}
	}
	.apple {
		display: inline-block;
		span {
			&:before {
				content: " ";
			}
		}
		svg {
			position: relative;
			top: 2px;
			width: 30px;
			height: 30px;
		}
	}
}