.grid-item-links {
	@import '../../colors/links';
	overflow: unset;
	z-index: 2;
	background-color: white;
	font-size: 28px;
	@include dark {
		background-color: var(--color-iron-2);
		color: white;
	}
	div > a {
		display: inline-block;
		text-underline-offset: 4px;
		&:not(:last-child) {
			margin-right: var(--p);
		}
		&:last-of-type {
			margin-right: calc(var(--p) + 6px);
		}
	}
	div > a, .popup-label {
		transition: .1s ease-out;
		font-size: 40px;
		font-style: italic;
		font-weight: bold;
	}
	div > a:hover, div > a:focus, .popup-label:hover, .popup-button:focus ~ .popup-label {
		color: var(--color-iron);
		transform: scale(1.05);
		@include dark {
			color: white;
		}
	}
	div > a:focus, .popup-button:focus ~ .popup-label {
		@include wavy;
	}
	div > a:active, .popup-button:active ~ .popup-label {
		transform: scale(0.95);
	}
	.popup-label {
		color: var(--color-discord);
		text-underline-offset: 4px;
	}
	.popup-button:focus + .popup-label {
		color: var(--color-iron);
		text-decoration-color: var(--color-discord);
	}
	div:not(:last-child) {
		padding-bottom: var(--p);
	}
}
