.grid-item-links {
	@import '../../colors/links';
	overflow: unset;
	z-index: 2;
	background-color: white;
	font-size: 1.75rem;
	@include dark {
		background-color: var(--color-iron-2);
		color: white;
	}
	ul {
		list-style: none;
	}
	.link {
		display: inline-block;
	}
	.link > a {
		display: inline-block;
		text-underline-offset: 4px;
		&:not(:last-child) {
			margin-right: var(--p);
		}
		&:last-of-type {
			margin-right: calc(var(--p) + 6px);
		}
	}
	.link > a, .popup-label, .popup-label span {
		transition: .1s ease-out;
		font-size: 2.5rem;
		font-style: italic;
		font-weight: bold;
	}
	.link > a:hover, .link > a:focus, .popup-label:hover span, .popup-button:focus ~ .popup-label span {
		color: var(--color-iron);
		scale: 1.05;
		@include dark {
			color: white;
		}
	}
	.link > a:focus, .popup-button:focus ~ .popup-label {
		@include wavy;
	}
	.link > a:active, .popup-button:active ~ .popup-label span {
		scale: 0.95;
	}
	.popup-label {
		color: var(--color-discord);
		text-underline-offset: 4px;
	}
	.popup-button:focus + .popup-label {
		color: var(--color-iron);
		text-decoration-color: var(--color-discord);
	}
	ul:not(:last-child) {
		padding-bottom: var(--p);
	}
}
