.grid-item-plants {
	$plants: #d1e7d6;
	background-color: $plants;
	color: desaturate(darken($plants, 60%), 15%);
	font-size: 24px;
	@include dark {
		background-color: desaturate(darken($plants, 60%), 5%);
		color: white;
	}
	@include viewport($ipad-mini) {
		display: grid;
		grid-template-columns: 1fr 200px;
		grid-template-rows: 1fr 51px;
	}
	@include viewport($mbp-14) {
		grid-template-columns: 1fr 215px;
		grid-template-rows: unset;
		font-size: 28px;
	}
	h2 {
		padding: var(--p) calc((var(--p)*1.5) + env(safe-area-inset-left));
		@include max {
			padding: var(--p) max(calc(var(--p)*1.5), env(safe-area-inset-left));
		}
	}
	p {
		width: 100%;
		padding: 0 calc((var(--p)*1.5) + env(safe-area-inset-left)) calc(var(--p)*1.5);
		@include max {
			padding: 0 max(calc(var(--p)*1.5), env(safe-area-inset-left)) calc(var(--p)*1.5);
		}
	}
	span {
		font-style: italic;
		font-weight: bold;
	}
	.image {
		display: none;
		padding: calc(var(--p) * 1.5) calc(var(--p) * 1.5) calc(var(--p) * 1.5) 0;
		@include viewport($ipad-mini) {
			display: block;
		}
		@include viewport($mbp-14) {
			grid-row: span 2;
		}
	}
	.more {
		background-color: desaturate(darken($plants, 30%), 10%);
		color: mix($plants, white, 40%);
		grid-column: span 2;
		@include dark {
			background-color: desaturate(darken($plants, 70%), 5%);
		}
		&:focus {
			text-decoration-color: mix($plants, white, 40%);
		}
	}
}