.grid-item {
	&-photography, &-graphic, &-art {
		ul {
			grid-template-columns: repeat(2, 1fr);
			padding-bottom: calc(var(--p)*1.5);
		}
		picture {
			&, img {
				display: block;
				width: 100%;
			}
		}
		.expand, div {
			display: block;
			position: relative;
		}
		.expand {
			transition: .2s ease-out;
			border-radius: calc(var(--p)/2);
			overflow: hidden;
			picture {
				@include border-radius(calc(var(--p)/2));
				display: flex;
				align-items: center;
				align-content: center;
				justify-content: center;
				&:before, &:after {
					opacity: 0;
					transition: .2s ease-out;
					content: "";
					display: block;
					position: absolute;
				}
				&:before {
					z-index: 2;
					background-image: url(../images/icons/expand.svg);
					width: 25px;
					height: 25px;
				}
				&:after {
					@include blur-all(5px, "var(--color-iron-10-hsl)", .9, .4);
					z-index: 1;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
			&:focus {
				@include focus-round(hsla(var(--color-white-hsl), .75));
				picture {
					&:before, &:after {
						opacity: 1;
					}
				}
			}
			&:active {
				transform: scale(0.95);
			}
		}
	}
	&-photography {
		$photography: #8f9eb8;
		background-color: $photography;
		color: desaturate(darken($photography, 50%), 15%);
		@include dark {
			background-color: desaturate(darken($photography, 30%), 5%);
			color: white;
		}
		.more {
			background-color: darken($photography, 20%);
			color: mix($photography, white, 25%);
			@include dark {
				background-color: desaturate(darken($photography, 40%), 5%);
			}
			&:focus {
				text-decoration-color: mix($photography, white, 25%);
			}
		}
	}
	&-graphic {
		$graphic: #c46465;
		background-color: $graphic;
		color: white;
		@include dark {
			background-color: desaturate(darken($graphic, 25%), 15%);
		}
		.more {
			background-color: darken($graphic, 20%);
			color: mix($graphic, white, 25%);
			@include dark {
				background-color: desaturate(darken($graphic, 35%), 15%);
			}
			&:focus {
				text-decoration-color: mix($graphic, white, 25%);
			}
		}
	}
	&-art {
		$art: #75605B;
		background-color: $art;
		color: white;
		@include dark {
			background-color: desaturate(darken($art, 22.5%), 5%);
		}
		.more {
			background-color: darken($art, 10%);
			color: mix($art, white, 25%);
			@include dark {
				background-color: desaturate(darken($art, 25%), 5%);
			}
			&:focus {
				text-decoration-color: mix($art, white, 25%);
			}
		}
	}
}