.grid-item-writing {
	overflow: unset;
	z-index: 2;
	background-color: var(--color-writing-light);
	color: var(--color-iron);
	font-family: var(--font-recursive);
	@include dark {
		background-color: var(--color-writing-dark);
		color: white;
	}
	h2 {
		font-weight: 1000;
		font-variation-settings: "wght" 1000, "CASL" 1, "MONO" 0;
		padding: var(--p) calc((var(--p)*1.5) + env(safe-area-inset-left));
		@include max {
			padding: var(--p) max(calc(var(--p)*1.5), env(safe-area-inset-left));
		}
	}
	> div {
		padding: 0 calc((var(--p)*1.5) + env(safe-area-inset-left)) var(--p);
		@include max {
			padding: 0 max((var(--p)*1.5), env(safe-area-inset-left)) var(--p);
		}
	}
	h3 {
		opacity: 0.8;
		margin-bottom: calc(var(--p)/2);
		font-size: 24px;
		font-weight: 900;
		font-variation-settings: "wght" 900, "CASL" 1, "MONO" 0;
		a {
			opacity: 0.7;
			&:focus span {
				text-decoration: underline;
				text-decoration-thickness: 2px;
			}
		}
	}
	h4 {
		font-size: 16px;
		font-weight: 600;
		font-variation-settings: "wght" 600, "CASL" 1, "MONO" 0;
		span {
			background-color: var(--color-writing-med);
			@include dark {
				background-color: rgba(white, .1);
			}
		}
	}
	a {
		transition: .1s ease-out;
		&:active {
			transform: scale(0.98);
		}
	}
	.writes {
		opacity: 1;
		a {
			display: inline-block;
			opacity: 0.5;
			&:focus {
				span {
					text-decoration: underline;
					text-underline-offset: 4px;
				}
			}
			&:hover, &:focus {
				color: var(--color-red);
				opacity: 1;
			}
			&:active {
				color: var(--color-iron);
			}
			@include dark {
				&:hover, &:focus {
					color: white;
					opacity: 1;
				}
				&:active {
					color: var(--color-red);
				}
			}
			&:after {
				content: " \2192"
			}
		}
	}
	ul {
		list-style: none;
	}
	li {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		align-content: center;
		a, time, h4 {
			display: block;
		}
		a, time, h4, .popup-label {
			margin-bottom: var(--p);
		}
		span span, br {
			display: none;
		}
		a > span, a > strong, time, h4 > span, .popup-label > strong {
			display: block;
			padding: calc(var(--p)/2) var(--p);
			@include clip-path {
				clip-path: polygon(2px 0%, calc(100% - 2px) 0%, 100% 2px, 100% calc(100% - 2px), calc(100% - 2px) 100%, 2px 100%, 0% calc(100% - 2px), 0% 2px);
			}
			@include clip-path-alt {
				border-radius: calc(var(--p)/4);
			}
		}
		> *:not(:last-child) {
			margin-right: var(--p);
		}
		.popup-label > strong:after {
			content: " ↓";
		}
		.popup-button:checked ~ .popup-label > strong:after {
			content: " ↑";
		}
		.popup-label, a {
			position: relative;
			color: white;
			font-size: 20px;
			font-weight: 500;
			font-variation-settings: "wght" 500, "CASL" 0.5, "MONO" 0;
			> span, > strong {
				background-color: var(--color-red);
			}
			&:before {
				opacity: 0;
				content: "";
				display: block;
				position: absolute;
				top: calc(var(--p)/-4);
				left: calc(var(--p)/-4);
				height: calc(100% + (var(--p)/2));
				width: calc(100% + (var(--p)/2));
				background-color: hsla(var(--color-red-hsl), .5);
				@include dark {
					background-color: var(--color-red);
				}
				@include clip-path {
					clip-path: polygon(3px 0%, calc(100% - 3px) 0%, 100% 3px, 100% calc(100% - 3px), calc(100% - 3px) 100%, 3px 100%, 0% calc(100% - 3px), 0% 3px);
				}
				@include clip-path-alt {
					border-radius: calc(var(--p)/4);
				}
			}
		}
		a:hover, a:focus, .popup-label:hover, .popup-button:focus ~ .popup-label {
			color: var(--color-red);
			> span, > strong {
				background-color: white;
			}
		}
		a:focus, .popup-button:focus ~ .popup-label {
			&:before {
				opacity: 1;
			}
		}
		a:active, .popup-button:active ~ .popup-label {
			transform: scale(0.98);
			> span, > strong {
				background-color: var(--color-iron);
				@include dark {
					background-color: var(--color-iron-5);
				}
			}
		}
		h4 ~ a {
			font-size: 16px;
		}
		time {
			background-color: hsla(var(--color-iron-hsl), .2);
			@include dark {
				background-color: hsla(var(--color-white-hsl), .2);
			}
		}
		.link > span, time {
			padding: calc(var(--p)/2) var(--p);
			font-size: 16px;
			font-weight: 700;
			font-variation-settings: "wght" 700, "CASL" 1, "MONO" 0;
			text-transform: uppercase;
		}
		.link {
			&.link-podcasts {
				&:hover, &:focus {
					color: var(--color-ap);
				}
				&:focus {
					&:before {
						background-color: hsla(var(--color-ap-hsl), .5);
						@include dark {
							background-color: var(--color-ap);
						}
					}
				}
				> span {
					background-color: var(--color-ap);
				}
			}
			&.link-spotify {
				&:hover, &:focus {
					color: var(--color-sp);
				}
				&:focus {
					&:before {
						background-color: hsla(var(--color-sp-hsl), .5);
						@include dark {
							background-color: var(--color-sp);
						}
					}
				}
				> span {
					background-color: var(--color-sp);
				}
			}
			&.link-medium {
				&:hover, &:focus {
					color: var(--color-med);
				}
				&:focus {
					&:before {
						background-color: hsla(var(--color-med-hsl), .5);
						@include dark {
							background-color: var(--color-med);
						}
					}
				}
				> span {
					background-color: var(--color-med);
				}
			}
			&:hover, &:focus {
				> span {
					background-color: white;
				}
			}
			&:active {
				> span {
					background-color: var(--color-iron);
				}
			}
			@include dark {
				&:hover, &:focus {
					> span {
						background-color: white;
					}
				}
				&:active {
					> span {
						background-color: var(--color-iron-5);
					}
				}
			}
		}
	}
}