<aside class="post-author post-text p-author h-card">
	<h2>About the author</h2>
	<p rel="author">{{site.author}}</p>
	<picture>
		<source type="image/webp" srcset="{{site.url}}/static/images/avatars/profile.webp">
		<img class="u-photo" src="{{site.url}}/static/images/avatars/profile.jpg" alt="{{site.photoDescription}}" width="512" height="512"/>
	</picture>
	<p class="p-note"><a class="p-name u-url" href="{{site.url}}">{{site.author}}</a> is a <span class="p-job-title">Front-end Developer</span> working at Apple . In her free time, she enjoys modding keyboards and controllers, taking photos, drawing, and reading fantasy/sci-fi books (but mostly updating her website). You can reach her at <a class="u-email" href="mailto:{{site.email}}">{{site.email}}</a>.</p>
</aside>