<aside class="post-author post-text p-author h-card">
	<h2>About the author</h2>
	<p rel="author">Gabrielle Wee</p>
	<picture>
		<img class="u-photo" src="https://gabriellew.ee/static/images/avatars/profile.jpg" alt="An Asian woman with long black hair in a black turtleneck and blue glasses" width="128" height="128"/>
	</picture>
	<p class="p-note"><a class="p-name u-url" href="https://gabriellew.ee">Gabrielle Wee</a> is a <span class="p-job-title">Front-end Developer</span> working at Apple . In her free time, she enjoys modding keyboards and controllers, taking photos, drawing, and reading fantasy/sci-fi books (but mostly updating her website). You can reach her at <a class="u-email" href="mailto:mail@gabriellew.ee">mail@gabriellew.ee</a>.</p>
</aside>