<div class="lightbox-group" hidden>
	{% for photo in photos %}
		{% if photo.date %}{%- set day = photo.date %}{% else %}{%- set day = date %}{% endif %}
		{% if photo.category %}{%- set category = photo.category %}{% else %}{%- set category = 'posts' %}{% endif %}
		{% if photo.lightbox == false %}{% else %}
			<a class="lightbox" id="{{day}}-{{photo.name}}-lightbox" role="button" aria-expanded="true" aria-label="Close image" href="#{{day}}-{{photo.name}}"></a>
			<figure class="image" role="dialog" aria-label="Image preview" aria-modal="true" data-content>
				{% if photo.type == "svg" %}
					<picture>
						<img src="/static/images/{{category}}/{{day}}-{{photo.name}}.svg" alt="{{photo.description}}" width="{% stats './static/images/' + category + '/' + day + '-' + photo.name + '.' + photo.type, 'width' %}" height="{% stats './static/images/' + category + '/' + day + '-' + photo.name + '.' + photo.type, 'height' %}"/>
					</picture>
				{% else %}
					{% image './static/images/' + category + '/' + day + '-' + photo.name + '.' + photo.type, photo.description, 'screen' %}
				{% endif %}
			</figure>
		{% endif %}
	{% endfor %}
	<div class="lightbox-background"></div>
</div>