{% set pageLink = site.url + page.url %}
<aside class="mentions">
	{% for type, webmentions in webmentions.links | groupby("activity.type") %}
		<div class="mentions-list mentions-{{type}}s">
			<div class="mentions-placeholder">
				{% for webmention in webmentions %}
					{% if (webmention.target == pageLink) and (type != "link") %}&nbsp;{% endif %}
				{% endfor %}
			</div>
			<h3>{% if type == "reply" %}Replies{% else %}{{type|capitalize}}s{% endif %}</h3>
			<ul class="mentions-{% if type == 'reply' %}flex{% elseif type == 'link' %}url{% elseif (type != 'reply') and (type != 'link') %}grid{% endif %}">
				{% for webmention in webmentions %}
					{% if (webmention.target == pageLink) and (type == "reply") %}
						<li>
							<a class="avatar" title="{{webmention.data.author.name}}" href="{{webmention.data.author.url}}" target="_blank">
								{% external webmention.data.author.photo, webmention.data.author.name, 48 %}
							</a>
							<div>
								<a class="time" href="{{webmention.data.url}}" target="_blank"><time>{{webmention.data.published|timeAgo}}</time></a>
								<div class="reply post-text">{{webmention.data.content|safe}}</div>
							</div>
						</li>
					{% elseif (webmention.target == pageLink) and (type != "reply") and (type != "link") %}
						<li>
							<a class="avatar" title="{{webmention.data.author.name}}" href="{{webmention.data.author.url}}" target="_blank">
								{% external webmention.data.author.photo, webmention.data.author.name, 48 %}
							</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
</aside>