@keyframes loader-fadeOut {
	0% {
		z-index: 1000;
		opacity: 1;
		display: flex;
	}
	99% {
		z-index: 1000;
		opacity: 0;
		display: flex;
	}
	100% {
		z-index: -1000;
		opacity: 0;
		display: none;
	}
}

@keyframes hover {
	0% {
		transform: translateY(3px);
	}
	100% {
		transform: translateY(3px);
	}
}
