/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
*, *:before, *:after { box-sizing: border-box; box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0,0,0,0); }

body, html {
	height: 100%;
}

body {
	background: $mint;
	color: $grey;
	font-family: $f;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
}

::-moz-selection {
	background: lighten(mix($pink, $beige), 10%);
}
::selection {
	background: lighten(mix($pink, $beige), 10%);
}

strong {
	font-weight: 700;
}

a {
	transition: 150ms cubic-bezier(0,.5,.25,1);
	will-change: color, background, opacity, transform;
	cursor: pointer;
	color: $grey;
	text-decoration: none;
}
[target="_blank"] {
	cursor: alias;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.fluid {
	cursor: pointer;
	cursor: zoom-in;
}
div.fluidbox__ghost {
	border-radius: 2px!important;
}

button, .button {
	transition: 150ms cubic-bezier(0,.5,.25,1);
	will-change: color, background, opacity, transform;
	appearance: none;
	border: 0;
	border-radius: $p/4;
	background: $grey;
	color: white!important;
	font-family: $f;
}

h1, h2, h3 {
	width: 100%;
}
h1 {
	font-size: 32px;
	font-weight: 400;
	line-height: 1.25;
}
h2 {
	font-size: 24px;
	font-weight: 400;
	line-height: 1.25;
}
h3 {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.25;
	strong {
		font-weight: 400;
	}
}

@media only screen and (min-width: 768px) {
	h1, h2 {
		font-weight: 300;
	}
	h1 {
		font-size: 60px;
	}
	h2 {
		font-size: 48px;
	}
	h3 {
		font-size: 24px;
	}
}

@media only screen and (min-width: 1920px) {
	h1 {
		font-size: 72px;
	}
	h2 {
		font-size: 60px;
	}
	h3 {
		font-size: 28px;
	}
}
