.cube {
	transform: rotateX(-30deg) rotateY(0) translateZ(0);
	transform-origin: $p/2 $p/2 #{-($p/2)};
	transform-style: preserve-3d;
	position: relative;
	width: $p;
	height: $p;
	animation: rotate 8000ms linear infinite;
	div {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		width: $p;
		height: $p;
		background: $forest;
		opacity: 0.75;
		// top
		&:nth-child(1) {
			background: lighten($grey, 15%);
			transform-origin: center top;
			transform: rotateX(90deg) translateY(#{-($p)});
			animation: top-init 4000ms ease-in-out infinite;
		}
		// bottom
		&:nth-child(2) {
			background: $beige;
			transform-origin: center bottom;
			transform: rotateX(-90deg) translateY($p);
			animation: bottom-init 4000ms ease-in-out infinite;
		}
		// left
		&:nth-child(3) {
			background: $green;
			transform-origin: left center;
			transform: rotateY(-90deg) translateX(#{-($p)});
			animation: left-init 4000ms ease-in-out infinite;
		}
		// right
		&:nth-child(4) {
			background: mix($green, $beige);
			transform-origin: right center;
			transform: rotateY(90deg) translateX($p);
			animation: right-init 4000ms ease-in-out infinite;
		}
		// front
		&:nth-child(5) {
			background: $pink;
			transform-origin: center center;
			transform: rotateX(0);
			animation: front-init 4000ms ease-in-out infinite;
		}
		// back
		&:nth-child(6) {
			background: mix($pink, $grey);
			transform-origin: center center;
			transform: rotateY(180deg) translateZ($p);
			animation: back-init 4000ms ease-in-out infinite;
		}
	}
}

@keyframes rotate {
	0% { transform: rotateX(0) rotateY(0) rotateZ(0) translateZ(0); }
	100% { transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) translateZ(0); }
}

@keyframes top-init {
	0% { transform: rotateX(90deg) translateY(#{-($p)}) translateZ(0); }
	50% { transform: rotateX(90deg) translateY(#{-($p)}) translateZ(#{$p/2}); }
	100% { transform: rotateX(90deg) translateY(#{-($p)}) translateZ(0); }
}

@keyframes bottom-init {
	0% { transform: rotateX(-90deg) translateY($p) translateZ(0); }
	50% { transform: rotateX(-90deg) translateY($p) translateZ(#{$p/2}); }
	100% { transform: rotateX(-90deg) translateY($p) translateZ(0); }
}

@keyframes left-init {
	0% { transform: rotateY(-90deg) translateX(#{-($p)}) translateZ(0); }
	50% { transform: rotateY(-90deg) translateX(#{-($p)}) translateZ(#{$p/2}); }
	100% { transform: rotateY(-90deg) translateX(#{-($p)}) translateZ(0); }
}

@keyframes right-init {
	0% { transform: rotateY(90deg) translateX($p) translateZ(0); }
	50% { transform: rotateY(90deg) translateX($p) translateZ(#{$p/2}); }
	100% { transform: rotateY(90deg) translateX($p) translateZ(0); }
}

@keyframes front-init {
	0% { transform: rotateX(0) translateZ(0); }
	50% { transform: rotateX(0) translateZ(#{$p/2}); }
	100% { transform: rotateX(0) translateZ(0); }
}

@keyframes back-init {
	0% { transform: rotateY(180deg) translateZ($p) translateZ(0); }
	50% { transform: rotateY(180deg) translateZ($p) translateZ(#{$p/2}); }
	100% { transform: rotateY(180deg) translateZ($p) translateZ(0); }
}
