<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="canonical" href="http://gabriellew.ee/uguru/components/profile-cardlet"/>

	<link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-touch-icon.png?v=151216">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-32x32.png?v=151216" sizes="32x32">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-16x16.png?v=151216" sizes="16x16">
	<link rel="manifest" href="/static/images/favicons/manifest.json?v=151216">
	<link rel="mask-icon" href="/static/images/favicons/safari-pinned-tab.svg?v=151216" color="#f5c8bf">
	<link rel="shortcut icon" href="/static/images/favicons/favicon.ico?v=151216">
	<meta name="msapplication-config" content="/static/images/favicons/browserconfig.xml?v=151216">
	<meta name="theme-color" content="#f5c8bf">

	<meta name="application-name" content="Gabrielle Wee · Portfolio" />

	<meta name="description" content="The personal portfolio of Gabrielle Wee." />

	<meta name="p:domain_verify" content="a2ebb812ce762fcb0ff4d73c039f8bf3"/>

	<link rel="stylesheet" href="/static/css/external.min.css"/>
	<link rel="stylesheet" href="/static/css/animation.min.css"/>
	<link rel="stylesheet" href="/static/css/uguru.min.css"/>
	<link rel="stylesheet" href="/static/css/components.min.css"/>

	<script src="/static/js/modernizr.min.js"></script>
	<script src="https://use.typekit.net/egc6yhc.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

	
	<title>Gabrielle Wee &middot; Uguru</title>
	

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-39192111-1', 'auto');
		ga('send', 'pageview');
	</script>

</head>
<body ontouchstart id="page-uguru" class="uguru-component">
	<!--[if IE]>
	<div class="browser-support">
		<div>
			<p>This website is not supported for your browser. Please download a modern browser such as <a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/products/" target="_blank">Mozilla Firefox</a>, then refresh this page. Thank you!</p>
		</div>
	</div>
<![endif]-->
<div class="browser-support">
	<div>
		<p>This website is not supported for your browser. Please download a modern browser such as <a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/products/" target="_blank">Mozilla Firefox</a>, then refresh this page. Thank you!</p>
	</div>
</div>


	<header id="top" class="top">
		<a href="/">
			<svg viewBox="0 0 400 400">
	<circle opacity="0.25" fill="#000000" cx="200" cy="200" r="200"></circle>
	<circle opacity="0.5" fill="#000000" cx="200" cy="200" r="113"></circle>
	<path d="M273.43771,114.114161 C253.686648,97.2098248 228.03564,87 200,87 C137.591823,87 87,137.591823 87,200 C87,262.408177 137.591823,313 200,313 C262.408177,313 313,262.408177 313,200 L224.214286,200" fill="none" stroke="#FFFFFF" stroke-width="50" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>

			<svg viewBox="0 0 400 400">
	<circle opacity="0.25" fill="#000000" cx="200" cy="200" r="200"></circle>
	<circle opacity="0.5" fill="#000000" cx="200" cy="200" r="113"></circle>
	<path d="M273.43771,114.114161 C253.686648,97.2098248 228.03564,87 200,87 C137.591823,87 87,137.591823 87,200 C87,262.408177 137.591823,313 200,313 C262.408177,313 313,262.408177 313,200 L224.214286,200" fill="none" stroke="#FFFFFF" stroke-width="50" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>

			<svg viewBox="0 0 400 400">
	<circle opacity="0.25" fill="#000000" cx="200" cy="200" r="200"></circle>
	<circle opacity="0.5" fill="#000000" cx="200" cy="200" r="113"></circle>
	<path d="M273.43771,114.114161 C253.686648,97.2098248 228.03564,87 200,87 C137.591823,87 87,137.591823 87,200 C87,262.408177 137.591823,313 200,313 C262.408177,313 313,262.408177 313,200 L224.214286,200" fill="none" stroke="#FFFFFF" stroke-width="50" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>

		</a>
	</header>

	
<article>
	<header class="section-header">
		<svg width="50px" height="60px" viewBox="0 0 50 60" xmlns="http://www.w3.org/2000/svg">
    <path d="M1.82232717,2.82232717 C0.263598914,1.26359891 0.795680821,0 3.0065556,0 L50,0 L50,60 L3.0065556,60 C0.793796042,60 0.269900855,58.7300991 1.82232717,57.1776728 L22,30 L1.82232717,2.82232717 Z" fill="#69B3A5"></path>
</svg>

		<h1>Uguru Profile Cardlet</h1>
		<svg width="50px" height="60px" viewBox="0 0 50 60" xmlns="http://www.w3.org/2000/svg">
    <path d="M48.1776728,2.82232717 C49.7364011,1.26359891 49.2043192,0 46.9934444,0 L0,0 L0,60 L46.9934444,60 C49.206204,60 49.7300991,58.7300991 48.1776728,57.1776728 L28,30 L48.1776728,2.82232717 Z" fill="#69B3A5"></path>
</svg>

	</header>
	<section>
		<p>Profile cardlets were designed as preview links to Powerpoint or Keynote-style presentations, created by student gurus for their Uguru profiles. <a class="link-jeselle" href="http://jeselleobina.com/" target="_blank">Jeselle</a> and I created sample cardlets that were considered "ideal" for the perfect <a href="/uguru/profiles/">profile</a>. They needed to be visually distinct from <a href="/uguru/components/profile-tile/">profile tiles</a> but still would share similar patterns and proportions so that they could be mixed together.</p>
		<p>After receiving Jeselle's drafts, I would work with her to normalize patterns across the categories to provide a sense of continuity.</p>
	</section>

	<header class="section-header">
		<svg width="50px" height="60px" viewBox="0 0 50 60" xmlns="http://www.w3.org/2000/svg">
    <path d="M1.82232717,2.82232717 C0.263598914,1.26359891 0.795680821,0 3.0065556,0 L50,0 L50,60 L3.0065556,60 C0.793796042,60 0.269900855,58.7300991 1.82232717,57.1776728 L22,30 L1.82232717,2.82232717 Z" fill="#69B3A5"></path>
</svg>

		<h1>Process</h1>
		<svg width="50px" height="60px" viewBox="0 0 50 60" xmlns="http://www.w3.org/2000/svg">
    <path d="M48.1776728,2.82232717 C49.7364011,1.26359891 49.2043192,0 46.9934444,0 L0,0 L0,60 L46.9934444,60 C49.206204,60 49.7300991,58.7300991 48.1776728,57.1776728 L28,30 L48.1776728,2.82232717 Z" fill="#69B3A5"></path>
</svg>

	</header>
	<section>
		<ul class="uguru-drafts">
			<li>
				<h2>Draft 1</h2>
				<p>Jeselle's first draft was originally for a universal cardlet, but we eventually branched out into six categories, including a default category for general tutorials and lessons. The double card format bears similarities to common slideshow icons; cardlets featured by the guru are highlighted with a star.</p>
				<div class="no-hover"><svg width="383px" height="266px" viewBox="0 0 383 266" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g fill="none" fill-rule="evenodd">
        <rect fill="#ADA078" opacity="0.5" x="15" y="15" width="368" height="251"></rect>
        <rect fill="#ADA078" x="0" y="0" width="365" height="251"></rect>
        <image opacity="0.3" x="62.5714286" y="51" width="239.857143" height="165.3125" xlink:href="/static/images/uguru/drafts/academic-cardlet-brain-1.png"></image>
		<g fill="#FFFFFF">
	        <text font-family="Source Sans Pro">
	            <tspan x="58.372" y="127" font-size="36" font-weight="700">Cerebral Cortex</tspan>
				<tspan x="116.116" y="155" font-size="18" font-weight="600">CREATED 3/12/16</tspan>
	        </text>
	        <polygon points="338 230 330.946577 233.708204 332.293661 225.854102 326.587322 220.291796 334.473288 219.145898 338 212 341.526712 219.145898 349.412678 220.291796 343.706339 225.854102 345.053423 233.708204"></polygon>
		</g>
    </g>
</svg>
</div>
			</li>
			<li>
				<hr class="spacer"/>
				<h2>Draft 2</h2>
				<p>After branching into categories, Jeselle formatted the academic cardlet to look like a folder or binder divider with a tab for the date.</p>
				<div class="no-hover"><svg width="383px" height="266px" viewBox="0 0 383 266" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <pattern id="pattern-1" patternUnits="objectBoundingBox" x="-0.0825668073%" width="100.082567%" height="100%">
            <use xlink:href="#image-2" transform="scale(1.00319009,1.00319009)"></use>
        </pattern>
        <pattern id="pattern-3" patternUnits="objectBoundingBox" x="-0.0825668073%" width="100.082567%" height="100%">
            <use xlink:href="#image-2" transform="scale(1.00319009,1.00319009)"></use>
        </pattern>
        <image id="image-2" width="368" height="251" xlink:href="/static/images/uguru/drafts/academic-cardlet-brain-2.png"></image>
    </defs>
    <g fill="none" fill-rule="evenodd">
        <rect fill="url(#pattern-1)" opacity="0.5" x="14.4346734" y="14.1992883" width="368.565327" height="251.800712" rx="2"></rect>
        <rect fill="url(#pattern-3)" x="0" y="0" width="368.565327" height="251.800712" rx="2"></rect>
        <text font-family="Source Sans Pro" font-size="24" font-weight="700" fill="#FFFFFF">
            <tspan x="125.932" y="119">Mastering the</tspan>
            <tspan x="116.248" y="150">Cerebral Cortex</tspan>
        </text>
		<g stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
	        <rect x="99" y="26" width="200" height="200"></rect>
	        <rect fill="#FFFFFF" x="69" y="26" width="30" height="90"></rect>
		</g>
        <text transform="translate(83.5, 71) rotate(-90) translate(-83.5, -71)" font-family="Source Sans Pro" font-size="16" font-weight="900" fill="#E6389B">
            <tspan x="52" y="77">03.19.16</tspan>
        </text>
    </g>
</svg>
</div>
			</li>
			<li>
				<hr class="spacer"/>
				<h2>Final HTML</h2>
				<p>I changed the date format to match other dates around the app; I also added in an overlay so that text would be more readable. Jeselle came up with the concept of the ribbons for another cardlet so I incorporated it into the design.</p>
				<div class="no-hover"><div class="pf-tile-container animated with-hover">
	<a></a><a></a><a></a><a></a>
	<div class="pf-cardlet highlight bg-academic">
		<div class="pf-cardlet-front-container">
			<div class="pf-cardlet-front 2x" style="background-image: url('/static/images/uguru/cardlets/academic/brain.jpg')"></div>
		</div>
		<div class="pf-cardlet-back-container">
			<div class="pf-cardlet-back 2x" style="background-image: url('/static/images/uguru/cardlets/academic/brain.jpg')"></div>
		</div>
		<div class="pf-cardlet-bottom-container">
			<div class="pf-cardlet-bottom">
				<div class="pf-cardlet-bg deco">
				</div>
				<div class="pf-cardlet-border deco">
					<div></div><div></div><div></div><div></div>
				</div>
				<h1>Master the Cerebral&nbsp;Cortex</h1>
				<div>
					<div>
						<h2>03/28/2016</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="pf-cardlet-ribbon-container">
			<div class="pf-cardlet-ribbon">
				<svg viewBox="0 0 100 100">
	<polygon points="50 68 28.8397309 79.1246118 32.8809827 55.5623059 15.7619654 38.8753882 39.4198655 35.4376941 50 14 60.5801345 35.4376941 84.2380346 38.8753882 67.1190173 55.5623059 71.1602691 79.1246118" fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></polygon>
</svg>

			</div>
		</div>
		<div class="pf-cardlet-ribbon-edge-container">
			<div class="pf-cardlet-ribbon-edge"></div>
		</div>
	</div>
</div>

</div>
			</li>
		</ul>
	</section>

	<header class="section-header">
		<svg width="50px" height="60px" viewBox="0 0 50 60" xmlns="http://www.w3.org/2000/svg">
    <path d="M1.82232717,2.82232717 C0.263598914,1.26359891 0.795680821,0 3.0065556,0 L50,0 L50,60 L3.0065556,60 C0.793796042,60 0.269900855,58.7300991 1.82232717,57.1776728 L22,30 L1.82232717,2.82232717 Z" fill="#69B3A5"></path>
</svg>

		<h1>Animation</h1>
		<svg width="50px" height="60px" viewBox="0 0 50 60" xmlns="http://www.w3.org/2000/svg">
    <path d="M48.1776728,2.82232717 C49.7364011,1.26359891 49.2043192,0 46.9934444,0 L0,0 L0,60 L46.9934444,60 C49.206204,60 49.7300991,58.7300991 48.1776728,57.1776728 L28,30 L48.1776728,2.82232717 Z" fill="#69B3A5"></path>
</svg>

	</header>
	<section>
		<div class="uguru-drafts">
			<p>Jeselle created the unique base animations for each cardlet. I took her work and created patterns of animation styles, then reapplied the final versions to the cardlets. I also came up with the parallax hover effect, which is CSS-only and does not require Javascript.</p>
		</div>
		<ul class="uguru-animation">
			<li>
				<h2>
					<span>Default</span>
					<a class="component-animate">animate</a>
				</h2>
				<div><div class="pf-tile-container animated with-hover">
	<a></a><a></a><a></a><a></a>
	<div class="pf-cardlet highlight default">
		<div class="pf-cardlet-front-container">
			<div class="pf-cardlet-front 2x" style="background-image: url('/static/images/uguru/cardlets/academic/da-vinci.jpg')">
				<div class="pf-cardlet-overlay"></div>
			</div>
		</div>
		<div class="pf-cardlet-back-container">
			<div class="pf-cardlet-back 2x" style="background-image: url('/static/images/uguru/cardlets/academic/da-vinci.jpg')"></div>
		</div>
		<div class="pf-cardlet-bottom-container">
			<div class="pf-cardlet-bottom">
				<h1>Leonardo da&nbsp;Vinci's Greatest&nbsp;Hits</h1>
				<div>
					<h3>Created</h3>
					<h2>03/28/2016</h2>
				</div>
			</div>
		</div>
		<div class="pf-cardlet-ribbon-container">
			<div class="pf-cardlet-ribbon">
				<svg viewBox="0 0 100 100">
	<polygon points="50 68 28.8397309 79.1246118 32.8809827 55.5623059 15.7619654 38.8753882 39.4198655 35.4376941 50 14 60.5801345 35.4376941 84.2380346 38.8753882 67.1190173 55.5623059 71.1602691 79.1246118" fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></polygon>
</svg>

			</div>
		</div>
		<div class="pf-cardlet-ribbon-edge-container">
			<div class="pf-cardlet-ribbon-edge"></div>
		</div>
	</div>
</div>

</div>
			</li>
			<li>
				<hr class="spacer"/>
				<h2>
					<span>Academic</span>
					<a class="component-animate">animate</a>
				</h2>
				<div><div class="pf-tile-container animated with-hover">
	<a></a><a></a><a></a><a></a>
	<div class="pf-cardlet highlight bg-academic">
		<div class="pf-cardlet-front-container">
			<div class="pf-cardlet-front 2x" style="background-image: url('/static/images/uguru/cardlets/academic/brain.jpg')"></div>
		</div>
		<div class="pf-cardlet-back-container">
			<div class="pf-cardlet-back 2x" style="background-image: url('/static/images/uguru/cardlets/academic/brain.jpg')"></div>
		</div>
		<div class="pf-cardlet-bottom-container">
			<div class="pf-cardlet-bottom">
				<div class="pf-cardlet-bg deco">
				</div>
				<div class="pf-cardlet-border deco">
					<div></div><div></div><div></div><div></div>
				</div>
				<h1>Master the Cerebral&nbsp;Cortex</h1>
				<div>
					<div>
						<h2>03/28/2016</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="pf-cardlet-ribbon-container">
			<div class="pf-cardlet-ribbon">
				<svg viewBox="0 0 100 100">
	<polygon points="50 68 28.8397309 79.1246118 32.8809827 55.5623059 15.7619654 38.8753882 39.4198655 35.4376941 50 14 60.5801345 35.4376941 84.2380346 38.8753882 67.1190173 55.5623059 71.1602691 79.1246118" fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></polygon>
</svg>

			</div>
		</div>
		<div class="pf-cardlet-ribbon-edge-container">
			<div class="pf-cardlet-ribbon-edge"></div>
		</div>
	</div>
</div>

</div>
			</li>
			<li>
				<hr class="spacer"/>
				<h2>
					<span>Baking</span>
					<a class="component-animate">animate</a>
				</h2>
				<div><div class="pf-tile-container animated with-hover">
	<a></a><a></a><a></a><a></a>
	<div class="pf-cardlet highlight bg-baking">
		<div class="pf-cardlet-front-container">
			<div class="pf-cardlet-front"></div>
		</div>
		<div class="pf-cardlet-back-container">
			<div class="pf-cardlet-back 2x" style="background-image: url('/static/images/uguru/cardlets/baking/strawberry.jpg')"></div>
		</div>
		<div class="pf-cardlet-bottom-container">
			<div class="pf-cardlet-bottom">
				<div class="pf-cardlet-icon 2x" style="background-image: url('/static/images/uguru/cardlets/baking/strawberry.jpg')"></div>
				<h1>Four-Star Strawberry&nbsp;Cake on&nbsp;a&nbsp;Budget</h1>
				<div>
					<h2>01/12/2017</h2>
				</div>
			</div>
		</div>
		<div class="pf-cardlet-ribbon-container">
			<div class="pf-cardlet-ribbon">
				<svg viewBox="0 0 100 100">
	<polygon points="50 68 28.8397309 79.1246118 32.8809827 55.5623059 15.7619654 38.8753882 39.4198655 35.4376941 50 14 60.5801345 35.4376941 84.2380346 38.8753882 67.1190173 55.5623059 71.1602691 79.1246118" fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></polygon>
</svg>

			</div>
		</div>
		<div class="pf-cardlet-ribbon-edge-container">
			<div class="pf-cardlet-ribbon-edge"></div>
		</div>
	</div>
</div>

</div>
			</li>
			<li>
				<hr class="spacer"/>
				<h2>
					<span>Photography</span>
					<a class="component-animate">animate</a>
				</h2>
				<div><div class="pf-tile-container animated with-hover">
	<a></a><a></a><a></a><a></a>
	<div class="pf-cardlet highlight bg-photography">
		<div class="pf-cardlet-front-container">
			<div class="pf-cardlet-front">
				<div class="pf-cardlet-border">
					<div></div><div></div><div></div><div></div>
				</div>
				<div class="pf-cardlet-bg 2x" style="background-image: url('/static/images/uguru/cardlets/photography/tunnel.jpg')"></div>
				<div class="pf-cardlet-overlay"></div>
			</div>
		</div>
		<div class="pf-cardlet-bottom-container">
			<div class="pf-cardlet-bottom">
				<h1>Urban Symmetry</h1>
				<div>
					<h2>09/23/2016</h2>
				</div>
			</div>
		</div>
		<div class="pf-cardlet-back-container">
			<div class="pf-cardlet-back"></div>
		</div>
		<div class="pf-cardlet-ribbon-container">
			<div class="pf-cardlet-ribbon">
				<svg viewBox="0 0 100 100">
	<polygon points="50 68 28.8397309 79.1246118 32.8809827 55.5623059 15.7619654 38.8753882 39.4198655 35.4376941 50 14 60.5801345 35.4376941 84.2380346 38.8753882 67.1190173 55.5623059 71.1602691 79.1246118" fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></polygon>
</svg>

			</div>
		</div>
		<div class="pf-cardlet-ribbon-edge-container">
			<div class="pf-cardlet-ribbon-edge"></div>
		</div>
	</div>
</div>

</div>
			</li>
			<li>
				<hr class="spacer"/>
				<h2>
					<span>Tech</span>
					<a class="component-animate">animate</a>
				</h2>
				<div><div class="pf-tile-container animated with-hover">
	<a></a><a></a><a></a><a></a>
	<div class="pf-cardlet highlight bg-tech">
		<div class="pf-cardlet-front-container">
			<div class="pf-cardlet-front 2x" style="background-image: url('/static/images/uguru/cardlets/tech/app.jpg')">
				<div class="pf-cardlet-overlay"></div>
			</div>
		</div>
		<div class="pf-cardlet-back-container">
			<div class="pf-cardlet-back"></div>
		</div>
		<div class="pf-cardlet-bottom-container">
			<div class="pf-cardlet-bottom">
				<div></div>
				<div></div><div></div>
				<div></div><div></div>
				<h1>Best Apps of 2016</h1>
				<div>
					<div></div>
					<h2>12/28/2016</h2>
					<div></div>
				</div>
			</div>
		</div>
		<div class="pf-cardlet-ribbon-container">
			<div class="pf-cardlet-ribbon">
				<svg viewBox="0 0 100 100">
	<polygon points="50 68 28.8397309 79.1246118 32.8809827 55.5623059 15.7619654 38.8753882 39.4198655 35.4376941 50 14 60.5801345 35.4376941 84.2380346 38.8753882 67.1190173 55.5623059 71.1602691 79.1246118" fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></polygon>
</svg>

			</div>
		</div>
		<div class="pf-cardlet-ribbon-edge-container">
			<div class="pf-cardlet-ribbon-edge"></div>
		</div>
	</div>
</div>

</div>
			</li>
			<li>
				<hr class="spacer"/>
				<h2>
					<span>Household</span>
					<a class="component-animate">animate</a>
				</h2>
				<div><div class="pf-tile-container animated with-hover">
	<a></a><a></a><a></a><a></a>
	<div class="pf-cardlet highlight bg-household">
		<div class="pf-cardlet-front-container">
			<div class="pf-cardlet-front 2x" style="background-image: url('/static/images/uguru/cardlets/household/terrarium.jpg')">
				<div class="pf-cardlet-border">
					<div></div><div></div>
					<div></div><div></div>
				</div>
				<div class="pf-cardlet-overlay"></div>
			</div>
		</div>
		<div class="pf-cardlet-back-container">
			<div class="pf-cardlet-back"></div>
		</div>
		<div class="pf-cardlet-bottom-container">
			<div class="pf-cardlet-bottom">
				<h1>How to Make Your Plants Live&nbsp;Longer</h1>
				<div>
					<div class="pf-cardlet-bubble">
						<div></div><div></div><div></div><div></div>
					</div>
					<h2>03/19/2017</h2>
				</div>
			</div>
		</div>
		<div class="pf-cardlet-ribbon-container">
			<div class="pf-cardlet-ribbon">
				<svg viewBox="0 0 100 100">
	<polygon points="50 68 28.8397309 79.1246118 32.8809827 55.5623059 15.7619654 38.8753882 39.4198655 35.4376941 50 14 60.5801345 35.4376941 84.2380346 38.8753882 67.1190173 55.5623059 71.1602691 79.1246118" fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></polygon>
</svg>

			</div>
		</div>
		<div class="pf-cardlet-ribbon-edge-container">
			<div class="pf-cardlet-ribbon-edge"></div>
		</div>
	</div>
</div>

</div>
			</li>
		</ul>
	</section>

	<footer class="project-back-container desktop">
		<a class="button project-back" href="/uguru/components/">back to components</a>
	</footer>
	<footer class="project-back-container mobile">
		<a class="button project-back" href="/uguru/components/">back to components</a>
	</footer>
</article>

<footer id="bottom">
	Gabrielle Wee &copy; 2012-2017
</footer>


	
		<!-- <script src="/static/js/skrollr.min.js"></script>
		<script src="/static/js/skrollr.menu.min.js"></script> -->
		<script src="/static/js/velocity.min.js"></script>
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/debounce.min.js"></script>
		<script src="/static/js/fluidbox.min.js"></script>
		<script src="/static/js/isotope.min.js"></script>
		<script src="/static/js/packery.min.js"></script>
		<script src="/static/js/flickity.min.js"></script>
		<script src="/static/js/uguru.min.js"></script>
	
</body>
</html>
