<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<meta name="format-detection" content="telephone=no">
	<meta name="robots" content="noindex,nofollow">

	<link rel="apple-touch-icon" sizes="180x180" href="/nameplate/v2/static/images/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/nameplate/v2/static/images/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/nameplate/v2/static/images/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/nameplate/v2/static/images/favicons/manifest.json">
	<link rel="mask-icon" href="/nameplate/v2/static/images/favicons/safari-pinned-tab.svg" color="#53a0fe">
	<link rel="shortcut icon" href="/nameplate/v2/static/images/favicons/favicon.ico">
	<meta name="msapplication-config" content="/nameplate/v2/static/images/favicons/browserconfig.xml">
	<meta name="theme-color" content="#53a0fe">

	<meta name="application-name" content="gabrielleismy.name" />
	<meta name="description" content="I'm a UI designer and front-end developer who can be found on these websites" />

	<title>gabrielleismy.name</title>
	<meta property="og:title" content="gabrielleismy.name" />

	<meta property="og:site_name" content="gabrielleismy.name" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://gabrielleismy.name/" />
	<meta property="og:image" content="/nameplate/v2/static/images/og.jpg" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
	<meta property="og:description" content="I'm a UI designer and front-end developer who can be found on these websites" />

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@elletricity" />
	<meta name="twitter:creator" content="@elletricity" />
	<meta property="fb:app_id" content="1291587600924107"/>
	<meta property="fb:admins" content="504790226"/>

	<link rel="stylesheet" href="/nameplate/v2/static/css/style.min.css">
	<link rel="stylesheet" href="/static/css/warning.css">

	<script src="/nameplate/v2/static/js/modernizr.min.js"></script>
	<script src="https://use.typekit.net/lkh0ago.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

<body>
<div class="current-warning nameplate-v2">This site is archived and may not contain up-to-date information. <a href="/">Return to current?</a></div>
<!--[if IE]>
	<div class="browser-support">
		<div>
			<p>This website is not supported for your browser. Please download a modern browser such as <a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/products/" target="_blank">Mozilla Firefox</a>, then refresh this page. Thank you!</p>
		</div>
	</div>
<![endif]-->
<div class="browser-support">
	<div>
		<p>This website is not supported for your browser. Please download a modern browser such as <a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/products/" target="_blank">Mozilla Firefox</a>, then refresh this page. Thank you!</p>
	</div>
</div>


<div class="loader"></div>

<header>
	<a href="/nameplate/v2/">{% include '../v2/static/images/svg/name.svg' %}</a>
</header>


<main>
	<h2>You can follow and interact with me at these links! These are open to everybody.</h2>
	<ul ontouchstart>
		<li>
			<div class="link">
				<a href="http://gabriellew.ee/" target="_blank"></a>
				<a href="http://gabriellew.ee/" target="_blank"></a>
				<a href="http://gabriellew.ee/" target="_blank"></a>
				<a href="http://gabriellew.ee/" target="_blank"></a>
				<div class="cube portfolio">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/portfolio.svg' %}
					</div>
					<div>gabriellew.ee</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="http://codepen.io/gabriellewee/" target="_blank"></a>
				<a href="http://codepen.io/gabriellewee/" target="_blank"></a>
				<a href="http://codepen.io/gabriellewee/" target="_blank"></a>
				<a href="http://codepen.io/gabriellewee/" target="_blank"></a>
				<div class="cube codepen">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/codepen.svg' %}
					</div>
					<div>/gabriellewee</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="http://dribbble.com/gabriellewee/" target="_blank"></a>
				<a href="http://dribbble.com/gabriellewee/" target="_blank"></a>
				<a href="http://dribbble.com/gabriellewee/" target="_blank"></a>
				<a href="http://dribbble.com/gabriellewee/" target="_blank"></a>
				<div class="cube dribbble">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/dribbble.svg' %}
					</div>
					<div>@gabriellewee</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="http://github.com/elletricity/" target="_blank"></a>
				<a href="http://github.com/elletricity/" target="_blank"></a>
				<a href="http://github.com/elletricity/" target="_blank"></a>
				<a href="http://github.com/elletricity/" target="_blank"></a>
				<div class="cube github">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/github.svg' %}
					</div>
					<div>/elletricity</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="http://linkedin.com/in/gabriellewee/" target="_blank"></a>
				<a href="http://linkedin.com/in/gabriellewee/" target="_blank"></a>
				<a href="http://linkedin.com/in/gabriellewee/" target="_blank"></a>
				<a href="http://linkedin.com/in/gabriellewee/" target="_blank"></a>
				<div class="cube linkedin">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/linkedin.svg' %}
					</div>
					<div>+gabriellewee</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="http://instagram.com/gabriellewee/" target="_blank"></a>
				<a href="http://instagram.com/gabriellewee/" target="_blank"></a>
				<a href="http://instagram.com/gabriellewee/" target="_blank"></a>
				<a href="http://instagram.com/gabriellewee/" target="_blank"></a>
				<div class="cube instagram">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/instagram.svg' %}
					</div>
					<div>@gabriellewee</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="http://twitter.com/elletricity/" target="_blank"></a>
				<a href="http://twitter.com/elletricity/" target="_blank"></a>
				<a href="http://twitter.com/elletricity/" target="_blank"></a>
				<a href="http://twitter.com/elletricity/" target="_blank"></a>
				<div class="cube twitter">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/twitter.svg' %}
					</div>
					<div>@elletricity</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="http://elleusine.net/" target="_blank"></a>
				<a href="http://elleusine.net/" target="_blank"></a>
				<a href="http://elleusine.net/" target="_blank"></a>
				<a href="http://elleusine.net/" target="_blank"></a>
				<div class="cube tumblr">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/tumblr.svg' %}
					</div>
					<div>@elleusine</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="https://medium.com/@gabriellewee/" target="_blank"></a>
				<a href="https://medium.com/@gabriellewee/" target="_blank"></a>
				<a href="https://medium.com/@gabriellewee/" target="_blank"></a>
				<a href="https://medium.com/@gabriellewee/" target="_blank"></a>
				<div class="cube medium">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/medium.svg' %}
					</div>
					<div>@gabriellewee</div>
				</div>
			</div>
		</li>
			<li>
				<div class="link">
					<a href="https://facebook.com/gabrielleweedesign/" target="_blank"></a>
					<a href="https://facebook.com/gabrielleweedesign/" target="_blank"></a>
					<a href="https://facebook.com/gabrielleweedesign/" target="_blank"></a>
					<a href="https://facebook.com/gabrielleweedesign/" target="_blank"></a>
					<div class="cube facebook">
						<div></div><div></div><div></div><div></div>
						<div>
							{% include '../v2/static/images/svg/icons/facebook.svg' %}
						</div>
						<div>/gabriellewee design</div>
					</div>
				</div>
			</li>
	</ul>

	<h2>Message me at one of these regarding possible work opportunities:</h2>
	<ul ontouchstart>
		<li>
			<div class="link">
				<a href="mailto:mail@gabriellew.ee" target="_blank"></a>
				<a href="mailto:mail@gabriellew.ee" target="_blank"></a>
				<a href="mailto:mail@gabriellew.ee" target="_blank"></a>
				<a href="mailto:mail@gabriellew.ee" target="_blank"></a>
				<div class="cube email">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/email.svg' %}
					</div>
					<div>email</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="skype:elletricity?chat" target="_blank"></a>
				<a href="skype:elletricity?chat" target="_blank"></a>
				<a href="skype:elletricity?chat" target="_blank"></a>
				<a href="skype:elletricity?chat" target="_blank"></a>
				<div class="cube skype">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/skype.svg' %}
					</div>
					<div>elletricity</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="sms:5102142241" target="_blank"></a>
				<a href="sms:5102142241" target="_blank"></a>
				<a href="sms:5102142241" target="_blank"></a>
				<a href="sms:5102142241" target="_blank"></a>
				<div class="cube googlevoice">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/googlevoice.svg' %}
					</div>
					<div>(510) 214-2241</div>
				</div>
			</div>
		</li>
	</ul>

	<h2>These may be updated occasionally.</h2>
	<ul ontouchstart>
		<li>
			<div class="link">
				<a href="http://reddit.com/user/elletricity/" target="_blank"></a>
				<a href="http://reddit.com/user/elletricity/" target="_blank"></a>
				<a href="http://reddit.com/user/elletricity/" target="_blank"></a>
				<a href="http://reddit.com/user/elletricity/" target="_blank"></a>
				<div class="cube reddit">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/reddit.svg' %}
					</div>
					<div>/u/elletricity</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="http://pinterest.com/elletricity/" target="_blank"></a>
				<a href="http://pinterest.com/elletricity/" target="_blank"></a>
				<a href="http://pinterest.com/elletricity/" target="_blank"></a>
				<a href="http://pinterest.com/elletricity/" target="_blank"></a>
				<div class="cube pinterest">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/pinterest.svg' %}
					</div>
					<div>/elletricity</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="http://elletricity.deviantart.com/" target="_blank"></a>
				<a href="http://elletricity.deviantart.com/" target="_blank"></a>
				<a href="http://elletricity.deviantart.com/" target="_blank"></a>
				<a href="http://elletricity.deviantart.com/" target="_blank"></a>
				<div class="cube deviantart">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/deviantart.svg' %}
					</div>
					<div>~elletricity</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="http://instagram.com/elleusine/" target="_blank"></a>
				<a href="http://instagram.com/elleusine/" target="_blank"></a>
				<a href="http://instagram.com/elleusine/" target="_blank"></a>
				<a href="http://instagram.com/elleusine/" target="_blank"></a>
				<div class="cube instagram">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/instagram.svg' %}
					</div>
					<div>@elleusine</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="http://pinterest.com/gabriellewee/" target="_blank"></a>
				<a href="http://pinterest.com/gabriellewee/" target="_blank"></a>
				<a href="http://pinterest.com/gabriellewee/" target="_blank"></a>
				<a href="http://pinterest.com/gabriellewee/" target="_blank"></a>
				<div class="cube pinterest">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/pinterest.svg' %}
					</div>
					<div>/gabriellewee</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="https://goodreads.com/elletricity/" target="_blank"></a>
				<a href="https://goodreads.com/elletricity/" target="_blank"></a>
				<a href="https://goodreads.com/elletricity/" target="_blank"></a>
				<a href="https://goodreads.com/elletricity/" target="_blank"></a>
				<div class="cube goodreads">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/goodreads.svg' %}
					</div>
					<div>/elletricity</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="https://soundcloud.com/gabriellewee/" target="_blank"></a>
				<a href="https://soundcloud.com/gabriellewee/" target="_blank"></a>
				<a href="https://soundcloud.com/gabriellewee/" target="_blank"></a>
				<a href="https://soundcloud.com/gabriellewee/" target="_blank"></a>
				<div class="cube soundcloud">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/soundcloud.svg' %}
					</div>
					<div>/gabriellewee</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="https://gyrosco.pe/gabrielle/" target="_blank"></a>
				<a href="https://gyrosco.pe/gabrielle/" target="_blank"></a>
				<a href="https://gyrosco.pe/gabrielle/" target="_blank"></a>
				<a href="https://gyrosco.pe/gabrielle/" target="_blank"></a>
				<div class="cube gyroscope">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/gyroscope.svg' %}
					</div>
					<div>/gabrielle</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="http://youtube.com/user/elletricity/" target="_blank"></a>
				<a href="http://youtube.com/user/elletricity/" target="_blank"></a>
				<a href="http://youtube.com/user/elletricity/" target="_blank"></a>
				<a href="http://youtube.com/user/elletricity/" target="_blank"></a>
				<div class="cube youtube">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/youtube.svg' %}
					</div>
					<div>/elletricity</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="https://vimeo.com/gabriellewee/" target="_blank"></a>
				<a href="https://vimeo.com/gabriellewee/" target="_blank"></a>
				<a href="https://vimeo.com/gabriellewee/" target="_blank"></a>
				<a href="https://vimeo.com/gabriellewee/" target="_blank"></a>
				<div class="cube vimeo">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/vimeo.svg' %}
					</div>
					<div>/elleusine</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="http://steamcommunity.com/id/elletricity/" target="_blank"></a>
				<a href="http://steamcommunity.com/id/elletricity/" target="_blank"></a>
				<a href="http://steamcommunity.com/id/elletricity/" target="_blank"></a>
				<a href="http://steamcommunity.com/id/elletricity/" target="_blank"></a>
				<div class="cube steam">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/steam.svg' %}
					</div>
					<div>/elletricity</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="https://quora.com/profile/Gabrielle-Wee/" target="_blank"></a>
				<a href="https://quora.com/profile/Gabrielle-Wee/" target="_blank"></a>
				<a href="https://quora.com/profile/Gabrielle-Wee/" target="_blank"></a>
				<a href="https://quora.com/profile/Gabrielle-Wee/" target="_blank"></a>
				<div class="cube quora">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/quora.svg' %}
					</div>
					<div>/Gabrielle-Wee</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="https://producthunt.com/@elletricity/" target="_blank"></a>
				<a href="https://producthunt.com/@elletricity/" target="_blank"></a>
				<a href="https://producthunt.com/@elletricity/" target="_blank"></a>
				<a href="https://producthunt.com/@elletricity/" target="_blank"></a>
				<div class="cube producthunt">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/producthunt.svg' %}
					</div>
					<div>@elletricity</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="https://twitter.com/@elleusine/" target="_blank"></a>
				<a href="https://twitter.com/@elleusine/" target="_blank"></a>
				<a href="https://twitter.com/@elleusine/" target="_blank"></a>
				<a href="https://twitter.com/@elleusine/" target="_blank"></a>
				<div class="cube twitter">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/twitter.svg' %}
					</div>
					<div>@elleusine</div>
				</div>
			</div>
		</li>
	</ul>

	<h2>These profiles belong to me, but I don't accept requests from strangers, sorry!</h2>
	<ul ontouchstart>
		<li>
			<div class="link">
				<a href="https://facebook.com/gabriellewee/" target="_blank"></a>
				<a href="https://facebook.com/gabriellewee/" target="_blank"></a>
				<a href="https://facebook.com/gabriellewee/" target="_blank"></a>
				<a href="https://facebook.com/gabriellewee/" target="_blank"></a>
				<div class="cube facebook">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/facebook.svg' %}
					</div>
					<div>/gabriellewee</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="http://peach.cool/add/kaladin/" target="_blank"></a>
				<a href="http://peach.cool/add/kaladin/" target="_blank"></a>
				<a href="http://peach.cool/add/kaladin/" target="_blank"></a>
				<a href="http://peach.cool/add/kaladin/" target="_blank"></a>
				<div class="cube peach">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/peach.svg' %}
					</div>
					<div>@kaladin</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="http://snapchat.com/add/elleusine/" target="_blank"></a>
				<a href="http://snapchat.com/add/elleusine/" target="_blank"></a>
				<a href="http://snapchat.com/add/elleusine/" target="_blank"></a>
				<a href="http://snapchat.com/add/elleusine/" target="_blank"></a>
				<div class="cube snapchat">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/snapchat.svg' %}
					</div>
					<div>elleusine</div>
				</div>
			</div>
		</li>
	</ul>

	<h2>These profiles are empty and may be used in the future.</h2>
	<ul ontouchstart>
		<li>
			<div class="link">
				<a href="http://polycount.com/forum/member.php?u=165589" target="_blank"></a>
				<a href="http://polycount.com/forum/member.php?u=165589" target="_blank"></a>
				<a href="http://polycount.com/forum/member.php?u=165589" target="_blank"></a>
				<a href="http://polycount.com/forum/member.php?u=165589" target="_blank"></a>
				<div class="cube polycount">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/polycount.svg' %}
					</div>
					<div>elle</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="https://artstation.com/artist/gabriellewee/" target="_blank"></a>
				<a href="https://artstation.com/artist/gabriellewee/" target="_blank"></a>
				<a href="https://artstation.com/artist/gabriellewee/" target="_blank"></a>
				<a href="https://artstation.com/artist/gabriellewee/" target="_blank"></a>
				<div class="cube artstation">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/artstation.svg' %}
					</div>
					<div>gabriellewee</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="http://etsy.com/people/gabriellewee/" target="_blank"></a>
				<a href="http://etsy.com/people/gabriellewee/" target="_blank"></a>
				<a href="http://etsy.com/people/gabriellewee/" target="_blank"></a>
				<a href="http://etsy.com/people/gabriellewee/" target="_blank"></a>
				<div class="cube etsy">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/etsy.svg' %}
					</div>
					<div>/gabriellewee</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="http://instagram.com/elletricity/" target="_blank"></a>
				<a href="http://instagram.com/elletricity/" target="_blank"></a>
				<a href="http://instagram.com/elletricity/" target="_blank"></a>
				<a href="http://instagram.com/elletricity/" target="_blank"></a>
				<div class="cube instagram">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/instagram.svg' %}
					</div>
					<div>@elletricity</div>
				</div>
			</div>
		</li>
	</ul>

	<h2>These are unlikely to be updated.</h2>
	<ul ontouchstart>
		<li>
			<div class="link">
				<a href="https://flickr.com/photos/elleusine/" target="_blank"></a>
				<a href="https://flickr.com/photos/elleusine/" target="_blank"></a>
				<a href="https://flickr.com/photos/elleusine/" target="_blank"></a>
				<a href="https://flickr.com/photos/elleusine/" target="_blank"></a>
				<div class="cube flickr">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/flickr.svg' %}
					</div>
					<div>/elleusine</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="https://plus.google.com/+GabrielleWee" target="_blank"></a>
				<a href="https://plus.google.com/+GabrielleWee" target="_blank"></a>
				<a href="https://plus.google.com/+GabrielleWee" target="_blank"></a>
				<a href="https://plus.google.com/+GabrielleWee" target="_blank"></a>
				<div class="cube plus">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/googleplus.svg' %}
					</div>
					<div>+gabriellewee</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="http://elletricity.com/" target="_blank"></a>
				<a href="http://elletricity.com/" target="_blank"></a>
				<a href="http://elletricity.com/" target="_blank"></a>
				<a href="http://elletricity.com/" target="_blank"></a>
				<div class="cube resource">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/resource.svg' %}
					</div>
					<div>elletricity.com</div>
				</div>
			</div>
		</li>
		<li>
			<div class="link">
				<a href="https://facebook.com/elletricity/" target="_blank"></a>
				<a href="https://facebook.com/elletricity/" target="_blank"></a>
				<a href="https://facebook.com/elletricity/" target="_blank"></a>
				<a href="https://facebook.com/elletricity/" target="_blank"></a>
				<div class="cube facebook">
					<div></div><div></div><div></div><div></div>
					<div>
						{% include '../v2/static/images/svg/icons/facebook.svg' %}
					</div>
					<div>/elletricity</div>
				</div>
			</div>
		</li>
	</ul>

	<h2>These are no longer maintained and are considered "archived".</h2>
	<ul ontouchstart>
		<li>
			<a class="archive reverse tumblr" href="http://kpopdirectory.tumblr.com/" target="_blank">
				<div></div><div></div><div></div><div></div>
				<div>tumblr</div>
				<div>kpd</div>
			</a>
		</li>
		<li>
			<a class="archive gaia" href="http://gaiaonline.com/profiles/elletricity/1770407/" target="_blank">
				<div></div><div></div><div></div><div></div>
				<div>gaiaonline</div>
				<div>/elletricity</div>
			</a>
		</li>
		<li>
			<a class="archive expression" href="http://students.expression.edu/gabriellewee/" target="_blank">
				<div></div><div></div><div></div><div></div>
				<div>ex'pression</div>
				<div>/gabriellewee</div>
			</a>
		</li>
		<li>
			<a class="archive reverse wordpress" href="http://elletricity.wordpress.com/" target="_blank">
				<div></div><div></div><div></div><div></div>
				<div>wordpress</div>
				<div>elletricity</div>
			</a>
		</li>
		<li>
			<a class="archive reverse createblog" href="http://jiyong.createblog.com" target="_blank">
				<div></div><div></div><div></div><div></div>
				<div>createblog</div>
				<div>jiyong</div>
			</a>
		</li>
		<li>
			<a class="archive lookbook" href="http://lookbook.nu/elletricity/" target="_blank">
				<div></div><div></div><div></div><div></div>
				<div>lookbook</div>
				<div>/elletricity</div>
			</a>
		</li>
		<li>
			<a class="archive myspace" href="http://myspace.com/elletricity/" target="_blank">
				<div></div><div></div><div></div><div></div>
				<div>myspace</div>
				<div>/elletricity</div>
			</a>
		</li>
		<li>
			<a class="archive myspace" href="http://myspace.com/gabbriell/" target="_blank">
				<div></div><div></div><div></div><div></div>
				<div>myspace</div>
				<div>/gabbriell</div>
			</a>
		</li>
		<li>
			<a class="archive xanga" href="http://gabbriell.xanga.com/" target="_blank">
				<div></div><div></div><div></div><div></div>
				<div>xanga</div>
				<div>gabbriell</div>
			</a>
		</li>
		<li>
			<a class="archive xanga" href="http://eirian-star.xanga.com/" target="_blank">
				<div></div><div></div><div></div><div></div>
				<div>xanga</div>
				<div>eirian-star</div>
			</a>
		</li>
	</ul>

	<h1>Here's a disclaimer:</h1>
	<article>
		<p>I believe that in this day and age, a person's online presence is especially important. I don't wish to hide anything about myself online; if I don't want people to know, I don't post it anywhere on the Internet.</p>
		<p>That being said, I do not claim ownership of any sites or social networking profiles other than the ones listed on this page. I do not take responsibility for content on other websites - if it's not on here, it's not me.</p>
		<p>I have various accounts on forum sites for browsing; I no longer maintain any fan pages.</p>
		<p>Please only contact me regarding content* if it is located on one of these websites or social networking profiles; otherwise, I cannot help you.</p>
		<p><small>*sources, removal, attribution, etc.</small></p>
	</article>
</main>

<footer>
	Gabrielle Wee &copy; 2012-2017
</footer>

<script src="/nameplate/v2/static/js/jquery.min.js"></script>
<script src="/nameplate/v2/static/js/isotope.min.js"></script>
<script src="/nameplate/v2/static/js/packery.min.js"></script>
<script>
	$(function () {
		$(".loader").addClass("active");
		setTimeout(function(){
			$(".loader").removeClass("active");
			$(".loader").addClass("hide");
		}, 2000);
	});
	$('ul').isotope({
		layoutMode: 'packery',
	    itemSelector: 'li'
	});
</script>
</body>
</html>
