.bg-charcoal {
	background: $charcoal;
}
.bg-slate {
	background: $slate;
}
.bg-rocket {
	background: $rocket;
}
.bg-taupe {
	background: $taupe;
}
.bg-campus {
	background: $campus;
}
.bg-smoke {
	background: $smoke;
}
.bg-robin {
	background: $robin;
}
.bg-lake {
	background: $lake;
}
.bg-moxie {
	background: $moxie;
}
.bg-crimson {
	background: $crimson;
}
.bg-shamrock {
	background: $shamrock;
}
.bg-auburn {
	background: $auburn;
}
.bg-orange {
	background: $orange;
}
.bg-gold {
	background: $gold;
}
.bg-moola {
	background: $moola;
}
.bg-azure {
	background: $azure;
}
.bg-cobalt {
	background: $cobalt;
}
.bg-eggplant {
	background: $eggplant;
}
.bg-cerise {
	background: $cerise;
}

.bg-auburn-slate {
	background: mix($slate, $auburn);
}
.bg-orange-slate {
	background: mix($slate, $orange);
}
.bg-gold-slate {
	background: mix($slate, $gold);
}
.bg-moola-slate {
	background: mix($slate, $moola);
}
.bg-azure-slate {
	background: mix($slate, $azure);
}
.bg-cobalt-slate {
	background: mix($slate, $cobalt);
}
.bg-eggplant-slate {
	background: mix($slate, $eggplant);
}
.bg-cerise-slate {
	background: mix($slate, $cerise);
}

.bg-auburn-white {
	background: mix(white, $auburn);
}
.bg-orange-white {
	background: mix(white, $orange);
}
.bg-gold-white {
	background: mix(white, $gold);
}
.bg-moola-white {
	background: mix(white, $moola);
}
.bg-azure-white {
	background: mix(white, $azure);
}
.bg-cobalt-white {
	background: mix(white, $cobalt);
}
.bg-eggplant-white {
	background: mix(white, $eggplant);
}
.bg-cerise-white {
	background: mix(white, $cerise);
}

.txt-charcoal {
	color: $charcoal;
}
.txt-slate {
	color: $slate;
}
.txt-rocket {
	color: $rocket;
}
.txt-taupe {
	color: $taupe;
}
.txt-campus {
	color: $campus;
}
.txt-smoke {
	color: $smoke;
}
.txt-robin {
	color: $robin;
}
.txt-lake {
	color: $lake;
}
.txt-moxie {
	color: $moxie;
}
.txt-crimson {
	color: $crimson;
}
.txt-shamrock {
	color: $shamrock;
}
.txt-auburn {
	color: $auburn;
}
.txt-orange {
	color: $orange;
}
.txt-gold {
	color: $gold;
}
.txt-moola {
	color: $moola;
}
.txt-azure {
	color: $azure;
}
.txt-cobalt {
	color: $cobalt;
}
.txt-eggplant {
	color: $eggplant;
}
.txt-cerise {
	color: $cerise;
}
