[class*="grid-"] {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	// default
	&[class*="grid-1"] {
		> * {
			width: 100%;
		}
	}
	&[class*="grid-2"] {
		> * {
			width: 50%;
		}
	}
	&[class*="grid-3"] {
		> * {
			width: calc(100% / 3);
		}
	}
	&[class*="grid-4"] {
		> * {
			width: 25%;
		}
	}
	&[class*="grid-5"] {
		> * {
			width: 20%;
		}
	}
	&[class*="grid-6"] {
		> * {
			width: calc(100% / 6);
		}
	}
	&[class*="grid-7"] {
		> * {
			width: calc(100% / 7);
		}
	}
	&[class*="grid-8"] {
		> * {
			width: calc(100% / 8);
		}
	}
	&[class*="grid-9"] {
		> * {
			width: calc(100% / 9);
		}
	}
	&[class*="grid-10"] {
		> * {
			width: 10%;
		}
	}
	&[class*="grid-11"] {
		> * {
			width: calc(100% / 11);
		}
	}
	&[class*="grid-12"] {
		> * {
			width: calc(100% / 12);
		}
	}
	// desktop
	@media only screen and (min-width: 768px) {
		&[class*="grid-l-1"] {
			> * {
				width: 100%;
			}
		}
		&[class*="grid-l-2"] {
			> * {
				width: 50%;
			}
		}
		&[class*="grid-l-3"] {
			> * {
				width: calc(100% / 3);
			}
		}
		&[class*="grid-l-4"] {
			> * {
				width: 25%;
			}
		}
		&[class*="grid-l-5"] {
			> * {
				width: 20%;
			}
		}
		&[class*="grid-l-6"] {
			> * {
				width: calc(100% / 6);
			}
		}
		&[class*="grid-l-7"] {
			> * {
				width: calc(100% / 7);
			}
		}
		&[class*="grid-l-8"] {
			> * {
				width: calc(100% / 8);
			}
		}
		&[class*="grid-l-9"] {
			> * {
				width: calc(100% / 9);
			}
		}
		&[class*="grid-l-10"] {
			> * {
				width: 10%;
			}
		}
		&[class*="grid-l-11"] {
			> * {
				width: calc(100% / 11);
			}
		}
		&[class*="grid-l-12"] {
			> * {
				width: calc(100% / 12);
			}
		}
	}
}
