@use 'sass:color';
@use 'reset';

$p: 12px;
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);

*, *:before, *:after { box-sizing: border-box; }
* { -webkit-tap-highlight-color: rgba(0,0,0,0); transform-style: preserve-3d; }
*:focus { outline: none!important; }
body, html { height: 100%; }
body { background: #121214; }

main {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	align-content: center;
	width: 100%;
	height: 100%;
	padding: $p;
	perspective: 1000px;
	> div {
		display: flex;
		justify-content: center;
		width: 100%;
		svg {
			height: 100%;
		}
		&:nth-child(1) {
			opacity: 0;
			@media (prefers-reduced-motion: no-preference) {
				transform: translateZ(1000px);
				animation: zoomFadeIn 5000ms $easeOutCubic forwards;
				transform-origin: center center;
			}
			@media (prefers-reduced-motion: reduce) {
				animation: fadeIn 5000ms $easeOutCubic forwards;
			}
			.error-1-e {
				@media (prefers-reduced-motion: no-preference) {
					transform: translateX(-50%);
					animation: slideRight 3000ms $easeOutCubic -500ms forwards;	
				}
			}
			.error-2-r {
				@media (prefers-reduced-motion: no-preference) {
					transform: translateY(-20%);
					animation: slideDown 5000ms $easeOutCubic -500ms  forwards;	
				}
			}
			.error-4-o {
				@media (prefers-reduced-motion: no-preference) {
					transform: translateX(10%);
					animation: slideLeftSmall 3000ms $easeOutCubic -300ms forwards;	
				}
			}
			.error-5-r {
				@media (prefers-reduced-motion: no-preference) {
					transform: translateX(50%);
					animation: slideLeft 3000ms $easeOutCubic -500ms  forwards;	
				}
			}
			.error-2-0 {
				@media (prefers-reduced-motion: no-preference) {
					transform: translateY(20%);
					animation: slideUp 5000ms $easeOutCubic -500ms  forwards;
				}
			}
			.error-top {
				@media (prefers-reduced-motion: no-preference) {
					transform: scaleX(0);
					// transform-origin: center center;
					transform-origin: 163px 3px;
					animation: scaleXIn 750ms $easeOutExpo 3000ms forwards;
				}
				@media (prefers-reduced-motion: reduce) {
					opacity: 0;
					animation: fadeIn 750ms $easeOutCubic 3000ms forwards;
				}
			}
			.error-left {
				@media (prefers-reduced-motion: no-preference) {
					transform: scaleX(0);
					// transform-origin: right center;
					transform-origin: 75px 3px;
					animation: scaleXIn 750ms $easeOutExpo 3500ms forwards;
				}
				@media (prefers-reduced-motion: reduce) {
					opacity: 0;
					animation: fadeIn 750ms $easeOutCubic 3500ms forwards;
				}
			}
			.error-right {
				@media (prefers-reduced-motion: no-preference) {
					transform: scaleX(0);
					// transform-origin: left center;
					transform-origin: 250px 3px;
					animation: scaleXIn 750ms $easeOutExpo 3500ms forwards;
				}
				@media (prefers-reduced-motion: reduce) {
					opacity: 0;
					animation: fadeIn 750ms $easeOutCubic 3500ms forwards;
				}
			}
		}
		&:nth-child(2) {
			.quote-top, .quote-bottom {
				opacity: 0;
				@media (prefers-reduced-motion: no-preference) {
					animation: slideUpFadeIn 1000ms $easeOutCubic 5500ms forwards;
				}
				@media (prefers-reduced-motion: reduce) {
					animation: fadeIn 1000ms $easeOutCubic 5500ms forwards;
				}
			}
			.quote-bottom {
				animation-delay: 5750ms;
			}
		}
		&:nth-child(3) {
			.link-phrase, .link-mark {
				opacity: 0;
				@media (prefers-reduced-motion: no-preference) {
					animation: slideUpFadeIn 1000ms $easeOutCubic 6250ms forwards;
				}
				@media (prefers-reduced-motion: reduce) {
					animation: fadeIn 1000ms $easeOutCubic 6250ms forwards;
				}
			}
			.link-mark {
				opacity: 0;
				animation: fadeIn 1000ms $easeOutCubic 6750ms forwards;
			}
			a {
				cursor: pointer;
				transition: all 500ms ease-out;
				.top use {
					transition: all 150ms ease-out;
				}
				&:hover, &:focus {
					@media (prefers-reduced-motion: no-preference) {
						animation: jitter 225ms ease-in-out 2 forwards;
					}
					.top use {
						fill: white;
					}
				}
				&:active {
					.top use {
						fill: color.adjust(#FF0000, $lightness: -15%);
					}
				}
			}
		}
	}
}

@-moz-document url-prefix() {
	main {
		> div {
			&:nth-child(3) {
				a {
					&:hover, &:focus {
						animation: none;
					}
				}
			}
		}
	}
}

@keyframes slideDown {
	0% { transform: translateY(-20%); }
	100% { transform: none; }
}
@keyframes slideUp {
	0% { transform: translateY(20%); }
	100% { transform: none; }
}
@keyframes slideRight {
	0% { transform: translateX(-50%); }
	100% { transform: none; }
}
@keyframes slideLeft {
	0% { transform: translateX(50%); }
	100% { transform: none; }
}
@keyframes slideLeftSmall {
	0% { transform: translateX(10%); }
	100% { transform: none; }
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes slideUpFadeIn {
	0% {
		transform: translateY(50%);
		opacity: 0;
	}
	100% {
		transform: none;
		opacity: 1;
	}
}

@keyframes scaleXIn {
	0% { transform: scaleX(0); }
	100% { transform: none; }
}

@keyframes zoomFadeIn {
	0% {
		opacity: 0;
		transform: translateZ(1000px);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes jitter {
	0% {
		transform: translateX(0px) translateY(0px);
		opacity: 1;
	}
	10% {
		transform: translateX(2px) translateY(2px);
		opacity: 0.8;
	}
	20% {
		transform: translateX(0px) translateY(0px);
		opacity: 0.47;
	}
	30% {
		transform: translateX(0px) translateY(2px);
		opacity: 0.3;
	}
	70% {
		transform: translateX(-1px) translateY(1px);
		opacity: 0.96;
	}
	80% {
		transform: translateX(0px) translateY(-2px);
		opacity: 0.9;
	}
	90% {
		transform: translateX(1px) translateY(-2px);
		opacity: 0.81;
	}
	100% {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
}