@use 'sass:math';

.bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	text-align: center;
	padding: $p*1.5 $p*1.5 calc(#{$p*3} + env(safe-area-inset-bottom));
	div {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	h2 {
		&:after {
			content: " ";
		}
	}
	a {
		display: inline-block;
		span {
			display: inline-block;
			will-change: transform, background-color, color;
			transition: transform .1s ease-out;
			background-color: $iron;
			color: white;
			padding: math.div($p, 3) $p*.5;
			@include clip-path {
				clip-path: polygon(2px 0%, calc(100% - 2px) 0%, 100% 2px, 100% calc(100% - 2px), calc(100% - 2px) 100%, 2px 100%, 0% calc(100% - 2px), 0% 2px);
			}
		}
		&:hover, &:focus {
			span {
				background-color: $red;
			}
		}
		@include dark {
			span {
				background-color: rgba(white, .8);
				color: $iron;
				&:hover, &:focus {
					background-color: $red;
				}
			}
		}
		&:active {
			span {
				transform: scale(0.95);
			}
		}
	}
}

.top, .bottom {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	font-variation-settings: "wght" 500, "CASL" 0.5;
}