.top {
	.logo:focus {
		@include focus-round(hsla(var(--color-violet-hsl), .5));
	}
}

.bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	text-align: center;
	padding: calc(var(--p)/2) calc(var(--p)*1.5) calc((var(--p)*3) + env(safe-area-inset-bottom));
	a {
		display: inline-block;
		position: relative;
		&:before {
			opacity: 0;
			content: "";
			display: block;
			position: absolute;
			top: calc(var(--p)/-4);
			left: calc(var(--p)/-4);
			height: calc(100% + (var(--p)/2));
			width: calc(100% + (var(--p)/2));
			background-color: hsla(var(--color-violet-hsl), .5);
			@include clip-path {
				clip-path: polygon(3px 0%, calc(100% - 3px) 0%, 100% 3px, 100% calc(100% - 3px), calc(100% - 3px) 100%, 3px 100%, 0% calc(100% - 3px), 0% 3px);
			}
			@include clip-path-alt {
				border-radius: calc(var(--p)/4);
			}
		}
		span {
			display: inline-block;
			transition: transform .1s ease-out;
			background-color: var(--color-iron);
			color: white;
			padding: calc(var(--p)/3) calc(var(--p)/2);
			@include clip-path {
				clip-path: polygon(2px 0%, calc(100% - 2px) 0%, 100% 2px, 100% calc(100% - 2px), calc(100% - 2px) 100%, 2px 100%, 0% calc(100% - 2px), 0% 2px);
			}
		}
		@include dark {
			span {
				background-color: hsla(var(--color-white-hsl), .8);
				color: var(--color-iron);
			}
		}
		&:focus {
			box-shadow: none;
			&:before {
				opacity: 1;
			}
		}
		&:hover, &:focus {
			span {
				background-color: var(--color-red);
				background: linear-gradient(135deg, var(--color-red) 0%, var(--color-orange) 100%);
			}
		}
		&:active {
			span {
				transform: scale(0.95);
				background-color: var(--color-indigo);
				background: linear-gradient(135deg, var(--color-indigo) 0%, var(--color-violet) 100%);
			}
		}
	}
	p {
		> a, > span {
			margin-top: var(--p);
		}
		> span {
			display: inline-block;
			&:not(.copyright) {
				padding: calc(var(--p)/3) 0;
			}
		}
	}
}

.top, .bottom {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	font-variation-settings: "wght" 500, "CASL" 0.5, "MONO" 0;
}