article {
	&:not(:last-child) {
		margin-bottom: calc(var(--p)*4);
	}

	h1, h2, h3, h4, h5, h6 {
		font-variation-settings: "CASL" 1, "MONO" 0;
		line-height: 1.2;
	}
	h3, h4, h5, h6 {
		font-weight: 700;
		font-variation-settings: "wght" 700, "CASL" 1, "MONO" 0;
	}
	h3 {
		font-size: 22px;
	}
	h2, &.archive h3 {
		font-size: 26px;
		font-weight: 800;
		font-variation-settings: "wght" 800, "CASL" 1, "MONO" 0;
	}
	h1, header h2 {
		font-size: 36px;
		font-weight: 900;
		font-variation-settings: "wght" 900, "CASL" 1, "MONO" 0;
	}

	h1, h2, h3 {
		&[id] {
			display: flex;
			align-items: flex-start;
			align-content: flex-start;
			justify-content: space-between;
		}
	}
	.direct-link {
		opacity: 0.3;
		margin-left: var(--p);
		&:hover, &:focus {
			opacity: 1;
		}
	}

	hr {
		width: 100px;
		padding: 0;
		margin: calc(var(--p)*3) auto;
		border: 0;
		height: 2px;
		background-color: hsla(var(--color-iron-hsl), .2);
		@include dark {
			background-color: hsla(var(--color-white-hsl), .2);
		}
	}
	div {
		p, blockquote, pre, ul, ol, figure, h1, h2, h3, h4, h5, h6 {
			&:not(:last-child) {
				margin-bottom: calc(var(--p)*2);
			}
		}
		h2, h3, h4, h5, h6 {
			&:not(:first-child) {
				padding-top: var(--p);
			}
		}
	}
	p, ol, ul {
		font-weight: 400;
		font-variation-settings: "wght" 400, "CASL" 0.5, "CRSV" 1, "MONO" 0;
	}
	p, figcaption, ul, ol {
		a {
			@include gradient-text(var(--color-red-hsl), var(--color-light-orange-hsl), true);
			text-decoration: underline;
			text-decoration-thickness: 1.5px;
			text-underline-offset: 2px;
			&:hover, &:focus {
				@include gradient-text(var(--color-violet-hsl), var(--color-blue-hsl), true);
			}
			&:active {
				@include gradient-text(var(--color-indigo-hsl), var(--color-violet-hsl), true);
			}
		}
	}
	p {
		> code {
			display: inline-block;
			padding-left: calc(var(--p)/4);
			padding-right: calc(var(--p)/4);
			background-color: hsla(var(--color-iron-hsl), .2);
			font-size: 17px;
			@include clip-path-alt {
				border-radius: calc(var(--p)/4);
			}
			@include clip-path {
				clip-path: polygon(2px 0%, calc(100% - 2px) 0%, 100% 2px, 100% calc(100% - 2px), calc(100% - 2px) 100%, 2px 100%, 0% calc(100% - 2px), 0% 2px);
			}
			@include dark {
				background-color: var(--color-iron-5);
			}
		}
	}
	strong {
		font-weight: 800;
		font-variation-settings: "wght" 800, "CASL" 0.5, "CRSV" 1, "MONO" 0;
	}
	em {
		font-style: italic;
	}
	pre, p > code {
		font-weight: 400;
		font-variation-settings: "wght" 400, "MONO" 1, "CASL" 0;
		line-height: 28px;
	}
	pre {
		padding: calc(var(--p)*1.5) calc(var(--p)*2);
		color: white;
		background: var(--color-iron);
		font-size: 16px;
		line-height: 26px;
		@include clip-path-alt {
			border-radius: calc(var(--p)/4);
		}
		@include clip-path {
			clip-path: polygon(2px 0%, calc(100% - 2px) 0%, 100% 2px, 100% calc(100% - 2px), calc(100% - 2px) 100%, 2px 100%, 0% calc(100% - 2px), 0% 2px);
		}
		@include dark {
			background-color: var(--color-iron-3);
		}
	}
	blockquote {
		quotes: auto;
		position: relative;
		padding: 0 calc(var(--p)*2);
		font-style: italic;
		&:before {
			content: open-quote;
			content: open-quote / "";
			opacity: 0.2;
			display: block;
			position: absolute;
			width: 100%;
			top: calc(var(--p)*-2.5);
			left: calc(var(--p)*-1.5);
			font-size: 64px;
			font-variation-settings: "wght" 400, "CASL" 1, "CRSV" 1, "MONO" 0;
		}
	}
	ul {
		list-style-type: circle;
	}
	ul, ol {
		padding-left: calc(var(--p)*2);
		ul, ol {
			padding-top: calc(var(--p)/2);
		}
		li {
			&:not(:last-child) {
				padding-bottom: calc(var(--p)/2);
			}
		}
	}
	.highlight {
		position: relative;
		padding: var(--p) calc(var(--p)*2.5);
		margin-bottom: calc(var(--p)*2);
		background-color: hsla(var(--color-iron-hsl), .2);
		border-radius: 3px;
		font-size: 20px;
		@include dark {
			background-color: hsla(var(--color-white-hsl), .2);
		}
		> * {
			font-variation-settings: "wght" 600, "CASL" 0.5, "CRSV" 1, "MONO" 0;
		}
	}
	.expand {
		position: relative;
		transition: .2s ease-out;
		&:before {
			opacity: 0;
			content: "";
			display: block;
			position: absolute;
			top: calc(var(--p)/-4);
			left: calc(var(--p)/-4);
			height: calc(100% + (var(--p)/2));
			width: calc(100% + (var(--p)/2));
			background-color: hsla(var(--color-violet-hsl), .5);
			@include clip-path-alt {
				border-radius: calc(var(--p)/4);
			}
			@include clip-path {
				clip-path: polygon(3px 0%, calc(100% - 3px) 0%, 100% 3px, 100% calc(100% - 3px), calc(100% - 3px) 100%, 3px 100%, 0% calc(100% - 3px), 0% 3px);
			}
		}
		&:focus {
			box-shadow: none;
			&:before {
				opacity: 1;
			}
		}
		&:active {
			transform: scale(0.95);
		}
	}
	img {
		@include clip-path-alt {
			@include border-radius(calc(var(--p)/4));
		}
		@include clip-path {
			clip-path: polygon(2px 0%, calc(100% - 2px) 0%, 100% 2px, 100% calc(100% - 2px), calc(100% - 2px) 100%, 2px 100%, 0% calc(100% - 2px), 0% 2px);
		}
	}
	.animation {
		div {
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;
			overflow: hidden;
			padding-top: var(--p);
			font-weight: 700;
			background-color: hsla(var(--color-iron-hsl), .1);
			@include dark {
				background-color: hsla(var(--color-white-hsl), .1);
			}
			.animating {
				@media (prefers-reduced-motion) {
					animation-play-state: paused;
				}
			}
		}
		div + figcaption {
			margin-top: var(--p);
		}
		button {
			&.pause {
				display: block;
				@media (prefers-reduced-motion) {
					display: none;
				}
			}
			&.play {
				display: none;
				@media (prefers-reduced-motion) {
					display: block;
				}
			}
		}
	}
	.codepen {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		padding-top: var(--p);
		font-weight: 700;
		background-color: hsla(var(--color-iron-hsl), .1);
		@include dark {
			background-color: hsla(var(--color-white-hsl), .1);
		}
		span {
			display: block;
			max-width: 400px;
		}
	}
	[class*="row"] {
		margin-bottom: calc(var(--p)*2);
		> *:not(:last-child) {
			margin-bottom: 0;
		}
	}
	.row-double, .row-triple, .row-quad, .row-quint {
		display: grid;
		grid-gap: calc(var(--p)*2);
		grid-template-columns: 1fr;
		@include viewport($mobile) {
			align-items: flex-end;
		}
	}
	@include viewport($mobile) {
		.row-double {
			 grid-template-columns: repeat(2, 1fr);
		}
		.row-triple {
			 grid-template-columns: repeat(3, 1fr);
		}
		.row-quad {
			 grid-template-columns: repeat(4, 1fr);
		}
		.row-quint {
			 grid-template-columns: repeat(5, 1fr);
		}
	}
	.light-dark {
		picture:not(:only-child) {
			&:nth-of-type(1) {
				display: block;
				@include dark {
					display: none;
				}
			}
			&:nth-of-type(2) {
				display: none;
				@include dark {
					display: block;
				}
			}
		}
	}
	figcaption, p.caption {
		font-size: 14px;
		text-align: center;
		&:first-child {
			margin-bottom: calc(var(--p)/2);
		}
		&:last-child {
			margin-top: calc(var(--p)/2);
		}
	}
	p.caption:not(:last-child) {
		margin-bottom: calc(var(--p)/2);
	}

	header {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: var(--p);
		@include viewport($ipad-11) {
			flex-wrap: nowrap;
			align-items: center;
			justify-content: space-between;
		}
		h2 {
			order: 2;
			width: 100%;
			font-weight: 800;
			.page-post & {
				@include gradient-text(var(--color-red-hsl), var(--color-orange-hsl), false);
			}
			@include viewport($ipad-11) {
				order: 1;
				padding-right: calc(var(--p)*2);
				width: unset;
			}
			a {
				color: var(--color-iron-white-30);
				@include dark {
					color: var(--color-iron-white-70);
				}
			}
		}
		time {
			&:not(:empty) {
				order: 1;
				display: block;
				margin-bottom: var(--p);
				padding: calc(var(--p)/2) var(--p);
				background-color: hsla(var(--color-iron-1-hsl), .75);
				color: white;
				font-weight: 600;
				@include clip-path-alt {
					@include border-radius(calc(var(--p)/4));
				}
				@include clip-path {
					clip-path: polygon(calc(var(--p)*1.25) 0%, calc(100% - calc(var(--p)*1.25)) 0%, 100% 45%, 100% 55%, calc(100% - calc(var(--p)*1.25)) 100%, calc(var(--p)*1.25) 100%, 0 55%, 0 45%);
					padding: calc(var(--p)/2) calc(var(--p)*1.75);
				}
				@include dark {
					background-color: hsla(var(--color-white-hsl), .75);
					color: var(--color-iron);
				}
				@include viewport($ipad-11) {
					order: 2;
					margin-bottom: 0;
				}
			}
		}
	}
}

.pagination {
	display: flex;
	justify-content: space-between;
	.previous {
		&:before {
			content: "\2190 "
		}
	}
	.next {
		&:after {
			content: " \2192"
		}
	}
	a {
		opacity: 0.4;
		display: block;
		&:hover, &:focus {
			@include gradient-text(var(--color-red-hsl), var(--color-orange-hsl), true);
			opacity: 1;
			span {
				text-decoration: underline;
				text-decoration-thickness: 1.5px;
				text-underline-offset: 2px;
			}
		}
		&:active {
			@include gradient-text(var(--color-indigo-hsl), var(--color-violet-hsl), true);
		}
	}
}

.archive {
	ul {
		list-style: none;
		padding: 0;
	}
	li {
		&:not(:last-child) {
			padding-bottom: calc(var(--p)*2);
		}
		&.year:not(:first-child) {
			margin-top: calc(var(--p)*2);
		}
	}
	h2 {
		display: inline-block;
		font-size: 48px;
		font-weight: 900;
		font-variation-settings: "wght" 900, "CASL" 1, "MONO" 0;
	}
	a {
		text-decoration-thickness: 2px;
	}
}
