@use 'sass:math';

article {
	&:not(:last-child) {
		margin-bottom: $p*4;
	}

	h1, h2, h3, h4, h5, h6 {
		font-variation-settings: "CASL" 1;
		line-height: 1.2;
	}
	h3, h4, h5, h6 {
		font-weight: 700;
		font-variation-settings: "wght" 700, "CASL" 1;
	}
	h3 {
		font-size: 22px;
	}
	h2, &.archive h3 {
		font-size: 26px;
		font-weight: 800;
		font-variation-settings: "wght" 800, "CASL" 1;
	}
	h1, header h2 {
		font-size: 36px;
		font-weight: 900;
		font-variation-settings: "wght" 900, "CASL" 1;
	}

	h1, h2, h3 {
		&[id] {
			display: flex;
			align-items: flex-start;
			align-content: flex-start;
			justify-content: space-between;
		}
	}
	.direct-link {
		opacity: 0.3;
		padding-left: $p;
		&:hover, &:focus {
			opacity: 1;
		}
	}

	hr {
		padding: 0;
		margin: 0 0 $p*2;
		border: 0;
		height: 2px;
		background-color: rgba($iron, .2);
		@include dark {
			background-color: rgba(white, .2);
		}
	}
	div {
		p, blockquote, pre, ul, ol, figure, h1, h2, h3, h4, h5, h6 {
			&:not(:last-child) {
				margin-bottom: $p*2;
			}
		}
		h2, h3, h4, h5, h6 {
			&:not(:first-child) {
				padding-top: $p;
			}
		}
	}
	p, ol, ul {
		font-weight: 400;
		font-variation-settings: "wght" 400, "CASL" 0.5, "CRSV" 1;
	}
	p, figcaption, ul, ol {
		a {
			@include gradient-text($red, $light-orange, true);
			text-decoration: underline;
			text-decoration-thickness: 1.5px;
			&:hover, &:focus {
				@include gradient-text($orange, $violet, true);
			}
			&:active {
				@include gradient-text($indigo, $violet, true);
			}
		}
	}
	p {
		> code {
			display: inline-block;
			padding-left: $p*.25;
			padding-right: $p*.25;
			background-color: rgba($iron, .2);
			font-size: 17px;
			@include dark {
				background-color: darken($iron, 5%);
			}
		}
		strong {
			font-variation-settings: "wght" 800, "CASL" 0.5, "CRSV" 1;
		}
		em {
			font-style: italic;
		}
	}
	pre, p > code {
		font-weight: 400;
		font-variation-settings: "wght" 400, "MONO" 1, "CASL" 0;
		line-height: 28px;
	}
	pre {
		padding: $p*1.5 $p*2;
		background-color: $iron;
		color: white;
		font-size: 16px;
		@include dark {
			background-color: darken($iron, 5%);
		}
	}
	blockquote {
		quotes: auto;
		position: relative;
		padding: 0 $p*2;
		font-style: italic;
		&:before {
			content: open-quote;
			opacity: 0.2;
			display: block;
			position: absolute;
			top: -$p*2.5;
			left: -$p*1.5;
			font-size: 64px;
			font-variation-settings: "wght" 400, "CASL" 1, "CRSV" 1;
		}
	}
	ul, ol {
		padding-left: $p*2;
		ul, ol {
			padding-top: $p*.5;
		}
		li {
			&:not(:last-child) {
				padding-bottom: $p*.5;
			}
		}
	}
	.animation {
		div {
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;
			overflow: hidden;
			padding-top: $p;
			font-weight: 700;
			background-color: rgba($iron, .1);
			@include dark {
				background-color: rgba(white, .1);
			}
			.animating {
				@media (prefers-reduced-motion) {
					animation-play-state: paused;
				}
			}
		}
		div + figcaption {
			margin-top: $p;
		}
		button {
			-webkit-appearance: none;
			cursor: pointer;
			display: block;
			margin-left: auto;
			margin-right: auto;
			border: 0;
			padding: 0;
			span {
				will-change: transform, background-color, color;
				transition: transform .1s ease-out;
				display: inline-block;
				padding: math.div($p, 3) $p*.5;
				background-color: $iron;
				color: white;
				font-family: $recursive;
				font-weight: 500;
				font-size: 16px;
				font-variation-settings: "wght" 500, "CASL" 0.5;
				line-height: 1.2;
				@include clip-path {
					clip-path: polygon(2px 0%, calc(100% - 2px) 0%, 100% 2px, 100% calc(100% - 2px), calc(100% - 2px) 100%, 2px 100%, 0% calc(100% - 2px), 0% 2px);
				}
			}
			&:hover, &:focus {
				span {
					background-color: $red;
					background: linear-gradient(135deg, $red 0%, $orange 100%);
				}
			}
			@include dark {
				span {
					background-color: rgba(white, .8);
					color: $iron;
				}
				&:hover, &:focus {
					span {
						background-color: $red;
						background: linear-gradient(135deg, $red 0%, $orange 100%);
					}
				}
			}
			&:active {
				span {
					transform: scale(0.95);
				}
			}
			&.pause {
				display: block;
				@media (prefers-reduced-motion) {
					display: none;
				}
			}
			&.play {
				display: none;
				@media (prefers-reduced-motion) {
					display: block;
				}
			}
		}
	}
	.codepen {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		padding-top: $p;
		font-weight: 700;
		background-color: rgba($iron, .1);
		@include dark {
			background-color: rgba(white, .1);
		}
		span {
			display: block;
			max-width: 400px;
		}
	}
	[class*="row"] {
		margin-bottom: $p*2;
		> *:not(:last-child) {
			margin-bottom: 0;
		}
	}
	.row-double, .row-triple, .row-quad, .row-quint {
		display: grid;
		grid-gap: $p*2;
	}
	.row-double {
		grid-template-columns: 1fr 1fr;
	}
	.row-triple {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.row-quad {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.row-quint {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
	.light-dark {
		picture {
			&:nth-of-type(1) {
				display: block;
				@include dark {
					display: none;
				}
			}
			&:nth-of-type(2) {
				display: none;
				@include dark {
					display: block;
				}
			}
		}
	}
	figcaption, p.caption {
		font-size: 14px;
		text-align: center;
		&:first-child {
			margin-bottom: $p*.5;
		}
		&:last-child {
			margin-top: $p*.5;
		}
	}
	p.caption:not(:last-child) {
		margin-bottom: $p*.5;
	}

	header {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: $p;
		@media only screen and (min-width: 1000px) {
			flex-wrap: nowrap;
			align-items: center;
			justify-content: space-between;
		}
		h2 {
			order: 2;
			width: 100%;
			font-weight: 800;
			.page-post & {
				@include gradient-text($red, $orange, false);
			}
			@media only screen and (min-width: 1000px) {
				order: 1;
				padding-right: $p*2;
				width: unset;
			}
			a {
				color: mix($iron, white, 30%);
				@include dark {
					color: mix($iron, white, 70%);
				}
			}
		}
		time {
			&:not(:empty) {
				order: 1;
				display: block;
				margin-bottom: $p;
				padding: $p*.5 $p;
				background-color: rgba(darken($iron, 1%), .75);
				color: white;
				font-weight: 600;
				@include clip-path {
					clip-path: polygon(#{$p*1.25} 0%, calc(100% - #{$p*1.25}) 0%, 100% 45%, 100% 55%, calc(100% - #{$p*1.25}) 100%, #{$p*1.25} 100%, 0 55%, 0 45%);
					padding: $p*.5 $p*1.75;
				}
				@include dark {
					background-color: rgba(white, .75);
					color: $iron;
				}
				@media only screen and (min-width: 1000px) {
					order: 2;
					margin-bottom: 0;
				}
			}
		}
	}
}

.pagination {
	display: flex;
	justify-content: space-between;
	.previous {
		&:before {
			content: "\2190 "
		}
	}
	.next {
		&:after {
			content: " \2192"
		}
	}
	a {
		opacity: 0.4;
		display: block;
		&:hover, &:focus {
			@include gradient-text($red, $orange, true);
			opacity: 1;
			span {
				text-decoration: underline;
				text-decoration-thickness: 1.5px;
			}
		}
		&:active {
			@include gradient-text($indigo, $violet, true);
		}
	}
}

.archive {
	ul {
		list-style: none;
		padding: 0;
	}
	li {
		&:not(:last-child) {
			padding-bottom: $p*2;
		}
		&.year:not(:first-child) {
			margin-top: $p*2;
		}
	}
	h2 {
		display: inline-block;
		opacity: 0.5;
		font-size: 48px;
		font-weight: 900;
		font-variation-settings: "wght" 900, "CASL" 1;
		@supports (-webkit-text-fill-color: transparent) {
			opacity: 1;
			background-color: $red;
			background: linear-gradient(135deg, $red 0%, $orange 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: rgba($red, .5);
		}
	}
}