<div class="grid-item" id="2013-07-08-eeveelutions" role="listitem">
	<figure>
		<picture>
			<img class="upscale" src="{% include 'svg/eeveelutions.txt' %}" width="100" height="100" alt="Pixel Eeveelutions"/>
		</picture>
		<figcaption>
			<fieldset>
				<input id="2013-07-08-eeveelutions-info" type="checkbox"/>
				<label class="grid-close" for="2013-07-08-eeveelutions-info"></label>
				<label class="grid-link" for="2013-07-08-eeveelutions-info" tabindex="0">{% include 'svg/icons/info.svg' %}</label>
				<div class="grid-info">
					<label class="grid-down" for="2013-07-08-eeveelutions-info">{% include 'svg/icons/caret-down.svg' %}</label>
					<dl>
						<div>
							<dt class="title">Title</dt><dd>Pixel Eeveelutions</dd>
						</div>
						<div>
							<dt>Date</dt><dd>08 July 2013</dd>
						</div>
						<div>
							<dt>Tools</dt><dd>Photoshop CS6</dd>
						</div>
					</dl>
					<a class="grid-expand expand" href="#2013-07-08-eeveelutions-lightbox" aria-label="Expand graphic" tabindex="-1">{% include 'svg/icons/expand.svg' %}</a>
				</div>
			</fieldset>
		</figcaption>
	</figure>
</div>