#design, #art {
	background: lighten($pink, 10%);
	color: $grey;
	.grid {
		li {
			width: 50%;
			.fluid {
				img {
					display: block;
					width: 100%;
					border-radius: 2px;
				}
			}
			> div {
				> img {
					display: block;
					width: 100%;
					border-radius: 2px;
				}
			}
			a:not(.fluid) {
				border-radius: 2px;
				overflow: hidden;
				img {
					display: block;
					width: 100%;
					border-radius: 2px;
				}
				.overlay {
					border-radius: 2px;
					overflow: hidden;
					div {
						width: 100%;
						height: 100%;
						border-radius: 2px;
					}
				}
			}
		}
	}
	.grid-header {
		div {
			position: relative;
		}
		h3 {
			position: relative;
			padding-bottom: $p/2;
			font-size: 14px;
			font-weight: 500;
			text-align: left;
			text-transform: uppercase;
		}
		hr {
			display: block;
			position: absolute;
			bottom: -1px;
			left: 0;
			width: 100%;
			height: 2px;
			margin: 0;
			border: 0;
			border-radius: 1000px;
			background: rgba($grey, .4);
			background: linear-gradient(to right, rgba($grey, 0.4) 0%,rgba($grey, 0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66A6ADA7', endColorstr='#00A6ADA7',GradientType=1 );
		}
	}
}

#design {
	padding-top: $p*4;
	padding-bottom: $p*9;
	.angle {
		* {
			fill: $forest;
		}
	}
	.more .button {
		display: block;
		padding: $p $p*2;
		background: white;
		color: $grey!important;
		&:hover, &:focus {
			background: $forest;
			color: white!important;
		}
		&:active {
			background: $pink;
		}
	}
}

#art {
	padding-top: $p*4;
	padding-bottom: $p*9;
	.angle {
		* {
			fill: $forest;
		}
	}
}

@media only screen and (min-width: 768px) {
	#design {
		.grid {
			li {
				width: calc(100% / 3);
			}
		}
	}
	#art {
		.grid {
			.large {
				width: 50%;
			}
			.small {
				width: 25%;
			}
			.full {
				width: 100%;
			}
		}
	}
}
