#work {
	padding-bottom: $p*6;
	background: $beige;
	color: white;
	.grid-container {
		margin-top: -$p/2;
	}
	.uguru-projects {
		width: 100%;
		max-width: $w + $p*4;
		margin: $p/2 auto 0;
		padding: $p/2 $p/2 0;
		figure, svg {
			display: block;
		}
		h3 {
			text-align: left;
		}
		ul {
			display: flex;
			width: 100%;
			li {
				padding: $p/2;
				width: 50%;
			}
		}
		a {
			transition: 150ms ease-out;
			will-change: background;
			display: flex;
			align-items: center;
			align-content: center;
			position: relative;
			width: 100%;
			border-radius: $p*.75;
			overflow: hidden;
			cursor: nesw-resize;
			figure, div {
				transition: 150ms ease-out;
				will-change: opacity, background;
			}
			div:first-child {
				display: flex;
				align-items: center;
				align-content: center;
				justify-content: center;
				opacity: 0;
				position: absolute;
				z-index: 2;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				color: white;
			}
			&:hover, &:focus {
				div:first-child {
					opacity: 1;
				}
			}
			figure {
				&:first-of-type {
					width: 100%;
				}
				&:last-child {
					display: none;
				}
			}
			&.uguru {
				background: $slate;
				figure:first-of-type {
					background: $campus;
				}
				&:hover, &:focus {
					background: $light-slate;
					figure:first-of-type {
						background: $shamrock;
					}
				}
				&:active {
					background: $charcoal;
					figure:first-of-type {
						background: $robin;
					}
				}
			}
			&.ui-guru {
				background: $aero;
				div:first-child {
					background: rgba($stone, .95);
				}
				figure:first-of-type {
					background: $neptune;
				}
			}
		}
	}
	.grid {
		li {
			width: calc(100%  / 3);
			svg {
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}
	.angle {
		* {
			fill: mix($grey, $pink, 85%);
		}
	}
}

@media only screen and (min-width: 540px) {
	#work {
		.grid {
			li {
				width: 25%;
			}
		}
		.uguru-projects {
			figure {
				height: 150px;
				&:first-of-type svg {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	#work {
		padding-bottom: $p*9;
		.grid {
			li {
				width: 20%;
			}
		}
		.uguru-projects {
			padding: $p*2 $p 0;
			figure {
				height: auto;
				&:first-of-type svg {
					width: auto;
					height: auto;
				}
			}
			ul {
				li {
					padding: $p;
				}
			}
			h3 {
				font-size: 24px;
				font-weight: 400;
			}
			a {
				figure {
					&:first-of-type {
						width: 96px;
						padding: $p/2;
						svg {
							height: auto;
							width: 100%;
						}
					}
					&:last-child {
						display: block;
						width: calc(100% - 96px);
						padding: 0 $p;
						svg {
							margin: 0 auto;
							height: 48px;
							width: auto;
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1920px) {
	#work {
		.uguru-projects {
			max-width: $lw + $p*4;
		}
		.tags {
			margin-top: $p;
		}
	}
}
