---js
{
	title: "About",
	description: "About this website, its iterations, and all the resources used.",
	permalink: "/about/",
	key: "about",
	layout: "layouts/base.njk",
	tags: "pages",
	isotope: true,
	style: true,
	scripts: "posts",
	hidden: true,
	message: "Behind the scenes",
	versions: ["2013-2014", "2014-2015", "2015-2020", "2020-2021", "2021-2023" ],
	colors: [
		{ hex: "#263238", name: "iron" },
		{ hex: "#F5C8BF", name: "blush" },
		{ hex: "#D19487", name: "rose" },
		{ hex: "#B2738E", name: "mauve" },
		{ hex: "#577783", name: "slate" },
		{ hex: "#8BB29A", name: "mint" }
	]
}
---

<section class="posts-container">
	<div class="posts" data-grid>
		<article class="post post-about post-build post-size-m" data-grid-item>
			<div class="post-inner" data-anim>
				<header class="post-header">
					<h2>Build</h2>
				</header>
				<div class="post-content post-text">
					<p>This website is built with <a href="https://www.11ty.dev">Eleventy</a>, hosted on <a href="https://github.com/gabriellewee/portfolio">Github</a>, and deployed via <a href="https://netlify.com/">Netlify</a>. The domain provider is <a href="https://www.netim.com">Netim</a>. Templates are built from a combination of <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a>, <a href="https://github.com/markdown-it/markdown-it">Markdown</a>, and vanilla HTML. Styles are built with <a href="https://sass-lang.com">SASS</a> and <a href="https://github.com/postcss/autoprefixer">Autoprefixer</a>.</p>
					<h3>Resources</h3>
					<ul>
						<li><a href="https://isotope.metafizzy.co">Isotope</a> and <a href="https://infinite-scroll.com">Infinite Scroll</a> by <a href="https://desandro.com">Dave DeSandro</a> of <a href="https://metafizzy.co">Metafizzy</a></li><li><a href="https://gumroad.com/l/dank-mono">Dank Mono</a> font by <a href="https://kitten.sh">Phil Pluckthun</a></li><li><a href="https://github.com/github/mona-sans">Mona Sans</a> font by <a href="https://github.com/github">Github</a></li><li><a href="https://greensock.com/">Greensock</a></li>
					</ul>
				</div>
			</div>
		</article>

		<article class="post post-about post-size-xs post-sitemap" data-grid-item>
			<div class="post-inner" data-anim>
				<header class="post-header">
					<h2>Site Map</h2>
				</header>
				<div class="post-links">
					<ul>
						{% for post in collections.pages %}
							<li>
								{% if post.data.key == "home" %}
									<a class="page" href="{{post.url|url}}"><span>{{post.data.key|safe|capitalize}}</span></a>
								{% else %}
									<a class="page" href="{{post.url|url}}"><span>{{post.data.title|safe|capitalize}}</span></a>
								{% endif %}
							</li>
						{% endfor %}
						<li><a class="page" href="/posts/feed.xml"><span>RSS</span></a></li>
					</ul>
				</div>
			</div>
		</article>

		<article class="post post-about post-size-m post-versions" data-grid-item>
			<div class="post-inner" data-anim>
				<header class="post-header">
					<h2>Versions</h2>
				</header>
				<div class="post-links">
					<ol>
						{% for version in versions %}
  							<li>
								<a href="/v{{loop.index}}/" target="blank" aria-label="Version {{loop.index}} - {{version}}">
									<span class="icon-wrapper" aria-hidden="true">
										<span class="icon">
											<picture>
												<img src="/static/images/svg/versions/v{{loop.index}}.svg" width="100" height="100" alt=""/>
											</picture>
											<span hidden>Version <span>{{loop.index}}</span></span>
										</span>
									</span>
									<span class="tooltip tooltip-bottom large inline monospace" style="--tooltip-label: '{{version}}'" aria-hidden="true"><span></span></span>
								</a>
								<p class="no-css"><a href="/v{{loop.index}}/" target="blank"><strong>Version {{loop.index}}</strong> ({{version}})</a></p>
							</li>
						{% endfor %}
					</ol>
				</div>
			</div>
		</article>

		<article class="post post-about post-size-xs post-colors" data-grid-item>
			<div class="post-inner" data-anim>
				<header class="post-header">
					<h2>Colors</h2>
				</header>
				<div class="post-links">
					<ul>
						{% for color in colors %}
							<li>
								<div class="color-container" aria-label="{{color.name|capitalize}}" role="tooltip">
									<span class="color color-{{color.name}}" aria-hidden="true"></span>
									<span class="tooltip tooltip-bottom large inline monospace" style="--tooltip-label: '{{color.hex}}'"><span></span></span>
								</div>
								<span class="no-css"><strong>{{color.name|capitalize}}:</strong> {{color.hex}}</span>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</article>

		<article class="post post-about post-external" data-grid-item>
			<div class="post-inner" data-anim>
				<header class="post-header">
					<h2>Mentions</h2>
				</header>
				<div class="post-content post-text">
					<ul>
						{% for mention in about.mentions %}
							<li>
								<strong class="external-platform">{{mention.publication}}</strong>
								<a class="external-title" href="{{mention.url|url}}">{{mention.title|nbsp|safe}}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</article>

		<article class="post post-about post-external" data-grid-item>
			<div class="post-inner" data-anim>
				<header class="post-header">
					<h2>Features</h2>
				</header>
				<div class="post-content post-text">
					<ul>
						{% for feature in features %}{% if feature.self != true %}
							<li>
								<strong class="external-platform">{{feature.platform}}</strong>
								{% if feature.url %}
									<a class="external-title" href="{{feature.url|url}}">{{feature.title|nbsp|safe}}</a>
								{% elseif feature.external %}
									<a class="external-title" href="{{feature.external[0].url|url}}">{{feature.title|nbsp|safe}}</a>
								{% endif %}
							</li>
						{% endif %}{% endfor %}
					</ul>
				</div>
			</div>
		</article>

		<article class="post post-about post-content-removal" data-grid-item>
			<div class="post-inner" data-anim>
				<header class="post-header">
					<h3>Content removal</h3>
				</header>
				<div class="post-content post-text">
					<p>When I publish a blog post, I usually write about it on social media and gather the mentions (which include likes, reposts, replies, and comments) to display on the post page. If you would prefer to have your mention removed, please contact me with the post and mention in question and I will delete it as soon as possible. Thanks!</p>
				</div>
			</div>
		</article>
	</div>

	{% include 'pages/shared/contact.html' %}
</section>

{% include 'pages/posts/author.html' %}