---
title: About
description: About this website, its iterations, and all the resources used.

permalink: /about/
layout: layouts/base.njk
key: about
style: about
add: true
hidden: true
tags: pages
---

<h1 hidden="true">About this website</h1>
<section class="about-grid">
	<ul class="grid-pack grid-isotope" role="list">
		<li class="grid-item about-summary" role="listitem">
			<div>
				<h2>About</h2>
				<p>This website is built with <a href="https://www.11ty.dev" target="_blank">Eleventy</a>, hosted on <a href="https://github.com/gabriellewee/portfolio" target="_blank">Github</a>, and deployed via <a href="https://netlify.com/" target="_blank">Netlify</a>. The domain provider is <a href="https://www.netim.com" target="_blank">Netim</a>. Templates are built from a combination of <a href="https://mozilla.github.io/nunjucks/" target="_blank">Nunjucks</a>, Markdown, and vanilla HTML. Styles are built with SASS and Autoprefixer.</p>
			</div>
		</li>
		<li class="grid-item about-timeline" role="listitem">
			<div>
				<h2>Timeline</h2>
				<ol>
					<li>
						<time>1990</time>
						<p>Born.</p>
					</li>
					<li>
						<time>1996</time>
						<p>Send first email to mom.</p>
					</li>
					<li>
						<time>2001</time>
						<p>Sign up for first email account and AIM username.</p>
					</li>
					<li>
						<time>2003</time>
						<p>Graduate middle school.</p>
					</li>
					<li>
						<time>2005</time>
						<p>Sign up for Xanga and learn how to make Xanga layouts.</p>
						<p>Create Geocities website.</p>
						<p>Sign up for Myspace.</p>
						<p>First Gmail account.</p>
					</li>
					<li>
						<time>2006</time>
						<p>Sign up for Facebook.</p>
					</li>
					<li>
						<time>2008</time>
						<p>Graduate high school.</p>
						<p>Sign up for Twitter.</p>
						<p>Sign up for CreateBlog and learn how to make Myspace layouts.</p>
					</li>
					<li>
						<time>2009</time>
						<p>Sign up for Wordpress.</p>
						<p>Buy first domain name <a href="https://elletricity.com" target="_blank">elletricity.com</a>.</p>
						<p>Create first website with PHP.</p>
						<p>Sign up for Tumblr and learn how to make Tumblr  hemes.</p>
						<p>Begin freelance work.</p>
					</li>
					<li>
						<time>2012</time>
						<p>First time buying hosting.</p>
						<p>Buy <a href="/">gabriellew.ee</a> domain and set up Wordpress.</p>
					</li>
					<li>
						<time>2013</time>
						<p>Buy gabrielleismy.name. <a href="/nameplate/v1/" target="blank">Version 1</a> of nameplate.</p>
						<p>Switch gabriellew.ee to Jekyll and Github Pages, hosted on Dropbox. <a href="/v1/">Version 1</a> of website.</p>
					</li>
					<li>
						<time>2015</time>
						<p>Switch generators from Jekyll to Cactus. <a href="/v2/" target="blank">Version 2</a> of website.</p>
						<p>First startup job as front-end developer.</p>
						<p>Sign up for Codepen.</p>
					</li>
					<li>
						<time>2016</time>
						<p>Graduate college with a degree in Game Art &amp; Design.</p>
						<p>Quit startup job.</p>
						<p>Start coding experiments on Codepen.</p>
						<p>Launch <a href="/v3/" target="blank">Version 3</a> of website.</p>
					</li>
					<li>
						<time>2017</time>
						<p><a href="/nameplate/v2/" target="blank">Version 2</a> of nameplate.</p>
						<p>Write Codepen post on CSS-only direction-aware effects.</p>
						<p>Start new job at Level Studios as a vendor for Apple.</p>
					</li>
					<li>
						<time>2018</time>
						<p>Accept full-time Apple job as front-end engineer.</p>
					</li>
					<li>
						<time>2020</time>
						<p>The pandemic hits the world.</p>
						<p>Convert website to Netlify and launch <a href="/v4/" target="blank">Version 4</a>.</p>
					</li>
					<li>
						<time>2021</time>
						<p>Launch <a href="/">Version 5</a> of website.</p>
					</li>
				</ol>
			</div>
		</li>
		<li class="grid-item about-sitemap" role="listitem">
			<div>
				<h2>Site Map</h2>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about/">About</a></li>
					<li><a href="/photography/">Photography</a></li>
					<li><a href="/graphic/">Graphic</a></li>
					<li><a href="/art/">Art</a></li>
					<li><a href="/writes/">Writing</a></li>
					<li><a href="/writes/archive/">Archive</a></li>
				</ul>
				<h2>Blog Posts</h2>
				<ul>
					{% for post in collections.writes | reverse %}
						<li>
							<a href="{{post.url | url}}">{{post.data.title | nbsp | safe}}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</li>
		<li class="grid-item about-colors" role="listitem">
			<div>
				<h2>Colors</h2>
				<ul>
					<li>
						<div class="color color-iron">
							<span></span>
							<span aria-label="Slate Grey">#263238</span>
						</div>
					</li>
					<li>
						<div class="color color-pink">
							<span></span>
							<span aria-label="Light Pink">#F5C8BF</span>
						</div>
					</li>
					<li>
						<div class="color color-grey">
							<span></span>
							<span aria-label="Off White">#F1F1F1</span>
						</div>
					</li>
					<li>
						<div class="color color-red">
							<span></span>
							<span aria-label="Pastel Red">#FF706A</span>
						</div>
					</li>
					<li>
						<div class="color color-orange">
							<span></span>
							<span aria-label="Orange">#FF956A</span>
						</div>
					</li>
					<li>
						<div class="color color-light-orange">
							<span></span>
							<span aria-label="Light Orange">#FFBB6A</span>
						</div>
					</li>
					<li>
						<div class="color color-blue">
							<span></span>
							<span aria-label="Cyan">#6AF9FF</span>
						</div>
					</li>
					<li>
						<div class="color color-indigo">
							<span></span>
							<span aria-label="Indigo">#706AFF</span>
						</div>
					</li>
					<li>
						<div class="color color-violet">
							<span></span>
							<span aria-label="Violet">#BA6AFF</span>
						</div>
					</li>
				</ul>
			</div>
		</li>
		<li class="grid-item about-fonts" role="listitem">
			<div>
				<h2>Fonts</h2>
				<ul>
					<li>
						<span class="faune font">
							<span class="label" aria-label="Faune regular">
								<span>Faune</span>
								<span>font-weight: regular;</span>
							</span>
							<span class="pangram">Jackdaws love my big sphinx of quartz.</span>
						</span>
					</li>
					<li>
						<span class="faune-italic font">
							<span class="label" aria-label="Faune bold italic">
								<span>Faune</span>
								<span>font-style: italic; font-weight: bold;</span>
							</span>
							<span class="pangram">The jay, pig, fox, zebra and my wolves quack!</span>
						</span>
					</li>
					<li>
						<span class="dank-mono font">
							<span class="label" aria-label="Dank Mono bold">
								<span>Dank Mono</span>
								<span>font-weight: bold;</span>
							</span>
							<span class="pangram">How vexingly quick daft zebras jump!</span>
						</span>
					</li>
					<li>
						<span class="dank-mono-italic font">
							<span class="label" aria-label="Dank Mono bold italic">
								<span>Dank Mono</span>
								<span>font-style: italic; font-weight: bold;</span>
							</span>
							<span class="pangram">Glib jocks quiz nymph to vex dwarf.</span>
						</span>
					</li>
					<li>
						<span class="recursive font">
							<span class="label" aria-label="Recursive light casual">
								<span>Recursive</span>
								<span>font-variation-settings: "wght" 300, "CASL" 0.5, "CRSV" 1;</span>
							</span>
							<span class="pangram">We promptly judged antique ivory buckles for the next prize.</span>
						</span>
					</li>
					<li>
						<span class="recursive-bold font">
							<span class="label" aria-label="Recursive black casual">
								<span>Recursive</span>
								<span>font-variation-settings: "wght" 1000, "CASL" 1, "CRSV" 1;</span>
							</span>
							<span class="pangram">Farmer jack realized that big yellow quilts were expensive.</span>
						</span>
					</li>
				</ul>
			</div>
		</li>
		<li class="grid-item about-credits" role="listitem">
			<div>
				<h2>Thanks</h2>
				<ul>
					<li><a href="https://www.11ty.dev" target="_blank">Eleventy</a> by <a href="https://www.zachleat.com" target="_blank">Zach Leatherman</a></li><li><a href="https://isotope.metafizzy.co" target="_blank">Isotope</a> by <a href="https://desandro.com" target="_blank">Dave DeSandro</a> of <a href="https://metafizzy.co" target="_blank">Metafizzy</a></li><li><a href="http://cnap.graphismeenfrance.fr/faune/en.html" target="_blank">Faune</a> font by <a href="https://frenchtype.com" target="_blank">Alice Savoie</a> with <a href="https://www.cnap.fr" target="_blank">CNAP</a></li><li><a href="https://gumroad.com/l/dank-mono" target="_blank">Dank Mono</a> font by <a href="https://kitten.sh" target="_blank">Phil Pluckthun</a></li><li><a href="https://www.recursive.design" target="_blank">Recursive</a> font by <a href="https://www.arrowtype.com" target="_blank">Arrow Type</a></li>
				</ul>
			</div>
		</li>
	</ul>
</section>
