---
title: Art
description: Sketches and artwork
layout: layouts/media.njk
key: art
type: artwork
extension: jpg
filters: [
    { name: "digital" },
    { name: "traditional" },
    { name: "figure", label: "figure drawing" }
]
eleventyNavigation:
    key: Art
    order: 9
---