---js
{
	title: "Art",
	description: "Sketches and artwork.",
	permalink: "/art/",
	key: "art",
	og: true,
	message: true,
	filters: [
		{ name: "digital" },
		{ name: "traditional" },
		{ name: "figure", label: "figure drawing" }
	],
	type: "artwork",
	extension: "jpg",
	eleventyComputed: {
		work(data) {
			return data[data.key];
		}
	},
	tags: "pages"
}
---

{% extends 'layouts/media.njk' %}