---
title: Code
description: Code snippets and ideas
layout: layouts/page.njk
scripts: posts
og: false
tags: ["pages", "footer"]
filters: [
    { name: "css-only" },
    { name: "animation" },
    { name: "gaming" },
    { name: "retro" },
    { name: "tools" },
    { name: "ui" }
]
eleventyNavigation:
    key: Code
    order: 5
    footer: true
---

<section class="posts-container">
	{% include 'pages/posts/tags.html' %}

	<div class="posts" data-grid>
		{% for post in collections.code | reverse %}
			<article class="post post-code {% if post.data.size %} post-size-{{post.data.size}}{% endif %} {% for filter in post.data.filters %} filter-{{filter}}{% endfor %}" data-anim data-grid-item{% if post.data.width %} style="max-width: {{post.data.width}}"{% endif %}>
				<div class="post-inner">
					<header class="post-header{% if (post.data.category == 'writing') or (post.data.category == 'code') %} inline-header{% endif %}">
						<div class="post-header-content">
							<div class="post-header-left">
								<h2 class="post-headline">
									{% if post.data.uri %}
										<a href="https://codepen.io/gabriellewee/pen/{{post.data.uri}}"><span>{{post.data.title|safe}}</span></a>
									{% else %}
										{{post.data.title|safe}}
									{% endif %}
								</h2>
								{% if post.data.type %}
									<div class="post-tags">
										{% for type in post.data.type %}
											<u class="tag-{{type}}">#{{type}}</u>
										{% endfor %}
									</div>
								{% endif %}
							</div>
							<div class="post-header-right">
								<time class="time{% if post.data.category != 'code' %} time-default{% endif %}{% if post.data.category == 'social' %} time-external{% endif %}" datetime="{{post.page.date|ISO|date('string')}}" data-time="{{post.page.date|ISO}}">{{post.page.date|ISO|date('readable')}}</time>
								<a class="expand" id="{{post.page.date|ISO|date('string')}}-{{post.page.fileSlug}}" aria-label="Expand preview of {{post.data.title}}" role="button" href="#{{post.page.date|ISO|date('string')}}-{{post.page.fileSlug}}-lightbox" data-media-expand></a>
								<a class="external-expand" href="{{post.url|url}}" aria-label="View {{post.data.category}} in new window" target="_blank"></a>
							</div>
						</div>
					</header>
					<div class="post-content{% if post.data.category == 'writing' %} post-text{% endif %}">
						{% if post.data.mobile == false %}
							<a class="post-mobile-button button" href="{{post.url|url}}" target="_blank"><span>View animation</span></a>
						{% endif %}
						{% if post.data.button %}
							<button class="reload button" data-reload hidden><span>{{post.data.button|capitalize}}</span></button>
						{% endif %}
						{% if post.url %}
							{% if post.data.mobile == false %}
								<div class="post-mobile">
									<picture>
										<img src="/static/code/images/{{post.page.fileSlug}}/thumbnail.svg" alt="{{post.description}}" width="{% stats './static/code/images/' + post.page.fileSlug + '/thumbnail.svg', 'width' %}" height="{% stats './static/code/images/' + post.page.fileSlug + '/thumbnail.svg', 'height' %}"/>
									</picture>
								</div>
							{% endif %}
							<div class="frame-wrapper"{% if post.data.background %} style="--background: {{post.data.background}}"{% endif %}>
								<noscript class="warning{% for type in post.data.type %} {{type}}{% endfor %}"><p><em>Please enable Javascript to view this code demo.</em></p></noscript>
								<iframe class="frame{% for type in post.data.type %} {{type}}{% endfor %}" src="{{post.url|url}}" width="600" height="{{post.data.height}}" title="{{post.data.title|safe}}" loading="lazy" tabindex="-1" onload="this.style.opacity = 1;"></iframe>
							</div>
						{% else %}
							{{post.content|safe}}
						{% endif %}
					</div>
				</div>
				<hr class="no-css"/>
			</article>
		{% endfor %}
	</div>

	<nav class="pagination" aria-label="Pagination">
		<a class="button" href="https://codepen.io/gabriellewee"><span>View more</span></a>
	</nav>
</section>

{% include 'pages/posts/author.html' %}

<div class="lightbox-group" data-lightbox-container hidden>
	{% for post in collections.code | reverse %}
		<a class="lightbox" id="{{post.page.date|ISO|date('string')}}-{{post.page.fileSlug}}-lightbox" role="button" aria-label="Close preview of {{post.data.title}}" href="#{{post.page.date|ISO|date('string')}}-{{post.page.fileSlug}}" data-lightbox></a>
		<dialog class="lightbox-content iframe" aria-label="Preview of {{post.data.title}}" autofocus>
			<figure class="frame-wrapper"{% if post.data.background %} style="--background: {{post.data.background}}"{% endif %}>
				{% if post.url %}
					<noscript class="warning{% for type in post.data.type %} {{type}}{% endfor %}"><p><em>Please enable Javascript to view this code demo.</em></p></noscript>
					<iframe class="code{% for type in post.data.type %} {{type}}{% endfor %}" src="{{post.url|url}}" width="600" height="{{post.data.height}}" title="{{post.data.title}}" loading="lazy" tabindex="-1" onload="this.style.opacity = 1;"></iframe>
				{% else %}
					{{post.content|safe}}
				{% endif %}
			</figure>
		</dialog>
	{% endfor %}
	<div class="lightbox-background"></div>
</div>
