---
title: Code
description: Code snippets and ideas
layout: layouts/page.njk
scripts: media
og: false
tags: ["pages", "footer"]
filters: [
    { name: "css-only" },
    { name: "animation" },
    { name: "gaming" },
    { name: "retro" },
    { name: "tools" },
    { name: "ui" }
]
eleventyNavigation:
    key: Code
    order: 5
    footer: true
---

{% from "macros.njk" import author, code, header, tags %}

<section class="content">
	{{ tags(filters) }}

	<div class="posts" data-grid>
		{% for post in collections.code | reverse %}
			<article class="post post-code {% if post.data.size %} post-size-{{post.data.size}}{% endif %} {% for filter in post.data.filters %} filter-{{filter}}{% endfor %}" data-anim data-grid-item{% if post.data.width %} style="max-width: {{post.data.width}}"{% endif %}>
				<div class="post-inner">
					<header class="post-header inline-header">
						{{ header(post.data, post.page, post.data.category) }}
					</header>
					<div class="post-content">
						{{ code(src) }}
						{% if post.url %}
							{% if post.data.mobile == false %}
								<div class="post-mobile">
									<picture>
										<img src="/static/code/images/{{post.page.fileSlug}}/thumbnail.svg" alt="{{post.description}}" width="{% stats './static/code/images/' + post.page.fileSlug + '/thumbnail.svg', 'width' %}" height="{% stats './static/code/images/' + post.page.fileSlug + '/thumbnail.svg', 'height' %}"/>
									</picture>
								</div>
							{% endif %}
							<div class="frame-wrapper"{% if post.data.background %} style="--background: {{post.data.background}}"{% endif %}>
								<noscript class="warning{% for type in post.data.type %} {{type}}{% endfor %}"><p><em>Please enable Javascript to view this code demo.</em></p></noscript>
								<iframe class="frame{% for type in post.data.type %} {{type}}{% endfor %}" src="{{post.url|url}}" width="600" height="{{post.data.height}}" title="{{post.data.title|safe}}" loading="lazy" tabindex="-1" onload="this.style.opacity = 1;"></iframe>
							</div>
						{% else %}
							{{post.content|safe}}
						{% endif %}
					</div>
				</div>
				<hr class="no-css"/>
			</article>
		{% endfor %}
	</div>

	<nav class="pagination" aria-label="Pagination">
		<a class="button" href="https://codepen.io/gabriellewee"><span>View more</span></a>
	</nav>
</section>

{{ author() }}

<div class="lightbox-group" data-lightbox-container hidden>
	{% for post in collections.code | reverse %}
		<a class="lightbox" id="{{post.page.date|iso|date('string')}}-{{post.page.fileSlug}}-lightbox" role="button" aria-label="Close preview of {{post.data.title}}" href="#{{post.page.date|iso|date('string')}}-{{post.page.fileSlug}}" tabindex="-1" data-lightbox></a>
		<dialog class="lightbox-content iframe" aria-label="Preview of {{post.data.title}}" autofocus>
			<figure class="frame-wrapper"{% if post.data.background %} style="--background: {{post.data.background}}"{% endif %}>
				{% if post.url %}
					<noscript class="warning{% for type in post.data.type %} {{type}}{% endfor %}"><p><em>Please enable Javascript to view this code demo.</em></p></noscript>
					<iframe class="code{% for type in post.data.type %} {{type}}{% endfor %}" src="{{post.url|url}}" width="600" height="{{post.data.height}}" title="{{post.data.title}}" loading="lazy" tabindex="-1" onload="this.style.opacity = 1;"></iframe>
				{% else %}
					{{post.content|safe}}
				{% endif %}
			</figure>
		</dialog>
	{% endfor %}
	<div class="lightbox-background"></div>
</div>
