---
title: Graphic
description: 2D/3D graphic &amp; illustration work.

permalink: /graphic/
templateClass: graphic
ogImage: graphic

siteScripts: true
headerLink: true
aboutLink: true
tags: pages
---

{% extends 'layouts/base.njk' %}

{% block menu %}
	<span class="message">2D/3D graphic &amp; illustration work.</span>
{% endblock %}

{% block content %}
	<div class="graphic-grid subpage-grid">
		<div class="grid-pack grid-isotope" role="list">
			{% for graphic in graphic %}
				<div class="grid-item {{graphic.tags|isoFilter}}" id="{{graphic.date|safe}}-{{graphic.name}}" role="listitem">
					<figure class="grid-figure" role="group" aria-label="Graphic, {{graphic.title}}">
						{% image './static/images/graphic/' + graphic.date + '-' + graphic.name + '.png', graphic.description, null, 'full', 'graphic' %}
						<figcaption>
							<fieldset>
								<input class="grid-input" id="{{graphic.date|safe}}-{{graphic.name}}-info" type="checkbox" tabindex="0" aria-label="Show information about this graphic"/>
								<label class="grid-close" for="{{graphic.date|safe}}-{{graphic.name}}-info"></label>
								<label class="grid-overlay" for="{{graphic.date|safe}}-{{graphic.name}}-info">{% include 'svg/icons/info-large.svg' %}</label>
								<label class="grid-link" for="{{graphic.date|safe}}-{{graphic.name}}-info">{% include 'svg/icons/info.svg' %}</label>
								<div class="grid-info">
									<label class="grid-down" for="{{graphic.date|safe}}-{{graphic.name}}-info">{% include 'svg/icons/caret-down.svg' %}</label>
									<dl>
										<div>
											<dt class="title">Title</dt>
											<dd>
												<span>{{graphic.title}}</span>
												{% if graphic.url %}
													<a class="grid-link external dribbble" target="_blank" href="{{graphic.url}}" tabindex="-1">{% include 'svg/icons/dribbble.svg' %}</a>
												{% endif %}
											</dd>
										</div>
										<div>
											<dt>Date</dt><dd>{{graphic.date|readableDataDate}}</dd>
										</div>
										<div>
											<dt>Tools</dt><dd>{{graphic.tools}}</dd>
										</div>
									</dl>
									<a class="grid-expand expand" href="#{{graphic.date|safe}}-{{graphic.name}}-lightbox" aria-label="Expand graphic" tabindex="-1">{% include 'svg/icons/expand.svg' %}</a>
								</div>
							</fieldset>
						</figcaption>
					</figure>
				</div>
			{% endfor %}
			{% include 'pages/graphic/eevee.html' %}
		</div>
	</div>

	<nav class="grid-filters" aria-label="Tags List">
		<input id="grid-filters" type="checkbox" tabindex="0" aria-label="Show tags"/>
		<h2><label for="grid-filters"><span>Tags</span></label></h2>
		<ul>
			<li><a class="grid-filter" href="#" data-filter=".filter-2d">#2d</a></li>
			<li><a class="grid-filter" href="#" data-filter=".filter-3d">#3d</a></li>
			<li><a class="grid-filter reset" href="#" data-filter="*">reset</a></li>
		</ul>
	</nav>

	<div class="lightbox-group">
		{% for graphic in graphic %}
			<a class="lightbox" id="{{graphic.date|safe}}-{{graphic.name}}-lightbox" href="#{{graphic.date|safe}}-{{graphic.name}}">
				<span style="background-image: url('/static/images/graphic/{{graphic.date|safe}}-{{graphic.name}}.png')"></span>
			</a>
		{% endfor %}
		<a class="lightbox" id="2013-07-08-eeveelutions-lightbox" href="#2013-07-08-eeveelutions">
			<span class="upscale" style="background-image: url('/static/images/graphic/2013-07-08-eeveelutions.png')"></span>
		</a>
		<div class="lightbox-background"></div>
	</div>
{% endblock %}