---
templateClass: graphic
title: Graphic
description: My 2D/3D graphic &amp; illustration work.
permalink: "/graphic/index.html"

tags: pages
eleventyNavigation:
  key: Graphic
  order: 3
---

{% extends 'layouts/base.njk' %}

{% block menu %}
	<span class="message">My 2D/3D graphic &amp; illustration work.</span>
{% endblock %}

{% block content %}
	<section class="graphic-grid subpage-grid">
		<ul class="grid-isotope">
			{% for graphic in graphic %}
				<li class="grid-item {{graphic.tags|isoFilter}}">
					<figure role="group" aria-label="Graphic, {{graphic.title}}">
						{% graphic './static/images/graphic/' + graphic.date + '-' + graphic.name + '.png', graphic.title, 'full' %}
						<figcaption>
							<fieldset>
								<input class="grid-input" id="{{graphic.date|safe}}-{{graphic.name}}" type="checkbox" tabindex="0" aria-label="Show information about this graphic"/>
								<label class="grid-close" for="{{graphic.date|safe}}-{{graphic.name}}"></label>
								<label class="grid-link" for="{{graphic.date|safe}}-{{graphic.name}}">{% include 'svg/icons/info.svg' %}</label>
								<div class="grid-info">
									<label class="grid-down" for="{{graphic.date|safe}}-{{graphic.name}}">{% include 'svg/icons/caret-down.svg' %}</label>
									<dl>
										<div>
											<dt class="title">Title</dt>
											<dd>
												<span>{{graphic.title}}</span>
												{% if graphic.url %}
													<a class="grid-link external" target="_blank" href="{{graphic.url}}" tabindex="-1">{% include 'svg/icons/dribbble.svg' %}</a>
												{% endif %}
											</dd>
										</div>
										<div>
											<dt>Date</dt><dd>{{graphic.date|readableDataDate}}</dd>
										</div>
										<div>
											<dt>Tools</dt><dd>{{graphic.tools}}</dd>
										</div>
									</dl>
									<a class="grid-external" target="_blank" href="/static/images/graphic/{{graphic.date|safe}}-{{graphic.name}}.png" tabindex="-1">{% include 'svg/icons/external.svg' %}</a>
								</div>
							</fieldset>
						</figcaption>
					</figure>
				</li>
			{% endfor %}
			<li class="grid-item">
				<figure>
					<picture>
						<img class="upscale" src="{% include 'svg/eeveelutions.txt' %}" width="100" height="100" alt="Pixel Eeveelutions"/>
					</picture>
					<figcaption>
						<fieldset>
							<input id="2013-07-08-eeveelutions" type="checkbox"/>
							<label class="grid-close" for="2013-07-08-eeveelutions"></label>
							<label class="grid-link" for="2013-07-08-eeveelutions" tabindex="0">{% include 'svg/icons/info.svg' %}</label>
							<div class="grid-info">
								<label class="grid-down" for="2013-07-08-eeveelutions">{% include 'svg/icons/caret-down.svg' %}</label>
								<dl>
									<div>
										<dt class="title">Title</dt><dd>Pixel Eeveelutions</dd>
									</div>
									<div>
										<dt>Date</dt><dd>08 July 2013</dd>
									</div>
									<div>
										<dt>Tools</dt><dd>Photoshop CS6</dd>
									</div>
								</dl>
								<a class="grid-external" target="blank" href="/static/images/graphic/2013-07-08-eeveelutions.png" tabindex="-1">{% include 'svg/icons/external.svg' %}</a>
							</div>
						</fieldset>
					</figcaption>
				</figure>
			</li>
		</ul>
	</section>
	<nav class="grid-filters" aria-label="Tags List">
		<input id="grid-filters" type="checkbox" tabindex="0" aria-label="Show tags"/>
		<h2><label for="grid-filters"><span>Tags</span></label></h2>
		<ul>
			<li><a class="grid-filter" href="#" data-filter=".filter-2d">#2d</a></li>
			<li><a class="grid-filter" href="#" data-filter=".filter-3d">#3d</a></li>
			<li><a class="grid-filter reset" href="#" data-filter="*">reset</a></li>
		</ul>
	</nav>
{% endblock %}