---js
{
	layout: "layouts/media.njk",
	title: "Graphic",
	description: "2D/3D graphic & illustration work",
	permalink: "/graphic/",
	key: "graphic",
	type: "graphic",
	extension: "png",
	filters: [
		{ name: "2d" },
		{ name: "3d" }
	]
}
---
