---
title: Links
description: Links to my social media profiles and contact information.

permalink: /links/
layout: layouts/base.njk
templateClass: links
customStyles: links
hidden: true
eleventyExcludeFromCollections: true

tags: pages
---

<header>
	<picture class="memoji memoji-default">
		<img src="/static/images/memoji.png" alt="" width="48px" height="68px">
	</picture>
	<h1>gabriellew.ee<span>/links</span></h1>
</header>

<ul>
	{% for link in links %}
		<li>
			<a class="link-{{link.name}}" href="{{link.url}}" target="{{link.target}}">
				<span class="link-inside">
					<span class="link-logo">{% include 'svg/logos/' + link.name + '.svg' %}</span>
					<span class="link-text">{{link.title}}</span>
				</span>
			</a>
		</li>
	{% endfor %}
</ul>