---
title: Me
description: About me and the things I like to do.
message: About me and the things I like to do
layout: layouts/page.njk
scripts: posts
hidden: true
tags: pages
eleventyNavigation:
    key: Me
    order: 3
    footer: true
---

<section class="content">
	<div class="posts" data-grid>
		<article class="post post-intro" data-grid-item>
			<div class="post-inner" data-anim>
				<header class="post-header">
					<h2>Hi there! 👋🏼 This is a recent photo of me.</h2>
				</header>
				<figure class="post-image" aria-label="{{site.photo}}" role="img"></figure>
				<picture class="no-css">
					<source type="image/webp" srcset="{{site.url}}/static/images/avatars/author.webp">
					<img class="u-photo" src="{{site.url}}/static/images/avatars/author.jpg" alt="{{site.photo}}" width="512" height="512"/>
				</picture>
			</div>
		</article>

		<article class="post post-books" data-grid-item>
			<div class="post-inner" data-anim>
				<header class="post-header">
					<h2>I’m an avid reader. Lately, I’ve been enjoying these books.</h2>
				</header>

				<ul class="grid">
					{% for book in about.loans.timeline|limit(8) %}
						<li>
							<a class="post-external {{book.title.text|slugify}}" href="{{book.title.url}}" target="_blank" style="--color: {{book.cover.color}}">
								{% external book.cover.url, book.title.text + "by" + book.author, 300, "eager" %}
							</a>
							<p class="no-css"><a href="{{book.title.url}}" target="_blank">{{book.title.text}} by {{book.author}}</a></p>
						</li>
					{% endfor %}
				</ul>
			</div>
		</article>

		<article class="post post-game" data-grid-item>
			<div class="post-inner" data-anim>
				<header class="post-header">
					<h2>These are the video games that I’m currently playing.</h2>
				</header>

				{% if steam.response.games[0] %}
					<ul class="grid steam">
						{% for game in steam.response.games %}
							<li>
								<a class="post-external" href="https://store.steampowered.com/app/{{game.appid}}/" target="_blank">
									{% external "https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/" + game.appid + "/library_600x900_2x.jpg", game.name, 300, "eager" %}
								</a>
								<p class="no-css"><a href="https://store.steampowered.com/app/{{game.appid}}/" target="_blank">{{game.name}}</a></p>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
				<a class="button" href="https://steamcommunity.com/id/gabriellewee"><span>Add me on Steam</span></a>

				<ul class="grid nintendo">
					{% for game in notion.switch.results %}
						<li>
							{% unfurlGame game.properties.URL.url, game.properties.Name.title[0].plain_text, "post-external", 300, "eager" %}
							<p class="no-css"><a href="{{game.properties.URL.url}}" target="_blank">{{game.properties.Name.title[0].plain_text}}</a></p>
						</li>
					{% endfor %}
				</ul>
				
				<div class="friend-code-container">
					<label for="friend-code">Nintendo Friend Code:</label>
					<div class="friend-code-border"><div class="tooltip tooltip-right dark hidden" style="--tooltip-label: 'Copied'"><input id="friend-code" class="friend-code" type="text" value="SW‑0918‑7153‑9794" data-clip=".friend-code"/></div></div>
				</div>
			</div>
		</article>

		<article class="post post-music" data-grid-item hidden>
			<div class="post-inner" data-anim>
				<header class="post-header">
					<h2>I listen to a bit of music here and there.</h2>
				</header>

				<div class="iframe">
					<iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="450" style="width:100%;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/playlist/pl.u-d2b0kEBtMN5eGo" title="Apple Music Playlist"></iframe>
				</div>
			</div>
		</article>

		<article class="post post-mods" data-grid-item>
			<div class="post-inner" data-anim>
				<header class="post-header">
					<h2>I mod my keyboards and console controllers for fun.</h2>
				</header>
				<div class="post-content">
					<figure id="2022-07-20-keyboard" aria-label="My pastel-themed custom mechanical keyboard and Logitech Lift Mouse.">
						<a class="post-expand expand" href="#2022-07-20-keyboard-lightbox" role="button" aria-label="Expand image" data-media-expand>
							{% image './static/images/posts/2022-07-20-keyboard.jpg', 'My pastel-themed custom mechanical keyboard and Logitech Lift Mouse', 700 %}
						</a>
					</figure>
					<ul class="grid">
						{% for controller in about.controllers %}
							<li>
								<picture>
									<img src="/static/images/svg/controllers/{{controller.name}}.svg" width="156" height="156" alt="Icon rendition of modded {{controller.color}} {{controller.brand}} {{controller.type}}"/>
								</picture>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</article>

		<article class="post post-cat" data-grid-item>
			<div class="post-inner" data-anim>
				<header class="post-header">
					<h2>I love my cats, Alfie and Impa.</h2>
					<p>Alfie is named after Alphonse from Full Metal Alchemist and Impa is named after the character from the Legend of Zelda!</p>
				</header>
				<ul class="grid">
					<li>
						<figure>
							{% external './static/images/avatars/alfie.png', 'A grey kitten with green eyes', 300 %}
							<figcaption class="no-css"><p>Alfie</p></figcaption>
						</figure>
					</li>
					<li>
						<figure>
							{% external './static/images/avatars/impa.png', 'A grey kitten with orange eyes', 300 %}
							<figcaption class="no-css"><p>Impa</p></figcaption>
						</figure>
					</li>
				</ul>
				<footer class="post-footer">
					<a class="button" href="https://instagram.com/alfieandimpa"><span>See Cats</span></a>
				</footer>
			</div>
		</article>

		<article class="post post-photography" data-grid-item>
			<div class="post-inner" data-anim>
				<header class="post-header">
					<h2>I enjoy taking photos of the world around me.</h2>
				</header>
				<ul class="flex">
					{% for media in photography|limit(4) %}
						<li>
							<figure id="{{media.date|safe}}-{{media.name}}" aria-label="{{media.description}}">
								<a class="post-expand expand" href="#{{media.date|safe}}-{{media.name}}-lightbox" role="button" aria-label="Expand image" data-media-expand{% if media.focus %} style="--focus-x: {% if media.focus.x %}{{media.focus.x}}{% else %}0{% endif %}%; --focus-y: {% if media.focus.y %}{{media.focus.y}}{% else %}0{% endif %}%;"{% endif %}>
									{% image './static/images/photography/' + media.date + '-' + media.name + '.jpg', media.description, 350, loop.index %}
								</a>
							</figure>
						</li>
					{% endfor %}
				</ul>
				<footer class="post-footer">
					<a class="button" href="/photography/"><span>View Photography</span></a>
				</footer>
			</div>
		</article>

		<article class="post post-graphic post-size-s post-full-bleed" data-grid-item>
			<div class="post-inner" data-anim data-anim style="aspect-ratio: {% stats './static/images/graphic/2017-05-10-crystal-carillon-large.svg', 'ratio' %};">
				<header class="post-header">
					<h2>I dabble in illustration and design.</h2>
				</header>
				<figure>
					<picture>
						<img src="/static/images/graphic/2017-05-10-crystal-carillon-large.svg" alt="Vector art inspired by the Crystal Carillon from Sailor Moon, a heart-shaped weapon with a bell at the bottom." width="{% stats './static/images/graphic/2017-05-10-crystal-carillon-large.svg', 'width', 700 %}" height="{% stats './static/images/graphic/2017-05-10-crystal-carillon-large.svg', 'height', 700 %}"/>
					</picture>
				</figure>
				<footer class="post-footer">
					<a class="button" href="/graphic/"><span>View Graphics</span></a>
				</footer>
			</div>
		</article>

		<article class="post post-art post-size-s post-full-bleed" data-grid-item>
			<div class="post-inner" data-anim style="aspect-ratio: {% stats './static/images/art/2020-03-12-melanochrysum.jpg', 'ratio' %};">
				<header class="post-header">
					<h2>I draw art and collect plants.</h2>
				</header>
				<figure>
					{% external './static/images/art/2020-03-12-melanochrysum.jpg', 'A sketch of a philodendron Melanochrysum leaf using digital brushes to imitate color pencils.', 700 %}
				</figure>
				<footer class="post-footer">
					<a class="button" href="/art/"><span>View Art</span></a>
					<a class="button" href="https://instagram.com/ellocasia"><span>See Plants</span></a>
				</footer>
			</div>
		</article>
	</div>

	{% include 'pages/shared/contact.html' %}
	{% include 'pages/posts/author.html' %}
</section>

<div class="lightbox-group" data-lightbox-container hidden>
	<a class="lightbox" id="2022-07-20-keyboard-lightbox" role="button" aria-label="Close image" href="#2022-07-20-keyboard" data-lightbox></a>
	<dialog class="lightbox-content image" aria-label="Image preview" autofocus>
		<figure>
			{% image './static/images/posts/2022-07-20-keyboard.jpg', 'My pastel-themed custom mechanical keyboard and Logitech Lift Mouse', 'screen' %}
		</figure>
	</dialog>

	{% for media in photography|limit(4) %}
		<a class="lightbox" id="{{media.date|safe}}-{{media.name}}-lightbox" role="button" aria-label="Close image" href="#{{media.date|safe}}-{{media.name}}" data-lightbox></a>
		<dialog class="lightbox-content image" aria-label="Image preview" autofocus>
			<figure>
				{% image './static/images/photography/' + media.date + '-' + media.name + '.jpg', media.description, 'screen' %}
			</figure>
		</dialog>
	{% endfor %}

	<div class="lightbox-background"></div>
</div>