---js
{
	title: "Me",
	description: "About me and the things I like to do.",
	permalink: "/me/",
	key: "me",
	layout: "layouts/base.njk",
	tags: "pages",
	isotope: true,
	style: true,
	scripts: "posts",
	hidden: true,
	message: "About me and the things I like to do"
}
---

<section class="posts-container">
	<div class="posts" data-grid>
		<article class="post post-intro" data-grid-item>
			<div class="post-inner" data-anim>
				<header class="post-header">
					<h2>Hi there! 👋🏼 This is what I currently look like.</h2>
				</header>
				<figure class="post-image" aria-label="{{site.photoDescription}}" role="img"></figure>
				<picture class="no-css">
					<source type="image/webp" srcset="{{site.url}}/static/images/avatars/author.webp">
					<img class="u-photo" src="{{site.url}}/static/images/avatars/author.jpg" alt="{{site.photoDescription}}" width="512" height="512"/>
				</picture>
			</div>
		</article>

		<article class="post post-books" data-grid-item>
			<div class="post-inner" data-anim>
				<header class="post-header">
					<h2>I’m an avid reader. Lately, I’ve been enjoying these books.</h2>
				</header>

				<ul class="grid">
					{% for book in about.loans.timeline|limit(8) %}
						<li>
							<a class="post-external" href="{{book.title.url}}" target="_blank">
								{% external book.cover.url, book.title.text + "by" + book.author, 300, "eager" %}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</article>

		<article class="post post-game" data-grid-item>
			<div class="post-inner" data-anim>
				<header class="post-header">
					<h2>I love playing video games - here’s what I’m currently playing.</h2>
				</header>

				{% if steam.response.games[0] %}
					<h3>Steam Deck:</h3>
					<ul class="grid">
						{% for game in steam.response.games %}
							<li>
								<a class="post-external" href="https://store.steampowered.com/app/{{game.appid}}/">
									{% external "https://cdn.cloudflare.steamstatic.com/steam/apps/" + game.appid + "/capsule_616x353.jpg", game.name, 300, "eager" %}
								</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
				<a class="button" href="https://steamcommunity.com/id/gabriellewee"><span>Add me on Steam</span></a>

				<h3>Nintendo Switch:</h3>
				<ul class="grid">
					{% for game in notion.switch.results %}
						<li>
							{% unfurlGame game.properties.URL.url, game.properties.Name.title[0].plain_text, "post-external", 300, "eager" %}
						</li>
					{% endfor %}
				</ul>
				
				<div class="friend-code-container">
					<label for="friend-code">Friend Code:</label>
					<div class="friend-code-border"><div class="tooltip tooltip-right dark hidden" style="--tooltip-label: 'Copied'"><input id="friend-code" class="friend-code" type="text" value="SW‑0918‑7153‑9794" data-clip data-clipboard-target=".friend-code"/></div></div>
				</div>
			</div>
		</article>

		<article class="post post-music" data-grid-item hidden>
			<div class="post-inner" data-anim>
				<header class="post-header">
					<h2>I listen to a bit of music here and there.</h2>
				</header>

				<div class="iframe">
					<iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/playlist/pl.u-d2b0kEBtMN5eGo" title="Apple Music Playlist"></iframe>
				</div>
			</div>
		</article>

		<article class="post post-mods post-size-s" data-grid-item>
			<div class="post-inner" data-anim>
				<header class="post-header">
					<h2>I mod my keyboards and console controllers for fun.</h2>
				</header>
				<figure id="2022-07-20-keyboard" aria-label="My pastel-themed custom mechanical keyboard and Logitech Lift Mouse.">
					<a class="post-expand expand" href="#2022-07-20-keyboard-lightbox" role="button" aria-label="Expand image" data-media-expand>
						{% image './static/images/posts/2022-07-20-keyboard.jpg', 'My pastel-themed custom mechanical keyboard and Logitech Lift Mouse', 700 %}
					</a>
				</figure>
				<ul class="grid">
					{% for controller in about.controllers %}
						<li>
							<picture>
								<img src="/static/images/svg/controllers/{{controller.name}}.svg" width="156" height="156" alt="Icon rendition of modded {{controller.color}} {{controller.brand}} {{controller.type}}"/>
							</picture>
						</li>
					{% endfor %}
				</ul>
			</div>
		</article>

		<article class="post post-thumbnails post-photography post-size-s" data-grid-item>
			<div class="post-inner" data-anim>
				<header class="post-header">
					<h2>I enjoy taking photos of the world around me.</h2>
				</header>
				<ul class="grid">
					{% for media in photography|limit(4) %}
						<li>
							<figure id="{{media.date|safe}}-{{media.name}}" aria-label="{{media.description}}">
								<a class="post-expand expand" href="#{{media.date|safe}}-{{media.name}}-lightbox" role="button" aria-label="Expand image" data-media-expand{% if media.focus %} style="--focus-x: {% if media.focus.x %}{{media.focus.x}}{% else %}0{% endif %}%; --focus-y: {% if media.focus.y %}{{media.focus.y}}{% else %}0{% endif %}%;"{% endif %}>
									{% image './static/images/photography/' + media.date + '-' + media.name + '.jpg', media.description, 350, loop.index %}
								</a>
							</figure>
						</li>
					{% endfor %}
				</ul>
				<footer class="post-footer">
					<a class="button" href="/photography/"><span>View Photography</span></a>
				</footer>
			</div>
		</article>

		<article class="post post-thumbnails post-graphic post-size-s" data-grid-item>
			<div class="post-inner" data-anim>
				<header class="post-header">
					<h2>I dabble in illustration and design.</h2>
				</header>
				<ul class="grid">
					{% for media in graphic|limit(4) %}
						<li>
							<figure id="{{media.date|safe}}-{{media.name}}" aria-label="{{media.description}}">
								<a class="post-expand expand" href="#{{media.date|safe}}-{{media.name}}-lightbox" role="button" aria-label="Expand image" data-media-expand{% if media.focus %} style="--focus-x: {% if media.focus.x %}{{media.focus.x}}{% else %}0{% endif %}%; --focus-y: {% if media.focus.y %}{{media.focus.y}}{% else %}0{% endif %}%;"{% endif %}>
									{% if media.svg == true %}
										<picture>
											<img src="/static/images/graphic/{{media.date}}-{{media.name}}.svg" alt="{{media.description}}" width="{% stats './static/images/graphic/' + media.date + '-' + media.name + '.svg', 'width', 700 %}" height="{% stats './static/images/graphic/' + media.date + '-' + media.name + '.svg', 'height', 700 %}"/>
										</picture>
									{% else %}
										{% image './static/images/graphic/' + media.date + '-' + media.name + '.png', media.description, 350, loop.index %}
									{% endif %}
								</a>
							</figure>
						</li>
					{% endfor %}
				</ul>
				<footer class="post-footer">
					<a class="button" href="/graphic/"><span>View Graphics</span></a>
				</footer>
			</div>
		</article>

		<article class="post post-thumbnails post-art post-size-s" data-grid-item>
			<div class="post-inner" data-anim>
				<header class="post-header">
					<h2>I like to draw.</h2>
				</header>
				<ul class="grid">
					{% for media in art|limit(4) %}
						<li>
							<figure id="{{media.date|safe}}-{{media.name}}" aria-label="{{media.description}}">
								<a class="post-expand expand" href="#{{media.date|safe}}-{{media.name}}-lightbox" role="button" aria-label="Expand image" data-media-expand{% if media.focus %} style="--focus-x: {% if media.focus.x %}{{media.focus.x}}{% else %}0{% endif %}%; --focus-y: {% if media.focus.y %}{{media.focus.y}}{% else %}0{% endif %}%;"{% endif %}>
									{% image './static/images/art/' + media.date + '-' + media.name + '.jpg', media.description, 350, loop.index %}
								</a>
							</figure>
						</li>
					{% endfor %}
				</ul>
				<footer class="post-footer">
					<a class="button" href="/art/"><span>View Art</span></a>
				</footer>
			</div>
		</article>

		<article class="post post-cat post-size-s" data-grid-item>
			<div class="post-inner" data-anim>
				<header class="post-header">
					<h2>I spend a lot of time with Alfie, my cat.</h2>
					<p>We go on adventures together!</p>
				</header>
				<ul class="grid">
					{% for media in about.cat|limit(2) %}
						<li>
							<figure id="{{media.date|safe}}-{{media.name}}" aria-label="{{media.description}}">
								<a class="post-expand expand" href="#{{media.date|safe}}-{{media.name}}-lightbox" role="button" aria-label="Expand image" data-media-expand>
									{% image './static/images/photography/' + media.date + '-' + media.name + '.jpg', media.description, 350 %}
								</a>
							</figure>
						</li>
					{% endfor %}
				</ul>
				<footer class="post-footer">
					<a class="button" href="https://instagram.com/greyalphonsecat"><span>See Cat</span></a>
				</footer>
			</div>
		</article>

		<article class="post post-plants post-size-s" data-grid-item>
			<div class="post-inner" data-anim>
				<header class="post-header">
					<h2>I’m an avid plant collector with over 200 plants, including aroids and succulents! 🪴</h2>
				</header>
				<ul class="grid">
					{% for media in about.plants|limit(2) %}
						<li>
							<figure id="{{media.date|safe}}-{{media.name}}" aria-label="{{media.description}}">
								<a class="post-expand expand" href="#{{media.date|safe}}-{{media.name}}-lightbox" role="button" aria-label="Expand photo" data-media-expand>
									{% image './static/images/photography/' + media.date + '-' + media.name + '.jpg', media.description, 350 %}
								</a>
							</figure>
						</li>
					{% endfor %}
				</ul>
				<footer class="post-footer">
					<a class="button" href="https://instagram.com/ellocasia"><span>See Plants</span></a>
				</footer>
			</div>
		</article>
	</div>

	{% include 'pages/shared/contact.html' %}
	{% include 'pages/posts/author.html' %}
</section>

<div class="lightbox-group" data-lightbox-container hidden>
	<a class="lightbox" id="2022-07-20-keyboard-lightbox" role="button" aria-label="Close image" href="#2022-07-20-keyboard" data-lightbox></a>
	<dialog class="lightbox-content image" aria-label="Image preview" autofocus>
		<figure>
			{% image './static/images/posts/2022-07-20-keyboard.jpg', 'My pastel-themed custom mechanical keyboard and Logitech Lift Mouse', 'screen' %}
		</figure>
	</dialog>

	{% for media in photography|limit(4) %}
		<a class="lightbox" id="{{media.date|safe}}-{{media.name}}-lightbox" role="button" aria-label="Close image" href="#{{media.date|safe}}-{{media.name}}" data-lightbox></a>
		<dialog class="lightbox-content image" aria-label="Image preview" autofocus>
			<figure>
				{% image './static/images/photography/' + media.date + '-' + media.name + '.jpg', media.description, 'screen' %}
			</figure>
		</dialog>
	{% endfor %}

	{% for media in graphic|limit(4) %}
		<a class="lightbox" id="{{media.date|safe}}-{{media.name}}-lightbox" role="button" aria-label="Close image" href="#{{media.date|safe}}-{{media.name}}" data-lightbox></a>
		<dialog class="lightbox-content image" aria-label="Image preview" autofocus>
			<figure>
				{% if media.svg == true %}
					<picture>
						<img src="/static/images/graphic/{{media.date}}-{{media.name}}.svg" alt="{{media.description}}" width="{% stats './static/images/graphic/' + media.date + '-' + media.name + '.svg', 'width' %}" height="{% stats './static/images/graphic/' + media.date + '-' + media.name + '.svg', 'height' %}"/>
					</picture>
				{% else %}
					{% image './static/images/graphic/' + media.date + '-' + media.name + '.png', media.description, 'screen' %}
				{% endif %}
			</figure>
		</dialog>
	{% endfor %}

	{% for media in art|limit(4) %}
		<a class="lightbox" id="{{media.date|safe}}-{{media.name}}-lightbox" role="button" aria-label="Close image" href="#{{media.date|safe}}-{{media.name}}" data-lightbox></a>
		<dialog class="lightbox-content image" aria-label="Image preview" autofocus>
			<figure>
				{% image './static/images/art/' + media.date + '-' + media.name + '.jpg', media.description, 'screen' %}
			</figure>
		</dialog>
	{% endfor %}

	{% for media in about.cat|limit(2) %}
		<a class="lightbox" id="{{media.date|safe}}-{{media.name}}-lightbox" role="button" aria-label="Close image" href="#{{media.date|safe}}-{{media.name}}" data-lightbox></a>
		<dialog class="lightbox-content image" aria-label="Image preview" autofocus>
			<figure>
				{% image './static/images/photography/' + media.date + '-' + media.name + '.jpg', media.description, 'screen' %}
			</figure>
		</dialog>
	{% endfor %}

	{% for media in about.plants|limit(2) %}
		<a class="lightbox" id="{{media.date|safe}}-{{media.name}}-lightbox" role="button" aria-label="Close image" href="#{{media.date|safe}}-{{media.name}}" data-lightbox></a>
		<dialog class="lightbox-content image" aria-label="Image preview" autofocus>
			<figure>
				{% image './static/images/photography/' + media.date + '-' + media.name + '.jpg', media.description, 'screen' %}
			</figure>
		</dialog>
	{% endfor %}

	<div class="lightbox-background"></div>
</div>