---js
{
	layout: "layouts/media.njk",
	title: "Photography",
	description: "Photos I’ve taken over the years",
	permalink: "/photography/",
	key: "photography",
	type: "photo",
	extension: "jpg",
	filters: [
		{ name: "portrait" },
		{ name: "landscape" },
		{ name: "indoor" },
		{ name: "outdoor" },
		{ name: "people" }
	],
}
---
