---
title: Photography
description: Photos I’ve taken over the years
layout: layouts/media.njk
key: photography
type: photo
extension: jpg
filters: [
    { name: "portrait" },
    { name: "landscape" },
    { name: "indoor" },
    { name: "outdoor" },
    { name: "people" },
    { name: "cat", label: "🐈‍⬛", emoji: true }
]
---