---js
{
    layout: "layouts/base.njk",
	title: "Photography",
	description: "Photos I’ve taken over the years",
	permalink: "/photography/",
	key: "photography",
	og: true,
	message: true,
	isotope: true,
	type: "photo",
	extension: "jpg",
	eleventyComputed: {
		media(data) {
			return data[data.key];
		}
	},
	tags: "pages"
}
---

{% include 'layouts/media.njk' %}
