<nav class="grid-filters" aria-label="Tags List">
	<input id="grid-filters" type="checkbox" tabindex="0" aria-label="Show tags" role="switch" aria-checked="false"/>
	<h2><label for="grid-filters" aria-hidden="true"><span>Tags</span></label></h2>
	<ul>
		{% for filter in filters %}
			<li><a class="grid-filter" href="#" data-filter=".filter-{{filter.name}}">#{% if filter.label %}{{filter.label}}{% else %}{{filter.name}}{% endif %}</a></li>
		{% endfor %}
		<li><a class="grid-filter reset" href="#" data-filter="*">reset</a></li>
	</ul>
</nav>