#warning{width:100%;padding:1rem 2rem;background:#D40000;text-align:center;color:white;font-weight:700}#warning a{text-decoration:underline;color:white;border:0!important}

/* NORMALIZE */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}

audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}

[hidden]{display:none}

html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0}

a:focus{outline:thin dotted}
a:active,a:hover{outline:0}

h1{font-size:2em;margin:0.67em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace, serif;font-size:1em}
pre{white-space:pre-wrap}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}

sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}

img{border:0}
svg:not(:root){overflow:hidden}

figure{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}
legend{border:0;padding:0}

button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}

textarea{overflow:auto;vertical-align:top}

table{border-collapse:collapse;border-spacing:0}

#small-one,#small-two,#xs-one,#xs-two{display:none}
@media only screen and (max-width:550px){
	#large{display:none}
	#small-one,#small-two{display:block}
}
@media only screen and (max-width:300px){
	#large,#small-one,#small-two{display:none}
	#xs-one,#xs-two{display:block}
}

body{background:#fff;font:16px "Source Sans Pro","Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;color:#222;word-wrap:break-word;-webkit-font-smoothing:antialiased;overflow-x:hidden}
a{text-decoration:none}
::-moz-selection{background:#ccc}
::selection{background:#ccc}

h1{margin:.3em auto 0;width:100%;font-weight:300!important;color:#ddd;text-align:center}
	.color .char1{color:#d52027}
	.color .char2,.color .char3{color:#d44c27}
	.color .char4,.color .char5{color:#d56527}
	.color .char6,.color .char7{color:#d3862a}
	.color .char8{color:#d4a029}
	.color .char9{color:#d5be29}
	#large .char14,#small-two .char5{font-weight:600}
	#small-one,#small-two{line-height:.5em;margin-bottom:.5em}
	#small-one,#xs-one{margin-top:.75em}
	#small-two,#xs-two{margin-bottom:.5em}
	#xs-one,#xs-two{line-height:.75em;padding:0}
h2{margin:0 0 2em;font-weight:300;color:#555;text-align:center}
	h2 span{font-weight:400}
	@media only screen and (min-width:40.063em){h2{margin:0 0 1.5em}}

#content{padding:0 2em}
#no-hover{color:#999;font-size:1.2em;font-weight:300;margin:-.5em 0 2em}

/* Links ---------------------- */
ul{margin-top:2em}
	ul h3{margin:0 0 .1em;font-size:1.3em;font-weight:400}
	ul li{margin-bottom:2em;line-height:1.75em}
	@media only screen and (min-width:40.063em){
		ul li{margin-bottom:3em}
	}
	.link{display:table;position:relative;border-radius:100em;width:100px;height:100px;margin:0 auto;padding:0;background:#2d2d2d;font-size:14px;font-weight:400;color:#aaa;text-transform:lowercase;-webkit-transition:background .4s ease-in-out}
		.link:before{display:block!important;content:"";background-repeat:no-repeat;background-position:center center;background-size:30px 30px!important;width:30px;height:30px;margin:0 auto;position:absolute;border-radius:100em;width:100px!important;height:100px!important;line-height:1!important;padding:35px 0;color:#fff;font-size:30px!important;text-align:center!important;-webkit-transform:rotate(0deg);-webkit-transition:all .4s ease-in-out}
		.link:hover,ul .link:focus,ul .link:active{outline:none!important}
		body:not(.touch) .link:hover,body:not(.touch) .link:focus,body:not(.touch) .link:active{background:#f1f1f1!important;color:#aaa;-webkit-transition:all .4s ease-in-out}
		body:not(.touch) .link:hover b,body:not(.touch) .link:focus b,body:not(.touch) .link:active b{opacity:1;-webkit-transform:rotate(0deg)}
		body:not(.touch) .link:hover:before,body:not(.touch) .link:focus:before,body:not(.touch) .link:active:before{opacity:0;-webkit-transform:rotate(180deg)}
		.link b{display:table-cell;vertical-align:middle;font-weight:400;text-align:center;opacity:0;-webkit-transform:rotate(-180deg);-webkit-transition:all .4s ease-in-out}
		.info{display:block!important;position:relative;margin:1.25em auto 0;width:100%;max-width:300px;min-height:56px;padding:.5em 1em;background:#f1f1f1;font-size:.9em;line-height:1.5em;color:#aaa;text-align:center!important}
		.info span{display:block;width:100%;vertical-align:middle}
			.info:before{display:block;position:absolute;top:-20px;left:50%;margin-left:-10px;content:"";border:10px solid transparent;border-bottom-color:#f1f1f1}
			.info a{font-weight:900;color:#787878;text-transform:lowercase}
				.info a:hover,.info a:active,.info a:focus{color:#2d2d2d;outline:none!important}
		.no-touch .info{display:table!important}
		.no-touch .info span{display:table-cell!important}
		@media only screen and (min-width:40.063em){
			.info{display:table;text-align:left!important}
			.info span{display:table-cell}
		}
		@media only screen{
			.link.show-for-medium-down{display:table!important}
		}
		@media only screen and (min-width:64.063em){
			.link.show-for-medium-down{display:none!important}
			.link.show-for-large-up{display:table!important}
		}
	/* Custom link styles ***/
	ul b:before,ul b span{font-weight:700}
	.at b:before{content:"@"}
	.slash b:before{content:"/"}
	.plus b:before{content:"+"}
	#deviantart b:before{content:"~"}

	.friend-code{display:table;position:relative;border-radius:100em;width:100px;height:100px;margin:0 auto;padding:0;background:#777;font-size:14px;font-weight:400;color:#fff;text-transform:lowercase}
		.friend-code b{display:table-cell;vertical-align:middle;font-weight:400;text-align:center}

	#old{list-style:none;padding:0;margin:0 -.5em}
		#old li{text-align:center;margin:.5em auto}
		#more-box h3{text-align:center}
		@media only screen and (min-width:40.063em){#old li{display:inline-block;margin:.5em}}
		#old li .link{display:inline-block;width:auto;height:auto;padding:0 .75em;color:#fff;-webkit-transition:all .4s ease-in-out}
		#old li .link:hover,#old li a:active,#old li a:focus{color:#aaa}

/* Modal boxes ---------------------- */
.reveal-modal-bg{background:#fff;background:rgba(255,255,255,.95)}
.reveal-modal{background:transparent;border:0;box-shadow:none}
.close-reveal-modal svg{width:20px;height:20px}

.reveal-modal,dialog{width:100%!important}

#more-box,#email-box,#disclaimer-box,#about-box{top:3em}

#disclaimer-box h3{font-size:1.3em;font-weight:300;line-height:1.5em}
#disclaimer-box p small{font-weight:300}

/* More ---------------------- */
#more-box h3{font-size:1.1em;font-weight:400}

/* About ---------------------- */
#avatar {
	margin: .5em 0 1em;
	height: 300px;
	background: rgb(3,9,21);
	background: -moz-linear-gradient(left, rgba(3,9,21,1) 0%, rgba(3,9,21,1) 49%, rgba(7,19,43,1) 51%, rgba(7,19,43,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(3,9,21,1)), color-stop(49%,rgba(3,9,21,1)), color-stop(51%,rgba(7,19,43,1)), color-stop(100%,rgba(7,19,43,1)));
	background: -webkit-linear-gradient(left, rgba(3,9,21,1) 0%,rgba(3,9,21,1) 49%,rgba(7,19,43,1) 51%,rgba(7,19,43,1) 100%);
	background: -o-linear-gradient(left, rgba(3,9,21,1) 0%,rgba(3,9,21,1) 49%,rgba(7,19,43,1) 51%,rgba(7,19,43,1) 100%);
	background: -ms-linear-gradient(left, rgba(3,9,21,1) 0%,rgba(3,9,21,1) 49%,rgba(7,19,43,1) 51%,rgba(7,19,43,1) 100%);
	background: linear-gradient(to right, rgba(3,9,21,1) 0%,rgba(3,9,21,1) 49%,rgba(7,19,43,1) 51%,rgba(7,19,43,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030915', endColorstr='#07132b',GradientType=1 );
}
#avatar div {
	height: 300px;
	background: url("../images/avatar.png") no-repeat center center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#avatar div {
		background: url("../images/avatar@2x.png") no-repeat center center;
		background-size: 500px 500px;
	}
}
#about-box h3{font-size:1.3em!important;font-weight:400}
#about-box{line-height:1.75em}
.shadow img{width:100%;border-radius:100em}
@media only screen and (max-width:48em){
	.shadow{margin-bottom:2em}
}
	/* Typography ***/
	#gabrielle{font-family:"Montserrat","Source Sans Pro","Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;font-weight:900;text-transform:uppercase;color:#d44d27}
	#pretty-things{font-family:"SS Adec","Source Sans Pro","Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;text-transform:uppercase;word-spacing:-5px;color:#d5be29}
		#pretty-things .char1,#pretty-things .char2{color:#d5be29}
		#pretty-things .char3,#pretty-things .char4{color:#d4a029}
		#pretty-things .char5,#pretty-things .char6{color:#d3862a}
		#pretty-things .char7 {display:inline-block;width:4px}
		#pretty-things .char8,#pretty-things .char9{color:#d56527}
		#pretty-things .char10,#pretty-things .char11{color:#d44c27}
		#pretty-things .char12,#pretty-things .char13{color:#d52027}
	#major{font-family:"Blackout","Source Sans Pro","Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;color:#d56627;text-transform:uppercase}
	#xanga{margin:0 3px;font:1em Helvetica,Arial,sans-serif}
		#xanga span{padding:0 6px;border-top-width:2px;border-top-style:solid;background:#fff;text-transform:lowercase}
		#xanga .char1{border-color:#4684c3}
		#xanga .char2{border-color:#fe860b}
		#xanga .char3{border-color:#bf040b}
		#xanga .char4{border-color:#fec30c}
		#xanga .char5{border-color:#47c20b}
	#tumblr{margin:0 3px;padding:2px 8px 3px;background:#3a5976;font:bold 1.2em 'Bookman Old Style','TeX Gyre Bonum',Bookman,'Goudy Old Style',Garamond,'Hoefler Text','Bitstream Charter',Georgia,serif;text-shadow:0 1px 1px #343434;text-transform:lowercase;letter-spacing:1px;color:#fff}

/* Email ---------------------- */
.main.alert-box{margin-bottom:5em!important}
input,textarea{box-shadow:none!important}
.error{font-style:normal!important}
label.error + input, label.error + textarea,label.error + div input{background:rgba(198,15,19,.1);border-color:#c60f13}
form ul li{margin-bottom:0!important;line-height:normal!important}
.button{background:#f1f1f1;color:#aaa;font:1em "Source Sans Pro",sans-serif}
.button:hover,.button:active,.button:focus{outline:none;background:#787878;color:#fff}

/* Back ---------------------- */
.back{margin-top:1em;text-align:center}
	.back a{display:block;margin:0 auto;width:50px;height:50px;border-radius:100rem;background:#555}
	.back svg{width:50px;height:50px;stroke:#fff;padding:15px}
	.back a:hover,.back a:active,.back a:focus{background:#222}

/* Lists ---------------------- */
#lists-page{background:#8f8896}
	#lists-page h2{color:#fff}
	#lists-page ul{list-style:none}
	#lists-page ul.info{background:#fff}
	#lists-page ul.info li{margin-bottom:auto}
	#lists-page img{max-width:100%}
	#colors ul{font-family:"Source Code Pro",monospace}
	#fonts a{font-weight:400;text-transform:none}
	.lists{display:table;position:relative;border-radius:100em;width:100px;height:100px;margin:0 auto;padding:0;background:#fff;font-size:14px;font-weight:400;color:#aaa;text-transform:lowercase}
		.lists b{display:table-cell;vertical-align:middle;font-weight:600;text-align:center}
		.full li img{padding:.5em 0}
		.lists + .info li{display:table;margin:0 auto}
		.lists + .info:before{border-bottom-color:#fff}
.info li a:hover,.info li a:active,.info li a:focus,[class^="pkmn-"]:hover{-moz-filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); -o-filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");-webkit-filter:grayscale(100%);filter:gray;filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");-webkit-transition:all .4s ease-in-out}
[class^="pkmn-"]:before,[class*=" pkmn-"]:before{display:block;vertical-align:middle;content:"";width:50px;height:40px;background-repeat:no-repeat;background-position:left center;background-size:40px 40px}
[class^="pkmn-"] span,[class*=" pkmn-"] span{display:table-cell;vertical-align:middle}
[class^="pkmn-"] a{font-weight:400;display:inline;text-transform:none;-webkit-transition:all .4s ease-in-out}
[class^="fe-"] img{max-width:unset!important;width:40px;height:40px;margin-right:10px}
.pkmn-reuniclus:before{background-image:url("../images/sprites/reuniclus.png")}
.pkmn-reuniclus a{color:#62bb7a}
.pkmn-charizard:before{background-image:url("../images/sprites/charizard.png")}
.pkmn-charizard a{color:#d9726c}
.pkmn-lucario:before{background-image:url("../images/sprites/lucario.png")}
.pkmn-lucario a{color:#5489ad}
.pkmn-metagross:before{background-image:url("../images/sprites/metagross.png")}
.pkmn-metagross a{color:#4a6bad}
.pkmn-pikachu:before{background-image:url("../images/sprites/pikachu.png")}
.pkmn-pikachu a{color:#e0b008}
.pkmn-sylveon:before{background-image:url("../images/sprites/sylveon.png")}
.pkmn-sylveon a{color:#e57794}
.pkmn-umbreon:before{background-image:url("../images/sprites/umbreon.png")}
.pkmn-umbreon a{color:#62625a}
.pkmn-haxorus:before{background-image:url("../images/sprites/haxorus.png")}
.pkmn-haxorus a{color:#a58c18}
.pkmn-latias:before{background-image:url("../images/sprites/latias.png")}
.pkmn-latias a{color:#ce5a4a}
[class^="pkmn-"] a:hover,[class^="pkmn-"] a:active,[class^="pkmn-"] a:focus{color:#787878}

/* Link colors and icons ---------------------- */
#artstation .link{background:#121d21}
#artstation .link:before{background-image:url("../images/svg/artstation.svg")}

#resource .link{background:#fdbf54}
#resource .link:before{background-image:url("../images/svg/resources.svg")}

#tumblog .link{background:#3a5976}
#tumblog .link:before{background-image:url("../images/svg/tumblr.svg")}

#portfolio .link{background:#F5C8BF}
#portfolio .link:before{background-image:url("../images/svg/portfolio.svg")}

#instagram .link{background:#cd486b}
#instagram .link:before{background-image:url("../images/svg/instagram.svg")}

#twitter .link{background:#2daae1}
#twitter .link:before{background-image:url("../images/svg/twitter.svg")}

#page .link{background:#6d84b4}
#page .link:before{background-image:url("../images/svg/page.svg")}

#facebook .link{background:#3b5997}
#facebook .link:before{background-image:url("../images/svg/facebook.svg")}

#reddit .link{background:#cee3f8}
#reddit .link:before{background-image:url("../images/svg/reddit.svg")}

#plus .link{background:#dc4b39}
#plus .link:before{background-image:url("../images/svg/google-plus.svg")}

#linkedin .link{background:#069}
#linkedin .link:before{background-image:url("../images/svg/linked-in.svg")}

#github .link{background:#4183c4}
#github .link:before{background-image:url("../images/svg/github.svg")}

#codepen .link{background:#fcd000}
#codepen .link:before{background-image:url("../images/svg/codepen.svg")}

#dribbble .link{background:#ea4c89}
#dribbble .link:before{background-image:url("../images/svg/dribbble.svg")}

#deviantart .link{background:#46574c}
#deviantart .link:before{background-image:url("../images/svg/deviantart.svg")}

#pinterest .link{background:#cb2027}
#pinterest .link:before{background-image:url("../images/svg/pinterest.svg")}

#conscious .link{background:#d53737}
#conscious .link:before{background-image:url("../images/svg/conscious.svg")}

#vimeo .link{background:#4bf}
#vimeo .link:before{background-image:url("../images/svg/vimeo.svg")}

#youtube .link{background:#af2b26}
#youtube .link:before{background-image:url("../images/svg/youtube.svg")}

#etsy .link{background:#d35c13}
#etsy .link:before{background-image:url("../images/svg/etsy.svg")}

#flickr .link{background:#0063dc}
#flickr .link:before{background-image:url("../images/svg/flickr.svg")}

#goodreads .link{background:#382110}
#goodreads .link:before{background-image:url("../images/svg/goodreads.svg")}

#soundcloud .link{background:#f76700}
#soundcloud .link:before{background-image:url("../images/svg/soundcloud.svg")}

#steam .link{background:#171a21}
#steam .link:before{background-image:url("../images/svg/steam.svg")}

#polycount .link{background:#37864d}
#polycount .link:before{background-image:url("../images/svg/polycount.svg")}

#more .link{background:#666}
#more .link:before{background-image:url("../images/svg/other.svg")}

#about .link{background:#555}
#about .link:before{background-image:url("../images/svg/about.svg")}

#mail .link{background:#444}
#mail .link:before{background-image:url("../images/svg/email.svg")}

#disclaimer .link{background:#333}
#disclaimer .link:before{background-image:url("../images/svg/info.svg")}

#skype .link{background:#00AFF0}
#skype .link:before{background-image:url("../images/svg/skype.svg")}

#cosplay .link{background:#e27b6a}
#gaia .link{background:#61526f}
#cb .link{background:#25355c}
#lookbook .link{background:#000}
.myspace .link{background:#039}
.xanga .link{background:#4684c3}
#wp .link{background:#21759B}
