---js
{
    layout: "layouts/base.njk",
    key: "post",
    tags: "posts",
    category: "social",
    pagination: {
        data: "instagram.data",
        size: 1,
        addAllPagesToCollections: true,
        alias: "instagram"
    },
    permalink: false,
	eleventyComputed: {
		instagram(data) {
			data.page.date = new Date(data.instagram.timestamp);
			data.content = data.instagram.caption;
			data.url = data.instagram.permalink;
            data.image = data.instagram.media_url;
		}
	}
}
---