<div class="accessibility-popup popup">
	<input type="checkbox" id="accessibility" class="popup-button" tabindex="0" role="button" aria-haspopup="true" aria-controls="accessibility-window" aria-labelledby="accessibility-label"/>
	<label id="accessibility-button" class="popup-label" for="accessibility">
		<span class="button">
			<span><span aria-hidden="true" id="accessibility-label">Accessibility</span></span>
		</span>
	</label>
	<menu id="accessibility-window" class="popup-window">
		<div class="inside">
			<ul>
				<li>
					<label class="option-label" for="option-color" tabindex="0" role="button" aria-pressed="false" data-option-label>
						<span class="checkbox">{% include 'svg/icons/close-small.svg' %}</span>
						<span>Dark mode</span>
					</label>
				</li>
				<li>
					<label class="option-label" for="option-contrast" tabindex="0" role="button" aria-pressed="false" data-option-label>
						<span class="checkbox">{% include 'svg/icons/close-small.svg' %}</span>
						<span>Increase contrast</span>
					</label>
				</li>
				<li>
					<label class="option-label" for="option-transparency" tabindex="0" role="button" aria-pressed="false" data-option-label>
						<span class="checkbox">{% include 'svg/icons/close-small.svg' %}</span>
						<span>Reduce transparency</span>
					</label>
				</li>
				<li class="option-container-load">
					<label class="option-label" for="option-load" tabindex="0" role="button" aria-pressed="true" data-option-label>
						<span class="checkbox">{% include 'svg/icons/close-small.svg' %}</span>
						<span>Load posts</span>
					</label>
				</li>
				<li class="has-button option-container-load">
					<button class="button" data-option="reset"><span><span>Reset</span></span></button>
				</li>
				<li class="has-button">
					<label class="close button" for="accessibility" tabindex="0" role="button" aria-haspopup="true" aria-controls="accessibility-window"><span><span>Close</span></span></label>
				</li>
			</ul>
		</div>
	</menu>
</div>