<h2>Coding is my passion. I like to experiment, especially with <span class="css">CSS</span> and <span class="animation">animation</span>.<span class="cursor" aria-hidden="true"></span></h2>

<p><span aria-hidden="true">Check out some</span> <a href="https://codepen.io/gabriellewee" target="blank" aria-label="Check out some code snippets">code snippets</a><span aria-hidden="true">:</span></p>

<div class="embed">
	<h3><a href="https://codepen.io/gabriellewee/pen/Qdpgwx/" target="_blank" aria-label="CSS-Only Direction-Aware Cube Links">CSS-Only Direction-Aware Cube Links</a></h3>
	<iframe class="codepen" title="CSS-Only Direction-Aware Cube Links" width="100%" height="220px" src="/code/cubes/"></iframe>
</div>

<div class="embed">
	<h3><a href="https://codepen.io/gabriellewee/pen/JjNGvJd" target="_blank" aria-label="Zdog Draggable Monument Valley Totem">Zdog Draggable Monument Valley Totem</a></h3>
	<iframe class="codepen" title="Zdog Draggable Monument Valley Totem" width="100%" height="460px" src="/code/totem/"></iframe>
</div>

<ul class="regular grid">
	{% for link in code %}
		<li>
			<a class="code-link-{{link.name}} {{link.style}}" href="https://codepen.io/gabriellewee/pen/{{link.uri}}/" target="_blank" aria-label="{{link.title}}">
				<span class="inside" aria-hidden="true">
					<picture>
						<img src="/static/images/svg/thumbnails/{{link.name}}.svg" width="200" height="125" alt=""/>
					</picture>
					<span class="overlay">{{link.title | nbsp | safe}}</span>
				</span>
			</a>
		</li>
	{% endfor %}
</ul>

<div class="links">
	{% for link in codelink %}
		<p><a href="https://codepen.io/gabriellewee/pen/{{link.uri}}/" target="_blank" aria-label="{{link.title}}">{{link.title | nbsp | safe}}</a></p>
	{% endfor %}
</div>

<p>I also have some #dailyui challenges:</p>
<ul class="ui grid">
	{% for link in ui %}
		<li>
			<a class="code-link-{{link.name}}" href="https://codepen.io/gabriellewee/pen/{{link.uri}}/" target="_blank" aria-label="Daily UI #{{link.name}}: {{link.title}}">
				<span class="inside" aria-hidden="true">
					<picture>
						<img src="/static/images/svg/ui/{{link.name}}.svg" width="150" height="100" alt=""/>
					</picture>
					<span class="overlay">
						<span>#{{link.name}}</span>
						<span>{{link.title | nbsp | safe}}</span>
					</span>
				</span>
			</a>
		</li>
	{% endfor %}
</ul>