<h2>Coding is my passion. I like to experiment, especially with <span class="css">CSS</span> and <span class="animation">animation</span>.<span class="cursor" aria-hidden="true"></span></h2>

<p><span aria-hidden="true">Check out some</span> <a href="https://codepen.io/gabriellewee" target="blank" aria-label="Check out some code snippets"><span>code snippets</span></a><span aria-hidden="true">:</span></p>

<div class="embed">
	<h3><a href="https://codepen.io/gabriellewee/pen/Qdpgwx/" target="_blank" aria-label="CSS-Only Direction-Aware Cube Links"><span>CSS-Only Direction-Aware Cube Links</span></a></h3>
	<iframe class="codepen" title="CSS-Only Direction-Aware Cube Links" width="100%" height="220px" src="/code/cubes/"></iframe>
</div>

<div class="embed">
	<h3><a href="https://codepen.io/gabriellewee/pen/JjNGvJd" target="_blank" aria-label="Zdog Draggable Monument Valley Totem"><span>Zdog Draggable Monument Valley Totem</span></a></h3>
	<iframe class="codepen" title="Zdog Draggable Monument Valley Totem" width="100%" height="460px" src="/code/totem/"></iframe>
</div>

<ul class="grid">
	{% for link in home.code.thumbnails %}
		<li>
			<a class="code-link-{{link.name}} {{link.style}}" href="{% if link.uri %}https://codepen.io/gabriellewee/pen/{{link.uri}}/{% elseif link.url %}{{link.url}}{% endif %}" target="_blank" aria-label="{{link.title}}">
				<span class="inside" aria-hidden="true">
					<picture>
						<img src="/static/images/svg/thumbnails/{{link.name}}.svg" width="200" height="125" alt=""/>
					</picture>
					<br/>
					<span class="overlay">{{link.title | nbsp | safe}}</span>
				</span>
			</a>
		</li>
	{% endfor %}
</ul>

<ul class="links">
	{% for link in home.code.links %}
		<li><a href="https://codepen.io/gabriellewee/pen/{{link.uri}}/" target="_blank" aria-label="{{link.title}}"><span>{{link.title | nbsp | safe}}</span></a></li>
	{% endfor %}
</ul>