<div class="discord-popup popup" data-copy>
	<input type="checkbox" id="discord" class="popup-button" tabindex="0" role="button" aria-pressed="false" aria-haspopup="menu" aria-controls="discord-window" aria-labelledby="discord-label"/>
	<label class="popup-label" for="discord">
		<span aria-hidden="true" id="discord-label">Discord</span>
	</label>
	<menu id="discord-window" class="popup-window">
		<div class="inside">
			<div class="header">
				<span class="avatar"></span>
			</div>
			<div class="username">
				<h3 aria-label="Discord display name: Gabrielle">Gabrielle</h3>
				<span id="username-input" aria-label="Discord username: gabriellewee">gabriellewee</span>
			</div>
			<div class="description">
				<h3 class="about-header">About Me</h3>
				<code class="about-content">I might be the droid you're looking for.</code>
				<ul class="links">
					<li class="no-touch">
						<a target="_blank" href="discord://discordapp.com/users/694064940826230865">
							<span><span>Desktop </span>Discord profile</span>
						</a>
					</li>
					<li class="touch">
						<a target="_blank" href="https://discordapp.com/users/694064940826230865">
							<span><span>Mobile </span>Discord profile</span>
						</a>
					</li>
					<li>
						<button disabled class="copy-button" data-clipboard-target="#username-input">
							<span>Copy username</span>
						</button>
					</li>
				</ul>
			</div>
			<label class="close" for="discord" tabindex="0" role="button" aria-pressed="true" aria-haspopup="true" aria-controls="discord-window">{% include 'svg/icons/close.svg' %}</label>
		</div>
	</menu>
</div>