<div class="discord-popup popup" data-copy data-popup>
	<input type="checkbox" id="discord" class="popup-button" tabindex="0" role="button" aria-pressed="false" aria-haspopup="menu" aria-controls="discord-window" aria-labelledby="discord-label" data-popup-trigger/>
	<label class="popup-label" for="discord" data-popup-label>
		<span aria-hidden="true" id="discord-label">Discord</span>
	</label>
	<menu id="discord-window" class="popup-window" data-popup-window>
		<div class="inside">
			<div class="header">
				<span class="avatar"></span>
			</div>
			<div class="username">
				<h3 aria-label="Discord display name: Gabrielle">Gabrielle</h3>
				<span id="username-input" class="username-input tooltip tooltip-right small dark hidden" data-clipboard-target data-clipboard-text aria-label="Discord username: gabriellewee" style="--tooltip-label: 'Copied'">gabriellewee</span>
			</div>
			<div class="description">
				<h3 class="about-header">About Me</h3>
				<code class="about-content">I like to make pretty things with code 👩🏻‍💻</code>
				<ul class="links">
					<li class="no-touch">
						<a href="discord://discordapp.com/users/694064940826230865">
							<span><strong>Desktop </strong>Discord profile</span>
						</a>
					</li>
					<li class="touch">
						<a href="https://discordapp.com/users/694064940826230865">
							<span><strong>Mobile </strong>Discord profile</span>
						</a>
					</li>
					<li>
						<button disabled class="copy-button" data-clipboard-target="#username-input" data-clipboard-button>
							<span>Copy username</span>
						</button>
					</li>
				</ul>
			</div>
			<label class="close" for="discord" tabindex="0" role="button" aria-pressed="true" aria-haspopup="true" aria-controls="discord-window" data-popup-close>{% include 'svg/icons/close.svg' %}</label>
		</div>
	</menu>
</div>