<div class="header">
	<h2>I love gaming and modding my controllers.</h2>
	<p class="friend-code"><span>Nintendo Friend Code: </span><span>SW‑0918‑7153‑9794</span></p>
</div>
<div class="console">
	{% include 'svg/controllers/switch-pink.svg' %}
</div>
<ul class="modding">
	<li>{% include 'svg/controllers/joy-con-white.svg' %}</li>
	<li>{% include 'svg/controllers/joy-con-black.svg' %}</li>
	<li>{% include 'svg/controllers/pro-pink.svg' %}</li>
	<li>{% include 'svg/controllers/joy-con-pink.svg' %}</li>
	<li>{% include 'svg/controllers/pro-violet.svg' %}</li>
</ul>
<div class="playing">
	<h3>Currently playing:</h3>
	<ul>
		<li><span>Animal Crossing: New Horizons</span></li><li><span>The Legend of Zelda: Skyward Sword</span></li><li><span>The Legend of Zelda: Ocarina of Time</span></li>
	</ul>
</div>