<div class="header">
	<h2>I love gaming and modding my controllers.</h2>
	<p class="friend-code"><span>Nintendo Friend Code: </span><span>SW‑0918‑7153‑9794</span></p>
</div>
<div class="console">
	<picture>
		<img src="/static/images/svg/controllers/switch-pink.svg"/>
	</picture>
</div>
<ul class="modding">
	<li>
		<picture>
			<img src="/static/images/svg/controllers/joy-con-white.svg"/>
		</picture>
	</li>
	<li>
		<picture>
			<img src="/static/images/svg/controllers/joy-con-black.svg"/>
		</picture>
	</li>
	<li>
		<picture>
			<img src="/static/images/svg/controllers/pro-pink.svg"/>
		</picture>
	</li>
	<li>
		<picture>
			<img src="/static/images/svg/controllers/joy-con-pink.svg"/>
		</picture>
	</li>
	<li>
		<picture>
			<img src="/static/images/svg/controllers/pro-violet.svg"/>
		</picture>
	</li>
	<li>
		<picture>
			<img src="/static/images/svg/controllers/joy-con-blue.svg"/>
		</picture>
	</li>
	<li>
		<picture>
			<img src="/static/images/svg/controllers/pro-matcha.svg"/>
		</picture>
	</li>
	<li>
		<picture>
			<img src="/static/images/svg/controllers/pro-cyan.svg"/>
		</picture>
	</li>
</ul>
<div class="playing">
	<h3>Currently playing:</h3>
	<ul>
		<li><span>Horizon Zero Dawn</span></li><li><span>Animal Crossing: New Horizons</span></li><li><span>Mass Effect</span></li><li><span>The Legend of Zelda: Ocarina of Time</span></li>
	</ul>
</div>