<h2>You can find me here:</h2>
<p>
	<a class="codepen" target="_blank" href="https://codepen.io/gabriellewee">Codepen</a>
	<a class="dribbble" target="_blank" href="https://dribbble.com/gabriellewee/">Dribbble</a>
	<a class="github" target="_blank" href="https://github.com/gabriellewee">Github</a>
	<a class="instagram" target="_blank" href="https://instagram.com/gabriellewee/">Instagram</a>
	<a class="twitter" target="_blank" href="https://twitter.com/gabriewee">Twitter</a>
	<a class="medium" target="_blank" href="https://medium.com/@gabriellewee/">Medium</a>
	<a class="pinterest" target="_blank" href="https://pinterest.com/gabriellewee/">Pinterest</a>
	<a class="music" target="_blank" href="https://music.apple.com/profile/gabriellewee">Music</a>
</p>

<h2>You can contact me here:</h2>
<p>
	<a class="email" target="_blank" href="mailto:mail@gabriellew.ee">Email</a>
	<a class="text" target="_blank" href="sms:5102142241">Text</a>
	<a class="imessage" target="_blank" href="sms:mail@gabriellew.ee">iMessage</a>
	{% include 'pages/home/discord.html' %}
</p>