<aside class="contact">
	<div class="contact-sites">
		<h2>You can find me here:</h2>
		<ul>
			{% for link in about.links %}
				<li class="link"><a class="{{link.name}}" target="_blank" href="{{link.url}}" rel="me">{{link.name | capitalize}}</a></li>
			{% endfor %}
		</ul>
	</div>

	<div class="contact-messages">
		<h2>You can contact me here:</h2>
		<ul>
			<li class="link"><a class="email" href="mailto:mail@gabriellew.ee">Email</a></li>
			<li class="link"><a class="text" href="sms:5102142241">Text</a></li>
			<li class="link"><a class="imessage" href="sms:mail@gabriellew.ee">iMessage</a></li>
			<li class="link">{% include 'pages/home/discord.html' %}</li>
		</ul>
	</div>
</aside>