<div class="mentions-popup popup">
	<input type="checkbox" id="mentions" class="popup-button" tabindex="0" role="button" aria-haspopup="true" aria-controls="mentions-window" aria-labelledby="mentions-label"/>
	<label class="popup-label" for="mentions">
		<span aria-hidden="true" id="mentions-label">Web mentions</span>
	</label>
	<div id="mentions-window" class="popup-window">
		<div class="inside">
			<label class="close" for="mentions" tabindex="0">{% include 'svg/icons/close.svg' %}</label>
			<ul>
				<li>
					<h4><span>CodePen Spark</span></h4>
					<a href="https://codepen.io/spark/7" target="_blank" aria-label="Most Hearted of 2016! Plus Castles, Calculations, and SVG Fun"><span>7</span></a>
					<a href="https://codepen.io/spark/9" target="_blank" aria-label="Memes, Marshmallow, and Matter.js"><span>9</span></a>
					<a href="https://codepen.io/spark/10" target="_blank" aria-label="Bouncing, Beads, and BB8"><span>10</span></a>
					<a href="https://codepen.io/spark/24" target="_blank" aria-label="Surf, Sass, and Screenshots"><span>24</span></a>
					<a href="https://codepen.io/spark/28" target="_blank" aria-label="Generated Cities, Responsive Buses, and CSS Custom Properties"><span>28</span></a>
					<a href="https://codepen.io/spark/33" target="_blank" aria-label="Prototypes, Pugs, and Parallax"><span>33</span></a>
					<a href="https://codepen.io/spark/45" target="_blank" aria-label="Connections, Concepts, and Beautiful Mistakes"><span>45</span></a>
					<a href="https://codepen.io/spark/65" target="_blank" aria-label="Avatars, Portraits, and Noise"><span>65</span></a>
					<a href="https://codepen.io/spark/82" target="_blank" aria-label="Scrollers, Shy Blobs, and shape-outside"><span>82</span></a>
					<a href="https://codepen.io/spark/285" target="_blank" aria-label="CSS Sorting, Generative Paintings, and Buttons 11 Ways"><span>285</span></a>
				</li>
				<li>
					<h4><span>CSS-Tricks</span></h4>
					<a href="https://css-tricks.com/direction-aware-hover-effects/" target="_blank" aria-label="Direction Aware Hover Effects"><span>02/09/2018</span></a>
				</li>
				<li>
					<h4><span>CodePen Blog</span></h4>
					<a href="https://blog.codepen.io/2017/07/10/winner-css-dev-conf-2017-free-ticket-contest/" target="_blank" aria-label="Winner of the CSS Dev Conf 2017 Free Ticket Contest"><span>CSS Dev Conf 2017</span></a>
				</li>
				<li>
					<h4><span>Codrops Collective</span></h4>
					<a href="https://tympanus.net/codrops/collective/collective-286/" target="_blank" aria-label="Collective #286"><span>286</span></a>
					<a href="https://tympanus.net/codrops/collective/collective-396-2/" target="_blank" aria-label="Collective #396"><span>396</span></a>
					<a href="https://tympanus.net/codrops/collective/collective-426/" target="_blank" aria-label="Collective #426"><span>426</span></a>
				</li>
				<li>
					<h4><span>CSS Weekly</span></h4>
					<a href="https://css-weekly.com/issue-503/" target="_blank" aria-label="Issue #503"><span>503</span></a>
				</li>
				<li>
					<h4><span>Metafizzy</span></h4>
					<a href="https://metafizzy.co/blog/codepen-showcase-round-2/" target="_blank"><span>Codepen Showcase Round 2</span></a>
				</li>
				<li>
					<h4><span>CSS Dev Conf</span></h4>
					<a href="https://medium.com/css-dev-conf/new-orleans-gets-animated-in-winning-codepen-entry-in-css-dev-conf-2017-contest-54f79231d475" target="_blank" aria-label="New Orleans Gets Animated in Winning CodePen Entry in CSS Dev Conf 2017 Contest"><span>CSS Dev Conf 2017 Contest</span></a>
				</li>
			</ul>	
		</div>
	</div>
</div>