<h2>I like taking photos of the world around me.</h2>
<ul>
	{% for photo in photography | limit(5) %}
		<li>
			<picture>
				<source srcset="/static/images/photography/{{photo.date|safe}}-{{photo.name}}-thumbnail.jpg, /static/images/photography/{{photo.date|safe}}-{{photo.name}}-thumbnail@2x.jpg 2x" media="(max-width: 3000px)"/>
				<img src="/static/images/photography/{{photo.date|safe}}-{{photo.name}}-thumbnail@2x.jpg" alt=""/>
			</picture>
		</li>
	{% endfor %}
	<li>
		<div>
			<svg viewBox="0 0 800 600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>
			<span><a href="/photography/" target="_blank">View more</a></span>
		</div>
	</li>
</ul>