<h2>Sometimes I talk about the things I’ve made over the years.</h2>
<div>
	<h3>Audio</h3>
	<ul>
		<li>
			<a href="https://itunes.apple.com/us/podcast/7-gabrielle-wee/id1190447982?i=1000382998257&mt=2" target="_blank">Friends Talk Frontend: Episode 7</a>
			<a class="link link-podcasts" href="https://itunes.apple.com/us/podcast/7-gabrielle-wee/id1190447982?i=1000382998257&mt=2" target="_blank">Apple Podcasts</a>
			<a class="link link-spotify" href="https://open.spotify.com/episode/7oEcqfovAS8N6q4z6Ct04e" target="_blank">Spotify</a>
		</li>
	</ul>
</div>
<div>
	<h3>Writing</h3>
	<ul>
		<li>
			<a href="https://webdesign.tutsplus.com/tutorials/mastering-general-sibling-selectors-custom-tab-navigation--cms-29193" target="_blank">Mastering General Sibling Selectors: Custom Tab Navigation</a>
		</li>
		<li>
			<a href="https://webdesign.tutsplus.com/tutorials/mastering-general-sibling-selectors-custom-form-elements--cms-28436" target="_blank">Mastering General Sibling Selectors: Custom Form Elements</a>
		</li>
		<li>
			<a href="https://codepen.io/gabriellewee/post/how-to-create-direction-aware-css-only-hover-effects" target="_blank">How to Create Direction-Aware CSS-Only Hover Effects</a>
			<a class="link link-medium" href="https://medium.com/@gabriellewee/how-to-create-direction-aware-css-only-hover-effects-2bbf0e13ad5b" target="_blank">Medium</a>
		</li>
	</ul>
</div>