<h2>Sometimes I have a word or two to say.</h2>
<div>
	<h3 class="writes"><a href="/writes/"><span>Latest blog posts</span></a></h3>
	<ul>
		{% for post in collections.writes | reverse | limit(3) %}
			<li>
				<a href="{{post.url | url}}"><span>{{post.data.title}}</span></a>
				<time datetime="{{post.date | htmlDateString}}">{{post.date|readableDate}}</time>
				{% if post.data.medium %}
					<a class="link link-medium" aria-label="View {{post.data.title}} on Medium" href="{{post.data.medium}}" target="_blank"><span>Medium</span></a>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</div>
<div>
	<h3>Elsewhere on the Internet</h3>
	<ul>
		<li>
			<a href="https://webdesign.tutsplus.com/tutorials/mastering-general-sibling-selectors-custom-tab-navigation--cms-29193" target="_blank"><span>Mastering General Sibling Selectors: Custom Tab Navigation</span></a>
		</li>
		<li>
			<a href="https://webdesign.tutsplus.com/tutorials/mastering-general-sibling-selectors-custom-form-elements--cms-28436" target="_blank"><span>Mastering General Sibling Selectors: Custom Form Elements</span></a>
		</li>
		<li>
			<a href="https://codepen.io/gabriellewee/post/how-to-create-direction-aware-css-only-hover-effects" target="_blank"><span>How to Create Direction-Aware CSS-Only Hover Effects</span></a>
			<a class="link link-medium" aria-label="View How to Create Direction-Aware CSS-Only Hover Effects on Medium" href="https://medium.com/@gabriellewee/how-to-create-direction-aware-css-only-hover-effects-2bbf0e13ad5b" target="_blank"><span>Medium</span></a>
		</li>
	</ul>
</div>
<div>
	<h3>Audio</h3>
	<ul>
		<li>
			<a href="https://blog.codepen.io/2021/12/08/345-with-gabrielle-wee/" target="_blank"><span>Codepen Blog - 345: With Gabrielle Wee</span></a>
			<a class="link link-podcasts" aria-label="Listen to Friends Talk Frontend: Episode 7 on Apple Podcasts" href="https://itunes.apple.com/us/podcast/codepen-radio/id824437159" target="_blank"><span>Apple Podcasts</span></a>
		</li>
		<li>
			<a href="https://itunes.apple.com/us/podcast/7-gabrielle-wee/id1190447982?i=1000382998257&mt=2" target="_blank"><span>Friends Talk Frontend: Episode 7</span></a>
			<a class="link link-podcasts" aria-label="Listen to Friends Talk Frontend: Episode 7 on Apple Podcasts" href="https://itunes.apple.com/us/podcast/7-gabrielle-wee/id1190447982?i=1000382998257&mt=2" target="_blank"><span>Apple Podcasts</span></a>
			<a class="link link-spotify" aria-label="Listen to Friends Talk Frontend: Episode 7 on Spotify" href="https://open.spotify.com/episode/7oEcqfovAS8N6q4z6Ct04e" target="_blank"><span>Spotify</span></a>
		</li>
	</ul>
</div>
<div>
	<h3>Mentions</h3>
	<ul>
		<li>
			<h4><span>CodePen Spark</span></h4>
			<a href="https://codepen.io/spark/7" target="_blank"><span>7</span></a>
			<a href="https://codepen.io/spark/9" target="_blank"><span>9</span></a>
			<a href="https://codepen.io/spark/10" target="_blank"><span>10</span></a>
			<a href="https://codepen.io/spark/24" target="_blank"><span>24</span></a>
			<a href="https://codepen.io/spark/28" target="_blank"><span>28</span></a>
			<a href="https://codepen.io/spark/33" target="_blank"><span>33</span></a>
			<a href="https://codepen.io/spark/45" target="_blank"><span>45</span></a>
			<a href="https://codepen.io/spark/65" target="_blank"><span>65</span></a>
			<a href="https://codepen.io/spark/82" target="_blank"><span>82</span></a>
			<a href="https://codepen.io/spark/285" target="_blank"><span>285</span></a>
		</li>
		<li>
			<h4><span>CSS-Tricks</span></h4>
			<a href="https://css-tricks.com/direction-aware-hover-effects/" target="_blank"><span>02/09/2018</span></a>
		</li>
		<li>
			<h4><span>Codrops Collective</span></h4>
			<a href="https://tympanus.net/codrops/collective/collective-286/" target="_blank"><span>286</span></a>
			<a href="https://tympanus.net/codrops/collective/collective-396-2/" target="_blank"><span>396</span></a>
			<a href="https://tympanus.net/codrops/collective/collective-426/" target="_blank"><span>426</span></a>
		</li>
		<li>
			<h4><span>CSS Weekly</span></h4>
			<a href="https://css-weekly.com/issue-503/" target="_blank"><span>503</span></a>
		</li>
		<li>
			<h4><span>Metafizzy</span></h4>
			<a href="https://metafizzy.co/blog/codepen-showcase-round-2/" target="_blank"><span>Codepen Showcase Round 2</span></a>
		</li>
	</ul>
</div>