.posts-archive {
	padding-left: calc((var(--p)*2) + env(safe-area-inset-left));
	padding-right: calc((var(--p)*2) + env(safe-area-inset-right));
	@include viewport($iphone-max) {
		padding-left: 0;
		padding-right: 0;
	}

	ul {
		list-style: none;
	}
	h2 {
		@include font-weight-width(1000, 120);
		font-size: 4rem;
	}
	h3 {
		@include font-weight-width(800, 120);
		font-size: 2rem;
		line-height: 1.1;
		a {
			span {
				@include gradient-text(var(--color-mauve-hsl), var(--color-slate-hsl), true);
				transition: .2s ease-out;
				text-decoration: underline;
				text-underline-offset: 8px;
				text-decoration-color: hsla(var(--color-blush-8-hsl), 0);
				@include contrast(both, 2) {
					text-underline-offset: 4px;
					text-decoration-color: unset;
				}
			}
			&:hover, &:focus, &:active {
				span {
					text-underline-offset: 4px;
					@include contrast(both, 2) {
						@include focus-shadow(var(--color-rose));
					}
				}
			}
			&:hover, &:focus {
				span {
					@include gradient-text(var(--color-rose-hsl), var(--color-mauve-hsl), true);
					text-decoration-color: var(--color-mauve-rose);
				}
			}
			&:active {
				span {
					@include theme(light, 2) {
						@include gradient-text(var(--color-iron-1-hsl), var(--color-iron-12-hsl), true);
						text-decoration-color: var(--color-iron-1);
					}
					@include theme(dark, 2) {
						@include gradient-text(var(--color-slate-hsl), var(--color-iron-white-80-hsl), true);
						text-decoration-color: var(--color-slate);
					}
				}
			}
		}
	}
	time {
		@include font-weight-width(600, 80);
		display: block;
		margin-top: calc(var(--p)/2);
		white-space: nowrap;
		text-transform: uppercase;
	}
	li {
		opacity: 0;
		&:not(:first-child) {
			margin-top: .75rem;
			h2 {
				margin-top: 2rem;
			}
		}
	}
}