.posts-archive {
	padding-left: calc((var(--p)*2) + env(safe-area-inset-left));
	padding-right: calc((var(--p)*2) + env(safe-area-inset-right));
	@include viewport($iphone-max) {
		padding-left: 0;
		padding-right: 0;
	}

	ul {
		list-style: none;
	}
	h2 {
		@include font-weight-width(1000, 120);
		font-size: 4rem;
	}
	h3 {
		@include font-weight-width(800, 120);
		font-size: 2rem;
		line-height: 1.1;
		a {
			span {
				@include gradient-text(
					var(--color-mauve),
					var(--color-slate),
					gHSLa(mauve, 1, .5)
				);
				transition: .2s ease-out;
				text-decoration: underline;
				text-underline-offset: 8px;
				text-decoration-color: gHSLa(blush, 1.1, 0);
				@include contrast(both, 2) {
					text-underline-offset: 4px;
					text-decoration-color: unset;
				}
			}
			&:hover, &:focus, &:active {
				span {
					text-underline-offset: 4px;
					@include contrast(both, 2) {
						@include focus-shadow(var(--color-rose));
					}
				}
			}
			&:hover, &:focus {
				span {
					@include gradient-text(
						var(--color-rose),
						var(--color-mauve),
						gHSLa(rose, 1, .5)
					);
					text-decoration-color: color-mix(
						in hsl,
						hsl(var(--color-mauve-h), calc(var(--color-mauve-s) * .9), var(--color-mauve-l)) 30%,
						hsl(var(--color-rose-h), calc(var(--color-rose-s) * .9), var(--color-rose-l))
					);
				}
			}
			&:active {
				span {
					@include theme(light, 2) {
						@include gradient-text(
							gHSL(iron, .95),
							gHSL(iron, .35),
							gHSLa(iron, .95, .5)
						);
						text-decoration-color: gHSL(iron, .95);
					}
					@include theme(dark, 2) {
						@include gradient-text(
							var(--color-slate),
							color-mix(
								in srgb,
								var(--color-iron) 80%,
								var(--color-white)
							),
							gHSLa(slate, 1, .5)
						);
						text-decoration-color: var(--color-slate);
					}
				}
			}
		}
	}
	time {
		@include font-weight-width(600, 90);
		display: block;
		margin-top: calc(var(--p)/2);
		white-space: nowrap;
		text-transform: uppercase;
	}
	li {
		opacity: 0;
		&:not(:first-child) {
			margin-top: .75rem;
			h2 {
				margin-top: 2rem;
			}
		}
	}
}