.post-header.inline-header {
	padding: calc(var(--p)*1.5) calc(var(--p)*2);
	background-color: var(--color-iron);
	color: white;
	font-family: var(--font-mono);
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.375;
	div {
		display: flex;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
		order: 2;
		width: 100%;
	}
	div, h2 {
		@supports not(container-type: inline-size) {
			@include viewport(mobile) {
				order: 1;
				width: unset;
			}
		}
		@container header (min-width: 350px) {
			order: 1;
			width: unset;
		}
	}
	h2 {
		order: 1;
		line-height: 1.5;
		a {
			color: var(--color-aqua);
			&:hover, &:focus {
				color: var(--color-peach);
			}
			&:active {
				color: var(--color-periwinkle);
			}
			&:after {
				content: "↗";
				display: inline;
				margin-left: calc(var(--p)/2);
				font-size: 1.375rem;
				line-height: 1;
			}
		}
	}
	time {
		margin-bottom: calc(var(--p)*.75);
		@supports not(container-type: inline-size) {
			@include viewport(mobile) {
				margin-bottom: 0;
			}
		}
		@container header (min-width: 350px) {
			margin-bottom: 0;
		}
	}
	ul {
		order: 2;
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin-top: var(--p);
		margin-bottom: calc(var(--p)*.75);
		@supports not(container-type: inline-size) {
			@include viewport(mobile) {
				margin-top: 0;
				margin-bottom: 0;
				margin-left: calc(var(--p)*1.5);
			}
		}
		@container header (min-width: 350px) {
			margin-top: 0;
			margin-bottom: 0;
			margin-left: calc(var(--p)*1.5);
		}
		li {
			margin-right: calc(var(--p)*1.5);
		}
		span {
			@include clip-path-edges(2px);
			display: block;
			padding-left: calc(var(--p)/2);
			padding-right: calc(var(--p)/2);
			line-height: 1.5;
			&.tag-css-only {
				background: var(--color-slate);
			}
			&.tag-award {
				background: var(--color-mauve);
			}
		}
	}
}

.post-content {
	position: relative;
	iframe {
		display: block;
		width: 100%;
		opacity: 0;
		transition: .2s ease-out;
	}
	.warning {
		display: none;
		align-items: center;
		justify-content: center;
		height: 300px;
		color: var(--color-iron-white-70);
		font-weight: 600;
		&.css-only {
			+ iframe {
				display: block;
			}
		}
	}
	.reload {
		@include font-weight-width(600, 90);
		position: absolute;
		bottom: calc(var(--p)*2);
		right: calc(var(--p)*2);
		&:before {
			background-color: var(--color-blush);
		}
		> span {
			background-color: var(--color-mint);
			background: radial-gradient(
				circle at center left,
				var(--color-slate-5) 0,
				var(--color-mint) 50%,
				var(--color-mint) 60%,
				var(--color-oak) 100%,
			) 50% 0% / 200% 100%;
			&:before {
				background-color: var(--color-iron);
				background: radial-gradient(circle at center right, var(--color-iron-10) 0, var(--color-iron) 100%);
			}
		}
		&:hover, &:focus {
			> span {
				background-position-x: 100%;
			}
		}
	}
}