.mentions {
	display: flex;
	flex-direction: column;
	@supports (container-type: inline-size) {
		container-type: inline-size;
		container-name: mentions;
	}
	> .button {
		&:not(:only-child) {
			display: none;
		}
		&:only-child {
			align-self: flex-start;
			margin-top: calc(var(--p)*2);
		}
	}
	> .mentions-header, .mentions-header-wrapper, .mentions-like-content, .mentions-repost-content {
		padding-left: calc((var(--p)*2) + env(safe-area-inset-left));
		padding-right: calc((var(--p)*2) + env(safe-area-inset-right));
		@include viewport($iphone-max) {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.mentions-like-content + .button,
	.mentions-repost-content + .button {
		display: block;
		align-self: flex-start;
		margin-top: calc(var(--p)*2);
	}
	.mentions-header {
		@include font-weight-width(800, 120);
		font-size: 2rem;
		margin-top: calc(var(--p)*2.5);
		margin-bottom: calc(var(--p)*1.5);
		grid-column: 1/-1;
		@include viewport(mobile) {
			font-size: 2.25rem;
		}
	}
	.mentions-header-wrapper {
		grid-column: 1/-1;
		margin-top: calc(var(--p)*2.5);
		margin-bottom: calc(var(--p)*1.5);
		@include container(mentions, mobile, 480px) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			align-content: center;
		}
		.mentions-header {
			grid-column: unset;
			margin-top: 0;
			margin-bottom: 0;
		}
		.button {
			display: inline-block;
			margin-top: calc(var(--p)*1.75);
			margin-bottom: calc(var(--p)/2);
			@include container(mentions, mobile, 480px) {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}
	.mentions-reply-content + .mentions-reply-header-wrapper {
		display: none;
		+ .mentions-reply-content {
			margin-top: calc(var(--p)*2);
		}
	}
	.mentions-content {
		list-style: none;
	}
	.mentions-like-content, .mentions-repost-content {
		display: grid;
		grid-gap: var(--p);
		grid-template-columns: repeat(auto-fill, minmax(48px, 1fr));
	}
	.mentions-reply-content, .mentions-link-content {
		li {
			background: hsla(var(--color-white-hsl), .75);
			padding: calc(var(--p)*2);
			@include dark {
				background: hsla(var(--color-iron-8-hsl), .65)
			}
			@include viewport($iphone-max) {
				@include clip-path-edges(2px);
			}
			@include viewport(mobile) {
				display: flex;
				align-items: flex-start;
			}
			&:not(:first-child) {
				margin-top: calc(var(--p)*2);
			}
			> div {
				&:not(:first-child) {
					.username, .time {
						margin-top: var(--p);
					}
					@include viewport(mobile) {
						margin-left: calc(var(--p)*2);
						.username, .time {
							margin-top: 0;
						}
					}
				}
				&.post-link {
					a {
						font-weight: 600;
					}
				}
			}
		}
	}
	.username, .time, .avatar {
		transition: .2s ease-out;
		display: inline-block;
		position: relative;
		&:before {
			@include before(hsla(var(--color-mauve-hsl), .5));
		}
		&:focus-visible {
			&:before {
				opacity: 1;
			}
		}
	}
	.avatar {
		&:hover {
			@media (prefers-reduced-motion: no-preference) {
				scale: 1.05;
			}
		}
		&:active {
			@media (prefers-reduced-motion: no-preference) {
				scale: .95;
			}
		}
		picture {
			@include clip-path-edges(2px);
			width: 48px;
			height: 48px;
		}
	}
	.username, .time {
		@include font-weight-width(600, 80);
		color: white;
		font-size: .875rem;
		> * {
			@include clip-path-edges(2px);
			transition: .2s ease-out;
			display: inline-block;
			padding: calc(var(--p)/3*2) var(--p);
		}
		&:focus-visible {
			&:before {
				opacity: 1;
			}
		}
		&:active {
			@media (prefers-reduced-motion: no-preference) {
				scale: .95;
			}
		}
	}
	.username {
		margin-right: var(--p);
		span {
			background-color: var(--color-mauve);
		}
		&:hover, &:focus {
			span {
				background-color: var(--color-rose);
			}
		}
		&:active {
			span {
				background-color: var(--color-slate);
			}
		}
	}
	.time {
		time {
			background-color: var(--color-iron-white-70);
		}
		&:hover, &:focus {
			time {
				background-color: var(--color-iron-white);
			}
		}
		&:active {
			time {
				background-color: var(--color-iron-white-90);
			}
		}
	}
	.reply {
		font-size: 1.125rem;
		line-height: 1.334;
		margin-top: var(--p);
		@include viewport(mobile) {
			margin-top: calc(var(--p)/2);
		}
	}
	.mentions-placeholder {
		display: none;
		&:empty {
			~ h3, ~ ul {
				display: none;
			}
		}
	}
}

.post-author {
	display: none;
}