@use 'partials/shared/utilities' as *;

.mentions {
	display: flex;
	flex-direction: column;
	@supports (container-type: inline-size) {
		container-type: inline-size;
		container-name: mentions;
	}
	> .button {
		&:not(:only-child) {
			display: none;
		}
		&:only-child {
			align-self: flex-start;
			margin-top: calc(var(--p)*2);
		}
	}
	> .mentions-header, .mentions-header-wrapper, .mentions-like-content, .mentions-repost-content {
		padding-left: calc((var(--p)*2) + env(safe-area-inset-left));
		padding-right: calc((var(--p)*2) + env(safe-area-inset-right));
		@include viewport($iphone-max) {
			padding-inline: 0;
		}
	}
	.mentions-like-content + .button,
	.mentions-repost-content + .button {
		display: block;
		align-self: flex-start;
		margin-top: calc(var(--p)*2);
	}
	.mentions-header {
		font-size: 2rem;
		margin-top: calc(var(--p)*2.5);
		margin-bottom: calc(var(--p)*1.5);
		grid-column: 1/-1;
		@include font-weight-width(800, 120);
		@include viewport(medium) {
			font-size: 2.25rem;
		}
	}
	.mentions-header-wrapper {
		grid-column: 1/-1;
		margin-top: calc(var(--p)*2.5);
		margin-bottom: calc(var(--p)*1.5);
		@include container(mentions, medium, 480px) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			align-content: center;
		}
		.mentions-header {
			grid-column: unset;
			margin-top: 0;
			margin-bottom: 0;
		}
		.button {
			margin-top: calc(var(--p)*1.75);
			margin-bottom: calc(var(--p)/2);
			@include container(mentions, medium, 480px) {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}
	.mentions-reply-content ~ .mentions-reply-header-wrapper {
		display: none;
		+ .mentions-reply-content {
			margin-top: calc(var(--p)*2);
		}
	}
	.mentions-content {
		list-style: none;
	}
	.mentions-like-content, .mentions-repost-content {
		display: grid;
		grid-gap: var(--p);
		grid-template-columns: repeat(auto-fill, minmax(48px, 1fr));
	}
	.mentions-reply-content, .mentions-link-content {
		li {
			padding: calc(var(--p)*2);
			background-color: light-dark(
				hsl(from var(--color-secondary) h s l / .75),
				hsl(from var(--color-iron) h s calc(l * .55) / .65)
			);
			@include viewport($iphone-max) {
				@include clip-path-edges(2px);
			}
			@include viewport(medium) {
				display: flex;
				align-items: flex-start;
			}
			@include viewport($iphone-max) {
				@include contrast {
					position: relative;
					clip-path: unset;
					border-radius: unset;
					background-color: unset;
					&::before, &::after {
						content: "";
						display: block;
					}
					&::before {
						z-index: -2;
						background-color: var(--color-primary);
						@include full-offset(1.5px);
						@include clip-path-edges(3px);
					}
					&::after {
						z-index: -1;
						@include full-offset(0);
						@include clip-path-edges(2px);
					}
				}
			}
			&::after {
				@include contrast {
					background-color: light-dark(white, hsl(from var(--color-iron) h s calc(l * .7)));
				}
			}
			&:not(:first-child) {
				margin-top: calc(var(--p)*2);
			}
			> div {
				&:not(:first-child) {
					.username, .time {
						margin-top: var(--p);
					}
					@include viewport(medium) {
						margin-left: calc(var(--p)*2);
						.username, .time {
							margin-top: 0;
						}
					}
				}
				&.post-link {
					a {
						font-weight: 600;
					}
				}
			}
		}
	}
	.username, .time, .avatar {
		transition: scale .2s ease-out;
		display: inline-block;
		position: relative;
		&:focus-visible {
			&::before {
				opacity: 1;
			}
		}
	}
	.avatar {
		&::before {
			background: radial-gradient(
				circle at center left,
				var(--color-light),
				var(--color-middle)
			);
			@include before;
		}
		&:hover {
			@media (prefers-reduced-motion: no-preference) {
				scale: 1.05;
			}
		}
		&:active {
			@media (prefers-reduced-motion: no-preference) {
				scale: .95;
			}
		}
		picture {
			background-color: color-mix(
				in srgb,
				var(--color-iron),
				var(--color-slate)
			);
			@include square(48px);
			@include clip-path-edges(2px);
		}
	}
	.username, .time {
		z-index: 1;
		color: white;
		font-size: .875rem;
		@include font-weight-width(600, 90);
		&::before {
			background-color: light-dark(
				hsl(from var(--color-dark) h s l / .5),
				var(--color-light)
			);
			@include before;
			@include contrast {
				background-color: color-mix(
					in srgb,
					var(--color-iron) 60%,
					var(--color-grey)
				);
			}
		}
		&::after {
			@include contrast {
				content: "";
				display: block;
				z-index: -1;
				background-color: var(--color-primary);
				@include full-offset(1.5px);
				@include clip-path-edges(3px);
			}
		}
		&:focus-visible {
			&::before {
				opacity: 1;
			}
		}
		&:active {
			@media (prefers-reduced-motion: no-preference) {
				scale: .95;
			}
		}
		> * {
			transition: background-color .2s ease-out;
			display: inline-block;
			padding: calc(var(--p)/3*2) var(--p);
			@include clip-path-edges(2px);
		}
	}
	.username {
		margin-right: var(--p);
		span {
			background-color: var(--color-dark);
		}
		&:hover, &:focus {
			span {
				background-color: var(--color-grey);
			}
		}
		&:active {
			span {
				background-color: var(--color-iron);
			}
		}
	}
	.time {
		time {
			background-color: color-mix(
				in srgb,
				var(--color-iron) 70%,
				white
			);
		}
		&:hover, &:focus {
			time {
				background-color: var(--color-grey);
			}
		}
		&:active {
			time {
				background-color: color-mix(
					in srgb,
					var(--color-iron) 90%,
					white
				);
			}
		}
	}
	.reply {
		font-size: 1.125rem;
		line-height: 1.334;
		margin-top: var(--p);
		@include viewport(medium) {
			margin-top: calc(var(--p)/2);
		}
	}
	.mentions-placeholder {
		display: none;
		&:empty {
			~ h3, ~ ul {
				display: none;
			}
		}
	}
}