@use 'partials/shared/utilities' as *;
@use 'partials/shared/mixins' as *;

.posts {
	display: grid;
	grid-gap: calc(var(--p)*2);
	margin-top: calc(var(--p)*2);
	grid-template-columns: repeat(12, 1fr);
	position: relative;
	list-style: none;
	@media (scripting: enabled) {
		grid-template-columns: 1fr;
	}
	@supports (grid-template-rows: masonry) {
		grid-template-rows: masonry;
		@media (scripting: enabled) {
			grid-template-rows: unset;
		}
	}
	&[data-grid="true"] {
		grid-gap: unset;
	}
	&:not([data-grid="true"]) {
		grid-template-columns: repeat(12, 1fr);
		@supports (grid-template-rows: masonry) {
			grid-template-rows: masonry;
		}
	}
}

.post {
	--width: 100%;
	--max-width: 100%;
	--min-width: unset;
	--background-post: hsl(from var(--color-secondary) h s l / .9);
	--background-contrast: var(--color-secondary);

	position: relative;
	width: var(--width);
	max-width: var(--max-width);
	min-width: var(--min-width);
	font-size: 1.125rem;
	grid-column-end: span 12;

	@include contrast(light) {
		--background-outline: var(--color-primary);
	}
	@include contrast(dark) {
		--background-outline: color-mix(
			in srgb,
			var(--color-iron) 5%,
			white
		);
	}

	&[data-orientation="portrait"] {
		@include viewport(medium) {
			.posts:not([data-grid="true"]) & {
				grid-column-end: span 6;
			}
			.posts[data-grid="true"] & {
				--width: calc(50% - var(--p));
			}
		}
	}

	&.post-size-xs {
		@include viewport(medium) {
			.posts:not([data-grid="true"]) & {
				grid-column-end: span 4;
			}
			.posts[data-grid="true"] & {
				--width: calc((100% - (var(--p) * 4)) / 3);
			}
		}
	}
	&.post-size-s {
		@include viewport(medium) {
			.posts:not([data-grid="true"]) & {
				grid-column-end: span 6;
			}
			.posts[data-grid="true"] & {
				--width: calc(50% - var(--p));
			}
		}
	}
	&.post-size-m {
		@include viewport(medium) {
			.posts:not([data-grid="true"]) & {
				grid-column-end: span 8;
			}
			.posts[data-grid="true"] & {
				--width: calc((100% - var(--p)) / 3 * 2);
			}
		}
	}

	.post-inner {
		overflow: hidden;
		background-color: var(--background-post);
		@include viewport($iphone-max) {
			@include clip-path-edges(2px);
		}
		@include viewport($iphone-max) {
			@include contrast(both) {
				overflow: unset;
				position: relative;
				clip-path: unset;
				border-radius: unset;
				background-color: unset;
				&::before, &::after {
					content: "";
					display: block;
					position: absolute;
				}
				&::before {
					z-index: -2;
					@include full-offset(1.5px);
					@include clip-path-edges(3px);
				}
				&::after {
					z-index: -1;
					@include full-offset(0);
					@include clip-path-edges(2px);
				}
			}
		}
		&::before {
			background-color: var(--background-outline);
		}
		&::after {
			background-color: var(--background-contrast);
		}
	}
	time {
		display: block;
		white-space: nowrap;
		&.time-default {
			position: relative;
			color: white;
			background-color: hsl(from var(--color-iron) h s calc(l * .95) / .75);
			text-transform: uppercase;
			line-height: 1.15;
			@include font-weight-width(600, 90);
			@include button;
			@include contrast(both) {
				background-color: unset !important;
				@include clip-path(false) {
					border-radius: unset;
				}
				@include clip-path {
					clip-path: unset;
				}
				&::before, &::after {
					content: "";
					display: block;
				}
				&::before {
					position: absolute;
					z-index: -2;
					top: calc(var(--p)/-8);
					left: calc(var(--p)/-8);
					width: calc(100% + var(--p)/4);
					height: calc(100% + var(--p)/4);
					background-color: var(--color-primary);
					@include clip-path(false) {
						@include border-radius(calc(var(--p)/4));
					}
					@include clip-path {
						@include button-shape(1.3125, 6%);
					}
				}
				&::after {
					z-index: -1;
					background-color: var(--color-iron);
					@include full-offset(0);
					@include clip-path(false) {
						@include border-radius(calc(var(--p)/2));
					}
					@include clip-path {
						@include button-shape;
					}
				}
			}
		}
	}
	.inline-header {
		padding: calc(var(--p)*2);
		@supports (container-type: inline-size) {
			container-type: inline-size;
			container-name: header;
		}
		.post-header-content {
			display: flex;
			flex-wrap: wrap;
			@include container(header, medium, $iphone-max) {
				flex-wrap: nowrap;
				align-items: flex-start;
				justify-content: space-between;
			}
		}
		h2 {
			order: 2;
			width: 100%;
			@include container(header, medium, $iphone-max) {
				order: 1;
				width: unset;
			}
		}
		time {
			order: 1;
			margin-bottom: calc(var(--p)*1.25);
			@include container(header, medium, $iphone-max) {
				order: 2;
				margin-bottom: 0;
			}
		}
	}
}

.post-text, .post-color {
	p, figcaption, ul, ol {
		a:not([class]) {
			transition: all .1s ease-out;
			position: relative;
			@include gradient-text(
				var(--color-dark),
				var(--color-grey),
				hsl(from var(--color-dark) h s l / .5)
			);
			&:hover, &:focus {
				@include gradient-text(
					var(--color-middle),
					var(--color-dark),
					hsl(from var(--color-middle) h s l / .5)
				);
			}
			&:active {
				@include theme(light) {
					@include gradient-text(
						hsl(from var(--color-iron) h s calc(l * .95)),
						hsl(from var(--color-iron) h s calc(l * .35)),
						hsl(from var(--color-iron) h s calc(l * .95) / .5)
					);
				}
				@include theme(dark) {
					@include gradient-text(
						var(--color-grey),
						color-mix(
							in srgb,
							var(--color-iron) 80%,
							white
						),
						hsl(from var(--color-grey) h s l / .5)
					);
				}
			}
		}
	}
}

.post-text {
	h1, h2, h3, h4, h5, h6 {
		@include font-weight-width(800, 120);
	}
	h1 {
		font-size: 2.25rem;
	}
	h2 {
		font-size: 1.625rem;
	}
	h3 {
		font-size: 1.375rem;
	}
	h1, h2, h3 {
		&[id] {
			display: flex;
			align-items: flex-start;
			align-content: flex-start;
			justify-content: space-between;
		}
	}
	.direct-link {
		opacity: .3;
		margin-left: var(--p);
		color: var(--color-primary);
		@include font-weight-width(800, 100);
		&:hover, &:focus {
			opacity: 1;
		}
		&:after {
			content: "#";
		}
	}

	hr {
		width: 100px;
		padding: 0;
		margin: calc(var(--p)*3) auto;
		border: 0;
		height: 2px;
		background-color: hsl(from var(--color-primary) h s l / .2);
	}

	p:not(.codepen), blockquote, pre, ul, ol, figure {
		&:not(:last-child) {
			margin-bottom: .75em;
		}
	}
	h2, h3, h4, h5, h6 {
		&:not(:last-child) {
			margin-bottom: .5em;
		}
		&:not(:first-child) {
			padding-top: .75em;
		}
	}
	pre, figure {
		&:not(:last-child) {
			margin-bottom: 1.5em;
		}
		&:not(:first-child) {
			margin-top: 1.5em;
		}
	}

	a:not([class]), pre, button {
		&:focus-visible {
			@include theme(light) {
				@include focus-shadow(hsl(from var(--color-dark) h s l / .5));
			}
			@include theme(dark) {
				@include focus-shadow(var(--color-dark));
			}
		}
	}

	p, ol, ul {
		line-height: 1.334;
		font-weight: 400;
	}
	p, figcaption, ul, ol {
		a {
			text-decoration: underline;
			text-decoration-thickness: 1.5px;
			text-underline-offset: 2px;
		}
	}
	p {
		> code {
			word-break: break-all;
			overflow-wrap: break-word;
			border-radius: 2px;
			padding-inline: 2px;
			background-color: hsl(from var(--color-primary) h s l / .1);
			font-size: 1.0625rem;
		}
	}
	strong {
		font-weight: 800;
	}
	em {
		font-style: italic;
	}
	pre, p > code {
		font-family: var(--font-mono);
		font-weight: 400;
	}
	p > code {
		line-height: 1.412;
	}
	pre {
		padding: calc(var(--p)*1.5) calc(var(--p)*2);
		color: white;
		font-size: 1rem;
		line-height: 1.5;
		@include clip-path-edges(2px);
		@include theme(light) {
			background-color: var(--color-iron);
		}
		@include theme(dark) {
			background-color: hsl(from var(--color-iron) h s calc(l * .55));
		}
	}
	blockquote {
		quotes: auto;
		position: relative;
		font-size: 1.25rem;
		line-height: 1.334;
		@include font-weight-width(450, 110);
		@include viewport(medium) {
			padding: 0 calc(var(--p)*2);
		}
		&::before, &::after {
			opacity: .2;
			display: block;
			position: absolute;
			font-size: 5rem;
			line-height: 1;
		}
		&::before {
			content: open-quote;
			content: open-quote / "";
			top: calc(var(--p)*-1.5);
			left: calc(var(--p)*-1.5);
			@include viewport(medium) {
				left: calc(var(--p)*-.5);
			}
		}
		&::after {
			content: close-quote;
			content: close-quote / "";
			visibility: hidden;
			bottom: calc(var(--p)*-1.5);
			right: calc(var(--p)*-1.5);
			@include viewport(medium) {
				right: calc(var(--p)*-.5);
			}
		}
		code {
			font-size: inherit;
			line-height: inherit;
		}
	}
	ul, ol {
		padding-left: calc(var(--p)*2);
		ul, ol {
			padding-top: calc(var(--p)/2);
		}
		li {
			&:not(:last-child) {
				padding-bottom: calc(var(--p)/2);
			}
		}
	}
	ul {
		list-style-type: circle;
	}
	ol:has(> :nth-child(10)) {
		padding-left: calc(var(--p)*3);
	}
	.task-list {
		list-style: none;
		padding: 0;
		li:not(:last-child) {
			padding-bottom: calc(var(--p)*.75);
		}
	}
	.highlight {
		position: relative;
		padding: calc(var(--p)*1.5) calc(var(--p)*2);
		margin-bottom: calc(var(--p)*2);
		border-radius: 3px;
		background-color: hsl(from var(--color-primary) h s l / .1);
		> * {
			font-weight: 450;
			code {
				font-weight: 700;
			}
		}
	}

	.expand {
		position: relative;
		transition: scale .2s ease-out;
		@include expand-hover;
		&::before {
			@include before;
			@include theme(light) {
				background: radial-gradient(
					circle at center left,
					hsl(from var(--color-middle) h s l / .5),
					hsl(from var(--color-dark) h s l / .5)
				);
			}
			@include theme(dark) {
				background: radial-gradient(
					circle at center left,
					var(--color-middle),
					var(--color-dark)
				);
			}
		}
		&:focus-visible {
			box-shadow: none;
			&::before {
				opacity: 1;
			}
		}
		&:active {
			@media (prefers-reduced-motion: no-preference) {
				scale: .98;
			}
		}
	}
	img, iframe {
		@include clip-path-edges(2px);
	}
	iframe {
		display: block;
		width: 100%;
	}

	.codepen {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		padding: var(--p);
		height: var(--height);
		line-height: 1.4;
		@include font-weight-width(700, 115);
		@include clip-path-edges(2px);
		@include theme(light) {
			background-color: hsl(from var(--color-primary) h s l / .1);
		}
		@include theme(dark) {
			background-color: hsl(from var(--color-iron) h s calc(l * .45) / .5);
		}
		span {
			display: block;
			text-align: center;
			max-width: 500px;
		}
	}

	[class*="row"] {
		margin-bottom: calc(var(--p)*2);
		> *:not(:last-child) {
			margin-bottom: 0;
		}
	}
	.row-double, .row-triple, .row-quad, .row-quint {
		display: grid;
		grid-gap: calc(var(--p)*2);
		grid-template-columns: 1fr;
		@include viewport($medium) {
			align-items: flex-start;
		}
		figure + figure {
			margin-top: 0;
		}
	}
	@include viewport($medium) {
		.row-double {
			 grid-template-columns: repeat(2, 1fr);
		}
		.row-triple {
			 grid-template-columns: repeat(3, 1fr);
		}
		.row-quad {
			 grid-template-columns: repeat(4, 1fr);
		}
		.row-quint {
			 grid-template-columns: repeat(5, 1fr);
		}
	}

	.no-figcaption {
		figcaption {
			display: none;
		}
	}

	figcaption, p.caption {
		font-size: .875rem;
		line-height: 1.286;
		text-align: center;
		&:first-child, &:first-of-type:not(:first-child) {
			margin-bottom: calc(var(--p)/2);
		}
		&:last-child, &:last-of-type:not(:last-child) {
			margin-top: calc(var(--p)/2);
		}
		+ pre, + figure {
			margin-top: 0;
		}
	}
	p.caption:not(:last-child) {
		margin-bottom: calc(var(--p)/2);
	}
}

.button-social {
	line-height: 1.125;
	> span {
		display: flex;
		align-items: flex-start;
		align-content: flex-start;
		&::before {
			content: "";
			display: block;
			transition: all .2s ease-out;
			position: relative;
			z-index: 1;
			margin-right: calc(var(--p)/2);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: top left;
			@include square(18px);
		}
	}
}

.button-bluesky {
	--background: radial-gradient(
		circle at center left,
		var(--color-bluesky),
		var(--color-bluesky-dark),
		hsl(from var(--color-bluesky-dark) h s calc(l*.5))
	);
	> span {
		&::before {
			background-image: url(/static/images/svg/social/bluesky.svg);
		}
	}
}

.button-threads {
	--background: radial-gradient(
		circle at center left,
		var(--color-instagram-start),
		var(--color-instagram-middle),
		var(--color-instagram-end)
	);
	> span {
		&::before {
			background-image: url(/static/images/svg/social/threads.svg);
		}
	}
}

.button-mastodon {
	--background: radial-gradient(
		circle at center left,
		var(--color-mastodon-light),
		var(--color-mastodon),
		var(--color-mastodon-dark),
		var(--color-mastodon-dark)
	);
	--outline: radial-gradient(
		circle at center left,
		color-mix(
			in srgb,
			var(--color-mastodon),
			white
		),
		var(--color-mastodon-light)
	);
	> span {
		&::before {
			background-image: url(/static/images/svg/social/mastodon.svg);
		}
	}
}