.post-header {
	padding: calc(var(--p) * 2) calc(var(--p) * 2) var(--p);
	@supports (container-type: inline-size) {
		container-type: inline-size;
		container-name: header;
	}
	.post-header-content {
		display: flex;
		flex-wrap: nowrap;
		align-items: flex-start;
		@include container(header, mobile, $container-mobile) {
			justify-content: flex-end;
		}
	}
}

.post-content {
	@include font-weight-width(450, 110);
	padding: 0 calc(var(--p) * 2);
	font-size: 1.25rem;
	@include theme(light, 2) {
		@include mix(
			color-mix(
				in srgb,
				var(--color-iron) 90%,
				white
			),
			mix($iron, white, 90%)
		);
		color: var(--color-mix);
	}
	@include theme(dark, 2) {
		color: gHSL(white, 1, .8);
	}
	a {
		text-decoration: underline;
		text-underline-offset: 2px;
	}
}

.post-footer {
	display: flex;
	flex-flow: row wrap;
	&:not(:empty) {
		margin-top: calc(var(--p)/2);
		padding: 0 calc(var(--p)*2) calc(var(--p)*2);
	}
	.button-social {
		margin-top: var(--p);
		&:not(:last-child) {
			margin-right: var(--p);
		}
	}
}

.media-attachment {
	display: block;
	position: relative;
	margin-top: 1em;
	+ .media-attachment {
		margin-top: calc(var(--p)*2);
	}
	a {
		transition: scale .2s ease-out;
		&:before {
			@include before;
			background: radial-gradient(
				circle at center left,
				var(--color-rose),
				var(--color-mauve)
			);
		}
		&:focus-visible {
			&:before {
				opacity: 1;
			}
		}
		&:active {
			@media (prefers-reduced-motion: no-preference) {
				scale: .98;
			}
		}
	}
	img {
		@include clip-path-edges(2px);
	}
}

&.post-mastodon {
	&.post-size-xs {
		@include viewport(mobile) {
			min-width: 290px;
		}
	}
	.post-header {
		time {
			@include mix(
				color-mix(
					in srgb,
					hsl(var(--color-mastodon-h) calc(var(--color-mastodon-s) * .8) var(--color-mastodon-l) / 1) 40%,
					gHSL(slate, .8)
				),
				mix($mastodon, $slate)
			);
			background-color: var(--color-mix);
			&:after {
				@include contrast(both, 2) {
					background-color: var(--color-mix);
				}
			}
		}
	}
	.post-content {
		p {
			line-height: 1.2;
			+ p {
				margin-top: .75em;
			}
		}
		a:not(.expand) {
			@include theme(light, 2) {
				color: var(--color-mastodon);
			}
			@include theme(dark, 2) {
				@include mix(
					color-mix(
						in srgb,
						gHSL(mastodon, 1.1) 90%,
						white
					),
					mix($iron, white, 70%)
				);
				color: var(--color-mix);
			}
			&:hover, &:focus {
				@include theme(light, 2) {
					color: var(--color-mastodon-light);
				}
				@include theme(dark, 2) {
					@include mix(
						color-mix(
							in srgb,
							gHSL(mastodon, 1.2) 90%,
							white
						),
						mix($mastodon, white, 30%)
					);
					color: var(--color-mix);
				}
			}
			&:focus-visible {
				@include theme(light, 2) {
					@include mix(
						color-mix(
							in srgb,
							gHSL(mastodon, 1.15, .75) 90%,
							gHSL(white, 1, .75)
						),
						rgba(mix($mastodon, white, 30%), .75),
						mix-focus
					);
				}
				@include theme(dark, 2) {
					@include mix(
						color-mix(
							in srgb,
							gHSL(mastodon, 1.15, .9) 90%,
							gHSL(white, 1, .9)
						),
						rgba(mix($mastodon, white, 30%), .9),
						mix-focus
					);
				}
				@include focus-shadow(var(--color-mix-focus));
			}
			&:active {
				@include theme(light, 2) {
					color: var(--color-mastodon-dark);
				}
				@include theme(dark, 2) {
					color: var(--color-mastodon-light);
				}
			}
		}
	}
	.media-attachment a:before {
		@include mix(
			color-mix(
				in srgb,
				var(--color-mastodon) 40%,
				white
			),
			mix($mastodon, white, 40%)
		);
		background: radial-gradient(
			circle at center left,
			var(--color-mix),
			var(--color-mastodon-light)
		);
	}
}