.post-header {
	&.inline-header {
		padding-bottom: var(--p);
	}
	h2 {
		@include font-weight-width(800, 120);
		order: 2;
		width: 100%;
		font-size: 2rem;
		line-height: 1.1;
		@include viewport(mobile) {
			order: 1;
			width: unset;
			font-size: 2.25rem;
		}
		a {
			span {
				transition: all .1s ease-out;
				text-decoration: underline;
				text-underline-offset: 8px;
				text-decoration-color: gHSL(white, 1, 0);
				@include contrast(both, 2) {
					text-underline-offset: 4px;
					text-decoration-color: unset;
				}
			}
			&:hover, &:focus, &:active {
				span {
					text-underline-offset: 4px;
				}

			}
			&:hover, &:focus {
				span {
					text-decoration-color: color-mix(
						in hsl,
						hsl(var(--color-mauve-h) calc(var(--color-mauve-s) * .9) var(--color-mauve-l) / 1) 30%,
						hsl(var(--color-rose-h) calc(var(--color-rose-s) * .9) var(--color-rose-l) / 1)
					);
				}
			}
			&:focus {
				@include contrast(both, 2) {
					@include focus-shadow(gHSL(mauve, 1, .5));
				}
			}
			&:active {
				span {
					@include theme(light, 2) {
						text-decoration-color: gHSL(iron, .95);
					}
					@include theme(dark, 2) {
						text-decoration-color: var(--color-slate);
					}
				}
			}
		}
	}
	time {
		@include container(header, mobile, $container-mobile) {
			margin-left: var(--p);
		}
	}
}

&:not(.post-feature):not(.post-archive) {
	.post-header {
		h2 {
			a {
				span {
					@include gradient-text(
						var(--color-mauve),
						var(--color-slate),
						gHSL(mauve, 1, .5)
					);
				}
				&:hover, &:focus {
					span {
						@include gradient-text(
							var(--color-rose),
							var(--color-mauve),
							gHSL(rose, 1, .5)
						);
					}
				}
				&:active {
					span {
						@include theme(light, 2) {
							@include gradient-text(
								gHSL(iron, .95),
								gHSL(iron, .35),
								gHSL(iron, .95, .5)
							);
						}
						@include theme(dark, 2) {
							@include gradient-text(
								var(--color-slate),
								color-mix(
									in srgb,
									var(--color-iron) 80%,
									var(--color-white)
								),
								gHSL(slate, 1, .5)
							);
						}
					}
				}
			}
		}
		time {
			background-color: var(--color-slate);
			&:after {
				@include contrast(both, 2) {
					background-color: var(--color-slate);
				}
			}
		}
	}
}

.post-footer {
	display: flex;
	flex-flow: row wrap;
	&:not(:empty) {
		margin-top: calc(var(--p)*-1.5);
		padding: 0 calc(var(--p)*2) calc(var(--p)*2);
	}
	.button {
		margin-top: var(--p);
		line-height: 1.334;
		&:not(:last-child) {
			margin-right: var(--p);
		}
	}
}

.post-content {
	&:empty + .post-footer {
		margin-top: 0;
	}

	&:not(:empty) {
		padding: 0 calc(var(--p)*2) calc(var(--p)*2);
	}
}

&.post-feature {
	.post-header {
		h2 {
			a {
				span {
					@include gradient-text(
						var(--color-slate),
						var(--color-mauve),
						gHSL(slate, 1, .5)
					);
				}
				&:after {
					content: "↗";
					position: relative;
					top: 2px;
					margin-left: calc(var(--p)/3*2);
					line-height: 1;
					color: color-mix(
						in hsl,
						hsl(var(--color-slate-h) calc(var(--color-slate-s) * .2) var(--color-slate-l) / 1),
						hsl(var(--color-mauve-h) calc(var(--color-mauve-s) * .2) var(--color-mauve-l) / 1)
					);
				}
				&:hover, &:focus {
					span {
						@include gradient-text(
							var(--color-mauve),
							var(--color-rose),
							gHSL(mauve, 1, .5)
						);
					}
					&:after {
						color: color-mix(
							in hsl,
							hsl(var(--color-mauve-h) calc(var(--color-mauve-s) * .9) var(--color-mauve-l) / 1) 30%,
							hsl(var(--color-rose-h) calc(var(--color-rose-s) * .9) var(--color-rose-l) / 1)
						);
					}
				}
				&:active {
					span {
						@include theme(light, 2) {
							@include gradient-text(
								gHSL(iron, .35),
								gHSL(iron, .95),
								gHSL(iron, .35, .5)
							);
						}
						@include theme(dark, 2) {
							@include gradient-text(
								color-mix(
									in srgb,
									var(--color-iron) 80%,
									var(--color-white)
								),
								var(--color-slate),
								color-mix(
									in srgb,
									gHSL(iron, 1, .5) 80%,
									gHSL(white, 1, .5)
								)
							);
						}
					}
					&:after {
						@include theme(light, 2) {
							color: gHSL(iron, .95);
						}
						@include theme(dark, 2) {
							color: var(--color-slate);
						}
					}
				}
			}
		}
		time {
			background-color: var(--color-mauve);
			&:after {
				@include contrast(both, 2) {
					background-color: var(--color-mauve);
				}
			}
		}
	}
	p, figcaption, ul, ol {
		a {
			@include gradient-text(
				var(--color-slate),
				var(--color-mauve),
				gHSL(slate, 1, .5)
			);
			@include theme(light, 2) {
				filter: unset;
			}
			@include theme(dark, 2) {
				filter: brightness(1.3);
			}
			&:hover, &:focus {
				@include gradient-text(
					var(--color-mauve),
					var(--color-rose),
					gHSL(mauve, 1, .5)
				);
			}
			&:active {
				@include theme(light, 2) {
					@include gradient-text(
						gHSL(iron, .35),
						gHSL(iron, .95),
						gHSL(iron, .35, .5)
					);
				}
				@include theme(dark, 2) {
					@include gradient-text(
						color-mix(
							in srgb,
							var(--color-iron) 80%,
							var(--color-white)
						),
						var(--color-slate),
						color-mix(
							in srgb,
							gHSL(iron, 1, .5) 80%,
							gHSL(white, 1, .5)
						)
					);
				}
			}
		}
	}
}

&.post-archive {
	.post-header {
		h2 {
			a {
				@include theme(light, 2) {
					color: color-mix(
						in srgb,
						var(--color-iron) 70%,
						var(--color-white)
					);
				}
				@include theme(dark, 2) {
					color: color-mix(
						in srgb,
						var(--color-iron),
						var(--color-white)
					);
				}
				&:hover, &:focus {
					@include theme(light, 2) {
						color: color-mix(
							in srgb,
							var(--color-iron),
							var(--color-white)
						);
					}
					@include theme(dark, 2) {
						color: gHSL(white, 1, .7);
					}
					span {
						@include theme(light, 2) {
							text-decoration-color: color-mix(
								in srgb,
								var(--color-iron),
								var(--color-white)
							);
						}
						@include theme(dark, 2) {
							text-decoration-color: gHSL(white, 1, .7);
						}
					}
				}
				&:active {
					@include theme(light, 2) {
						color: color-mix(
							in srgb,
							var(--color-iron) 90%,
							var(--color-white)
						);
					}
					@include theme(dark, 2) {
						color: color-mix(
							in srgb,
							var(--color-iron) 70%,
							var(--color-white)
						);
					}
					span {
						@include theme(light, 2) {
							text-decoration-color: color-mix(
								in srgb,
								var(--color-iron) 90%,
								var(--color-white)
							);
						}
						@include theme(dark, 2) {
							text-decoration-color: color-mix(
								in srgb,
								var(--color-iron) 70%,
								var(--color-white)
							);
						}
					}
				}
			}
		}
		time {
			background-color: color-mix(
				in srgb,
				var(--color-iron) 60%,
				var(--color-white)
			);
			&:after {
				@include contrast(both, 2) {
					background-color: color-mix(
						in srgb,
						var(--color-iron) 60%,
						var(--color-white)
					);
				}
			}
		}
	}
	.post-footer {
		.button {
			&:before {
				@include theme(light, 2) {
					background: radial-gradient(
						circle at center left,
						color-mix(
							in srgb,
							var(--color-iron) 70%,
							var(--color-white)
						),
						color-mix(
							in srgb,
							var(--color-iron) 80%,
							var(--color-white)
						)
					);
				}

				@include theme(dark, 2) {
					background: radial-gradient(
						circle at center left,
						color-mix(
							in srgb,
							var(--color-iron) 10%,
							var(--color-white)
						),
						color-mix(
							in srgb,
							var(--color-iron) 30%,
							var(--color-white)
						)
					);
				}
			}
			> span {
				background: color-mix(
					in srgb,
					var(--color-iron) 70%,
					var(--color-white)
				);
			}
			&:hover, &:focus {
				> span {
					background: color-mix(
						in srgb,
						var(--color-iron),
						var(--color-white)
					);
				}
			}
		}
	}
}