.post-header {
	&.inline-header {
		padding-bottom: var(--p);
	}
	h2 {
		@include font-weight-width(800, 120);
		order: 2;
		width: 100%;
		font-size: 2rem;
		line-height: 1.1;
		@include viewport(mobile) {
			order: 1;
			width: unset;
			font-size: 2.25rem;
		}
		a {
			span {
				transition: .2s ease-out;
				text-decoration: underline;
				text-underline-offset: 8px;
				text-decoration-color: hsla(var(--color-white-hsl), 0);
				@include contrast(both, 2) {
					text-underline-offset: 4px;
					text-decoration-color: unset;
				}
			}
			&:hover, &:focus, &:active {
				span {
					text-underline-offset: 4px;
				}

			}
			&:hover, &:focus {
				span {
					text-decoration-color: var(--color-mauve-rose);
				}
			}
			&:focus {
				@include contrast(both, 2) {
					@include focus-shadow(hsla(var(--color-mauve-hsl), .5));
				}
			}
			&:active {
				span {
					@include theme(light, 2) {
						text-decoration-color: var(--color-iron-1);
					}
					@include theme(dark, 2) {
						text-decoration-color: var(--color-slate);
					}
				}
			}
		}
	}
	time {
		@include container(header, mobile, $container-mobile) {
			margin-left: var(--p);
		}
	}
}

&:not(.post-feature):not(.post-archive) {
	.post-header {
		h2 {
			a {
				span {
					@include gradient-text(var(--color-mauve-hsl), var(--color-slate-hsl), true);
				}
				&:hover, &:focus {
					span {
						@include gradient-text(var(--color-rose-hsl), var(--color-mauve-hsl), true);
					}
				}
				&:active {
					span {
						@include theme(light, 2) {
							@include gradient-text(var(--color-iron-1-hsl), var(--color-iron-12-hsl), true);
						}
						@include theme(dark, 2) {
							@include gradient-text(var(--color-slate-hsl), var(--color-iron-white-80-hsl), true);
						}
					}
				}
			}
		}
		time {
			background-color: var(--color-slate);
			&:after {
				@include contrast(both, 2) {
					background-color: var(--color-slate);
				}
			}
		}
	}
}

.post-footer {
	display: flex;
	flex-flow: row wrap;
	&:not(:empty) {
		margin-top: calc(var(--p)*-1.5);
		padding: 0 calc(var(--p)*2) calc(var(--p)*2);
	}
	.button {
		margin-top: var(--p);
		line-height: 1.334;
		&:not(:last-child) {
			margin-right: var(--p);
		}
	}
}

.post-content {
	&:empty + .post-footer {
		margin-top: 0;
	}

	&:not(:empty) {
		padding: 0 calc(var(--p)*2) calc(var(--p)*2);
	}
}

&.post-feature {
	.post-header {
		h2 {
			a {
				span {
					@include gradient-text(var(--color-slate-hsl), var(--color-mauve-hsl), true);
				}
				&:after {
					content: "↗";
					position: relative;
					top: 2px;
					margin-left: calc(var(--p)/3*2);
					line-height: 1;
					color: var(--color-slate-mauve);
				}
				&:hover, &:focus {
					span {
						@include gradient-text(var(--color-mauve-hsl), var(--color-rose-hsl), true);
					}
					&:after {
						color: var(--color-mauve-rose);
					}
				}
				&:active {
					span {
						@include theme(light, 2) {
							@include gradient-text(var(--color-iron-12-hsl), var(--color-iron-1-hsl), true);
						}
						@include theme(dark, 2) {
							@include gradient-text(var(--color-iron-white-80-hsl), var(--color-slate-hsl), true);
						}
					}
					&:after {
						@include theme(light, 2) {
							color: var(--color-iron-1);
						}
						@include theme(dark, 2) {
							color: var(--color-slate);
						}
					}
				}
			}
		}
		time {
			background-color: var(--color-mauve);
			&:after {
				@include contrast(both, 2) {
					background-color: var(--color-mauve);
				}
			}
		}
	}
}

&.post-archive {
	.post-header {
		h2 {
			a {
				@include theme(light, 2) {
					color: var(--color-iron-white-70);
				}
				@include theme(dark, 2) {
					color: var(--color-iron-white);
				}
				&:hover, &:focus {
					@include theme(light, 2) {
						color: var(--color-iron-white);
					}
					@include theme(dark, 2) {
						color: hsla(var(--color-white-hsl), .7);
					}
					span {
						@include theme(light, 2) {
							text-decoration-color: var(--color-iron-white);
						}
						@include theme(dark, 2) {
							text-decoration-color: hsla(var(--color-white-hsl), .7);
						}
					}
				}
				&:active {
					@include theme(light, 2) {
						color: var(--color-iron-white-90);
					}
					@include theme(dark, 2) {
						color: var(--color-iron-white-70);
					}
					span {
						@include theme(light, 2) {
							text-decoration-color: var(--color-iron-white-90);
						}
						@include theme(dark, 2) {
							text-decoration-color: var(--color-iron-white-70);
						}
					}
				}
			}
		}
		time {
			background-color: var(--color-iron-white-60);
			&:after {
				@include contrast(both, 2) {
					background-color: var(--color-iron-white-60);
				}
			}
		}
	}
	.post-footer {
		.button {
			&:before {
				@include theme(light, 2) {
					background: radial-gradient(
						circle at center left,
						var(--color-iron-white-70),
						var(--color-iron-white-80)
					);
				}
				@include theme(dark, 2) {
					background: radial-gradient(
						circle at center left,
						var(--color-iron-white-10),
						var(--color-iron-white-30)
					);
				}
			}
			> span {
				background: var(--color-iron-white-70);
			}
			&:hover, &:focus {
				> span {
					background: var(--color-iron-white);
				}
			}
		}
	}
}