footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	text-align: center;
	padding: $p*1.5 $p*1.5 calc(#{$p*1.5} + env(safe-area-inset-bottom));
	div {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	h2 {
		&:after {
			content: " ";
		}
	}
	a {
		will-change: transform;
		transition: .1s ease-out;
		display: inline-block;
		color: white;
		border-radius: $p/6;
		padding: $p/3 $p*.5;
		&.v1 {
			background: #d34836;
			&:hover, &:focus {
				color: #d34836;
			}
		}
		&.v2 {
			background: #737375;
			&:hover, &:focus {
				color: #737375;
			}
		}
		&.v3 {
			background: darken($pink, 10%);
			&:hover, &:focus {
				color: darken($pink, 10%);
			}
		}
		&.v4 {
			background: $mauve;
			&:hover, &:focus {
				color: $mauve;
			}
		}
		&:hover, &:focus {
			background: #f1f1f1;
		}
		&:hover {
			transform: scale(1.1);
		}
		&:focus {
			@include focus-round;
		}
		&:active {
			transform: scale(0.9);
			background: $iron;
			color: white!important;
		}
	}
	@media (prefers-color-scheme: dark) {
		a {
			&:hover, &:focus {
				background: white;
			}
			&:active {
				background: darken($iron, 10%);
				color: white;
			}
		}
	}
}