.bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	text-align: center;
	padding: calc(var(--p)*1.5) calc(var(--p)*1.5) calc((var(--p)*1.5) + env(safe-area-inset-bottom));
	div {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	h2 {
		&:after {
			content: " ";
		}
	}
	a {
		will-change: transform, background-color, color;
		transition: .1s ease-out;
		display: inline-block;
		background-color: var(--color-iron);
		color: white;
		border-radius: 2px;
		padding: calc(var(--p)/3) calc(var(--p)/2);
		&:focus {
			@include focus-round;
		}
		&:hover, &:focus {
			background-color: hsla(var(--color-iron-hsl), .7);
		}
		@include dark {
			background-color: hsla(var(--color-white-hsl), .8);
			color: var(--color-iron);
			&:hover, &:focus {
				background-color: white;
			}
		}
		&:active {
			transform: scale(0.95);
			background-color: var(--color-pink);
		}
	}
}