footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	text-align: center;
	padding: $p*1.5 $p*1.5 calc(#{$p*1.5} + env(safe-area-inset-bottom));
	div {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	h2 {
		&:after {
			content: " ";
		}
	}
	a {
		will-change: transform, background-color, color;
		transition: .1s ease-out;
		display: inline-block;
		background-color: $iron;
		color: white;
		border-radius: $p/6;
		padding: $p/3 $p*.5;
		&:hover {
			transform: scale(1.05);
		}
		&:focus {
			@include focus-round;
		}
		&:hover, &:focus {
			background: #f1f1f1;
			color: $iron;
		}
		&:active {
			transform: scale(0.95);
			background-color: $pink;
			color: $iron;
		}
		@media (prefers-color-scheme: dark) {
			background-color: rgba(white, .8);
			color: $iron;
			&:active {
				background-color: darken($iron, 5%);
				color: white;
			}
		}
	}
}