@use 'sass:math';

.top {
	display: flex;
	align-items: center;
	align-content: center;
	position: fixed;
	top: 0;
	right: 0;
	padding: $p;
	padding-right: calc(#{$p} + env(safe-area-inset-left));
	@media only screen and (min-width: 1000px) {
		padding: $p*2;
	}
	@include max {
		padding-right: max(#{$p}, env(safe-area-inset-left));
	}
	z-index: 10;
	.memoji {
		will-change: opacity;
		display: block;
		&, img {
			width: $p*4;
			height: auto;
		}
		&-hm {
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	span {
		@include blur-all(5px, $message, .9, .8);
		will-change: opacity, transform;
		transition: .3s ease-out;
		transform: translateY(100%);
		opacity: 0;
		order: 1;
		display: inline-block;
		padding: $p*.75 $p*1.5;
		margin-right: $p;
		color: darken($iron, 10%);
		background-color: rgba($message, .9);
		border-radius: 2em;
		@include dark {
			@include blur-bg(darken($iron, 10%), .9, .8);
			color: white;
		}
	}
	.message {
		.no-js & {
			opacity: 1;
			transform: none;
		}
	}
	.go-home {
		position: absolute;
		right: $p*5;
		z-index: 2;
		@media only screen and (min-width: 1000px) {
			right: $p*6;
		}
	}
	.logo {
		position: relative;
		order: 2;
		display: block;
		&:focus {
			@include focus-round;
			.memoji {
				&-default {
					opacity: 0;
				}
				&-hm {
					opacity: 1;
				}
			}
		}
		&:hover, &:focus, &:active {
			~ .go-home {
				transform: none;
				opacity: 1;
			}
			~ .message {
				transform: translateY(-100%) translateY(-5px);
				opacity: 0.3;
			}
		}
	}

	&.active {
		.message {
			transform: none;
			opacity: 1;
		}
	}
}