<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<meta name="format-detection" content="telephone=no">

	{% if (hidden == true) or ((key == "home") and (pagination.pageNumber != 0)) %}
		<meta name="robots" content="noindex,nofollow">
	{% endif %}

	<link rel="canonical" href="{{site.url}}{{page.url}}">
	<link rel="alternate" type="application/rss+xml" title="RSS" href="/posts/feed.xml">
	
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="shortcut icon" type="image/svg+xml" href="/favicon.svg">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
	<link rel="manifest" href="/manifest.webmanifest">

	{% if theme %}
		<meta name="theme-color" content="{{theme}}">
	{% else %}
		<meta name="theme-color" content="#fcf1ef">
	{% endif %}
	<meta name="application-name" content="{{site.author}}">
	<meta name="description" content="{{description}}">
	<meta name="msapplication-config" content="/browserconfig.xml">

	{% if theme %}
		<meta name="theme-color" content="{{theme}}">
	{% else %}
		<meta name="theme-color" content="#fcf1ef">
	{% endif %}

	<title>{{site.author}} · {{title}}</title>
	<meta property="og:title" content="{{title}}">

	<meta property="og:description" content="{{description}}">
	<meta property="og:site_name" content="{{site.author}}">
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="{{site.url}}{{page.url}}">
	{% if og == true %}
		<meta property="og:image" content="{{site.url}}/static/images/og/{{key}}.jpg">
	{% elseif og %}
		<meta property="og:image" content="{{site.url}}/static/images/og/{{og}}.jpg">
	{% else %}
		<meta property="og:image" content="{{site.url}}/static/images/og/default.jpg">
	{% endif %}
	<meta property="og:image:type" content="image/jpg">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
	
	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@gabriewee">
	<meta name="twitter:creator" content="@gabriewee">
	<meta name="twitter:description" content="{{description}}">
	{% if og == true %}
		<meta property="twitter:image" content="{{site.url}}/static/images/og/{{key}}.jpg">
	{% elseif og %}
		<meta property="twitter:image" content="{{site.url}}/static/images/og/{{og}}.jpg">
	{% else %}
		<meta property="twitter:image" content="{{site.url}}/static/images/og/default.jpg">
	{% endif %}

	<link href="https://github.com/gabriellewee" rel="me">
	<link rel="webmention" href="https://webmention.io/gabriellew.ee/webmention" />
	<link rel="pingback" href="https://webmention.io/gabriellew.ee/xmlrpc" />

	<meta property="fb:app_id" content="1291587600924107">
	<meta property="fb:admins" content="504790226">

	<meta property="article:author" content="{{site.author}}">

	<meta name="generator" content="{{eleventy.generator}}">

	<link rel="preload" as="font" href="{{'/static/fonts/mona-sans.woff2'|url}}" crossorigin>
	<link rel="preload" as="style" href="{{'/static/css/fonts.css'|url}}">

	<link rel="stylesheet" href="{{'/static/css/fonts.css'|url}}">
	{% if add == true %}
		<link rel="stylesheet" href="{{'/static/css/style.css'|url}}">
	{% endif %}
	{% if style == true %}
		<link rel="stylesheet" href="{{'/static/css/' + key + '.css'|url}}">
	{% elseif style %}
		<link rel="stylesheet" href="{{'/static/' + style + '.css'|url}}">
	{% else %}
		<link rel="stylesheet" href="{{'/static/css/style.css'|url}}">
	{% endif %}

	{% if blank != true %}
		<noscript>
			<link rel="stylesheet" href="{{'/static/css/no-js.css'|url}}">
		</noscript>
	{% endif %}
</head>
<body class="{% if key %}page-{{key}}{% endif %}{% if pagination.pageNumber == 0 %} page-index{% endif %}">
	{% if blank != true %}
		{% include 'pages/shared/header.html' %}
	{% endif %}
	<main class="main">
		{% block content %}{{content|safe}}{% endblock %}
	</main>
	{% if blank != true %}
		<footer class="bottom" aria-label="Footer">
			{% if key != "about" %}
				<a href="/about/"><span>About</span></a>
				<a href="/me/"><span>Me</span></a>
				<a href="/archive/"><span>Archive</span></a>
				<a href="/posts/feed.xml"><span>RSS</span></a>
			{% endif %}
			{% if (key == "home") and (pagination.pageNumber == 0) or (key == "about") or (key == "me") %}{% else %}
				<a href="mailto:mail@gabriellew.ee"><span>Email</span></a>
			{% endif %}
			<span class="copyright">
				<span>&copy; {{site.author}} {% year 'start' %}–{% year 'current' %}</span>
			</span>
		</footer>

		<script src="{{'/static/js/gsap.min.js'|url}}"></script>
		<script src="{{'/static/js/scroll-trigger.min.js'|url}}"></script>
		<script src="{{'/static/js/text.min.js'|url}}"></script>
		<script src="{{'/static/js/smoothscroll.min.js'|url}}"></script>
		<script src="{{'/static/js/lightbox.js'|url}}"></script>
		<script src="{{'/static/js/luxon.min.js'|url}}"></script>
		<script src="{{'/static/js/clipboard.min.js'|url}}"></script>
		{% if isotope == true %}
			<script src="{{'/static/js/isotope.min.js'|url}}"></script>
			<script src="{{'/static/js/packery.min.js'|url}}"></script>
		{% endif %}
		{% if key == "home" %}
			<script src="{{'/static/js/infinite-scroll.min.js'|url}}"></script>
			{% if pagination.pageNumber == 0 %}
				<script src="{{'/static/js/pages/home.js'|url}}"></script>
			{% endif %}
		{% else %}
			<script src="{{'/static/js/imagesloaded.min.js'|url}}"></script>
		{% endif %}
		{% if scripts == true %}
			<script src="{{'/static/js/pages/' + key + '.js'|url}}"></script>
		{% endif %}
		{% if (key == "post") and (archive != true) and (comments != false) %}
			<script src="https://giscus.app/client.js"
				data-repo="gabriellewee/portfolio"
				data-repo-id="MDEwOlJlcG9zaXRvcnkzNTIwMDk1Mg=="
				data-category="General"
				data-category-id="DIC_kwDOAhkfuM4CT8l0"
				data-mapping="og:title"
				data-strict="0"
				data-reactions-enabled="1"
				data-emit-metadata="0"
				data-input-position="top"
				data-theme="{{site.url}}/static/css/giscus.css"
				data-lang="en"
				data-loading="lazy"
				crossorigin="anonymous"
				async>
			</script>
		{% endif %}
		<script src="{{'/static/js/main.js'|url}}"></script>
	{% endif %}
	<script>document.body.addEventListener('touchstart', function() {}, {passive: true});</script>
</body>
</html>
