<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<meta name="format-detection" content="telephone=no">

	<link rel="canonical" href="https://gabriellew.ee/{{uri}}"/>

	<link rel="icon" href="/static/images/favicons/favicon.ico">
	<link rel="icon" type="image/svg+xml" href="/static/images/favicons/favicon.svg">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-touch-icon-180x180.png">
	<link rel="manifest" href="/static/images/favicons/manifest.webmanifest">

	<meta name="theme-color" content="#f5c8bf">
	<meta name="application-name" content="Gabrielle Wee"/>
	<meta name="description" content="{{description}}"/>

	<title>Gabrielle Wee · {{title}}</title>
	<meta property="og:title" content="Gabrielle Wee · {{title}}"/>

	<meta property="og:site_name" content="Gabrielle Wee · {{title}}"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="https://gabriellew.ee/{{uri}}"/>
	<meta property="og:image" content="https://gabriellew.ee/static/images/og/{% if ogImage %}{{ogImage}}{% else %}default{% endif %}.jpg"/>
	<meta property="og:image:width" content="1200"/>
	<meta property="og:image:height" content="630"/>
	<meta property="og:description" content="{{description}}"/>

	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:site" content="@gabriewee"/>
	<meta name="twitter:creator" content="@gabriewee"/>
	<meta property="fb:app_id" content="1291587600924107"/>
	<meta property="fb:admins" content="504790226"/>
	<meta property="article:author" content="Gabrielle Wee"/>

	<link rel="stylesheet" href="{{'/static/css/style.css' | url}}"/>

	<script src="{{'/static/js/modernizr.min.js' | url}}"></script>
</head>
<body ontouchstart{% if templateClass %} class="page-{{templateClass}}"{% endif %}>
	<header aria-label="Header">
		<a class="logo" href="/" aria-label="Go home?">
			<picture class="memoji memoji-default">
				<img src="/static/images/memoji.png" alt="" />
			</picture>
			<picture class="memoji memoji-hm">
				<img src="/static/images/memoji-hm.png" alt="" />
			</picture>
		</a>
		<span class="go-home" aria-hidden="true">Go home?</span>
		{% block menu %}{% endblock %}
	</header>
	<main>
		{% block content %}{{content | safe}}{% endblock %}
	</main>
	<footer aria-label="Footer">
		<p class="copyright"><a href="/about/">About this website</a> &copy; Gabrielle Wee 2012–2021</p>
	</footer>
	<script src="{{'/static/js/lazyload.min.js' | url}}"></script>
	<script src="{{'/static/js/isotope.min.js' | url}}"></script>
	<script src="{{'/static/js/packery.min.js' | url}}"></script>
	<script src="{{'/static/js/imagesloaded.min.js' | url}}"></script>
	<script src="{{'/static/js/main.js' | url}}"></script>
</body>
</html>
