<section class="posts-container">
	{% include 'pages/posts/tags.html' %}

	<div class="posts" data-grid>
		{% for post in media %}
			{% if post.svg == true %}{%- set file = "svg" %}{% else %}{%- set file = extension %}{% endif %}
			<article class="post post-media post-photography{% if post.size %} post-size-{{post.size}}{% endif %} {{post.tags|isoFilter}}" data-media-container data-grid-item data-anim data-orientation="{% stats './static/images/' + key + '/' + post.date + '-' + post.name + '.' + file, 'orientation' %}">
				<input class="media-trigger" id="{{post.date|safe}}-{{post.name}}-info" type="checkbox" tabindex="0" aria-label="View information about this {{type}}" role="switch" data-media-trigger hidden/>
				<div class="post-inner">
					<div class="post-content">
						<figure id="{{post.date|safe}}-{{post.name}}" aria-label="{{type|capitalize}}{% if post.location %}, {{post.location}}{% elseif post.title %}, {{post.title}}{% endif %}" style="aspect-ratio: {% stats './static/images/' + key + '/' + post.date + '-' + post.name + '.' + file, 'ratio' %};">
							{% if post.upscale %}
								<picture>
									<img class="upscale" src="{% include post.upscale %}"{% if post.upscaleWidth %} width="{{post.upscaleWidth}}"{% endif %}{% if post.upscaleHeight %} height="{{post.upscaleHeight}}"{% endif %} alt="{{post.description}}"/>
								</picture>
							{% elseif post.svg == true %}
								<picture>
									<img src="/static/images/{{key}}/{{post.date}}-{{post.name}}.svg" alt="{{post.description}}" width="{% stats './static/images/' + key + '/' + post.date + '-' + post.name + '.svg', 'width' %}" height="{% stats './static/images/' + key + '/' + post.date + '-' + post.name + '.svg', 'height' %}"/>
								</picture>
							{% else %}
								{% image './static/images/' + key + '/' + post.date + '-' + post.name + '.' + extension, post.description, 'default', loop.index %}
							{% endif %}
							<label class="media-view-hover" for="{{post.date|safe}}-{{post.name}}-info" aria-hidden="true" data-media-label hidden>
								<span class="button"><span><span>View info</span></span></span>
							</label>
							<label class="media-view-touch" for="{{post.date|safe}}-{{post.name}}-info" aria-hidden="true" data-media-label hidden>View info</label>
							<figcaption class="media-data" data-media-info>
								<div class="media-data-wrapper">
									<time class="time-default" datetime="{{post.date}}" title="{{post.date|date('readable')}}" data-time="{{post.date|ISO}}">{{post.date|date('readable')}}</time>
									<label class="media-down media-icon" for="{{post.date|safe}}-{{post.name}}-info" data-media-label></label>
									<div class="media-thumbnail">
										<a class="media-expand expand" href="#{{post.date|safe}}-{{post.name}}-lightbox" role="button" aria-label="Expand image" tabindex="-1" data-media-expand>
											<span class="no-image">Expand</span>
											<span class="has-image" aria-hidden="true" hidden>
												{% if post.upscale %}
													<picture>
														<img class="upscale" src="{% include post.upscale %}"{% if post.upscaleWidth %} width="{{post.upscaleWidth}}"{% endif %}{% if post.upscaleHeight %} height="{{post.upscaleHeight}}"{% endif %} alt="{{post.description}}"/>
													</picture>
												{% elseif post.svg == true %}
													<picture>
														<img src="/static/images/{{key}}/{{post.date}}-{{post.name}}.svg" alt="{{post.description}}" width="{% stats './static/images/' + key + '/' + post.date + '-' + post.name + '.svg', 'width' %}" height="{% stats './static/images/' + key + '/' + post.date + '-' + post.name + '.svg', 'height' %}"/>
													</picture>
												{% else %}
													{% image './static/images/' + key + '/' + post.date + '-' + post.name + '.' + extension, post.description, 'thumbnail', loop.index %}
												{% endif %}
											</span>
										</a>
									</div>
									{% if post.external %}
										<div class="media-links">
											{% for link in post.external %}
												<a class="media-link external {{link.platform}}" href="{{link.url|url}}" tabindex="-1" aria-label="View on {{link.platform|capitalize}}" data-media-external><span>{{link.platform|capitalize}}</span></a>
											{% endfor %}
										</div>
									{% endif %}
									<dl class="media-meta">
										{% if post.title %}
											<div class="meta-title">
												<dt>Title</dt><dd>{{post.title|nbsp|safe}}</dd>
											</div>
										{% endif %}
										{% if post.location %}
											<div class="meta-location">
												<dt>Location</dt><dd>{{post.location}}</dd>
											</div>
										{% endif %}
										{% if post.camera %}
											<div class="meta-camera">
												<dt>Camera</dt><dd>{{post.camera}}</dd>
											</div>
										{% endif %}
										{% if post.editor %}
											<div class="meta-editor">
												<dt>Editor</dt><dd>{{post.editor}}</dd>
											</div>
										{% endif %}
										{% if post.tools %}
											<div class="meta-tools">
												<dt>Tools</dt><dd>{{post.tools}}</dd>
											</div>
										{% endif %}
									</dl>
								</div>
							</figcaption>
						</figure>
					</div>
				</div>
			</article>
		{% endfor %}
	</div>

	{% include 'pages/posts/author.html' %}
</section>

<div class="lightbox-group" hidden>
	{% for post in media %}
		<a class="lightbox" id="{{post.date|safe}}-{{post.name}}-lightbox" role="button" aria-label="Close image" href="#{{post.date|safe}}-{{post.name}}" data-lightbox></a>
		<dialog class="lightbox-content image" aria-label="Image preview" autofocus>
			<figure>
				{% if post.upscale %}
					<picture>
						<img class="upscale" src="{% include post.upscale %}"{% if post.upscaleWidth %} width="{{post.upscaleWidth}}"{% endif %}{% if post.upscaleHeight %} height="{{post.upscaleHeight}}"{% endif %} alt="{{post.description}}"/>
					</picture>
				{% elseif post.svg == true %}
					<picture>
						<img src="/static/images/{{key}}/{{post.date}}-{{post.name}}.svg" alt="{{post.description}}" width="{% stats './static/images/' + key + '/' + post.date + '-' + post.name + '.svg', 'width' %}" height="{% stats './static/images/' + key + '/' + post.date + '-' + post.name + '.svg', 'height' %}"/>
					</picture>
				{% else %}
					{% image './static/images/' + key + '/' + post.date + '-' + post.name + '.' + extension, post.description, 'screen' %}
				{% endif %}
			</figure>
		</dialog>
	{% endfor %}
	<div class="lightbox-background"></div>
</div>