---js
{
	category: "media",
	layout: "layouts/page.njk",
	style: "css/media",
	scripts: "media",
	tags: "pages",
	eleventyComputed: {
		media(data) {
			return data[data.key];
		}
	}
}
---

{% from "macros.njk" import author, date, header, indicator, meta, tags, upscale %}

<section class="content">
	{{ tags(filters) }}

	<div class="posts" data-grid>
		{% for post in media %}
			{% set file = extension %}
			{% if post.svg == true %}{% set file = "svg" %}{% endif %}
			{% set slug %}{{ post.date | safe }}-{{ post.name }}{% endset %}
			{% set mediaUrl %}/static/images/{{ key }}/{{ post.date }}-{{ post.name }}.{{ file }}{% endset %}
			{% set media %}.{{ mediaUrl }}{% endset %}
			<article class="post post-media post-{{ key }}{% if post.size %} post-size-{{ post.size }}{% endif %} {{ post.tags | isoFilter }}" data-grid-item data-anim data-orientation="{% stats media, 'orientation' %}">
				<div class="post-inner">
					<header class="post-header">
						{{ header(post, post, category) }}
					</header>
					<div class="post-content">
						<figure id="{{ slug }}" class="has-placeholder{% if file %} theme-{% stats media, 'theme', 'top left' %}{% endif %}" aria-label="{{ type | capitalize }}{% if post.location or post.title %}, {{ post.location or post.title }}{% endif %}"{% if post.description %} data-alt="{{ post.description }}"{% endif %} style="aspect-ratio:{% stats media, 'ratio' %}">
							{% if post.upscale %}
								{{ upscale(post) }}
							{% elseif post.svg == true %}
								<picture style="--background: {% if post.color %}{{ post.color }}{% else %}{% stats media, 'average' %}{% endif %}">
									<img src="{{ mediaUrl }}" alt="{{ post.description }}" width="{% stats media, 'width' %}" height="{% stats media, 'height' %}"/>
								</picture>
							{% else %}
								{% image media, post.description, 'default', loop.index %}
							{% endif %}
							{{ indicator() }}
							<figcaption class="media-data" data-focus-container>
								<details id="{{ slug }}-info" name="media-container" data-media-container>
									<summary data-focus>
										<span class="media-view-hover"><span class="button">
											<span aria-label="Information about this {{ type }}">View info</span>
										</span></span>
										<span class="media-view-touch" hidden></span>
										<span class="media-close media-icon" hidden></span>
									</summary>
									<div class="media-data-overlay">
										<div class="media-data-wrapper">
											{{ date(post, category) }}
											<div class="media-thumbnail">
												<a class="media-expand expand" href="#{{ slug }}-lightbox" role="button" aria-label="Expand image" hidden data-media-expand>
													<span class="no-image" hidden><span>Expand</span></span>
													<span class="has-image{% if file %} theme-{% stats media, 'theme', 'top left' %}{% endif %}" aria-hidden="true">
														{% if post.upscale %}
															{{ upscale(post) }}
														{% elseif post.svg == true %}
															<picture style="--background: {% if post.color %}{{ post.color }}{% else %}{% stats media, 'average' %}{% endif %}">
																<img src="{{ mediaUrl }}" alt="{{ post.description }}" width="{% stats media, 'width', 400 %}" height="{% stats media, 'height', 400 %}"/>
															</picture>
														{% else %}
															{% image media, post.description, 200, loop.index %}
														{% endif %}
													</span>
												</a>
											</div>
											{{ meta(post) }}
										</div>
									</div>
								</details>
							</figcaption>
						</figure>
					</div>
				</div>
				<hr class="no-css"/>
			</article>
		{% endfor %}
	</div>
</section>

{{ author(site) }}

<div class="lightbox-group" data-lightbox-container hidden>
	{% for post in media %}
		{% set file = extension %}
		{% if post.svg == true %}{% set file = "svg" %}{% endif %}
		{% set slug %}{{ post.date | safe }}-{{ post.name }}{% endset %}
		{% set mediaUrl %}/static/images/{{ key }}/{{ post.date }}-{{ post.name }}.{{ file }}{% endset %}
		{% set media %}.{{ mediaUrl }}{% endset %}
		<a class="lightbox" id="{{ slug }}-lightbox" role="button" aria-label="Close image" href="#{{ slug }}" tabindex="-1" data-lightbox></a>
		<dialog class="lightbox-content image" aria-label="Image preview" autofocus>
			<figure>
				{% if post.upscale %}
					{{ upscale(post) }}
				{% elseif post.svg == true %}
					<picture>
						<img src="{{ mediaUrl }}" alt="{{ post.description }}" width="{% stats media, 'width' %}" height="{% stats media, 'height' %}"/>
					</picture>
				{% else %}
					{% image media, post.description, 'screen' %}
				{% endif %}
			</figure>
		</dialog>
	{% endfor %}
	<div class="lightbox-background"></div>
</div>