---
layout: layouts/base.njk
key: post
og: posts
tags:
  - entries
  - writing
category: writing
style: true
eleventyComputed:
  year: "{{date|year}}"
---

<section class="content post-single h-entry">
	<div class="posts">
		<article class="post post-{{category}}{% for tag in tags %}{% if tag != 'entries' %} post-{{tag}}{% endif %}{% endfor %}">
			<div class="post-inner">
				<header class="post-header inline-header">
					<div class="post-header-content">
						<h2><a class="u-url" href="{{page.url}}"><span><span class="p-name">{{title|nbsp|safe}}</span></span></a></h2>
						<time class="time-default dt-published" datetime="{{page.date|iso|date('string')}}" title="{{page.date|iso|date('readable')}}" data-time="{{page.date|iso}}">{{page.date|iso|date('readable')}}</time>
					</div>
				</header>

				<div class="post-content post-text e-content">
					{{content|images|safe}}
				</div>

				<footer class="post-footer">
					{% if archive == true %}
						{% if full == true %}
							{%- set pageUrl = title %}
						{% else %}
							{%- set pageUrl = page.fileSlug %}
						{% endif %}
						<a class="button" href="{{site.url}}/v1/{{page.date|iso|date('archive')}}/{{pageUrl|slugify}}" target="_blank"><span>View original</span></a>
					{% endif %}
					{% if external %}
						{% for link in external %}
							<a rel="syndication" class="u-syndication button link-platform {{link.platform}}" href="{{link.url|url}}"><span>Read on {{link.platform|capitalize}}</span></a>
						{% endfor %}
					{% endif %}
				</footer>
			</div>

			<hr class="no-css"/>
		</article>
	</div>

	{% include 'pages/posts/mentions.html' %}

	<nav class="pagination" aria-label="Pagination">
		{%- set nextPost = collections.posts|getNextCollectionItem(page) %}
		{%- set previousPost = collections.posts|getPreviousCollectionItem(page) %}
		{% include 'pages/posts/pagination.html' %}

		{%- set nextPost = collections.archive|getNextCollectionItem(page) %}
		{%- set previousPost = collections.archive|getPreviousCollectionItem(page) %}
		{% include 'pages/posts/pagination.html' %}
	</nav>
</section>

{% include 'pages/posts/author.html' %}
{% include 'pages/posts/lightbox.html' %}

{% if code == true %}<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>{% endif %}