---
layout: layouts/base.njk
key: post
og: posts
tags:
    - entries
    - writing
category: writing
---

<section class="posts-container h-entry">
	<div class="posts">
		<article class="post post-{{category}}{% for tag in tags %}{% if tag != 'entries' %} post-{{tag}}{% endif %}{% endfor %}">
			<div class="post-inner">
				<header class="post-header inline-header">
					<div class="post-header-content">
						<h2><a class="u-url" href="{{page.url}}"><span><span class="p-name">{{title|nbsp|safe}}</span></span></a></h2>
						<time class="time-default dt-published" datetime="{{page.date|ISO|date('string')}}" title="{{page.date|ISO|date('readable')}}" data-time="{{page.date|ISO}}">{{page.date|ISO|date('readable')}}</time>
					</div>
				</header>
				<div class="post-content post-text e-content">
					{{content|images|safe}}
				</div>
				
				<footer class="post-footer">
					{% if archive == true %}
						<a class="button" href="{{site.url}}/v1/{{page.date|ISO|date('archive')}}/{{page.fileSlug}}" target="_blank"><span><span>View original</span></span></a>
					{% endif %}
					{% if external %}
						{% for link in external %}
							<a class="button link-platform {{link.platform}} background" href="{{link.url|url}}" target="_blank"><span><span>Read on {{link.platform|capitalize}}</span></span></a>
						{% endfor %}
					{% endif %}
				</footer>
			</div>
		</article>
	</div>

	{% include 'pages/posts/author.html' %}
	{% include 'pages/posts/mentions.html' %}

	<nav class="pagination" aria-label="Pagination">
		{%- set nextPost = collections.posts|getNextCollectionItem(page) %}
		{%- set previousPost = collections.posts|getPreviousCollectionItem(page) %}
		{%- if nextPost or previousPost %}
			{%- if nextPost %}
				<a class="newer button button-reverse" href="{{nextPost.url|url}}"><span><span>Newer</span></span></a>
			{% else %}
				<a class="button" href="/"><span><span>Back to home</span></span></a>
			{% endif %}
			{%- if previousPost %}
				<a class="older button" href="{{previousPost.url|url}}"><span><span>Older</span></span></a>
			{% else %}
				<a class="button" href="/archive/"><span><span>Back to archive</span></span></a>
			{% endif %}
		{%- endif %}

		{%- set nextPost = collections.archive|getNextCollectionItem(page) %}
		{%- set previousPost = collections.archive|getPreviousCollectionItem(page) %}
		{%- if nextPost or previousPost %}
			{%- if nextPost %}
				<a class="newer button button-reverse" href="{{nextPost.url|url}}"><span><span>Newer</span></span></a>
			{% else %}
				<a class="button" href="/archive/"><span><span>Back to archive</span></span></a>
			{% endif %}
			{%- if previousPost %}
				<a class="older button" href="{{previousPost.url|url}}"><span><span>Older</span></span></a>
			{% else %}
				<a class="button" href="/archive/"><span><span>Back to archive</span></span></a>
			{% endif %}
		{%- endif %}
	</nav>

	{% include 'pages/posts/lightbox.html' %}
</section>
{% if code == true %}<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>{% endif %}