---
layout: layouts/writing.njk
templateClass: post
tags: posts
headerLink: true
aboutLink: true
siteScripts: true
---

<article>
	<header>
		<h2>{{title}}</h2>
		<time datetime="{{page.date | htmlDateString}}">{{page.date|readableDate}}</time>
	</header>
	<div>{{content | safe}}</div>
</article>

<nav class="pagination">
	{%- set nextPost = collections.writes | getNextCollectionItem(page) %}
	{%- set previousPost = collections.writes | getPreviousCollectionItem(page) %}
	{%- if nextPost or previousPost %}
		{%- if nextPost %}<a class="previous" href="{{ nextPost.url | url }}"><span>Previous Post</span></a>{% else %}<span></span>{% endif %}
		{%- if previousPost %}<a class="next" href="{{ previousPost.url | url }}"><span>Next Post</span></a>{% else %}<span></span>{% endif %}
	{%- endif %}
</nav>