---
titleModifier: "Recipe for "
layout: layouts/base.njk
key: recipes
og: image
theme: '#bbd2c3'
tags:
  - entries
  - cooking
category: cooking
scripts: true
style: true
avatar: cooks
size: s
---

<section class="content post-single h-entry">
	<div class="posts">
		<article class="post post-{{category}}{% for tag in tags %}{% if tag != 'entries' %} post-{{tag}}{% endif %}{% endfor %}">
			<div class="post-inner">
				<header class="post-header">
					<div class="post-header-image header-{% stats './static/images/' + key + '/' + page.fileSlug + '.jpg', 'color' %}">
						{% image './static/images/' + key + '/' + page.fileSlug + '.jpg', 'Hero image showing ' + title, 'default' %}
					</div>
					<div class="post-header-content">
						<h2><a class="u-url" href="{{page.url}}" aria-label="Recipe for {{title|safe}}"><span class="p-name"><span>{{title|safe}}</span></span></a></h2>
						<time class="time-default dt-published" datetime="{{page.date|iso|date('string')}}" title="{{page.date|iso|date('readable')}}" data-time="{{page.date|iso}}">{{page.date|iso|date('readable')}}</time>
					</div>
				</header>

				<aside class="post-meta">
					<p class="recipe-servings"><strong>Servings:</strong> <span>{{servings}}</span></p>
					{% if prep %}
						<p class="recipe-prep"><strong>Prep:</strong> <span class="recipe-duration" data-duration="{{prep}}">{{prep}} minutes</span></p>
					{% endif %}
					{% if cook %}
						<p class="recipe-cook"><strong>Cook:</strong> <span class="recipe-duration" data-duration="{{cook}}">{{cook}} minutes</span></p>
					{% endif %}
					{% if prep and cook %}
						{% set total = [prep,cook] %}
						<p class="recipe-total"><strong>Total:</strong> <span class="recipe-duration" data-duration="{{total|sum}}">{{total|sum}} minutes</span></p>
					{% endif %}
				</aside>

				<div class="post-content post-text e-content">
					{{content|images|safe}}
				</div>

				<footer class="post-footer">
					<a class="button hide" href="#" data-task-list-reset hidden><span>Reset ingredients</span></a>
					{% for link in external %}
							<a class="button link-platform {{link.platform}} background" href="{{link.url|url}}" style="--background: var(--color-{{link.platform}}"><span>{% if post.data.type == "audio" %}Listen on {% elseif post.data.type == "writing" %}Read on {% else %}View on {% endif %}{% if link.title %}{{link.title}}{% else %}{{link.platform|capitalize}}{% endif %}</span></a>
						{% endfor %}
					<div class="emoji" style="--emoji: '{{emoji}}'"></div>
				</footer>
			</div>
		</article>
	</div>

	<nav class="pagination" aria-label="Pagination">
		<a class="button" href="/cooks/"><span>Back to recipes</span></a>
	</nav>
</section>

{% include 'pages/posts/author.html' %}