<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<meta name="format-detection" content="telephone=no">

	{% if hidden %}<meta name="robots" content="noindex,nofollow">{% endif %}

	<link rel="canonical" href="{{site.url}}{{page.url}}"/>
	<link rel="alternate" type="application/rss+xml" title="RSS" href="/writes/feed.xml" />

	<link rel="icon" href="/static/images/favicons/favicon.ico">
	<link rel="icon" type="image/svg+xml" href="/static/images/favicons/favicon.svg">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-touch-icon-180x180.png">
	<link rel="manifest" href="/static/images/favicons/manifest.webmanifest">

	<meta name="theme-color" content="#f5c8bf">
	<meta name="application-name" content="{{site.author}}"/>
	<meta name="description" content="{{description}}"/>

	<title>{{title}} · {{site.author}}</title>
	<meta property="og:title" content="{{title}} · {{site.author}}"/>

	<meta property="og:site_name" content="{{title}} · {{site.author}}"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="{{permalink}}"/>
	<meta property="og:image" content="{{site.url}}/static/images/og/{% if ogImage %}{{ogImage}}{% else %}writing{% endif %}.jpg"/>
	<meta property="og:image:width" content="1200"/>
	<meta property="og:image:height" content="630"/>
	<meta property="og:description" content="{{description}}"/>

	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:site" content="@gabriewee"/>
	<meta name="twitter:creator" content="@gabriewee"/>
	<meta property="fb:app_id" content="1291587600924107"/>
	<meta property="fb:admins" content="504790226"/>
	<meta property="article:author" content="{{site.author}}"/>

	<link rel="stylesheet" href="{{'/static/css/writing.css' | url}}"/>

	<script src="{{'/static/js/modernizr.min.js' | url}}"></script>
</head>
<body ontouchstart{% if templateClass %} class="page-{{templateClass}}"{% endif %}>
	<header class="top" aria-label="Header">
		<a class="logo" href="/" aria-label="Go home?">
			<picture class="memoji memoji-default">
				<img src="/static/images/memoji.png" alt="" />
			</picture>
			<picture class="memoji memoji-hm">
				<img src="/static/images/memoji-hm.png" alt="" />
			</picture>
		</a>
		<span class="go-home" aria-hidden="true">Go home?</span>
		{% block menu %}{% endblock %}
	</header>
	<header class="header">
		<h1><a href="/writes/"><span>gabriellew.ee</span>/writes</a></h1>
	</header>
	<main>
		{% block content %}{{content | safe}}{% endblock %}
	</main>
	<footer class="bottom" aria-label="Footer">
		<p class="copyright">
			<a href="/writes/archive/"><span>Archive</span></a> ·
			<a href="/writes/feed.xml"><span>RSS</span></a>
			&copy; <a href="/"><span>{{site.author}}</span></a> {% year 'start' %}–{% year 'current' %}
		</p>
	</footer>
	<script src="{{'/static/js/lazyload.min.js' | url}}"></script>
	<script src="{{'/static/js/imagesloaded.min.js' | url}}"></script>
	<script src="{{'/static/js/smoothscroll.min.js' | url}}"></script>
	<script src="{{'/static/js/lightbox.js' | url}}"></script>
	<script src="{{'/static/js/writing.js' | url}}"></script>
</body>
</html>
