.button {
	@include font-weight-width(700, 125);
	cursor: pointer;
	appearance: none;
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	&, > span, > span:before {
		transition: background .4s ease-out, scale .2s ease-out;
	}
	&:before {
		@include clip-path {
			content: "";
			display: block;
			opacity: 0;
			content: "";
			position: absolute;
			top: calc(var(--p)/-4);
			left: calc(var(--p)/-4);
			width: calc(100% + var(--p)/2);
			height: calc(100% + var(--p)/2);
			clip-path: polygon(calc(var(--p)*1.375) 0%, calc(100% - calc(var(--p)*1.375)) 0%, 100% 43%, 100% 57%, calc(100% - calc(var(--p)*1.375)) 100%, calc(var(--p)*1.375) 100%, 0 57%, 0 43%);
			padding: var(--p) calc(var(--p)*2.5);
			background-color: var(--color-blush);
		}
	}
	> span {
		@include button;
		position: relative;
		background-color: var(--color-mauve);
		background: radial-gradient(
			circle at center left,
			var(--color-rose) 0,
			var(--color-mauve) 25%,
			var(--color-slate) 75%,
			var(--color-slate) 100%,
		) 50% 0% / 200% 100%;
		&:before {
			opacity: 0;
			content: "";
			display: block;
			z-index: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: var(--color-iron);
			background: radial-gradient(circle at center left, var(--color-iron) 0, var(--color-iron-12) 100%);
		}
		span {
			position: relative;
			z-index: 1;
		}
	}
	&:hover {
		@media (prefers-reduced-motion: no-preference) {
			scale: 1.02;
		}
	}
	&:hover, &:focus {
		> span {
			background-position-x: 0%;
		}
	}
	&:focus-visible {
		@include clip-path(false) {
			@include focus-round(var(--color-slate));
		}
	}
	&:active {
		@media (prefers-reduced-motion: no-preference) {
			scale: .98;
		}
		&, > span, > span:before {
			transition: all .2s ease-out;
		}
		> span {
			&:before {
				opacity: 1;
			}
		}
	}

	&.link-medium {
		> span {
			background: var(--color-med);
		}
	}
	&.link-apple-podcasts {
		> span {
			background: var(--color-ap);
		}
	}
	&.link-spotify {
		> span {
			background: var(--color-sp);
		}
	}
	&.link-platform {
		&:before {
			background-color: var(--color-iron-white-90);
		}
		> span {
			&:before {
				display: none;
			}
		}
		&:hover, &:focus {
			> span {
				background: var(--color-iron-white-70);
			}
		}
		&:active {
			> span {
				background: var(--color-iron-12);
			}
		}
	}
}