a {
	&.codepen {
		&.color {
			color: var(--color-cp);
			&:hover, &:focus {
				text-decoration-color: var(--color-cp) !important;
			}
		}
		&.background {
			> span {
				background: var(--color-cp);
			}
		}
	}
	&.dribbble {
		&.color {
			color: var(--color-bbb);
			&:hover, &:focus {
				text-decoration-color: var(--color-bbb) !important;
			}
		}
		&.background {
			> span {
				background: var(--color-bbb);
			}
		}
	}
	&.github {
		&.color {
			color: var(--color-gh);
			&:hover, &:focus {
				text-decoration-color: var(--color-gh) !important;
			}
		}
		&.background {
			> span {
				background: var(--color-gh);
			}
		}
	}
	&.instagram {
		&.color {
			color: var(--color-insta);
			&:hover, &:focus {
				text-decoration-color: var(--color-insta) !important;
			}
		}
		&.background {
			> span {
				background: var(--color-insta);
			}
		}
	}
	&.twitter {
		&.color {
			color: var(--color-tw);
			&:hover, &:focus {
				text-decoration-color: var(--color-tw) !important;
			}
		}
		&.background {
			> span {
				background: var(--color-tw);
			}
		}
	}
	&.pinterest {
		&.color {
			color: var(--color-pin);
			&:hover, &:focus {
				text-decoration-color: var(--color-pin) !important;
			}
		}
		&.background {
			> span {
				background: var(--color-pin);
			}
		}
	}
	&.medium {
		&.color {
			color: var(--color-med);
			&:hover, &:focus {
				text-decoration-color: var(--color-med) !important;
			}
		}
		&.background {
			> span {
				background: var(--color-med);
			}
		}
	}
	&.tumblr {
		&.color {
			color: var(--color-tum);
			&:hover, &:focus {
				text-decoration-color: var(--color-tum) !important;
			}
		}
		&.background {
			> span {
				background: var(--color-tum);
			}
		}
	}
	&.music {
		&.color {
			color: var(--color-am);
			&:hover, &:focus {
				text-decoration-color: var(--color-am) !important;
			}
		}
		&.background {
			> span {
				background: var(--color-am);
			}
		}
	}
	&.email {
		&.color {
			color: var(--color-iron-white-70);
			&:hover, &:focus {
				text-decoration-color: var(--color-iron-white-70) !important;
			}
		}
		&.background {
			> span {
				background: var(--color-iron-white-70);
			}
		}
	}
	&.text {
		&.color {
			color: var(--color-gv);
			&:hover, &:focus {
				text-decoration-color: var(--color-gv) !important;
			}
		}
		&.background {
			> span {
				background: var(--color-gv);
			}
		}
	}
	&.imessage {
		&.color {
			color: var(--color-im);
			&:hover, &:focus {
				text-decoration-color: var(--color-im) !important;
			}
		}
		&.background {
			> span {
				background: var(--color-im);
			}
		}
	}
	&.discord {
		&.color {
			color: var(--color-discord);
			&:hover, &:focus {
				text-decoration-color: var(--color-discord) !important;
			}
		}
		&.background {
			> span {
				background: var(--color-discord);
			}
		}
	}
	&.mastodon {
		&.color {
			color: var(--color-mas);
			&:hover, &:focus {
				text-decoration-color: var(--color-mas) !important;
			}
		}
		&.background {
			> span {
				background: var(--color-mas);
			}
		}
	}
	&.apple-podcasts {
		&.color {
			color: var(--color-ap);
			&:hover, &:focus {
				text-decoration-color: var(--color-ap) !important;
			}
		}
		&.background {
			> span {
				background: var(--color-ap);
			}
		}
	}
	&.spotify {
		&.color {
			color: var(--color-sp);
			&:hover, &:focus {
				text-decoration-color: var(--color-sp) !important;
			}
		}
		&.background {
			> span {
				background: var(--color-sp);
			}
		}
	}
}