@use 'partials/shared/utilities' as *;

$links: "github", "instagram", "twitter", "pinterest", "music", "imessage", "discord", "mastodon", "apple-podcasts", "spotify", "threads";
$dark-links: "codepen", "tumblr", "email", "text", "medium", "dribbble", "bluesky";

@each $link in $links {
	a.#{$link} {
		--color-link: var(--color-#{$link});
	}
}

@each $link in $dark-links {
	a.#{$link} {
		@include theme(light) {
			--color-link: var(--color-#{$link}-dark);
		}
		@include theme(dark) {
			--color-link: var(--color-#{$link});
		}
	}
}

a {
	&.color, &.link.color {
		color: var(--color-link);
		&:hover, &:focus {
			text-decoration-color: var(--color-link);
		}
	}
	&.background {
		> span {
			background: var(--color-link);
		}
	}
}