@import 'popup';
@import 'lightbox';
@import 'memoji';
@import 'button';
@import 'colors';
@import 'contact';

.title {
	opacity: 0;
	font-size: clamp(1.5rem, 3vw, 2.5rem);
	@include theme(light, 2) {
		color: var(--color-iron);
	}
	@include theme(dark, 2) {
		color: hsla(var(--color-white-hsl), .8);
	}
	.apple {
		display: inline-block;
		span {
			&:before {
				content: " ";
			}
		}
		svg {
			position: relative;
			top: 2px;
			width: clamp(1.3rem, 3vw, 2.3rem);
			height: clamp(1.3rem, 3vw, 2.3rem);
		}
	}
}

.cursor {
	opacity: 0;
	@media (prefers-reduced-motion) {
		display: none;
	}
	&:after {
		content: "_";
		display: inline-block;
	}
	&.animated {
		&:after {
			animation: blink 1s cubic-bezier(1,0,0,1) infinite forwards;
		}
	}
}
@keyframes blink {
	from { opacity: 1 } to { opacity: 0 }
}

.clip-container {
	display: inline-flex;
	align-items: center;
	position: relative;
	&:before, &:after {
		opacity: 0;
		visibility: hidden;
		display: block;
		transition: .1s ease-out;
		@include theme(light, 2) {
			background-color: var(--color-iron);
		}
		@include theme(dark, 2) {
			background-color: var(--color-iron-8);
		}
	}
	&:before {
		content: "";
		position: absolute;
		top: calc(50% - 5px);
		left: 100%;
		translate: calc(var(--p)/2) 0;
		width: 10px;
		height: 10px;
		border-bottom-left-radius: 2px;
		rotate: 45deg;
	}
	&:after {
		@include font-weight-width(600, 100);
		content: "Copied";
		color: white;
		position: absolute;
		left: 100%;
		translate: calc(var(--p)/2 + 4px) 0;
		padding: 6px 8px;
		border-radius: 2px;
		font-size: .75rem;
		text-transform: uppercase;
	}
	&.copied {
		&:before, &:after {
			opacity: 1;
			visibility: visible;
		}
	}
}