@import 'popup';
@import 'lightbox';
@import 'memoji';
@import 'button';
@import 'contact';
@import 'colors';

.title {
	@include font-weight-width(900, 125);
	font-size: clamp(1.5rem, 3vw, 2.5rem);
	@media (prefers-reduced-motion: no-preference) {
		opacity: 0;
	}
	.apple {
		display: inline-block;
		span {
			&:before {
				content: " ";
			}
		}
		svg {
			position: relative;
			top: 2px;
			width: clamp(1.3rem, 3vw, 2.3rem);
			height: clamp(1.3rem, 3vw, 2.3rem);
		}
	}
}

.cursor {
	@media (prefers-reduced-motion: no-preference) {
		opacity: 0;
	}
	@media (prefers-reduced-motion) {
		display: none;
	}
	&:after {
		content: "_";
		display: inline-block;
	}
	&.animated {
		&:after {
			animation: blink 1s cubic-bezier(1,0,0,1) infinite forwards;
		}
	}
}
@keyframes blink {
	from { opacity: 1 } to { opacity: 0 }
}

.clip-container {
	display: inline-flex;
	align-items: center;
	position: relative;
	width: fit-content;
	&:before, &:after {
		opacity: 0;
		visibility: hidden;
		display: block;
		position: absolute;
		transition: .1s ease-out;
		@include theme(light, 2) {
			background-color: var(--color-primary);
		}
		@include theme(dark, 2) {
			background-color: gHSL(iron, .55);
		}
	}
	&:before {
		content: "";
		rotate: 45deg;
	}
	&:after {
		@include font-weight-width(600, 100);
		content: "";
		color: white;
		width: fit-content;
		padding: 6px 8px;
		border-radius: 2px;
		font-size: .75rem;
		text-transform: uppercase;
	}
	&.copied {
		&:before, &:after {
			opacity: 1;
			visibility: visible;
		}
		&:after {
			content: "Copied";
		}
	}
}