@use 'partials/shared/utilities' as *;

:root {
	color-scheme: light dark;
	&:has(#option-theme:not(.inactive):checked) {
		color-scheme: dark;
	}
	&.theme-dark {
		color-scheme: dark;
	}
	&.theme-light {
		color-scheme: light;
	}
}

html {
	text-size-adjust: 100%;
	height: 100vh;
	height: -webkit-fill-available;
	scroll-behavior: smooth;
	@media (prefers-reduced-motion: reduce) {
		scroll-behavior: auto;
	}
}

html, body {
	width: 100vw;
}

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
	font-family: -apple-system, var(--font-default);
	font-feature-settings: "liga";
	background-color: var(--background-body);
	color: var(--color-body);

	--color-body: var(--color-primary);
	--background-body: light-dark(
		hsl(from var(--color-light) h s calc(l * 1.09)),
		hsl(from var(--color-iron) h s calc(l * .73))
	);

	@include contrast {
		--background-body: light-dark(
			hsl(from var(--color-light) h s calc(l * 1.12)),
			hsl(from var(--color-iron) h s calc(l * .45))
		);
	}
	@include safari(false) {
		font-family: var(--font-default);
		font-feature-settings: "liga", "ss05" on, "ss07" on;
	}
}

a {
	text-decoration: none;
}

* {
	@include selection {
		--selection: light-dark(
			hsl(from var(--color-middle) h s l / .5),
			hsl(from var(--color-light) h s l / .3)
		);
		background-color: var(--selection);
	}
}

figure, picture, img {
	display: block;
	width: 100%;
	height: auto;
}

img {
	font-style: normal;
	font-size: 1.125rem;
	@include invert;
}

.upscale {
	image-rendering: pixelated;
}

.no-css {
	display: none !important;
}

[data-anim] {
	@media (prefers-reduced-motion: no-preference) {
		opacity: 0;
	}
}

.content {
	width: 100vw;
	max-width: var(--width);
	margin-inline: auto;
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
	@include viewport($iphone-max) {
		padding-left: calc((var(--p)*2) + env(safe-area-inset-left));
		padding-right: calc((var(--p)*2) + env(safe-area-inset-right));
	}
}

.post-author {
	display: none;
}

@media (prefers-reduced-motion: no-preference) {
	@view-transition {
		navigation: auto;
	}
	::view-transition-group(*) {
		animation-duration: .5s;
		animation-timing-function: ease-out;
		animation-fill-mode: both;
	}
}