:root {
	color-scheme: light dark;
}

html {
	text-size-adjust: 100%;
	height: 100vh;
	height: -webkit-fill-available;
	scroll-behavior: smooth;
	@media (prefers-reduced-motion: reduce) {
		scroll-behavior: auto;
	}
}

html, body {
	width: 100vw;
}

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
	font-family: var(--font-default);
	font-feature-settings: "liga","ss01";
	@include theme(light) {
		background-color: hsl(from var(--color-blush) h s calc(l * 1.09));
		color: var(--color-primary);
	}
	@include theme(dark) {
		background-color: hsl(from var(--color-iron) h s calc(l * .73));
		color: hsl(from white h s l / .9);
	}
	@include contrast(light) {
		background-color: hsl(from var(--color-blush) h s calc(l * 1.12));
	}
	@include contrast(dark) {
		background-color: hsl(from var(--color-iron) h s calc(l * .45));
	}
}

a {
	text-decoration: none;
}

* {
	@include selection {
		@include theme(light) {
			background-color: hsl(from var(--color-rose) h s l / .5);
		}
		@include theme(dark) {
			background-color: hsl(from var(--color-blush) h s l / .3);
		}
	}
}

figure, picture, img {
	display: block;
	width: 100%;
	height: auto;
}

img {
	font-style: normal;
	font-size: 1.125rem;
	@include invert;
}

.upscale {
	image-rendering: pixelated;
}

.no-css {
	display: none !important;
}

[data-anim] {
	@media (prefers-reduced-motion: no-preference) {
		opacity: 0;
	}
}

.posts-container {
	width: 100vw;
	max-width: var(--width);
	margin-inline: auto;
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
	@include viewport($iphone-max) {
		padding-left: calc((var(--p)*2) + env(safe-area-inset-left));
		padding-right: calc((var(--p)*2) + env(safe-area-inset-right));
	}
}

.post-author {
	display: none;
}