.grid {
	display: grid;
	grid-gap: $p*1.5;
	padding-left: $p*1.5;
	padding-right: $p*1.5;
	list-style: none;
}

.grid-isotope {
	display: grid;
	grid-template-columns: 1fr;
	position: relative;
	list-style: none;
	.grid-item {
		width: 100%;
		overflow: hidden;
	}
}

@media only screen and (min-width: 1000px) {
	.grid-isotope {
		grid-template-columns: 1fr 1fr;
		&[style] .grid-item {
			width: 50%;
		}
	}
}

@media only screen and (min-width: 2000px) {
	.grid-isotope {
		grid-template-columns: 1fr 1fr 1fr;
		&[style] .grid-item {
			width: calc(100% / 3);
		}
	}
}

@media only screen and (min-width: 3000px) {
	.grid-isotope {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		&[style] .grid-item {
			width: 25%;
		}
	}
}

.grid-item {
	figure {
		position: relative;
		font-style: italic;
		figcaption {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
		fieldset {
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
			width: 100%;
			height: 100%;
		}
		.upscale {
			image-rendering: pixelated;
		}
		.grid-close {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
		}
		label, .grid-link {
			cursor: pointer;
		}
		.grid-link {
			will-change: opacity;
			transition: .3s ease-out;
			display: block;
			position: relative;
			z-index: 1;
			padding: $p/4;
		}
		label.grid-link {
			padding: $p/2;
			&:focus {
				opacity: 1;
			}
		}
		svg {
			display: block;
			width: 25px;
			height: 25px;
			group, path, polyline, polygon, circle, ellipse, rect {
				stroke-width: 7px;
			}
		}
		input {
			display: none;
			~ label.grid-link {
				display: none;
			}
			&:checked {
				~ dl {
					transform: none;
					opacity: 1;
					z-index: 2;
				}
				~ .grid-close {
					z-index: unset;
				}
				~ label.grid-link {
					opacity: 0;
				}
			}
		}
		dl {
			@include blur-all(5px, darken($iron, 10%), .9, .4);
			transform: translateY(25%);
			opacity: 0;
			z-index: 0;
			transition: all .3s ease-out;
			will-change: opacity, transform;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: $p;
			font-size: 24px;
			color: white;
			> label, > .grid-link {
				position: absolute;
				right: 0;
				z-index: 1;
				padding: $p/2;
			}
			> label {
				top: 0;
			}
			> .grid-link {
				bottom: 0;
			}
			div {
				position: relative;
				z-index: 0;
			}
			dt, dd {
				display: inline;
			}
			dt {
				opacity: 0.7;
				font-weight: bold;
				&:after {
					content: ": "
				}
				&.title {
					display: none;
					+ dd {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						font-size: 28px;
						font-weight: bold;
						font-style: normal;
						.grid-link {
							padding: 5px 0 0 $p/3;
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 600px) {
	.grid-item {
		figure {
			input ~ label.grid-link {
				opacity: 0;
			}
			&:hover input {
				~ label.grid-link {
					opacity: 1;
				}
				&:checked ~ label.grid-link {
					opacity: 0;
				}
			}
			input {
				~ label.grid-link {
					display: block;
				}
			}
		}
	}
}