.grid {
	display: grid;
	grid-gap: calc(var(--p)*1.5);
	padding-left: calc((var(--p)*1.5) + env(safe-area-inset-left));
	padding-right: calc((var(--p)*1.5) + env(safe-area-inset-left));
	list-style: none;
	@include max {
		padding-left: max(calc(var(--p)*1.5), env(safe-area-inset-left));
		padding-right: max(calc(var(--p)*1.5), env(safe-area-inset-left));
	}
}

.grid-pack {
	display: grid;
	grid-template-columns: 1fr;
	position: relative;
	list-style: none;
	@supports (grid-template-rows: masonry) {
		grid-template-rows: masonry;
	}
	.no-js & {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}
}

.grid-item {
	position: relative;
	width: 100%;
	overflow: hidden;
	@include container {
		container-type: inline-size;
	}
}

@media only screen and (min-width: $mobile) and (max-height: 450px) {
	.subpage-grid {
		.grid-pack {
			grid-template-columns: repeat(2, 1fr);
			&[style] .grid-item {
				width: 50%;
			}
			.no-js & {
				.grid-item {
					width: 50%;
				}
			}
		}
	}
}

@include viewport($ipad-mini) {
	.grid-pack {
		grid-template-columns: repeat(2, 1fr);
		&[style] .grid-item {
			width: 50%;
		}
		.no-js & {
			.grid-item {
				width: 50%;
			}
		}
	}
}

@include viewport($mbp-16) {
	.grid-pack {
		grid-template-columns: repeat(3, 1fr);
		&[style] .grid-item {
			width: calc(100% / 3);
		}
		.no-js & {
			.grid-item {
				width: calc(100% / 3);
			}
		}
	}
}

@include viewport($lg-5k) {
	.grid-pack {
		grid-template-columns: repeat(4, 1fr);
		&[style] .grid-item {
			width: 25%;
		}
		.no-js & {
			.grid-item {
				width: 25%;
			}
		}
	}
}