.expand {
	display: block;
	&, &:before, &:after {
		cursor: zoom-in;
	}
}

.lightbox-group {
	display: block;
}

.lightbox, .lightbox-background {
	cursor: zoom-out;
	opacity: 0;
	visibility: hidden;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.lightbox-background {
	@include blur(10px, "var(--color-iron-12-hsl)", .98, .9);
	transition: .2s opacity ease-out, 0s visibility .2s, 0s z-index .2s;
	z-index: -999;
	&:before {
		opacity: 0;
		animation: loading 1s linear infinite forwards;
		content: "";
		display: block;
		position: absolute;
		z-index: 0;
		width: 50px;
		height: 50px;
		background-image: url(../images/svg/icons/loading.svg);
		@media (prefers-reduced-motion) {
			content: unset;
			display: unset;
			animation: unset;
		}
	}
	&:not(:last-child) {
		display: none;
	}
}

.lightbox {
	transition: 0s visibility .2s, 0s z-index .2s;
	z-index: -998;
	+ [data-content] {
		opacity: 0;
		transition: .2s opacity ease-out .1s, 0s display .2s;
		display: none;
		position: fixed;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		height: min-content;
		width: min-content;
		z-index: 1;
		iframe, .warning, img {
			@include clip-path-edges(2px);
		}
		&.iframe {
			iframe {
				opacity: 0;
				transition: .2s ease-out .3s;
				width: 100vw;
				height: 100vh;
				max-width: calc(100vw - (var(--p)*4));
				max-height: calc(100vh - (var(--p)*4));
				@include viewport($ipad-11) {
					max-width: calc(100vw - (var(--p)*8));
					max-height: calc(100vh - (var(--p)*8));
				}
			}
			.warning {
				display: none;
				align-items: center;
				justify-content: center;
				height: 100vh;
				max-height: 300px;
				width: 100vh;
				max-width: calc(var(--width) - (var(--p)*4) - env(safe-area-inset-left) - env(safe-area-inset-right));
				background-color: var(--color-iron-5);
				color: var(--color-iron-white-70);
				font-weight: 600;
			}
		}
		&.image {
			&.active {
				cursor: zoom-out;
			}
			picture {
				display: block;
				width: auto;
			}
			img {
				display: block;
				width: unset;
				height: unset;
				max-width: calc(100vw - (var(--p)*4));
				max-height: calc(100vh - (var(--p)*4));
				@include viewport($ipad-11) {
					max-width: calc(100vw - (var(--p)*8));
					max-height: calc(100vh - (var(--p)*8));
				}
			}
		}
	}
	.no-js &:target, &.active {
		transition: .2s opacity ease-out;
		opacity: 1;
		visibility: visible;
		z-index: 999;
		~ .lightbox-background {
			transition: .2s opacity ease-out;
			opacity: 1;
			visibility: visible;
			z-index: 998;
			&:before {
				opacity: 1;
			}
		}
		+ [data-content] {
			z-index: 1000;
			opacity: 1;
			display: block;
		}
	}
	&.light-dark + [data-content] {
		.dark {
			@include light(2) {
				display: block;
			}
			@include dark(2) {
				display: none;
			}
		}
		.light {
			@include light(2) {
				display: none;
			}
			@include dark(2) {
				display: block;
			}
		}
	}
}

@keyframes loading {
	from { rotate: 0deg } to { rotate: 360deg; }
}