.expand {
	display: block;
	cursor: zoom-in;
}

.lightbox, .lightbox-background {
	cursor: zoom-out;
	opacity: 0;
	visibility: hidden;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.lightbox-background {
	@include blur-all(5px, "var(--color-iron-12-hsl)", .95, .9);
	transition: .2s opacity ease-out, 0s visibility .2s, 0s z-index .2s;
	z-index: -999;
	&:before {
		opacity: 0;
		animation: loading 1s linear infinite forwards;
		content: "";
		display: block;
		position: absolute;
		z-index: 0;
		width: 50px;
		height: 50px;
		background-image: url(../images/icons/loading.svg);
		@media (prefers-reduced-motion) {
			content: unset;
			display: unset;
			animation: unset;
		}
	}
}

.lightbox {
	transition: 0s visibility .2s, 0s z-index .2s;
	z-index: -998;
	padding: var(--p);
	@include viewport($ipad-11) {
		padding: calc(var(--p)*2);
	}
	.image {
		opacity: 0;
		transition: .2s opacity ease-out .1s, 0s display .2s;
		display: none;
		position: relative;
		z-index: 1;
		width: 100%;
		height: 100%;
		picture {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
		}
		img {
			@include border-radius(calc(var(--p)/3));
			display: block;
			max-height: 100%;
			max-width: 100%;
			height: unset;
			width: unset;
			&.upscale {
				height: 100%;
				width: auto;
			}
		}
	}
	.no-js &:target, &.active {
		transition: .2s opacity ease-out;
		opacity: 1;
		visibility: visible;
		z-index: 999;
		~ .lightbox-background {
			transition: .2s opacity ease-out;
			opacity: 1;
			visibility: visible;
			z-index: 998;
			&:before {
				opacity: 1;
			}
		}
	}
	&.active .image.active, .no-js &:target .image {
		opacity: 1;
		display: block;
	}
	&.light-dark {
		&.active .image.active, .no-js &:target .image {
			&.dark {
				display: block;
				@include dark {
					display: none;
				}
			}
			&.light {
				display: none;
				@include dark {
					display: block;
				}
			}
		}
	}
}

@keyframes loading {
	from { transform: rotate(0deg) } to { transform: rotate(360deg); }
}