.grid-item > *, .grid-filters span, .grid-filters label:after {
	opacity: 0;
	transition: opacity .3s ease-out;
}
.page-about {
	.grid-item > div {
		opacity: 1;
		> * {
			opacity: 0;
			transition: opacity .3s ease-out;
		}
	}
}
.loaded {
	.grid-item > *, .grid-filters span, .grid-filters label:after, .page-about .grid-item > div > * {
		opacity: 1;
	}
	.top .text.message {
		animation: unset;
		translate: 0;
		transition: .3s ease-out;
		opacity: 1;
	}
}

.js {
	.subpage-grid {
		.grid-item {
			@for $i from 1 through 6 {
				&:nth-child(#{$i}n) {
					background: hsla(var(--color-iron-hsl), ($i * .05));
					@include dark {
						background: hsla(var(--color-white-hsl), ($i * .05));
					}
				}
			}
		}
	}
}

@media (inverted-colors: inverted) {
	header .logo, .subpage-grid li figure, .subpage-grid li figcaption, iframe, .lightbox, .grid-item-expand, .inside svg, .grid-item-gaming svg {
		filter: invert(100%);
	}
}