header.top, .bottom {
	max-width: var(--width);
	margin-left: auto;
	margin-right: auto;
	padding-left: calc((var(--p)*2) + env(safe-area-inset-left));
	padding-right: calc((var(--p)*2) + env(safe-area-inset-right));
}

header.top {
	padding-top: calc((var(--p)*2) + env(safe-area-inset-top));
	line-height: 1.2;
	@include viewport($ipad-mini) {
		line-height: 1.1;
	}

	> div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: var(--p);
		.avatar-link {
			margin-bottom: 0;
		}
	}

	br {
		@include viewport(#{$iphone-mini + 1px}) {
			display: none;
		}
	}

	.cursor {
		@include font-weight-width(900, 75);
	}

	.top-content {
		position: relative;
		z-index: 100;
	}
}

.bottom {
	padding-top: calc(var(--p)*2);
	padding-bottom: calc(var(--p) + env(safe-area-inset-bottom));
	@include font-weight-width(500, 115);
	.page-home:not(.page-index) &, .page-post &, .page-code &, .page-recipe & {
		opacity: 1;
	}
	.copyright {
		--color: var(--color-primary);
		--background: var(--color-secondary);
	}
}

.pagination {
	display: flex;
	justify-content: space-between;
	margin-top: calc(var(--p)*2);
	padding-left: calc((var(--p)*2) + env(safe-area-inset-left));
	padding-right: calc((var(--p)*2) + env(safe-area-inset-right));
	@include viewport($iphone-max) {
		padding-left: 0;
		padding-right: 0;
	}
	&:empty {
		display: none;
	}
	.load {
		.theme-no-load & {
			display: none;
		}
		#option-load:not(.inactive):not(:checked) ~ * & {
			display: none;
		}
	}
	.older, .newer {
		height: calc(100% + var(--p)/3);
	}
	.older {
		&::before {
			@include button-shape(1.375, 7%, 3px, right);
		}
		&::after {
			@include contrast(both) {
				@include button-shape(1.3125, 6%, 2.5px, right);
			}
		}
		> span {
			@include button-shape(1.25, 5%, 2px, right);
			padding-left: calc(var(--p)*2);
		}
	}
	.newer {
		&::before {
			@include button-shape(1.375, 7%, 3px, left);
		}
		&::after {
			@include contrast(both) {
				@include button-shape(1.3125, 6%, 2.5px, left);
			}
		}
		> span {
			@include button-shape(1.25, 5%, 2px, left);
			padding-right: calc(var(--p)*2);
		}
	}
	&.main-pagination {
		.page-index & {
			.theme-no-load & {
				justify-content: flex-end;
			}
			#option-load:not(.inactive):not(:checked) ~ * & {
				justify-content: flex-end;
			}
		}
		.older {
			@media (scripting: enabled) {
				display: none;
			}
			.theme-no-load & {
				display: block;
			}
			#option-load:not(.inactive):not(:checked) ~ * & {
				display: block;
			}
		}
	}
}