.top, .bottom {
	max-width: var(--width);
	margin-left: auto;
	margin-right: auto;
	padding-left: calc((var(--p)*2) + env(safe-area-inset-left));
	padding-right: calc((var(--p)*2) + env(safe-area-inset-right));
}

.top {
	@include font-weight-width(900, 125);
	padding-top: calc((var(--p)*2) + env(safe-area-inset-top));
	line-height: 1.2;
	@include viewport($ipad-mini) {
		line-height: 1.1;
	}

	.home-link {
		display: flex;
		align-items: center;
		align-content: center;
		position: relative;
		order: 2;
		margin-bottom: var(--p);
		.memoji-hm {
			opacity: 0;
			position: absolute;
			left: 0;
			top: 0;
		}
		.text {
			@include blur-all(5px, var(--color-white-hsl), .9, .8);
			opacity: 0;
			order: 1;
			display: inline-block;
			padding: calc(var(--p)*.75) calc(var(--p)*1.5);
			margin-left: var(--p);
			color: var(--color-iron-10);
			border-radius: 2em;
			font-stretch: normal;
			font-weight: 600;
			&.message {
				@media (prefers-reduced-motion: no-preference) {
					translate: 0 100%;
				}
				@media (prefers-reduced-motion: reduce) {
					opacity: 1;
				}
				.no-js & {
					@media (prefers-reduced-motion: no-preference) {
						animation: .2s ease-out 1s 1 forwards enter;
					}
				}
				.loaded & {
					@media (prefers-reduced-motion: no-preference) {
						animation: unset;
						translate: 0;
						transition: .2s ease-out;
						opacity: 1;
					}
				}
			}
			&.go-home {
				transition: .2s ease-out;
				position: absolute;
				top: 50%;
				left: calc(var(--p)*4);
				z-index: 2;
				@media (prefers-reduced-motion: no-preference) {
					translate: 0 50%;
				}
				@media (prefers-reduced-motion: reduce) {
					translate: 0 -50%;
				}
			}
		}
		a {
			display: block;
			&:focus-visible {
				@include focus-round(hsla(var(--color-mauve-hsl), .5));
				.memoji {
					&-default {
						opacity: 0;
					}
					&-hm {
						opacity: 1;
					}
				}
			}
			&:hover, &:focus, &:active {
				.go-home {
					opacity: 1;
					@media (prefers-reduced-motion: no-preference) {
						translate: 0 -50%;
					}
				}
				~ .text.message {
					@media (prefers-reduced-motion: no-preference) {
						opacity: .3;
						translate: 0 calc(-100% - 5px);
					}
					@media (prefers-reduced-motion: reduce) {
						opacity: 0;
					}
				}
			}
		}
	}

	.title {
		font-size: clamp(1.5rem, 3vw, 2.5rem);
		.js & {
			opacity: 0;
		}
		.apple {
			display: inline-block;
			span {
				&:before {
					content: " ";
				}
			}
			svg {
				position: relative;
				top: 2px;
				width: clamp(1.3rem, 3vw, 2.3rem);
				height: clamp(1.3rem, 3vw, 2.3rem);
			}
		}
	}

	.cursor {
		@include font-weight-width(900, 75);
	}
}

.bottom {
	@include font-weight-width(500, 115);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-top: calc(var(--p)*2);
	padding-bottom: calc(var(--p) + env(safe-area-inset-bottom));
	a, .copyright {
		display: block;
		position: relative;
		margin-bottom: var(--p);
		span {
			@include clip-path-edges(2px);
			display: block;
			padding: calc(var(--p)/3*2) var(--p);
		}
	}
	.copyright {
		span {
			background: white;
		}
	}
	a {
		@include font-weight-width(600, 115);
		margin-right: var(--p);
		&, span {
			transition: .2s ease-out;
		}
		&:before {
			@include clip-path-edges(3px);
			opacity: 0;
			content: "";
			display: block;
			position: absolute;
			top: calc(var(--p)/-4);
			left: calc(var(--p)/-4);
			width: calc(100% + var(--p)/2);
			height: calc(100% + var(--p)/2);
			background-color: var(--color-iron);
		}
		span {
			color: white;
			background: var(--color-slate-mauve);
		}
		&:hover, &:focus {
			span {
				background: var(--color-slate);
			}
		}
		&:focus-visible {
			&:before {
				opacity: 1;
			}
		}
		&:active {
			@media (prefers-reduced-motion: no-preference) {
				scale: .98;
			}
			span {
				background: var(--color-iron);
			}
		}
	}
}

.pagination {
	display: flex;
	justify-content: space-between;
	margin-top: calc(var(--p)*2);
	padding: 0 calc(var(--p)*1.5);
	@include viewport($iphone) {
		padding: 0;
	}
	.next {
		> span {
			background-color: var(--color-mauve);
			background: radial-gradient(circle at center left, var(--color-slate) 0, var(--color-mauve) 100%);
			&:before {
				background-color: var(--color-rose);
				background: radial-gradient(circle at center left, var(--color-mauve) 0, var(--color-rose) 100%);
			}
			&:after {
				background-color: var(--color-iron);
				background: radial-gradient(circle at center left, var(--color-iron-12) 0, var(--color-iron) 100%);
			}
		}
	}
	.load {
		display: none;
		.js & {
			display: block;
		}
	}
	&.main-pagination {
		.next {
			.js & {
				display: none;
			}
		}
	}
}