.popup {
	display: inline-block;
	z-index: 2;
	@include viewport(970px) {
		position: relative;
	}
	.popup-label {
		display: inline-flex;
		justify-content: center;
		position: relative;
		cursor: pointer;
		&:after {
			opacity: 0;
			visibility: hidden;
			z-index: -1;
			content: "";
			display: block;
			position: absolute;
			transform-origin: center center;
			@media (prefers-reduced-motion: no-preference) {
				transition: translate .2s ease-out, rotate .2s ease-out, opacity .1s ease-out;
				translate: 0 calc(var(--p)*2);
			}
			@media (prefers-reduced-motion: reduce) {
				transition: opacity .1s ease-out;
			}
		}
	}
	.popup-window {
		opacity: 0;
		visibility: hidden;
		z-index: -1;
		transition: .2s ease-out;
		position: absolute;
		left: 0;
		display: block;
		width: 100vw;
		max-width: 500px;
		padding-left: calc(var(--p) + env(safe-area-inset-left));
		padding-right: calc(var(--p) + env(safe-area-inset-left));
		@media (prefers-reduced-motion: no-preference) {
			translate: 0 calc(var(--p)*2);
		}
		ul {
			list-style: none;
		}
		.close {
			cursor: pointer;
			box-sizing: content-box;
			display: inline-flex;
			position: absolute;
			top: 3px;
			right: 3px;
			width: 17px;
			height: 20px;
			padding: 4px;
			svg {
				width: 100%;
				height: 100%;
				@include svg-path {
					fill: var(--color-iron);
				}
			}
			&:focus-visible {
				@include focus-shadow;
			}
		}
	}
	.popup-button {
		position: absolute;
		opacity: 0;
		z-index: -1;
		overflow: hidden;
		width: 0;
		height: 0;
		font-size: 0;
		&:active {
			+ .popup-label:after {
				@media (prefers-reduced-motion: no-preference) {
					transition: translate .2s ease-out, rotate .2s ease-out, opacity .1s ease-out .1s;
				}
				@media (prefers-reduced-motion: reduce) {
					transition: opacity .1s ease-out .1s;
				}
				
			}
		}
		&:checked {
			~ .popup-label:after, ~ .popup-window {
				opacity: 1;
				visibility: visible;
				z-index: unset;
			}
			~ .popup-label:after, ~ .popup-window {
				@media (prefers-reduced-motion: no-preference) {
					translate: 0;
					rotate: 0;
				}
			}
		}
	}
}

.discord-popup {
	.popup-label {
		&:after {
			background-color: #EECAC1;
			bottom: -16px;
			width: 16px;
			height: 16px;
			border-top-left-radius: 2px;
			@media (prefers-reduced-motion: no-preference) {
				translate: 0 calc(var(--p)*2);
				rotate: 45deg;
			}
		}
	}
	.popup-window {
		color: white;
		padding: 0;
		width: calc(100vw - var(--p)*4 - env(safe-area-inset-left)*2);
		.inside {
			@include border-radius(3px);
			@include blur(10px, null, .9, .8, #18191C);
			display: block;
			position: relative;
			margin-top: calc(var(--p)/2);
			width: 100%;
			min-height: 250px;
			overflow: hidden;
		}
		.header {
			position: relative;
			display: block;
			height: 60px;
			&:before {
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				background-color: #EECAC1;
				mask: url('data:image/svg+xml;utf8,<svg width="600px" height="60px" viewBox="0 0 600 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M600,0 L600,60 L88,60 L88,60 C88,39.0131795 70.9868205,22 50,22 C29.0131795,22 12,39.0131795 12,60 L0,60 L0,0 L600,0 Z"></path></svg>') no-repeat;
			}
		}
		.avatar {
			@include background-image(avatars/discord, jpg);
			position: absolute;
			bottom: -30px;
			left: calc(var(--p) + 8px);
			border-radius: 100%;
			overflow: hidden;
			width: 60px;
			height: 60px;
		}
		.username {
			display: inline-flex;
			align-items: center;
			align-content: center;
			position: relative;
			margin-top: 38px;
			margin-left: var(--p);
			font-size: 1.5rem;
			.number {
				opacity: .6;
			}
			&:before, &:after {
				opacity: 0;
				display: block;
				transition: .1s ease-out;
				background-color: black;
			}
			&:before {
				content: "";
				position: absolute;
				top: 9px;
				right: -16px;
				z-index: -1;
				width: 8px;
				height: 8px;
				border-bottom-left-radius: 2px;
				rotate: 45deg;
			}
			&:after {
				@include font-weight-width(600, 100);
				content: "Copied";
				position: absolute;
				right: -69px;
				padding: 4px 6px;
				border-radius: 3px;
				font-size: .75rem;
				text-transform: uppercase;
			}
			&.copied {
				&:before, &:after {
					opacity: 1;
				}
			}
		}
		.description {
			display: block;
			border-top: 1px solid hsla(var(--color-white-hsl), .1);
			margin-top: 16px;
			padding: 16px;
		}
		.about-header {
			@include font-weight-width(600, 100);
			display: block;
			margin-bottom: 8px;
			color: #b9bbbe;
			font-size: .75rem;
			text-transform: uppercase;
		}
		.about-content {
			@include border-radius(3px);
			display: inline-block;
			padding: 2px 4px;
			background-color: #2f3136;
			font-family: var(--font-mono);
			font-size: .75rem;
			line-height: 1.5;
			white-space: pre-wrap;
		}
		.links {
			border-top: 1px solid hsla(var(--color-white-hsl), .1);
			margin-top: 16px;
			padding-top: 16px;
			@include viewport(450px) {
				display: flex;
				justify-content: space-between;
			}
			li {
				width: 100%;
				&:last-child {
					margin-top: 16px;
					@include viewport(450px) {
						margin-top: 0;
					}
				}
				@include viewport(450px) {
					width: calc(50% - 8px);
				}
			}
			a, button {
				@include font-weight-width(600, 100);
				transition: .1s ease-out;
				cursor: pointer;
				display: flex;
				align-items: center;
				align-content: center;
				justify-content: space-between;
				appearance: none;
				width: 100%;
				margin: 0;
				padding: 8px;
				border-radius: 3px;
				border: 1px solid hsla(var(--color-white-hsl), .1);
				background: none;
				color: white;
				font-size: 1rem;
				text-align: left;
				span span {
					display: none;
				}
				&:after {
					content: "";
					display: block;
					width: 20px;
					height: 20px;
					opacity: .8;
					background-position: center;
					background-size: 20px 20px;
				}
				&:hover, &:focus {
					background-color: hsla(var(--color-white-hsl), .1);
					border-color: transparent;
					&:after {
						opacity: 1;
					}
				}
				&:focus-visible {
					@include focus-shadow;
				}
				&:active {
					background-color: #18191C;
				}
			}
			a {
				&:after {
					background-image: url(/static/images/svg/icons/external.svg);
				}
			}
			button {
				&:after {
					background-image: url(/static/images/svg/icons/copy.svg);
				}
			}
			@media (hover: hover) {
				.touch {
					display: none;
				}
				.no-touch {
					display: block;
				}
			}
			@media (hover: none) {
				.touch {
					display: block;
				}
				.no-touch {
					display: none;
				}
			}
		}
	}
	.popup-button:checked {
		+ .popup-label:after {
			rotate: 45deg;
		}
	}
}