$ipad-11: 834px;
$ipad-mini: 768px;
$mobile: 568px;
$mbp-16: 1728px;
$mbp-14: 1512px;
$lg-5k: 2560px;

$iron: #263238;
$pink: #F5C8BF;
$message: #e9e9eb;

$red: #ff706a;
$orange: #FF956A;
$light-orange: #FFBB6A;
$blue: #6AF9FF;
$indigo: #706AFF;
$violet: #BA6AFF;

@function hexToHSL($color) {
	@return "#{hue($color)},#{saturation($color)},#{lightness($color)}";
}

:root {
	--p: 12px;

	--font-mono: 'dm', 'Inconsolata', 'Consolas', Monaco, 'Bitstream Vera Sans Mono', 'Lucida Console', Terminal, Courier, monospace;
	--font-faune: 'faune', sans-serif;
	--font-recursive: 'Recursive', 'faune', sans-serif;
	
	--color-white-hsl: #{hexToHSL(#fff)};
	--color-iron: #{$iron};
	--color-iron-white: #{mix($iron, white)};
	--color-iron-white-30: #{mix($iron, white, 30%)};
	--color-iron-white-70: #{mix($iron, white, 70%)};
	--color-iron-1: #{darken($iron, 1%)};
	--color-iron-2: #{darken($iron, 2%)};
	--color-iron-3: #{darken($iron, 3%)};
	--color-iron-5: #{darken($iron, 5%)};
	--color-iron-10: #{darken($iron, 10%)};
	
	--color-iron-hsl: #{hexToHSL($iron)};
	--color-iron-1-hsl: #{hexToHSL(darken($iron, 1%))};
	--color-iron-10-hsl: #{hexToHSL(darken($iron, 10%))};
	--color-iron-12-hsl: #{hexToHSL(darken($iron, 12%))};
	
	--color-pink: #{$pink};
	--color-pink-5: #{lighten($pink, 5%)};
	
	--color-message: #{$message};
	--color-message-hsl: #{hexToHSL($message)};
	
	--color-red: #{$red};
	--color-orange: #{$orange};
	--color-light-orange: #{$light-orange};
	--color-blue: #{$blue};
	--color-indigo: #{$indigo};
	--color-violet: #{$violet};
	
	--color-red-hsl: #{hexToHSL($red)};
	--color-orange-hsl: #{hexToHSL($orange)};
	--color-light-orange-hsl: #{hexToHSL($light-orange)};
	--color-blue-hsl: #{hexToHSL($blue)};
	--color-indigo-hsl: #{hexToHSL($indigo)};
	--color-violet-hsl: #{hexToHSL($violet)};
	
	--color-grey: #f1f1f1;
	--color-grey-dark: #e5e5e5;
	
	--color-focus: #5E9ED6;
	
	--color-writing-light: #{mix($red, white, 20%)};
	--color-writing-dark: #{mix($red, $iron, 10%)};

	--color-discord: #5865F2;
	--color-gv: #34a853;
	--color-cp: #ffdd40;
	--color-gh: #4969ed;
	--color-insta: #cd486b;
	--color-tw: #2daae1;
	--color-pin: #e60023;
	--color-bbb: #ea4c89;
	--color-am: #fa2d48;
	--color-im: #0d84ff;

	--color-med: #00AB6C; // #1A8917
	--color-ap: #7d50df;
	--color-sp: #1cb954;
	
	--color-med-hsl: #{hexToHSL(#00AB6C)}; // #1A8917
	--color-ap-hsl: #{hexToHSL(#7d50df)};
	--color-sp-hsl: #{hexToHSL(#1cb954)};
}

// mixins
@mixin max {
	@supports (padding: max(0px)) {
		@content;
	}
}

@mixin gradient-text($one, $two, $underline) {
	color: $one;
	@supports (-webkit-text-fill-color: transparent) {
		background-color: hsl($one);
		background: linear-gradient(135deg, hsl($one) 0%, hsl($two) 100%);
		background-clip: text;
		@if $underline == true {
			-webkit-text-fill-color: hsla($one, .5);
		} @else {
			-webkit-text-fill-color: transparent;
		}
	}
}

@mixin dark {
	@media (prefers-color-scheme: dark) {
		@content;
	}
}

@mixin clip-path {
	@supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
	  	@content;
	}
}

@mixin clip-path-alt {
	@supports not (-webkit-clip-path: polygon(0 0)) {
	  	@content;
	}
	@supports not (clip-path: polygon(0 0)) {
	  	@content;
	}
}

@mixin border-radius($radius) {
	border-radius: $radius;
	overflow: hidden;
	@include clip-path {
		-webkit-clip-path: inset(0 0 0 0 round $radius $radius $radius $radius);
		clip-path: inset(0 0 0 0 round $radius $radius $radius $radius);
	}
}

@mixin blur($blur) {
	@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
		-webkit-backdrop-filter: blur($blur);
		backdrop-filter: blur($blur);
		@content;
	}
}

@mixin blur-bg($bg, $crisp, $blur, $rgb: null) {
	@if $rgb != null {
		background-color: rgba($rgb, $crisp);
	} @else {
		background-color: hsla(#{$bg}, $crisp);
	}
	@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
		@if $rgb != null {
			background-color: rgba($rgb, $blur);
		} @else {
			background-color: hsla(#{$bg}, $blur);
		}
	}
}

@mixin blur-all($blur, $bg, $crisp, $blurry, $rgb: null) {
	@include blur-bg($bg, $crisp, $blurry, $rgb);
	@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
		-webkit-backdrop-filter: blur($blur);
		backdrop-filter: blur($blur);
		@content;
	}
}

@mixin focus-round($color: var(--color-focus), $inset: null) {
	box-shadow: $inset 0 0 0 calc(var(--p)/4) $color;
}

@mixin wavy($color: "") {
	text-decoration: underline;
	-webkit-text-decoration-skip: edges;
	text-decoration-skip: edges;
	text-decoration-style: wavy;
	@if $color != "" {
		text-decoration-color: $color;
	}
}

@mixin svg-path {
	group, path, line, polyline, polygon, circle, ellipse, rect {
		@content;
	}
}