@use 'sass:color';
@use "sass:math";
@use 'sass:string';

// viewports
$iphone-mini: 320px;
$iphone: 375px;
$iphone-max: 414px;
$ipad-mini: 768px;
$ipad-11: 834px;
$mbp-14: 1512px;
$mbp-16: 1728px;

$medium: 568px;
$large: 1024px;
$x-large: 1280px;

// functions
@function hexToHSL($color) {
	@return "#{color.channel($color, "hue", $space: hsl)} #{color.channel($color, "saturation", $space: hsl)} #{color.channel($color, "lightness", $space: hsl)}";
}

// mixins
@mixin viewport($viewport) {
	@if $viewport == "medium" {
		@media screen and (min-width: $medium) and (max-height: 450px), screen and (min-width: $ipad-mini) {
			@content;
		}
	} @else if $viewport == "small" {
		@media screen and (max-width: #{$medium - 1px}) and (min-height: 451px), screen and (max-width: #{$ipad-mini}) {
			@content;
		}
	} @else {
		@media screen and (min-width: $viewport) {
			@content;
		}
	}
}

@mixin container($container, $a, $b: $a) {
	@supports not(container-type: inline-size) {
		@include viewport($a) {
			@content;
		}
	}
	@if (string.index(#{$b}, "min")) {
		@container #{$container} #{$b} {
			@content;
		}
	} @else {
		@container #{$container} (min-width: #{$b}) {
			@content;
		}
	}
}

@mixin max {
	@supports (padding: max(0px)) {
		@content;
	}
}

@mixin selection {
	::-moz-selection {
		@content;
	}
	::selection {
		@content;
	}
}

@mixin safari($supports: true) {
	@if $supports == true {
		@supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {
			@content;
		}
	} @else if $supports == false {
		@supports not ((hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none)) {
			@content;
		}
	}
}

@mixin tone($tone, $root: false) {
	@if $root == true {
		.tone-#{'' + $tone} {
			@content;
		}
		@if $tone == pink {
			:root {
				@content;
			}
		}
		:root:has(#option-#{'' + $tone}:not(.inactive):checked) {
			@content;
		}
	} @else {
		.tone-#{'' + $tone} & {
			@content;
		}
		@if $tone == pink {
			:root & {
				@content;
			}
		}
		:root:has(#option-#{'' + $tone}:not(.inactive):checked) & {
			@content;
		}
	}
}

@mixin theme($theme, $root: false) {
	@if $root == true {
		@media (prefers-color-scheme: #{$theme}) {
			:root {
				@content;
			}
		}
		@if $theme == dark {
			:root:has(#option-theme:not(.inactive):checked) {
				@content;
			}
		} @else if $theme == light {
			:root {
				@content;
			}
		}
		:root.theme-#{$theme} {
			@content;
		}
	} @else {
		@media (prefers-color-scheme: #{$theme}) {
			@content;
		}
		@if $theme == dark {
			:root:has(#option-theme:not(.inactive):checked) & {
				@content;
			}
		} @else if $theme == light {
			& {
				@content;
			}
		}
		.theme-#{$theme} & {
			@content;
		}
	}
 }

@mixin contrast($root: false) {
	@if $root == true {
		@media (prefers-contrast: more) {
			:root {
				@content;
			}
		}
		:root:has(#option-contrast:not(.inactive):checked) {
			@content;
		}
		.theme-contrast {
			@content;
		}
	} @else {
		@media (prefers-contrast: more) {
			@content;
		}
		:root:has(#option-contrast:not(.inactive):checked) & {
			@content;
		}
		.theme-contrast & {
			@content;
		}
	}
}

@mixin reduce-transparency {
	@media (prefers-reduced-transparency: reduce) {
		@content;
	}
	:root:has(#option-transparency:not(.inactive):checked) & {
		@content;
	}
	.theme-reduce-transparency & {
		@content;
	}
}

@mixin hover {
	@media (hover: hover) and (pointer: fine) {
		@content;
	}
}

@mixin invert($amount: 0%) {
	@media (inverted-colors: inverted) {
		filter: invert($amount);
	}
}

@mixin clip-path($support: true) {
	@if $support == true {
		@supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
			@content;
		}
	} @else {
		@supports not ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) {
			@content;
		}
	}
}

@mixin clip-path-edges($cut, $dir: null) {
	@if $cut == unset {
		border-radius: 0;
		clip-path: unset;
	} @else {
		@if $dir == up {
			@include clip-path(false) {
				border-top-left-radius: #{$cut + 1px};
				border-top-right-radius: #{$cut + 1px};
			}
			@include clip-path {
				clip-path: polygon(#{$cut} 0%, calc(100% - #{$cut}) 0%, 100% #{$cut}, 100% 100%, 0 100%, 0% #{$cut});
			}
		} @else if $dir == down {
			@include clip-path(false) {
				border-bottom-left-radius: #{$cut + 1px};
				border-bottom-right-radius: #{$cut + 1px};
			}
			@include clip-path {
				clip-path: polygon(100% 0, 100% calc(100% - #{$cut}), calc(100% - #{$cut}) 100%, #{$cut} 100%, 0% calc(100% - #{$cut}), 0 0);
			}
		} @else if $dir == left {
			@include clip-path(false) {
				border-top-left-radius: #{$cut + 1px};
				border-bottom-left-radius: #{$cut + 1px};
			}
			@include clip-path {
				clip-path: polygon(#{$cut} 0%, 100% 0, 100% 100%, #{$cut} 100%, 0% calc(100% - #{$cut}), 0% #{$cut});
			}
		} @else if $dir == right {
			@include clip-path(false) {
				border-top-right-radius: #{$cut + 1px};
				border-bottom-right-radius: #{$cut + 1px};
			}
			@include clip-path {
				clip-path: polygon(0 0, calc(100% - #{$cut}) 0%, 100% #{$cut}, 100% calc(100% - #{$cut}), calc(100% - #{$cut}) 100%, 0 100%);
			}
		} @else if $cut == 0 {
			@include clip-path(false) {
				border-radius: 0;
			}
			@include clip-path {
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
			}
		} @else {
			@include clip-path(false) {
				border-radius: #{$cut + 1px};
			}
			@include clip-path {
				clip-path: polygon(#{$cut} 0%, calc(100% - #{$cut}) 0%, 100% #{$cut}, 100% calc(100% - #{$cut}), calc(100% - #{$cut}) 100%, #{$cut} 100%, 0% calc(100% - #{$cut}), 0% #{$cut});
			}
		}
	}
}

@mixin gradient-text($one, $two, $fill: null, $vars-only: false) {
	--gradient-text-start: #{$one};
	--gradient-text-end: #{$two};
	@if $fill {
		--gradient-text-fill: #{$fill};
	}
	@if $vars-only == false {
		color: $one;
		@supports (-webkit-text-fill-color: transparent) {
			background-color: var(--gradient-text-start);
			background: linear-gradient(135deg, var(--gradient-text-start), var(--gradient-text-end));
			background-clip: text;
			@if $fill {
				-webkit-text-fill-color: var(--gradient-text-fill);
			} @else {
				-webkit-text-fill-color: transparent;
			}
		}
	}
}

@mixin gradient-headline($one, $two, $three, $four, $position: 50%, $vars-only: false) {
	--gradient-one: #{$one};
	--gradient-two: #{$two};
	--gradient-three: #{$three};
	--gradient-four: #{$four};
	--gradient-position: #{$position};

	@if $vars-only == false {
		color: $one;
		@supports (-webkit-text-fill-color: transparent) {
			background-color: $one;
			background: linear-gradient(
				135deg,
				var(--gradient-one),
				var(--gradient-two),
				var(--gradient-three),
				var(--gradient-four)
			) var(--gradient-position) 0% / 200% 100%;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

@mixin square($width) {
	width: $width;
	aspect-ratio: 1 / 1;
}

@mixin full-size($type: null) {
	@if $type == screen {
		height: 100vh;
		width: 100vw;
	} @else if $type == null {
		height: 100%;
		width: 100%;
	}
}

@mixin border-radius($radius) {
	border-radius: $radius;
	overflow: hidden;
	@include clip-path {
		clip-path: inset(0 round $radius);
	}
}

@mixin blur($amount, $color, $lightness, $crisp, $blur) {
	& {
		background-color: hsl(from $color h s calc(l * #{$lightness}) / $crisp);
		@include reduce-transparency {
			background-color: hsl(from $color h s calc(l * #{$lightness}));
		}
	}
	@supports ((-webkit-backdrop-filter: blur(0px)) or (backdrop-filter: blur(0px))) {
		backdrop-filter: blur($amount);
		background-color: hsl(from $color h s calc(l * #{$lightness}) / $blur);
		@include reduce-transparency {
			backdrop-filter: unset;
			background-color: hsl(from $color h s calc(l * #{$lightness}));
		}
	}
}

@mixin focus-shadow($color: var(--color-focus), $radius: 1px, $width: calc(var(--p)/4)) {
	@if $radius {
		border-radius: $radius;
	}
	box-shadow: 0 0 0 $width $color;
}

@mixin svg-path {
	g, path, line, polyline, polygon, circle, ellipse, rect {
		@content;
	}
}

@mixin background-image($bg, $ext, $webp: true) {
	background-repeat: no-repeat;
	background-position: center left;
	background-size: cover;
	background-image: url("/static/images/#{$bg}@2x.#{$ext}");
	@supports (background-image: -webkit-image-set(url("") 1x, url("") 2x)) {
		background-image: -webkit-image-set(url("/static/images/#{$bg}.#{$ext}") 1x, url("/static/images/#{$bg}@2x.#{$ext}") 2x);
		@if $webp == true {
			background-image: -webkit-image-set(url("/static/images/#{$bg}.webp") 1x, url("/static/images/#{$bg}@2x.webp") 2x);
		}
	}
	@supports (background-image: image-set(url("") 1x, url("") 2x)) {
		background-image: image-set(url("/static/images/#{$bg}.#{$ext}") 1x, url("/static/images/#{$bg}@2x.#{$ext}") 2x);
		@if $webp == true {
			background-image: image-set(url("/static/images/#{$bg}.webp") 1x, url("/static/images/#{$bg}@2x.webp") 2x);
		}
	}
}

@mixin no-scrollbar {
	overflow: auto;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	scrollbar-width: none;
	-webkit-overflow-scrolling: touch;
	&::-webkit-scrollbar {
		height: 0;
		width: 0;
		display: none;
	}
}

@mixin font-settings($weight, $width: 100%, $features: null, $variations: null) {
	font-weight: $weight;
	font-stretch: $width;

	@if $variations != null {
		 font-variation-settings: $variations;
	}
	@if $features != null {
		font-feature-settings: "liga", $features;
	}
}

// reusable styles
@mixin hide {
	position: absolute;
	appearance: none;
	clip: rect(0,0,0,0);
	z-index: -1;
	opacity: 0;
	@include square(1px);
}

@mixin before($color: null, $border: 3px, $bezel: #{$border}, $opacity: 0) {
	opacity: var(--opacity, #{$opacity});
	content: "";
	display: block;
	position: absolute;
	top: $border * -1;
	left: $border * -1;
	width: calc(100% + #{$border*2});
	height: calc(100% + #{$border*2});
	@if $color {
		background: $color;
	}
	@include clip-path-edges(#{$bezel});
}

@mixin button-shape($a: 1.25, $b: 5%, $c: null, $dir: null) {
	@if $dir == left and $c != null {
		clip-path: polygon(calc(var(--p)*#{$a}) 0%, calc(100% - #{$c}) 0%, 100% #{$c}, 100% calc(100% - #{$c}), calc(100% - #{$c}) 100%, calc(var(--p)*#{$a}) 100%, 0 #{50% + $b}, 0 #{50% - $b});
	} @else if $dir == right and $c != null {
		clip-path: polygon(#{$c} 0%, calc(100% - calc(var(--p)*#{$a})) 0%, 100% #{50% - $b}, 100% #{50% + $b}, calc(100% - calc(var(--p)*#{$a})) 100%, #{$c} 100%, 0 calc(100% - #{$c}), 0 #{$c});
	} @else {
		clip-path: polygon(calc(var(--p)*#{$a}) 0%, calc(100% - calc(var(--p)*#{$a})) 0%, 100% #{50% - $b}, 100% #{50% + $b}, calc(100% - calc(var(--p)*#{$a})) 100%, calc(var(--p)*#{$a}) 100%, 0 #{50% + $b}, 0 #{50% - $b});
	}
}

@mixin button {
	display: block;
	font-size: 1rem;
	@include clip-path(false) {
		padding: var(--p) calc(var(--p)*2);
		@include border-radius(calc(var(--p)/4));
	}
	@include clip-path {
		padding: var(--p) calc(var(--p)*2.5);
		@include button-shape;
	}
}

@mixin mask-overflow {
	mask-image: linear-gradient(
		to bottom,
		rgba(black, 1),
		rgba(black, 0)),
	linear-gradient(
		to bottom,
		rgba(black, 1),
		rgba(black, 1)
	);
	mask-position: bottom center, top center;
	mask-repeat: no-repeat, no-repeat;
	mask-size: 100% calc(var(--p)*2.5), 100% calc(100% - var(--p)*2.5);
}