// viewports
$iphone-mini: 320px;
$iphone: 375px;
$iphone-max: 414px;
$mobile: 568px;
$ipad-mini: 768px;
$ipad-11: 834px;
$desktop-small: 1024px;
$desktop: 1280px;
$mbp-14: 1512px;
$mbp-16: 1728px;
$lg-5k: 2560px;
$container-mobile: 350px;

// colors
$message: #e9e9eb;

$iron: #263238;
$blush: #F5C8BF;
$rose: #D19487;
$mauve: #B2738E;
$slate: #577783;
$mint: #8BB29A;
$oak: #D1AE87;

$aqua: #73d1c8;
$peach: #f78c6a;
$periwinkle: #82aaff;
$violet: #D18FF0;

// functions
@function hexToHSL($color) {
	@return "#{hue($color)},#{saturation($color)},#{lightness($color)}";
}

// mixins
@mixin viewport($viewport) {
	@if $viewport == "mobile" {
		@media screen and (min-width: $mobile) and (max-height: 450px), screen and (min-width: $ipad-mini) {
			@content;
		}
	} @else {
		@media only screen and (min-width: $viewport) {
			@content;
		}
	}
}

@mixin container($container, $a, $b: $a) {
	@supports not(container-type: inline-size) {
		@include viewport($a) {
			@content;
		}
	}
	@if (str-index(#{$b}, "min")) {
		@container #{$container} #{$b} {
			@content;
		}
	} @else {
		@container #{$container} (min-width: #{$b}) {
			@content;
		}
	}
}

@mixin max {
	@supports (padding: max(0px)) {
		@content;
	}
}

@mixin theme($theme, $level: null) {
	@if $theme == light {
		@content;
	}
	@media (prefers-color-scheme: #{$theme}) {
		@content;
	}
	.theme-#{$theme} & {
		@content;
	}
	@if $theme == dark {
		@if $level == 1 {
			#option-color:not(.inactive):checked ~ & {
				@content;
			}
		} @else if $level == 2 {
			#option-color:not(.inactive):checked ~ * & {
				@content;
			}
		} @else if $level == 3 {
			&:has(#option-color:not(.inactive):checked) {
				@content;
			}
		}
	} @else if $theme == light {
		@if $level == 1 {
			#option-color:not(.inactive):not(:checked) ~ & {
				@content;
			}
		} @else if $level == 2 {
			#option-color:not(.inactive):not(:checked) ~ * & {
				@content;
			}
		} @else if $level == 3 {
			&:has(#option-color:not(.inactive):not(:checked)) {
				@content;
			}
		}
	}
}

@mixin contrast($theme, $level: null) {
	@if $theme == both {
		@media (prefers-contrast: more) {
			@content;
		}
		.theme-contrast & {
			@content;
		}
		@if $level == 1 {
			#option-contrast:not(.inactive):checked & {
				@content;
			}
		} @else if $level == 2 {
			#option-contrast:not(.inactive):checked ~ * & {
				@content;
			}
		} @else if $level == 3 {
			&:has(#option-contrast:not(.inactive):checked) {
				@content;
			}
		}
	} @else if $theme == dark {
		@media (prefers-color-scheme: #{$theme}) and (prefers-contrast: more) {
			@content;
		}
		@media (prefers-color-scheme: #{$theme}) {
			.theme-contrast & {
				@content;
			}
		}
		.theme-#{$theme}.theme-contrast & {
			@content;
		}
		@if $level == 1 {
			#option-color:not(.inactive):checked ~ #option-contrast:not(.inactive):checked & {
				@content;
			}
		} @else if $level == 2 {
			#option-color:not(.inactive):checked ~ #option-contrast:not(.inactive):checked ~ * & {
				@content;
			}
		} @else if $level == 3 {
			&:has(#option-color:not(.inactive):checked ~ #option-contrast:not(.inactive):checked) {
				@content;
			}
		}
	} @else if $theme == light {
		@media (prefers-color-scheme: #{$theme}) and (prefers-contrast: more) {
			@content;
		}
		@media (prefers-color-scheme: #{$theme}) {
			.theme-contrast & {
				@content;
			}
		}
		.theme-#{$theme}.theme-contrast & {
			@content;
		}
		@if $level == 1 {
			#option-color:not(.inactive):not(:checked) ~ #option-contrast:not(.inactive):checked ~ & {
				@content;
			}
		} @else if $level == 2 {
			#option-color:not(.inactive):not(:checked) ~ #option-contrast:not(.inactive):checked ~ * & {
				@content;
			}
		} @else if $level == 3 {
			&:has(#option-color:not(.inactive):not(:checked) ~ #option-contrast:not(.inactive):checked) {
				@content;
			}
		}
	}
}

@mixin hover {
	@media (hover: hover) and (pointer: fine) {
		@content;
	}
}

@mixin clip-path($support: true) {
	@if $support == true {
		@supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
		  	@content;
		}
	} @else {
		@supports not ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) {
		  	@content;
		}
	}
}

@mixin clip-path-edges($cut, $dir: null) {
	@if $dir == up {
		@include clip-path(false) {
			border-top-left-radius: #{$cut + 1px};
			border-top-right-radius: #{$cut + 1px};
		}
		@include clip-path {
			clip-path: polygon(#{$cut} 0%, calc(100% - #{$cut}) 0%, 100% #{$cut}, 100% 100%, 0 100%, 0% #{$cut});
		}
	} @else if $dir == down {
		@include clip-path(false) {
			border-bottom-left-radius: #{$cut + 1px};
			border-bottom-right-radius: #{$cut + 1px};
		}
		@include clip-path {
			clip-path: polygon(100% 0, 100% calc(100% - #{$cut}), calc(100% - #{$cut}) 100%, #{$cut} 100%, 0% calc(100% - #{$cut}), 0 0);
		}
	} @else if $dir == left {
		@include clip-path(false) {
			border-top-left-radius: #{$cut + 1px};
			border-bottom-left-radius: #{$cut + 1px};
		}
		@include clip-path {
			clip-path: polygon(#{$cut} 0%, 100% 0, 100% 100%, #{$cut} 100%, 0% calc(100% - #{$cut}), 0% #{$cut});
		}
	} @else if $dir == right {
		@include clip-path(false) {
			border-top-right-radius: #{$cut + 1px};
			border-bottom-right-radius: #{$cut + 1px};
		}
		@include clip-path {
			clip-path: polygon(0 0, calc(100% - #{$cut}) 0%, 100% #{$cut}, 100% calc(100% - #{$cut}), calc(100% - #{$cut}) 100%, 0 100%);
		}
	} @else {
		@include clip-path(false) {
			border-radius: #{$cut + 1px};
		}
		@include clip-path {
			clip-path: polygon(#{$cut} 0%, calc(100% - #{$cut}) 0%, 100% #{$cut}, 100% calc(100% - #{$cut}), calc(100% - #{$cut}) 100%, #{$cut} 100%, 0% calc(100% - #{$cut}), 0% #{$cut});
		}
	}
}

@mixin gradient-text($one, $two, $underline) {
	color: hsl($one);
	@supports (-webkit-text-fill-color: transparent) or (text-fill-color: transparent) {
		background-color: hsl($one);
		background: linear-gradient(135deg, hsl($one) 0%, hsl($two) 100%);
		background-clip: text;
		@include theme(dark, 2) {
			background: linear-gradient(135deg, hsl($one) 0%, hsl($two) 80%);
			background-clip: text;
			filter: brightness(1.1);
		}
		@if $underline == true {
			-webkit-text-fill-color: hsla($one, .5);
		} @else {
			-webkit-text-fill-color: transparent;
		}
	}
}

@mixin border-radius($radius) {
	border-radius: $radius;
	overflow: hidden;
	@include clip-path {
		-webkit-clip-path: inset(0 round $radius);
		clip-path: inset(0 round $radius);
	}
}

@mixin blur-check {
	@supports ((-webkit-backdrop-filter: blur(0px)) or (backdrop-filter: blur(0px))) {
		@content;
	}
}

@mixin blur-bg($bg, $crisp, $blur, $rgb: null) {
	@if $rgb != null {
		background-color: rgba($rgb, $crisp);
	} @else {
		background-color: hsla(#{$bg}, $crisp);
	}
	@include blur-check {
		@if $rgb != null {
			background-color: rgba($rgb, $blur);
		} @else {
			background-color: hsla(#{$bg}, $blur);
		}
		@media (prefers-reduced-transparency: reduce) {
			@if $rgb != null {
				background-color: rgba($rgb, 1);
			} @else {
				background-color: hsla(#{$bg}, 1);
			}
		}
		.theme-reduce-transparency &, #option-transparency:checked ~ * & {
			@if $rgb != null {
				background-color: rgba($rgb, 1);
			} @else {
				background-color: hsla(#{$bg}, 1);
			}
		}
	}
}

@mixin blur($blur, $bg, $crisp, $blurry, $rgb: null) {
	@include blur-bg($bg, $crisp, $blurry, $rgb);
	@include blur-check {
		backdrop-filter: blur($blur);
		@content;
		@media (prefers-reduced-transparency: reduce) {
			backdrop-filter: unset;
		}
		.theme-reduce-transparency &, #option-transparency:checked ~ * & {
			backdrop-filter: unset;
		}
	}
}

@mixin focus-shadow($color: var(--color-focus), $inset: null) {
	border-radius: 1px;
	box-shadow: $inset 0 0 0 calc(var(--p)/4) $color;
}

@mixin svg-path {
	g, path, line, polyline, polygon, circle, ellipse, rect {
		@content;
	}
}

@mixin background-image($bg, $ext, $webp: true) {
	background-repeat: no-repeat;
	background-position: center left;
	background-image: url("/static/images/#{$bg}@2x.#{$ext}");
	@supports (background-image: -webkit-image-set(url("") 1x, url("") 2x)) {
		background-image: -webkit-image-set(url("/static/images/#{$bg}.#{$ext}") 1x, url("/static/images/#{$bg}@2x.#{$ext}") 2x);
		@if $webp == true {
			background-image: -webkit-image-set(url("/static/images/#{$bg}.webp") 1x, url("/static/images/#{$bg}@2x.webp") 2x);
		}
	}
	@supports (background-image: image-set(url("") 1x, url("") 2x)) {
		background-image: image-set(url("/static/images/#{$bg}.#{$ext}") 1x, url("/static/images/#{$bg}@2x.#{$ext}") 2x);
		@if $webp == true {
			background-image: image-set(url("/static/images/#{$bg}.webp") 1x, url("/static/images/#{$bg}@2x.webp") 2x);
		}
	}
}

@mixin no-scrollbar {
	overflow: auto;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	scrollbar-width: none;
	-webkit-overflow-scrolling: touch;
	&::-webkit-scrollbar {
		height: 0;
		width: 0;
		display: none;
	}
}

@mixin font-weight-width($weight, $width) {
	font-weight: $weight;
	font-stretch: #{$width * 1%};
	font-variation-settings: "wght" $weight, "wdth" $width;
}

// reusable styles
@mixin hide {
	position: absolute;
	appearance: none;
	width: 0;
	height: 0;
	z-index: -1;
	opacity: 0;
}
@mixin before($color: var(--color-blush)) {
	@include clip-path-edges(3px);
	opacity: 0;
	content: "";
	display: block;
	position: absolute;
	top: calc(var(--p)/-4);
	left: calc(var(--p)/-4);
	width: calc(100% + var(--p)/2);
	height: calc(100% + var(--p)/2);
	background: $color;
}
@mixin button-shape($a: 1.25, $b: 5%, $c: null, $dir: null) {
	@if $dir == left and $c != null {
		clip-path: polygon(calc(var(--p)*#{$a}) 0%, calc(100% - #{$c}) 0%, 100% #{$c}, 100% calc(100% - #{$c}), calc(100% - #{$c}) 100%, calc(var(--p)*#{$a}) 100%, 0 #{50% + $b}, 0 #{50% - $b})
	} @else if $dir == right and $c != null {
		clip-path: polygon(#{$c} 0%, calc(100% - calc(var(--p)*#{$a})) 0%, 100% #{50% - $b}, 100% #{50% + $b}, calc(100% - calc(var(--p)*#{$a})) 100%, #{$c} 100%, 0 calc(100% - #{$c}), 0 #{$c});
	} @else {
		clip-path: polygon(calc(var(--p)*#{$a}) 0%, calc(100% - calc(var(--p)*#{$a})) 0%, 100% #{50% - $b}, 100% #{50% + $b}, calc(100% - calc(var(--p)*#{$a})) 100%, calc(var(--p)*#{$a}) 100%, 0 #{50% + $b}, 0 #{50% - $b});
	}
}
@mixin button {
	display: block;
	color: white;
	font-size: 1rem;
	@include clip-path(false) {
		@include border-radius(calc(var(--p)/4));
		padding: var(--p) calc(var(--p)*2);
	}
	@include clip-path {
		@include button-shape;
		padding: var(--p) calc(var(--p)*2.5);
	}
}