:root{
	--p:12px;
	--width:70rem;

	--font-mono:'Dank Mono','Inconsolata','Consolas',Monaco,'Bitstream Vera Sans Mono','Lucida Console',Terminal,Courier,monospace;
	--font-default:system-ui,-apple-system,".SFNSText-Regular","San Francisco",BlinkMacSystemFont,"Mona Sans","Roboto Flex","Segoe UI Variable","Segoe UI",Roboto,Ubuntu,Cantarell,"Helvetica Neue",Helvetica,Arial,sans-serif;
	
	--color-white-hsl:#{hexToHSL(#fff)};
	--color-iron-white:#{mix($iron,white)};
	--color-iron-white-60:#{mix($iron,white,60%)};
	--color-iron-white-70:#{mix($iron,white,70%)};
	--color-iron-white-80:#{mix($iron,white,80%)};
	--color-iron-white-90:#{mix($iron,white,90%)};
	--color-iron-white-hsl:#{hexToHSL(mix($iron,white))};
	--color-iron-white-70-hsl:#{hexToHSL(mix($iron,white,70%))};
	--color-iron-white-80-hsl:#{hexToHSL(mix($iron,white,80%))};
	
	--color-iron:#{$iron};
	--color-iron-1:#{darken($iron,1%)};
	--color-iron-5:#{darken($iron,5%)};
	--color-iron-8:#{darken($iron,8%)};
	--color-iron-10:#{darken($iron,10%)};
	--color-iron-12:#{darken($iron,12%)};
	--color-iron-hsl:#{hexToHSL($iron)};
	--color-iron-1-hsl:#{hexToHSL(darken($iron,1%))};
	--color-iron-5-hsl:#{hexToHSL(darken($iron,1%))};
	--color-iron-8-hsl:#{hexToHSL(darken($iron,8%))};
	--color-iron-10-hsl:#{hexToHSL(darken($iron,10%))};
	--color-iron-12-hsl:#{hexToHSL(darken($iron,12%))};
	
	--color-blush:#{$blush};
	--color-blush-5:#{lighten($blush,5%)};
	--color-blush-8:#{lighten($blush,8%)};
	--color-blush-hsl:#{hexToHSL($blush)};
	--color-blush-8-hsl:#{hexToHSL(lighten($blush,8%))};

	--color-rose:#{$rose};
	--color-rose-hsl:#{hexToHSL($rose)};

	--color-mauve:#{$mauve};
	--color-mauve-hsl:#{hexToHSL($mauve)};

	--color-slate:#{$slate};
	--color-slate-5:#{darken($slate, 5%)};
	--color-slate-hsl:#{hexToHSL($slate)};

	--color-slate-mauve:#{darken(mix($slate,$mauve),5%)};
	--color-slate-mauve-hsl:#{hexToHSL(darken(mix($slate,$mauve),5%))};
	--color-mauve-rose:#{mix($mauve,$rose)};
	--color-mauve-rose-hsl:#{hexToHSL(mix($mauve,$rose))};

	--color-mint:#{$mint};
	--color-mint-hsl:#{hexToHSL($mint)};

	--color-oak:#{$oak};
	--color-oak-hsl:#{hexToHSL($oak)};

	--color-aqua:#{$aqua};
	--color-peach:#{$peach};
	--color-periwinkle:#{$periwinkle};
	--color-violet:#{$violet};
	
	--color-message:#{$message};
	--color-message-hsl:#{hexToHSL($message)};
	
	--color-grey:#f1f1f1;
	--color-grey-dark:#e5e5e5;
	
	--color-focus:#5E9ED6;

	--color-discord:#5865F2;
	--color-mastodon:#6364ff;
	--color-mastodon-dark:#563ACC;
	--color-mastodon-light:#858AFA;
	--color-mastodon-slate:#{mix(#563ACC,$slate,30%)};
	--color-mastodon-white:#{mix(#563ACC,white)};
	--color-mastodon-white-hsl:#{hexToHSL(mix(#563ACC,white))};
	--color-mastodon-white-30:#{mix(#563ACC,white,30%)};
	--color-text:#34a853;
	--color-codepen:#717790;
	--color-github:#4969ed;
	--color-instagram:#cd486b;
	--color-twitter:#1D9BF0;
	--color-pinterest:#e60023;
	--color-dribbble:#ea4c89;
	--color-music:#fa2d48;
	--color-imessage:#0d84ff;
	--color-tumblr:#35465D;
	--color-tumblr-light:#5487b3;
	--color-threads:#C43DFB;
	--color-bluesky:#0085FF;

	--color-medium:#51A653;
	--color-apple-podcasts:#852dc4;
	--color-spotify:#1BD760;

	--color-email: var(--color-iron-white-70);
}