$iron: #263238;

:root{
	--p:12px;
	--width:70rem;

	--font-mono:'Dank Mono',ui-monospace,SFMono-Regular,"SF Mono",Menlo,Consolas,"Liberation Mono",monospace;
	--font-default:-apple-system,"Mona Sans",system-ui,BlinkMacSystemFont,Roboto,Ubuntu,Cantarell,Helvetica,Arial,sans-serif;

	$colors: (
		iron: $iron,
		blush: #F5C8BF,
		rose: #D19487,
		mauve: #B2738E,
		slate: #577783,

		mint: #8BB29A,
		oak: #D1AE87,

		aqua: #73d1c8,
		peach: #f78c6a,
		periwinkle: #82aaff,
		violet: #D18FF0,

		message: #e9e9eb,
		focus: #5E9ED6,

		discord: #5865F2,
		mastodon: #6364ff,
		mastodon-dark: #563ACC,
		mastodon-light: #858AFA,

		text: #34a853,
		text-dark: #03796B,
		codepen: #717790,
		github: #4969ed,
		instagram: #cd486b,
		twitter: #1D9BF0,
		pinterest: #e60023,
		dribbble: #ea4c89,
		dribbble-dark: #CB4C7D,
		music: #fa2d48,
		imessage: #0d84ff,
		tumblr: #5487b3,
		tumblr-dark: mix(#35465D,#5487b3),
		threads: #C43DFB,
		bluesky: #0285FF,
		bluesky-dark: mix(#0285FF,#005CE1),

		medium: #51A653,
		medium-dark: #3C863D,
		apple-podcasts: #852dc4,
		spotify: #1BD760,
	);
	@each $name, $color in $colors {
		--color-#{"" + $name}:hsl(#{hexToHSL($color)});
	}

	--color-email:hsl(#{hexToHSL(mix($iron, #577783, 5%))});
	--color-email-dark:hsl(#{hexToHSL(mix($iron, white, 70%))});
}

@include theme(light, true) {
	--color-secondary:white;
	--color-primary:#{mix($iron, white, 95%)};
}

@include theme(dark, true) {
	--color-secondary:var(--color-iron);
	--color-primary:#{mix($iron, white, 5%)};
}

@include contrast(light, true) {
	--color-primary:#{darken($iron, 15%)};
}

@include contrast(dark, true) {
	--color-primary:white;
}