:root {
	--p: 12px;

	--font-mono: 'dm', 'Inconsolata', 'Consolas', Monaco, 'Bitstream Vera Sans Mono', 'Lucida Console', Terminal, Courier, monospace;
	--font-faune: 'faune', sans-serif;
	--font-recursive: 'Recursive', 'faune', sans-serif;
	
	--color-white-hsl: #{hexToHSL(#fff)};
	--color-iron: #{$iron};
	--color-iron-white: #{mix($iron, white)};
	--color-iron-white-10: #{mix($iron, white, 10%)};
	--color-iron-white-30: #{mix($iron, white, 30%)};
	--color-iron-white-70: #{mix($iron, white, 70%)};
	--color-iron-1: #{darken($iron, 1%)};
	--color-iron-2: #{darken($iron, 2%)};
	--color-iron-3: #{darken($iron, 3%)};
	--color-iron-5: #{darken($iron, 5%)};
	--color-iron-10: #{darken($iron, 10%)};
	
	--color-iron-hsl: #{hexToHSL($iron)};
	--color-iron-1-hsl: #{hexToHSL(darken($iron, 1%))};
	--color-iron-10-hsl: #{hexToHSL(darken($iron, 10%))};
	--color-iron-12-hsl: #{hexToHSL(darken($iron, 12%))};
	
	--color-pink: #{$pink};
	--color-pink-5: #{lighten($pink, 5%)};
	
	--color-message: #{$message};
	--color-message-hsl: #{hexToHSL($message)};
	
	--color-red: #{$red};
	--color-orange: #{$orange};
	--color-light-orange: #{$light-orange};
	--color-blue: #{$blue};
	--color-indigo: #{$indigo};
	--color-violet: #{$violet};
	
	--color-red-hsl: #{hexToHSL($red)};
	--color-orange-hsl: #{hexToHSL($orange)};
	--color-light-orange-hsl: #{hexToHSL($light-orange)};
	--color-blue-hsl: #{hexToHSL($blue)};
	--color-indigo-hsl: #{hexToHSL($indigo)};
	--color-violet-hsl: #{hexToHSL($violet)};
	
	--color-grey: #f1f1f1;
	--color-grey-dark: #e5e5e5;
	
	--color-focus: #5E9ED6;
	
	--color-writing-light: #{mix($red, white, 20%)};
	--color-writing-med: #{mix($red, white, 40%)};
	--color-writing-dark: #{mix($red, $iron, 10%)};

	--color-discord: #5865F2;
	--color-gv: #34a853;
	--color-cp: #F5CD15;
	--color-gh: #4969ed;
	--color-insta: #cd486b;
	--color-tw: #1D9BF0;
	--color-pin: #e60023;
	--color-bbb: #ea4c89;
	--color-am: #fa2d48;
	--color-im: #0d84ff;
	--color-tum: #35465D;

	--color-med: #00AB6C; // #1A8917
	--color-ap: #7d50df;
	--color-sp: #1cb954;
	
	--color-med-hsl: #{hexToHSL(#00AB6C)};
	--color-ap-hsl: #{hexToHSL(#7d50df)};
	--color-sp-hsl: #{hexToHSL(#1cb954)};
}

@include dark {
	:root {
		--color-cp: #ffdd40;
		--color-tum: #519ecc;
	}
}