<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="canonical" href="http://gabriellew.ee/uguru/components/course-card/"/>

	<link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-touch-icon.png?v=151216">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-32x32.png?v=151216" sizes="32x32">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-16x16.png?v=151216" sizes="16x16">
	<link rel="manifest" href="/static/images/favicons/manifest.json?v=151216">
	<link rel="mask-icon" href="/static/images/favicons/safari-pinned-tab.svg?v=151216" color="#f5c8bf">
	<link rel="shortcut icon" href="/static/images/favicons/favicon.ico?v=151216">
	<meta name="msapplication-config" content="/static/images/favicons/browserconfig.xml?v=151216">
	<meta name="theme-color" content="#f5c8bf">

	<meta name="application-name" content="Gabrielle Wee · Portfolio" />

	<meta name="description" content="The personal portfolio of Gabrielle Wee." />

	<meta name="p:domain_verify" content="a2ebb812ce762fcb0ff4d73c039f8bf3"/>

	<link rel="stylesheet" href="/static/css/external.min.css"/>
	<link rel="stylesheet" href="/static/css/animation.min.css"/>
	<link rel="stylesheet" href="/static/css/uguru.min.css"/>
	<link rel="stylesheet" href="/static/css/components.min.css"/>

	<script src="/static/js/modernizr.min.js"></script>
	<script src="https://use.typekit.net/egc6yhc.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

	
	<title>Gabrielle Wee &middot; Uguru</title>
	

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-39192111-1', 'auto');
		ga('send', 'pageview');
	</script>

</head>
<body ontouchstart id="page-uguru" class="uguru-component">
	<!--[if IE]>
	<div class="browser-support">
		<div>
			<p>This website is not supported for your browser. Please download a modern browser such as <a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/products/" target="_blank">Mozilla Firefox</a>, then refresh this page. Thank you!</p>
		</div>
	</div>
<![endif]-->
<div class="browser-support">
	<div>
		<p>This website is not supported for your browser. Please download a modern browser such as <a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/products/" target="_blank">Mozilla Firefox</a>, then refresh this page. Thank you!</p>
	</div>
</div>


	<header id="top" class="top">
		<a href="/">
			<svg viewBox="0 0 400 400">
	<circle opacity="0.25" fill="#000000" cx="200" cy="200" r="200"></circle>
	<circle opacity="0.5" fill="#000000" cx="200" cy="200" r="113"></circle>
	<path d="M273.43771,114.114161 C253.686648,97.2098248 228.03564,87 200,87 C137.591823,87 87,137.591823 87,200 C87,262.408177 137.591823,313 200,313 C262.408177,313 313,262.408177 313,200 L224.214286,200" fill="none" stroke="#FFFFFF" stroke-width="50" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>

			<svg viewBox="0 0 400 400">
	<circle opacity="0.25" fill="#000000" cx="200" cy="200" r="200"></circle>
	<circle opacity="0.5" fill="#000000" cx="200" cy="200" r="113"></circle>
	<path d="M273.43771,114.114161 C253.686648,97.2098248 228.03564,87 200,87 C137.591823,87 87,137.591823 87,200 C87,262.408177 137.591823,313 200,313 C262.408177,313 313,262.408177 313,200 L224.214286,200" fill="none" stroke="#FFFFFF" stroke-width="50" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>

			<svg viewBox="0 0 400 400">
	<circle opacity="0.25" fill="#000000" cx="200" cy="200" r="200"></circle>
	<circle opacity="0.5" fill="#000000" cx="200" cy="200" r="113"></circle>
	<path d="M273.43771,114.114161 C253.686648,97.2098248 228.03564,87 200,87 C137.591823,87 87,137.591823 87,200 C87,262.408177 137.591823,313 200,313 C262.408177,313 313,262.408177 313,200 L224.214286,200" fill="none" stroke="#FFFFFF" stroke-width="50" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>

		</a>
	</header>

	
<article>
	<header class="section-header">
		<svg width="50px" height="60px" viewBox="0 0 50 60" xmlns="http://www.w3.org/2000/svg">
    <path d="M1.82232717,2.82232717 C0.263598914,1.26359891 0.795680821,0 3.0065556,0 L50,0 L50,60 L3.0065556,60 C0.793796042,60 0.269900855,58.7300991 1.82232717,57.1776728 L22,30 L1.82232717,2.82232717 Z" fill="#69B3A5"></path>
</svg>

		<h1>Uguru Course Card</h1>
		<svg width="50px" height="60px" viewBox="0 0 50 60" xmlns="http://www.w3.org/2000/svg">
    <path d="M48.1776728,2.82232717 C49.7364011,1.26359891 49.2043192,0 46.9934444,0 L0,0 L0,60 L46.9934444,60 C49.206204,60 49.7300991,58.7300991 48.1776728,57.1776728 L28,30 L48.1776728,2.82232717 Z" fill="#69B3A5"></path>
</svg>

	</header>
	<section>
		<p>Course cards are used throughout the Uguru app - on the homepage to show the breadth of tutoring available, during onboarding so that gurus can select their specialities, and even in tutoring request forms. This card needed to be flexible enough for each different use case while still maintaining similar markup.</p>
	</section>

	<header class="section-header">
		<svg width="50px" height="60px" viewBox="0 0 50 60" xmlns="http://www.w3.org/2000/svg">
    <path d="M1.82232717,2.82232717 C0.263598914,1.26359891 0.795680821,0 3.0065556,0 L50,0 L50,60 L3.0065556,60 C0.793796042,60 0.269900855,58.7300991 1.82232717,57.1776728 L22,30 L1.82232717,2.82232717 Z" fill="#69B3A5"></path>
</svg>

		<h1>Process</h1>
		<svg width="50px" height="60px" viewBox="0 0 50 60" xmlns="http://www.w3.org/2000/svg">
    <path d="M48.1776728,2.82232717 C49.7364011,1.26359891 49.2043192,0 46.9934444,0 L0,0 L0,60 L46.9934444,60 C49.206204,60 49.7300991,58.7300991 48.1776728,57.1776728 L28,30 L48.1776728,2.82232717 Z" fill="#69B3A5"></path>
</svg>

	</header>
	<section>
		<ul class="uguru-drafts">
			<li>
				<h2>Draft 1</h2>
				<div class="no-hover"><svg width="222px" viewBox="0 0 222 110" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <rect fill="#8A9EA3" x="0" y="0" width="222" height="110" rx="2"></rect>
        <text font-family="Source Sans Pro" font-size="24" font-weight="600" fill="#FFFFFF">
            <tspan x="77.5" y="52">BIO 1A</tspan>
        </text>
		<g fill="#F9D57B" stroke="#F9D57B" stroke-width="2">
	        <polygon fill="none" points="157.184391 77.2105263 151.573571 80.1380557 152.645142 73.9374489 148.105894 69.5461548 154.378981 68.6414984 157.184391 63 159.989801 68.6414984 166.262889 69.5461548 161.72364 73.9374489 162.795211 80.1380557"></polygon>
	        <polygon points="134.274718 77.2105263 128.663898 80.1380557 129.735469 73.9374489 125.19622 69.5461548 131.469308 68.6414984 134.274718 63 137.080128 68.6414984 143.353215 69.5461548 138.813967 73.9374489 139.885538 80.1380557"></polygon>
	        <polygon points="111.365044 77.2105263 105.754224 80.1380557 106.825795 73.9374489 102.286547 69.5461548 108.559634 68.6414984 111.365044 63 114.170454 68.6414984 120.443542 69.5461548 115.904293 73.9374489 116.975864 80.1380557"></polygon>
	        <polygon points="88.4553708 77.2105263 82.8445507 80.1380557 83.916122 73.9374489 79.3768732 69.5461548 85.6499607 68.6414984 88.4553708 63 91.2607808 68.6414984 97.5338684 69.5461548 92.9946196 73.9374489 94.0661909 80.1380557"></polygon>
	        <polygon points="65.5456973 77.2105263 59.9348772 80.1380557 61.0064485 73.9374489 56.4671997 69.5461548 62.7402872 68.6414984 65.5456973 63 68.3511073 68.6414984 74.6241949 69.5461548 70.0849461 73.9374489 71.1565174 80.1380557"></polygon>
		</g>
	</g>
</svg>
</div>
			</li>
			<li>
				<hr class="spacer"/>
				<h2>Draft 2</h2>
				<div class="no-hover"><svg width="282px" viewBox="0 0 282 83" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <rect fill="#585C5D" x="0" y="0" width="282" height="83" rx="2"></rect>
        <path d="M282,30 L282,1.99161703 C282,0.89167732 281.10216,4.21796722e-09 280.008383,3.87614906e-09 C280.008383,3.87614906e-09 252,-5.63802658e-09 252,4.51041231e-09 C252,16.5685425 265.431458,30 282,30 Z" fill="#FFFFFF"></path>
        <polyline stroke="#69B3A5" stroke-width="3" points="264.115385 13.571267 267.627828 17.0837104 276.057692 8.65384615"></polyline>
        <path d="M0,75 L282,75 L282,81.0018986 C282,82.1054196 281.114307,83 279.990672,83 L2.00932824,83 C0.899606896,83 0,82.1132936 0,81.0018986 L0,75 Z" fill="#FFFFFF"></path>
        <text font-family="Source Sans Pro" font-size="32" font-weight="600" fill="#FFFFFF">
            <tspan x="88.428" y="50">BIO 1A</tspan>
        </text>
    </g>
</svg>
</div>
			</li>
			<li>
				<hr class="spacer"/>
				<h2>Draft 3</h2>
				<div class="no-hover"><svg width="220px" viewBox="0 0 220 114" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g fill="none" fill-rule="evenodd">
        <rect fill="#F04F54" x="0" y="0" width="220" height="114" rx="2"></rect>
        <path d="M0,106 L220,106 L220,112.001899 C220,113.10542 219.113596,114 217.996867,114 L2.00313318,114 C0.896833273,114 0,113.113294 0,112.001899 L0,106 Z" fill="#FFFFFF"></path>
        <text font-family="Source Sans Pro" font-size="18" font-weight="600" fill="#FFFFFF">
            <tspan x="87.464" y="31" font-size="16">BIO 1A</tspan>
            <tspan x="47.405" y="65">Introduction to</tspan>
            <tspan x="77.078" y="86.6">Biology</tspan>
        </text>
    </g>
</svg>
</div>
			</li>
			<li>
				<hr class="spacer"/>
				<h2>Final HTML</h2>
				<div class="no-hover"><div class="card-container">
	<div class="course-card animated with-hover">
		<svg width="240px" height="150px" viewBox="0 0 240 150">
			<rect x="0" y="0" width="240" height="150" fill="none"></rect>
		</svg>
		<input type="checkbox" checked/>
		<div class="course-card-inside">
			<h2>BIO 1A</h2>
			<h1>Introduction to Biology</h1>
		</div>
		<div class="course-card-border"></div>
		<div class="course-card-count-container">
			<span class="course-card-count">
				<span></span>
				<svg viewBox="0 0 100 100">
					<path d="M14,54.2352941 L35.1764706,75.4117647 L86,24.5882353"></path>
				</svg>
			</span>
		</div>
	</div>
</div>
</div>
			</li>
		</ul>
	</section>

	<header class="section-header">
		<svg width="50px" height="60px" viewBox="0 0 50 60" xmlns="http://www.w3.org/2000/svg">
    <path d="M1.82232717,2.82232717 C0.263598914,1.26359891 0.795680821,0 3.0065556,0 L50,0 L50,60 L3.0065556,60 C0.793796042,60 0.269900855,58.7300991 1.82232717,57.1776728 L22,30 L1.82232717,2.82232717 Z" fill="#69B3A5"></path>
</svg>

		<h1>Animation</h1>
		<svg width="50px" height="60px" viewBox="0 0 50 60" xmlns="http://www.w3.org/2000/svg">
    <path d="M48.1776728,2.82232717 C49.7364011,1.26359891 49.2043192,0 46.9934444,0 L0,0 L0,60 L46.9934444,60 C49.206204,60 49.7300991,58.7300991 48.1776728,57.1776728 L28,30 L48.1776728,2.82232717 Z" fill="#69B3A5"></path>
</svg>

	</header>
	<section>
		<ul class="uguru-animation">
			<li>
				<h2>
					<span>Checkbox</span>
					<a class="component-animate">animate</a>
				</h2>
				<div><div class="card-container">
	<div class="course-card animated with-hover">
		<svg width="240px" height="150px" viewBox="0 0 240 150">
			<rect x="0" y="0" width="240" height="150" fill="none"></rect>
		</svg>
		<input type="checkbox" checked/>
		<div class="course-card-inside">
			<h2>BIO 1A</h2>
			<h1>Introduction to Biology</h1>
		</div>
		<div class="course-card-border"></div>
		<div class="course-card-count-container">
			<span class="course-card-count">
				<span></span>
				<svg viewBox="0 0 100 100">
					<path d="M14,54.2352941 L35.1764706,75.4117647 L86,24.5882353"></path>
				</svg>
			</span>
		</div>
	</div>
</div>
</div>
			</li>
			<li>
				<hr class="spacer"/>
				<h2>
					<span>Count</span>
					<a class="component-animate">animate</a>
				</h2>
				<div><div class="card-container">
	<a class="course-card animated with-hover">
		<svg width="240px" height="150px" viewBox="0 0 240 150">
			<rect x="0" y="0" width="240" height="150" fill="none"></rect>
		</svg>
		<div class="course-card-inside">
			<h2>BIO 1A</h2>
			<h1>Introduction to Biology</h1>
		</div>
		<div class="course-card-border"></div>
		<span class="course-card-count">
			<span>2</span>
		</span>
		<div class="course-card-hover"></div>
		<div class="course-card-border"></div>
	</a>
</div>
</div>
			</li>
			<li>
				<hr class="spacer"/>
				<h2>
					<span>Mini</span>
					<a class="component-animate">animate</a>
				</h2>
				<div><div class="card-container">
	<div class="course-card mini animated with-hover">
		<svg width="240px" height="150px" viewBox="0 0 240 150">
			<rect x="0" y="0" width="240" height="150" fill="none"></rect>
		</svg>
		<input type="checkbox" checked/>
		<div class="course-card-inside">
			<h2>BIO 1A</h2>
			<h1>Introduction to Biology</h1>
		</div>
		<div class="course-card-border"></div>
		<div class="course-card-count-container">
			<span class="course-card-count">
				<span></span>
				<svg viewBox="0 0 100 100">
					<path d="M14,54.2352941 L35.1764706,75.4117647 L86,24.5882353"></path>
				</svg>
			</span>
		</div>
	</div>
</div>
</div>
			</li>
			<li>
				<hr class="spacer"/>
				<h2>
					<span>Short</span>
					<a class="component-animate">animate</a>
				</h2>
				<div><div class="card-container">
	<div class="course-card short animated with-hover">
		<svg width="240px" height="50px" viewBox="0 0 240 50">
			<rect x="0" y="0" width="240" height="50" fill="none"></rect>
		</svg>
		<input type="checkbox" checked/>
		<div class="course-card-inside">
			<h2>BIO 1A</h2>
			<h1>Introduction to Biology</h1>
		</div>
		<div class="course-card-border"></div>
		<div class="course-card-count-container">
			<span class="course-card-count">
				<span></span>
				<svg viewBox="0 0 100 100">
					<path d="M14,54.2352941 L35.1764706,75.4117647 L86,24.5882353"></path>
				</svg>
			</span>
		</div>
	</div>
</div>
</div>
			</li>
			<li>
				<hr class="spacer"/>
				<h2>
					<span>Tiny</span>
					<a class="component-animate">animate</a>
				</h2>
				<div><div class="card-container">
	<div class="course-card tiny animated with-hover">
		<input type="checkbox" checked/>
		<div class="course-card-inside">
			<div class="course-card-border"></div>
			<h2>BIO 1A</h2>
		</div>
		<div class="course-card-count-container">
			<span class="course-card-count">
				<span></span>
				<svg viewBox="0 0 100 100">
					<path d="M14,54.2352941 L35.1764706,75.4117647 L86,24.5882353"></path>
				</svg>
			</span>
		</div>
	</div>
</div>
</div>
			</li>
		</ul>
	</section>

	<footer class="project-back-container desktop">
		<a class="button project-back" href="/uguru/components/">back to components</a>
	</footer>
	<footer class="project-back-container mobile">
		<a class="button project-back" href="/uguru/components/">back to components</a>
	</footer>
</article>

<footer id="bottom">
	Gabrielle Wee &copy; 2012-2017
</footer>


	
		<!-- <script src="/static/js/skrollr.min.js"></script>
		<script src="/static/js/skrollr.menu.min.js"></script> -->
		<script src="/static/js/velocity.min.js"></script>
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/debounce.min.js"></script>
		<script src="/static/js/fluidbox.min.js"></script>
		<script src="/static/js/isotope.min.js"></script>
		<script src="/static/js/packery.min.js"></script>
		<script src="/static/js/flickity.min.js"></script>
		<script src="/static/js/uguru.min.js"></script>
	
</body>
</html>
